[2017-08-25 17:52] #800 closed

[2017-08-25 17:53] monkeysecurity commented on #802
It's intended behavior, but behavior that we intend to modify.

The idea was to preserve justifications when items get deleted and come back.

[2017-08-25 17:55] monkeysecurity commented on #795
Same as #802.

This is intended behavior to ensure that we don't lose justifications when an item is deleted and then re-created.

It seems to confuse lots of people though.

[2017-08-25 17:56] monkeysecurity commented on #798
Should be fixed in #799.

[2017-08-25 17:58] monkeysecurity commented on #798
PR merged. Closing issue.

[2017-08-25 17:58] #798 closed

[2017-08-25 18:05] kur3us commented on #795
Is it possible to keep the justifications but not show the issues as current issues? When we're looking for issues, these keep popping up and lead us to believe something is wrong when it isn't.

[2017-08-25 18:17] monkeysecurity commented on #795
Yes, well, we need a PR to add the functionality, so it's not available yet.  Ideally we would add a flag to issues to mark them as active or inactive and we would never delete issues.  This would 1) preserve issues and 2) make the UI not confusing ( or incorrect.)

I would think it would be a simple PR, but I have some other PR's I'm working on.

I'll elevate this issue/PR to beer-basket worthy i

[2017-08-25 18:25] monkeysecurity commented on #788
Related tickets:

#802
#795
#739

[2017-08-25 18:25] monkeysecurity commented on #802
I'm now using #788 to track this issue. Closing this issue as a duplicate.

[2017-08-25 18:25] #802 closed

[2017-08-25 18:25] monkeysecurity commented on #795
I'm now using #788 to track this issue. Closing this issue as a duplicate.

[2017-08-25 18:25] #795 closed

[2017-08-25 18:26] monkeysecurity commented on #739
I'm now using #788 to track this issue. Closing this issue as a duplicate.

[2017-08-25 18:26] #739 closed

[2017-08-26 03:38] kur3us opened #805 "Can't restart SM after log rolls"
The supervisor can't restart SecurityMonkey after the log rolls.
Error in supervisor log:

`ValueError: Unable to configure handler 'file': [Errno 13] Permission denied: '/var/log/security_monkey/securitymonkey.log'`

When the log rolls to .1, the new log file is created with ubuntu:ubuntu permission instead of ubuntu:www-data

[code]

I believe this is causing the error. If I rerun the command fr

[2017-08-29 05:22] monkeysecurity commented on #805
I believe @mcpeak did some work in this area.  Tagging him for any comments. I think there was a modification to the flask logger that wold set group permissions or something.

[2017-08-29 15:12] mcpeak commented on #805
In config you should be able to use `logging.handlers.GroupWriteRotatingFileHandler` instead of `logging.handlers.RotatingFileHandler`.  This will make it so the newly created files have group-writable, which should mitigate this problem.  Let me know if this doesn't work.

[2017-08-30 04:29] fahrishb opened #810 "Unable to Connect to GCP"
Hi All,

I've setup my security monkey and everything works fine.
However, when trying to connect to my GCP Project, I can't see anything under the search tab, so I'm assuming there is something wrong with my setup.

I made sure I setup the GCP IAM, changed the config.py file, but still nothing showing up on my security monkey. can someone please help?

![image](https://user-images.githubuserconte

[2017-08-30 16:21] mikegrima commented on #810
Hello @fahrishb !

Did you restart the scheduler after adding the new account? This is [documented here](https://github.com/Netflix/security_monkey/blob/develop/docs/userguide.md#adding-an-account-in-the-web-ui).

Also, you can run the change finder for the account manually via the `monkey find_changes` command. Please try executing that and let us know the results.

Thank you

[2017-08-30 21:29] monkeysecurity commented on #805
@kur3us - Are you using the quickstart setup or did you customize the permissions to have it run in the www-data group?

[2017-08-30 21:29] #778 closed

[2017-08-31 00:54] kur3us commented on #805
I used the quickstart setup.

[2017-08-31 01:15] kur3us commented on #805
I'm also seeing errors like this in /var/log/supervisor/securitymonkeyscheduler-stderr---supervisor-GE6Imt.log:

[code]

[2017-08-31 01:24] kur3us commented on #805
With respect to  @mcpeak 's comment, it looks like the config file IS using logging.handlers.GroupWriteRotatingFileHandler.

[2017-08-31 01:33] mcpeak commented on #805
OK, since group write is on, you should be able to make this work if you add `ubuntu` as a member of `www-data`.  The GroupWriteRotatingFileHandler makes it so that you have g+w.

[2017-08-31 02:51] fahrishb commented on #810
Hey @mikegrima, thanks for your reply!

I restarted the scheduler as the documentation shows.

Here is what i get after executing `monkey find_changes`
![image](https://user-images.githubusercontent.com/22738442/29904043-2903062a-8e31-11e7-9f04-c87c6331db5b.png)

I find it very weird because its says that the error is in the source code..?

[2017-08-31 04:05] kur3us commented on #805
@mcpeak, I added ubuntu to the group. There is one more thing that needs to be done. In the quickstart guide, it says to run these commands:

[code]

That creates a directory with these permissions:

`drwxr-xr-x  2 ubuntu www-data 4096 Aug 31 03:53 .`

The log rolling moves the current file to a .1, and then creates a new file that looks like this:

`-rw-rw-r-- 1 www-data www-data  1273655 Aug 31

[2017-09-01 03:03] mikegrima commented on #810
That's unfortunate.

For us to better assist, we'll need to enable debug logs to see where exactly it's failing. You can do that by setting [this line in your config](https://github.com/Netflix/security_monkey/blob/develop/env-config/config.py#L47) to `DEBUG`. Then, try re-running the `monkey find_changes` command.

That exception is likely a bug that needs to be fixed as well.

[2017-09-01 03:31] fahrishb commented on #810
Ok, I tried changing the loggers level do `DEBUG` as shown in the screenshot below
![image](https://user-images.githubusercontent.com/22738442/29953984-83b98058-8efe-11e7-9f6c-bf2fc5db7174.png)

running `monkey find_changes` gave me this output
![image](https://user-images.githubusercontent.com/22738442/29954046-24b7bee8-8eff-11e7-9830-f665ec6828ef.png)

`'Problem Connecting to None/None/None:\n<H

[2017-09-01 20:02] mikegrima commented on #810
So the issue is that the credentials you are using lack all the required permissions.  Per the error, you need to have `compute.firewalls.list` permissions.

Please ensure that you follow: https://github.com/Netflix/security_monkey/blob/develop/docs/iam_gcp.md

[2017-09-04 09:50] fahrishb commented on #810
@mikegrima

I followed the instruction exactly as the document suggests.
Do you know if the bug will the bug be fixed anytime soon?

[2017-09-04 18:49] mikegrima commented on #810
Hello @fahrishb : The bug in the code is that the permissions error cannot be logged to the database.

However, the error in question is that you lack the proper IAM permissions to describe your GCE firewall rules.  Please ensure that you have `compute.firewalls.list` permissions for the service account being used by Security Monkey.

[2017-09-05 04:05] fahrishb commented on #810
@mikegrima

![image](https://user-images.githubusercontent.com/22738442/30043205-521afb24-9220-11e7-8b78-8546090ca2ce.png)
I double-checked the service account and permissions. Looks like `compute.firewalls.list` is already under my service account under the role of `Security Reviewer`

what am I missing here?

[2017-09-05 04:18] khushbuparakh opened #814 "Creation of security_monkey.access.log is missing from ubuntu doc"

[2017-09-05 16:16] mikegrima commented on #810
@fahrishb Have you verified if that is the role Security Monkey is using?

How are you deploying this, as a GCP instance, or locally?

[2017-09-06 06:16] skdubey opened #815 "Unknown authentication provider"
We are trying to setup SecurityMonkey on AWS ECS cluster through terraform and able to reach where we can see the dashboard but getting below error in log.  What we are missing?

2017-08-25 00:33:04 [30] [INFO] Booting worker with pid: 30
2017-08-25 00:33:04 [31] [INFO] Booting worker with pid: 31
2017-08-25 00:33:04 [32] [INFO] Booting worker with pid: 32
2017-08-25 00:33:24,710 ERROR: Internal E

[2017-09-06 17:28] ekelson-bcove commented on #800
Thank!

[2017-09-06 17:28] monkeysecurity commented on #554
I have an implementation of this internally (custom alerter sending things to SNS).

I'll work to open source this.

[2017-09-06 17:30] monkeysecurity commented on #200
duplicate of #554. Closing

[2017-09-06 17:30] #200 closed

[2017-09-07 09:42] fahrishb commented on #810
hey @mikegrima, i found a few bugs on the code and would like to contribute small changes into it. how do I do that?

[2017-09-08 10:28] robertmachina opened #817 "No data pulled on dashboard"
Hi,

I just installed security monkey following "quick start guide" strictly. However, after log in the Web UI, I cannot see anything on it.

In /var/log/security_monkey/security_monkey.log, there are some errors I cannot understand. Could anyone help tell me what the problem is? Thanks.

Regards,
Robert
[code]

EDIT: 9/15 by mikegrima - added markdown for readability

[2017-09-12 23:45] monkeysecurity opened #820 "RDS db instance watcher not paginating"
The watcher for RDS DB Instances is not paginating the call to describe  db instances:

https://github.com/Netflix/security_monkey/blob/develop/security_monkey/watchers/rds/rds_db_instance.py#L96

boto3 does use markers for this call:

http://boto3.readthedocs.io/en/latest/reference/services/rds.html#RDS.Client.describe_db_instances

[2017-09-13 16:31] 0xdabbad00 opened #821 "Removing "Unknown Cross Account Access""
For S3 buckets, I have a number of issues for "Unknown Cross Account Access" because Security Monkey doesn't seem to acknowledge the canonical IDs.  I've added the Canonical IDs manually and tried running `monkey fetch_aws_canonical_ids` and then run `monkey audit_changes -m s3`, but this doesn't remove the issues.  Is there a way to remove these issues once they've been created do I need to justi

[2017-09-13 20:27] monkeysecurity commented on #821
Hey  @0xdabbad00

Let me try and fix this.  I started debugging yesterday (though the problem has been around for a while.)

[2017-09-14 01:12] jleaniz commented on #815
@skdubey which SSO providers have you enabled in your config.py?

[2017-09-14 07:02] skdubey commented on #815
This setup is in POC stage and we are not using SSO. Is this enabled by default?

[2017-09-14 14:34] jleaniz commented on #815
Set ACTIVE_PROVIDERS in config.py to ACTIVE_PROVIDERS = []

[2017-09-15 16:13] 0xdabbad00 opened #826 "Memory issues"
The instance I'm running Security Monkey becomes unresponsive every few days.  Looking in `/var/log/messages` I saw `oom-killer` messages every ~8 hours.  Running `sar` reports I was able to record regular system memory usage, and saw a classic memory leak chart.  It looks like every ~2 hours the memory usage jumps up.  Ultimately this get's to near 100% and the `oom-killer` steps in and kills `mo

[2017-09-15 17:54] mikegrima commented on #817
You are having SQLAlchemy errors.  It looks as though it is having database connectivity issues.

I'm not familiar with this specific error:
[code]

Were you able to run the `monkey` commands before successfully?  What happens when you run: `monkey amazon_accounts`?

[2017-09-15 17:56] mikegrima commented on #815
@jleaniz was this addressed in #824?

@skdubey is this working for you now?

[2017-09-15 17:57] #756 closed

[2017-09-15 17:59] mikegrima commented on #810
Hi @fahrishb : apologies for the late reply.

Simply fork the repo on GitHub, make your changes, commit them, push the branch to your GitHub fork, and submit a pull request.

We are always accepting contributions from the community :)

[2017-09-15 18:01] jleaniz commented on #815
@mikegrima Yes, it was addressed in #824. Although the issue was opeend before the new SSO provider code was merged so the error may have been caused by something else in @skdubey's setup/config.

[2017-09-15 18:04] jleaniz commented on #826
@0xdabbad00 I experienced a similar issue. I bumped up my instance to a t2.medium and added some swap space. That seems to have mitigated the OOM problem and the systen hasn't locked up ever since.

[2017-09-15 18:08] mikegrima commented on #826
@0xdabbad00 Not sure which instance type you are using, but in our quickstart guide for AWS, we do mention launching instances with at least 1.7GB RAM [here](https://github.com/Netflix/security_monkey/blob/develop/docs/instance_launch_aws.md).

[2017-09-15 18:39] monkeysecurity commented on #654
May be fixed in #825 - testing now

[2017-09-15 18:54] mikegrima commented on #810
Keeping issue open -- need to fix the exception handling code.

[2017-09-15 22:15] 0xdabbad00 commented on #826
I'm running Security Monkey by itself on a t2.large (8GB of RAM) with the database running on an RDS.  Due to the memory usage suddenly increasing by a large amount every 2 hours and never dropping until oomkiller comes in, this appears to be a memory leak.  I'm wondering how I can go about debugging what is causing these memory issues.

[2017-09-15 22:30] mikegrima commented on #826
Wow, that is odd....

I guess the main questions are: which watchers are you running, and how big is the AWS account in question (number of roles, security groups, etc.)?

[2017-09-18 15:07] 0xdabbad00 commented on #826
I'm not sure what you mean by which watchers.  It is only monitoring AWS (a few environments, one main one that I'd say is "medium" sized). I'm running the 0.9.2 release, installed two weeks ago.  I increased the schedule interval to 4 hours, with no improvement.  I turned on "debug" logging, but nothing relevant.  oom-killer is still whacking the `monkey` scheduler process periodically.

I don't

[2017-09-18 15:35] 0xdabbad00 commented on #826
I've tried using python's `memory_profiler` library with no luck on getting it to output anything, so any help there would also be appreciated.

[2017-09-18 16:15] mstair commented on #826
In the UI, go to Settings->Watcher Configuration (where you probably set the interval to 4 hours) and you can enable/disable individual watchers.
v0.9.2 is latest stable release, newest functionality is on the develop branch.

[2017-09-18 17:32] 0xdabbad00 commented on #826
I added a `return` to the top of the `run_change_reporter` function in `security_monkey/scheduler.py` and this appears to have stopped the memory leak from exhibiting itself, so that at least narrows down where it is.  I'll continue commenting out code. :( I don't know of a better way of debugging this.

[2017-09-18 22:56] #788 closed

[2017-09-18 22:56] #654 closed

[2017-09-18 22:57] monkeysecurity commented on #821
Could you pull the latest from develop and see if this issue is fixed for you?

[2017-09-19 01:03] 0xdabbad00 commented on #821
I'm on 0.9.2.  Is there any special steps for the upgrade path?  Do I just `git pull` and `supervisorctl restart all`?

[2017-09-20 16:13] mark-asapp opened #828 "Unable to setup AWS authentication"
Not sure this is an issue, but I am not able to get SM to scan AWS. I could just be doing something wrong.
![image](https://user-images.githubusercontent.com/29580611/30654633-79d7ba3e-9dfc-11e7-8457-5db865dac84d.png)

If it matters at all I'm on 16.04:
[code]

I'm using SM master

Only thing I see in the error log is
[code]

[2017-09-20 16:22] mikegrima commented on #828
You need to restart the scheduler. Please review the documentation here: https://github.com/Netflix/security_monkey/blob/develop/docs/userguide.md#adding-an-account-in-the-web-ui

Alternatively, you can run the `monkey find_changes` command on the instance.

[2017-09-20 16:23] mark-asapp opened #829 "res"
Not sure this is an issue, but I am not able to get SM to scan AWS. I could just be doing something wrong.
![image](https://user-images.githubusercontent.com/29580611/30654633-79d7ba3e-9dfc-11e7-8457-5db865dac84d.png)

If it matters at all I'm on 16.04:
[code]

I'm using SM master

Only thing I see in the error log is
[code]

[2017-09-20 16:24] mark-asapp commented on #828
I have restarted the manager several times

Wouldn't you need the IAM role secret at some point?

[2017-09-20 16:38] mikegrima commented on #826
I also don't know of a better way to debug ;)

Here is what I think should be done:

1. Set the log level to DEBUG (modify ALL lines in your config file: https://github.com/Netflix/security_monkey/blob/develop/env-config/config.py#L17-L54)
1. Disable the scheduler completely so NO watchers are running:
[code]
1. Then, you will need to run the `monkey find_changes -m <TECHNOLOGY_HERE>` command. Do

[2017-09-20 16:41] mikegrima commented on #828
What happens if you run the `monkey find_changes` command?

[2017-09-20 16:44] 0xdabbad00 commented on #829
Check CloudTrail logs of the account to ensure SecurityMonkey is actually trying to scan it and not getting access denieds or not trying at all.  You'll want to look in the logs of the scheduler. Check your `supervisor` config to see where it's writing those logs (`/etc/supervisor/conf.d/securitymonkey.conf`).

[2017-09-20 16:47] mikegrima commented on #829
Duplicate of #828

[2017-09-20 16:47] #829 closed

[2017-09-20 16:48] 0xdabbad00 opened #830 "Where to set interval?"
I want to only scan my accounts once every 2 hours at most.  This does not appear to be happening.  I set the `interval` in the `Watcher` class in `security_monkey/watcher.py` as described here: https://github.com/Netflix/security_monkey/blob/4a0850f45e4208e3f130dc59743105aab102841d/docs/misc.md

I set `import pdb; pdb.set_trace()` at https://github.com/Netflix/security_monkey/blob/99d231ace5c6150

[2017-09-20 16:50] mikegrima commented on #830
Intervals can be set in the UI under Settings > Watcher Configuration.

[2017-09-20 16:50] #830 closed

[2017-09-20 16:50] mikegrima commented on #821
@0xdabbad00 You should be able to do a git pull from the `develop` branch.

[2017-09-20 17:01] 0xdabbad00 commented on #830
That sets it on a per technology basis though, not a per account basis correct?

[2017-09-20 17:07] mikegrima commented on #830
Correct.

[2017-09-20 17:09] mikegrima commented on #830
If you would like a finer-grained level of control for this, you would need to have an external instance or docker container that runs the `find_changes` command for that given technology on its own schedule.

[2017-09-20 17:12] mark-asapp commented on #828
sorry, missed this section of the guide https://github.com/Netflix/security_monkey/blob/develop/docs/iam_aws.md

 I was attempting to use an IAM user, not an EC2 role.

[2017-09-20 17:12] #828 closed

[2017-09-21 12:02] ishangirdhar opened #831 "Unable to Send Email"
Hello Everyone,

I have configured Security Monkey a long time back and everything has been working just fine, I was initially receiving Emails but now I am getting the following error message in the logs:

/var/log/security_monkey/securitymonkey.log :

[code]

Config.py:

[code]
I have configured, Amazon SES credentials, SES creds are configured right, and I am able to send email using those cred

[2017-09-21 20:10] 0xdabbad00 commented on #831
If you're using SES you don't need to set any of those values other than `SES_REGION` and `MAIL_DEFAULT_SENDER`.  Try checking your IAM Role policy for `ses` privileges.

[2017-09-26 22:41] monkeysecurity commented on #821
https://github.com/Netflix/security_monkey/blob/develop/docs/update.md

[2017-09-26 22:44] monkeysecurity commented on #821
There are a number of steps to upgrade and they are detailed at the link I provided above.

Summarized:
- Backup config.
- Stop services
- Git pull
- Install new requirements (`python setup.py develop`)
- compile new web UI and put it in the static folder
- restore your config file
- perform DB migration ( `monkey db upgrade` )
- restart services

[2017-10-10 11:04] khushbuparakh opened #839 "GCP setup Documentation is not complete."
https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md.
These fields are needed to run SM on GCP instance.
Mentioning it in doc will be helpful.
GOOGLE_CLIENT_ID
GOOGLE_AUTH_ENDPOINT
GOOGLE_SECRET is mandatory to put in env-config/config.py

[2017-10-11 12:57] khushbuparakh commented on #353
Facing the same issue. what is the desired role? I am an editor right now.

[2017-10-11 12:59] khushbuparakh commented on #353
@subbu05 what role you have used here. Is it like admin need to create service account ?

[2017-10-13 12:26] moonspell79 opened #841 "Error loading resource from API"
Hi,

I have set up an AWS EC2 instance with Security Monkey. Once I enter AWS account details, I am getting an error:

"Error loading resource from API. Error: <HTTP 500: {"status": 500, "message": "Internal Server Error"}> "
Both processes under supervisor are running:
[code]
What might be an issue?

Thanks:
Michal

[2017-10-17 19:14] injcristianrojas opened #842 "Docker docs lack instructions to bring up interactive shell"
When reading the Docker setup wiki page (https://github.com/Netflix/security_monkey/blob/develop/docs/docker.md), I don't understand how can I access the `monkey` command. Is there a previous command to open a shell in some machine in which I can use that command?

[2017-10-18 19:10] 0xdabbad00 commented on #826
So I had not updated Security Monkey, and didn't have time to get more involved with investigating this.  I did however disable everything related to one service that we are using very heavily (more heavily than anyone else is likely to encounter) and I am no longer seeing `oom` reapings.  I am closing this issue.

[2017-10-18 19:10] #826 closed

[2017-10-18 20:10] andrewpsp commented on #817
After going through multiple issues and referencing my error message

After following the build instructions with precision, and creating IAM settings with perfection. When performing the monkey db upgrade this the error I'm facing consistently. The goal being to connect to a Postgres RDS instance. I sure many have faced this particular issue in the past. Note - My UI was not populating any releva

[2017-10-19 16:10] 0xdabbad00 opened #844 "Feature request: Only report unjustified issues"
I tried turning on emails reports, but these emails are filled with issues that have already been justified, which makes these reports far too noisy. I only want to be informed of unjustified issues so I can more easily identify and respond to new, unresolved issues.

This can be accomplished by simply changing the code here:
https://github.com/Netflix/security_monkey/blob/e261f7ce344a194616a42086

[2017-10-19 16:15] monkeysecurity commented on #844
Good idea. Should add another if-statement as well:

`if not issue.justified and not issue.fixed:`

On Thu, Oct 19, 2017 at 9:10 AM Scott Piper <notifications@github.com>
wrote:

[2017-10-19 16:25] monkeysecurity commented on #844
Hey @0xdabbad00  - Are you able to PR the fix for this or would you like me to take care of it?

[2017-10-19 16:26] monkeysecurity commented on #842
There's definitely a way to bring up a shell in a docker container.  However, my docker-foo is rusty.  Hopefully someone more familiar can assist.

[2017-10-19 16:28] monkeysecurity commented on #841
Hey @moonspell79  - The logs should provide more information on the 500 error.  Maybe you could take a look at those?

[2017-10-19 16:30] monkeysecurity commented on #839
Hey @khushbuparakh - Since you just went through this process, could you provide a PR to the docs?

[2017-10-19 16:30] monkeysecurity commented on #821
Presuming this has been fixed.  Closing ticket.

[2017-10-19 16:30] #821 closed

[2017-10-19 16:35] monkeysecurity commented on #831
Looking at the code, I don't understand how it would get to that line with `ses` variable being `None`.

https://github.com/Netflix/security_monkey/blob/develop/security_monkey/common/utils.py#L96

The `ses` variable is defined just a few lines above in a `try/except`.

If you're familiar with `pdb`, this may be a great time to step through the function and see what's going on.

`from pdb import s

[2017-10-19 16:38] monkeysecurity commented on #817
Woa.  Are you using any custom ufw configuration or just stock Ubuntu?

[2017-10-19 16:39] monkeysecurity commented on #817
Closing issue as a workaround has been found.  Not sure that SM can do anything for this issue.  First I've heard of it.

[2017-10-19 16:39] #817 closed

[2017-10-19 16:41] monkeysecurity commented on #814
Hey @khushbuparakh - Would you be willing to send over a quick PR to add the instruction?

You could use the OSX instructions (line 204) to assist.

[2017-10-19 16:42] monkeysecurity commented on #815
I *think* I can close this issue now.  If this is still a problem, please re-open with a quick summary of what needs to be done.

[2017-10-19 16:42] #815 closed

[2017-10-19 16:48] 0xdabbad00 commented on #844
@monkeysecurity Probably easiest for you to PR it.  I've also noticed that I receive reports for issues for audit checks that I've disabled and will try to find how that is happening as well.  For example, the report emails include "Cert has expired" messages, but under Settings -> "Auditor Settings" I've disabled that check.

[2017-10-19 17:38] 0xdabbad00 opened #846 "Bug: Emailed reports contain disabled audits"
If you disable an issue type by going to Settings -> "Auditor Settings" and disabling the issue there.  You will still receive email reports containing these issues.  The reason is that only "override scores" are taken into consideration when determining whether a rule should be used or not, as shown in https://github.com/Netflix/security_monkey/blob/e261f7ce344a194616a42086957426e871f5871c/securi

[2017-10-19 17:40] monkeysecurity commented on #846
Long term I want to deprecate AuditorSettings.

Short term, we could add another statement to PR #845 that will pull the issue.auditor_setting to determine if it is enabled.

Let me update that PR.

[2017-10-19 18:30] 0xdabbad00 commented on #844
That should work.  Thank you!

[2017-10-19 18:30] #844 closed

[2017-10-19 20:08] monkeysecurity commented on #846
PR #845 merged.  I believe this issue is fixed. Closing issue.

[2017-10-19 20:08] #846 closed

[2017-10-20 10:14] challanuk202 commented on #786
still getting an issue :-
File "/usr/local/src/security_monkey/venv/local/lib/python2.7/site-packages/pkg_resources/__init__.py", line 867, in resolve
    raise DistributionNotFound(req, requirers)
pkg_resources.DistributionNotFound: The 'idna==2.5' distribution was not found and is required by security-monkey

[2017-10-20 12:20] challanuk202 opened #847 "Dependency issues with setup.py develop"
still getting an issue :-
File "/usr/local/src/security_monkey/venv/local/lib/python2.7/site-packages/pkg_resources/init.py", line 867, in resolve
raise DistributionNotFound(req, requirers)
pkg_resources.DistributionNotFound: The 'idna==2.5' distribution was not found and is required by security-monkey

[2017-10-23 17:32] andrewpsp commented on #817
@monkeysecurity  my instances are behind a VPN and VPC so the ubuntu instance ufw service was completely stopped to resolve the issue.

[2017-10-23 22:50] mark-ignacio opened #848 "TypeError enumerating ElasticSearch domains when region has none"
I got the following exception on the develop branch when kicking off a scan thing:

[code]

Stack trace suggests that it's trying to get changes to an empty region.

[2017-10-23 23:15] mark-ignacio commented on #848
PR to maybe fix this is #849.

[2017-10-24 09:32] manikantakrishna opened #850 "Settings Menu not visible in login dashboard"
I did security monkey setup and added users by command prompt. we are able to login the security monkey but i need to create users by Web UI.
In login dashboard of security monkey settings Menu is not visible, I checked configuration "SECURITY_REGISTERABLE = False" it is in false only.
![image](https://user-images.githubusercontent.com/33054743/31935190-cf09d85e-b8cb-11e7-9fe4-0f73ae439bd6.png)

[2017-10-24 14:27] manikantakrishna commented on #850
I fix this issue, I changed to "Ture" and restart security monkey.
I'm able to register now.

[2017-10-24 14:27] #850 closed

[2017-10-24 17:03] mikegrima commented on #847
Hello @challanuk202 .  What happens if you run `pip install idna==2.5` ?

[2017-10-25 01:13] challanuk202 commented on #847
still, it's not taking idna==2.5, I resolve it! the way re-install everything from the bottom. but still have an issue with Nginx webserver.

[2017-10-25 05:26] challanuk202 opened #851 "getting login page not able to see register tab"
after crossed all signal successfully, but facing the issue in WebUI login page, not finding register page in Web UI.

[2017-10-25 15:17] mark-asapp opened #852 "results not updating after fixing issues"
I have fixed an issue where a SG was open inbound to the world, but after checking 12 hours later the issues has not gone away. I rebooted the machine, restarted the scheduler (which is running according to supervisorctl), and tried refreshing the pages. I'm on ` uname -a
Linux ip-172-31-31-109 4.4.0-1038-aws #47-Ubuntu SMP Thu Sep 28 20:05:35 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

[code]

[2017-10-25 16:41] mikegrima commented on #847
What issue are you having with nginx?

[2017-10-25 20:25] arush0 commented on #842
Further down there's a [more info](https://github.com/Netflix/security_monkey/blob/develop/docs/docker.md#more-info) section that describes how to accomplish this.

[2017-10-25 23:23] cheesuslovesme opened #853 "List of watchable resources and list of checks in the docs"
It sure would be great if the docs would list:

1. Which resources SM will watch and audit
2. All of the checks that are available out of the box

In order to find an answer to the second question I had to search through all of the auditor modules and count the individual check methods. By my count there are 152 checks all together, but that could easily be incorrect.

[2017-10-26 04:20] khushbuparakh commented on #839
sure @monkeysecurity

[2017-10-26 11:51] moonspell79 commented on #841
I found a problem. If you have AWSCLI configured on the server, then it is not using assigned IAM Role to EC2 and makesd this error.

[2017-10-26 11:51] #841 closed

[2017-10-26 11:55] moonspell79 opened #854 "Justified Issues Score"
I have Justified some issue, but they still show the same score. This confuse me, becouse I though that after I justify the problem, it is acknowledge as something normal and no longer higher my score.

I would like to clean up my account with either fixing issues or justfying it, so and the end of the day I have a score or "zero". Then next day I can check what are new issues. Is there a way to a

[2017-10-26 15:09] 0xdabbad00 opened #855 "Feature request: Explanation of auditors"
Some of the checks require some expertise to understand or figure out how to fix.  For example, for S3 buckets, you can end up with "POLICY - No Policy." which has a score of zero, but what does this mean? Would there be any negative to this? How would you resolve it?  This is at https://github.com/Netflix/security_monkey/blob/c83571b671fcaa8a11f49720cba0b8a7c170b2d8/security_monkey/auditors/s3.py

[2017-10-30 21:30] gellerb opened #858 ""watcher_config" does not exist & HTTP 502 (/api/1/watcher_config)"
I upgraded Security Monkey from **v0.5.0** to **v0.9.2** and now there's 2 errors in Console.

![screen-shot-2017-10-30-at-12427-blur](https://user-images.githubusercontent.com/6805315/32195257-0774c1a6-bd7a-11e7-8c86-165b5386dd84.png)

Also, here's a stacktrace from the logs.
[code]
I ran `monkey db upgrade` before starting `monkey run_api_server --bind 0.0.0.0`. Thoughts?

[2017-10-31 18:42] #858 closed

[2017-11-04 05:19] monkeysecurity commented on #361
This has been been completed in #856.

PolicyUniverse is pulling action categories from the AWS Console.  Sensitive permissions are those with AWS's "Permissions" group.  A similar issue is raised for DataPlaneWriteAccess on sensitive services.

[2017-11-04 05:19] #361 closed

[2017-11-04 05:21] monkeysecurity commented on #341
This was completed a while ago by Bridgewater.

Example:
Issue: Found issue(s) in attached Managed Policy
Score: 10
Notes: Related to:AdministratorAccess

Notes actually hyperlinks to the AdministratorAccess managed policy.

[2017-11-04 05:21] #341 closed

[2017-11-04 05:29] monkeysecurity commented on #854
This was fixed in PR #825 with a very simple change to `dart/lib/component/item_table_component/item_table_component.html`
https://github.com/Netflix/security_monkey/pull/825/files#diff-66e6c0d6b02b84c8228f639fc3ec49d8

I suspect you're on an old codebase.  Can you confirm?

[2017-11-04 05:31] monkeysecurity commented on #852
Hey @mark-asapp

Are you on the `develop` branch?

On the instance, try this:

`monkey audit_changes -a <account_name> -m <technam>`

like

`monkey audit_changes -a testaccount -m iamrole,iamuser`

Other thing to check is that the technology has not been disabled in the watcher interval configuration tab.

[2017-11-04 05:33] monkeysecurity commented on #851
To register in the UI, you'll need to set `SECURITY_REGISTERABLE = True` in your config.

We've set the default to False.
[code]

[2017-11-04 05:33] #851 closed

[2017-11-04 05:35] monkeysecurity commented on #848
Waiting on #849 before closing this issue.

[2017-11-06 08:17] moonspell79 commented on #854
Hello,

Thanks for contact. Can you tell me how to check security monkey version
installed? I was using instruction from latest documentation:
http://securitymonkey.readthedocs.io/en/latest/quickstart.html#setup-on-aws-or-gcp

I copied code from developer branch (default):

sudo git clone --depth 1 --branch develop
https://github.com/Netflix/security_monkey.git

Which branch shall I use in order t

[2017-11-06 08:54] moonspell79 commented on #854
Hello,

I just verified the code changes in #825 and I have it applied already.
What I see is that I have justified some issues on 27.10.2017 in security
groups (400 points) and since then it still show up in Dashboard. So I have
securitygrups score 540 (140 new issues and 400 from justified issues).
Attaching screenshot from one justified issue.

Thanks:
Michal

2017-11-06 9:17 GMT+01:00 Michal G

[2017-11-06 18:25] monkeysecurity commented on #854
Ohh, So you're seeing this on the Dashboard and not on the default Item Search page?

[2017-11-06 18:27] moonspell79 commented on #854
I see it on both dashboard and when i do search.

06.11.2017 19:25 "Patrick Kelley" <notifications@github.com> napisał(a):

[2017-11-06 18:36] monkeysecurity commented on #854
Are you compiling the dart yourself or downloading the `static.tar.gz` file from the last release?

Have you tried to open the Chrome Inspector and then right-click on the refresh button and go to "Empty Cache and Hard Reload" ?

[2017-11-06 18:50] moonspell79 commented on #854
I follow the instruction from latest doc i think dart is compiled there.
I used a few browser,  private modę, i even see justifued score when
exporting result to Excel.

06.11.2017 19:36 "Patrick Kelley" <notifications@github.com> napisał(a):

[2017-11-07 17:48] mstair opened #860 "OpenStackWatcher needs to set account_type"
OpenStackWatcher is a CloudAuxWatcher, but does not set the account_type to OpenStack. AWS instances are trying to run  OpenStackWatcher and throwing exceptions.

[2017-11-07 17:51] monkeysecurity commented on #860
Hey Michael.

Want to send a quick PR or do you want me to update it?

[2017-11-07 17:52] mstair commented on #860
Working on it now

[2017-11-07 19:32] mstair commented on #860
Fixed the account_type also removed the OpenStackSecurityGroupAuditor as its import of from security_monkey.auditors.security_group import SecurityGroupAuditor was causing issues. I know I have run into this before, just not sure how to resolve.

[2017-11-07 20:53] ekelson-bcove commented on #860
Additionally, you have to add the python-openstacksdk module manually, the develop setup routine does not add this

[2017-11-07 21:13] mstair commented on #860
Ah yes, `pip install cloudaux\[openstack\]` is required (like \[gcp\]), will update the docs

[2017-11-07 21:37] mstair commented on #860
PR addresses the 3 issues running against AWS (add account_type to the abstract OpenStackWatcher base class, removes the OpenStackSecurityGroupAuditor due to module load issues, and update docs for cloudaux[openstack] is required for the global watcher load). Apologies, I should have setup an AWS instance to verify prior to the original PR.

[2017-11-08 01:08] monkeysecurity commented on #860
`pip install cloudaux\[openstack\]` is required, even if not monitoring openstack?

[2017-11-08 02:19] mstair commented on #860
Appears, yes. In manage.py `find_modules('watchers')` loads every single watcher in the tree, which, for OpenStack, then imports from cloudaux, which is looking for the SDK. Same issue for GCP, but when you run `pip install cloudaux\[gcp\]` it installs the GCP dependencies, so the find_modules works on AWS. Am I reading that wrong?

[2017-11-08 02:21] monkeysecurity commented on #860
I think  you're right.  I wonder what we could change so that you would only need to install gcp/openstack dependencies if you're actually using those.  I'm going to think on that.

[2017-11-08 02:38] mstair commented on #860
Not sure of a great way. You could wrap the imp load in find_modules for ImportErrors, but could mask something else. You don't know the possible account type, unless you query maybe the directory path for hints (gcp/openstack), but still not great.

[2017-11-08 12:25] mstair commented on #860
How about this?
[code]

[2017-11-08 18:43] ekelson-bcove opened #862 "security_group.py TypeError"
Receiving error in security_monkey/auditors/security_group.py.

TypeError: super(type, obj): obj must be an instance or subtype of type

Not sure if this has to do with the blocker on openstack.  I am only using this for AWS, but I understand there is dependences.

[code]

[2017-11-08 18:53] monkeysecurity commented on #862
I haven't seen this bug yet.  (If you found this issue because you're running into the same problem, could you add a quick "me too" so I know how to prioritize?  Hopefully it won't get too carried away.)

I'm going to try and work on the openstack bug and then I'll circle back to this one.

[2017-11-08 18:55] mstair commented on #862
It is, OpenStackSecurityGroupAuditor inherits from SecurityGroupAuditor, its an issue with the module load order, I removed OpenStackSecurityGroupAuditor in fix PR until I can figure out how to address.

[2017-11-08 18:55] monkeysecurity commented on #860
Would that go into `auditor.py` and `watcher.py` and `alerter.py` ?

I like it.  Maybe up the log from `debug`  to at least `info` ?

[2017-11-08 18:56] #860 closed

[2017-11-08 18:57] mstair commented on #860
Its in common/utils.py

[2017-11-08 18:57] monkeysecurity commented on #862
I just merged #861. I'm going to re-deploy and see if I run into further problems.

[2017-11-08 19:01] mstair commented on #862
I just did a clean clone on AWS and running. Note, it needs pip install cloudaux\[openstack\] on AWS, I will open another issue to merge in the ImportError catch

[2017-11-08 19:02] ekelson-bcove commented on #862
Thank you sir, do I need to rebuild static for this as well or will just recloning the deploy branch work?

[2017-11-08 19:04] mstair commented on #862
A reclone or maybe just a pull on your recent clone. Not sure if by static you mean the UI code, which was not affected.

[2017-11-08 19:04] monkeysecurity commented on #862
Hey @ekelson-bcove - The biggest change to the UI recently was in my ELB/ALB Auditor PR.  The only UI change in that PR was to some of the dropdowns.  So, rebuild the static folder if you want those dropdowns to be up to date.

[2017-11-08 19:11] mstair opened #863 "GCP and OpenStack Cloudaux extras should not be required for AWS installs"
The scheduler loads all of the modules (watchers/auditors), regardless of associated account_type, which means that GCP and OpenStack Cloudaux extras are required on AWS installs. This dependency should be removed with only the account_specific dependencies being required.

[2017-11-08 21:35] mwedgwood-rmn opened #864 "Unneeded IAM privilege in assumed role policy"
We noticed the `ses:sendemail` action listed in the proposed role policy for cross-account access.

* `scripts/secmonkey_role_setup.py
* `docs/iam_aws.md`

I'll admit I didn't do more than a cursory check of the code to see if that was needed but by my reasoning that permission should only be needed on the server's policy, not the cross-account role.

[2017-11-08 21:42] mwedgwood-rmn commented on #864
Sorry, never mind I realize this is fixed on develop.

[2017-11-08 21:42] #864 closed

[2017-11-09 01:34] mstair commented on #863
Regression tested this on both AWS and OpenStack 👍

[2017-11-09 14:54] ekelson-bcove commented on #854
I also am seeing no change in score on the dashboard.  I pulled the develop branch and compiled the DART code as of yesterday (11/8/2017)

[2017-11-09 14:57] moonspell79 commented on #854
Ok. So you also see this problem? Do you know how to fix IT?

Thanks
Michal

09.11.2017 15:54 "Eric Kelson" <notifications@github.com> napisał(a):

I also am seeing no change in score on the dashboard. I pulled the develop
branch and compiled the DART code as of yesterday (11/8/2017)

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https:/

[2017-11-09 15:51] ekmabrouk opened #866 "Taking more than 24 hours to pull environment data"
Hello,

I have followed the default installation instructions, and am beginning with just 3 AWS accounts to keep track of.

When I restarted the scheduler, it took more than a day for all of the results to show in the console.  Is this normal behavior, or is there something that I should change?

Also, I see that there are many regions that I don't need to be scanned; is it possible to filter this

[2017-11-09 16:14] mstair commented on #854
The audit runs from the scheduler at hour 10 (for whatever timezone it is set on) daily, you are not seeing it change over days?

[2017-11-09 16:23] moonspell79 commented on #854
No. It didn't change for last week or more. I also trud to run schelduer
from command line with no efect.
I am really interested in sorting it out, as customer i support in aws
likes the Security Monkey and want to have it depliyed in production.
I can also share my config or live share desktop if that can help somehow.
Thank you.
Michal

09.11.2017 17:14 "Michael Stair" <notifications@github.com>

[2017-11-09 16:29] mstair commented on #854
Oh sorry, this is justify vs "fix", let me check.

[2017-11-09 20:14] ekelson-bcove commented on #862
This appears fixed

[2017-11-09 20:37] #862 closed

[2017-11-09 20:38] monkeysecurity commented on #863
Just merged in #865 - Closing

[2017-11-09 20:38] #863 closed

[2017-11-10 18:43] mstair commented on #854
I built from the latest develop code and UI and confirmed I see same. I am looking into where justified issues get reflected in scoring.

[2017-11-13 16:03] mstair commented on #862
The issue was that my openstack auditor, in the openstack subdir, was also named "security_group.py", if I renamed uniquely, it loads without issue. Will submit a PR to re-enable the openstack security group auditor.

[2017-11-13 18:43] monkeysecurity commented on #862
Awesome.  Thanks @mstair

[2017-11-14 10:39] challanuk202 commented on #63
But, I have created static folder, not getting Register button in UI.

[2017-11-14 12:50] mstair commented on #63
Verify permissions are correct, ie.

`sudo chgrp -R www-data /usr/local/src/security_monkey`

[2017-11-14 12:58] challanuk202 commented on #63
again facing below error:-
"GET /api/1/auth/providers HTTP/1.1" 200 2 "http://myserver:443/login?next=http%3A%2F%2F35.205.44.219%3A443%2F" "Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36"

[2017-11-14 13:08] mstair commented on #63
Hmm, can you try https vs http?

[2017-11-14 13:11] challanuk202 commented on #63
http only # https not working in my machine

[2017-11-14 13:13] mstair commented on #63
Did you change your nginx config to disable ssl?

`/etc/nginx/sites-enabled/security_monkey.conf`

[2017-11-14 13:14] challanuk202 commented on #63
server {
   listen      0.0.0.0:443;
   ssl_certificate /etc/ssl/certs/server.crt;
   ssl_certificate_key /etc/ssl/private/server.key;
   access_log  /var/log/security_monkey/security_monkey.access.log;
   error_log   /var/log/security_monkey/security_monkey.error.log;

   location ~* ^/(reset|confirm|healthcheck|register|login|logout|api) {
        proxy_read_timeout 1800;
        proxy_pass  htt

[2017-11-14 13:19] mstair commented on #63
Ok, so no ssl. Let me try to configure one of my instances with http

[2017-11-14 13:23] challanuk202 commented on #63
if i add ssl , i am getting below error: Error loading resource from API. Error: <HTTP 400: <html>
 <head><title>400 The plain HTTP request was sent to HTTPS port</title></head>
 <body bgcolor="white">
 <center><h1>400 Bad Request</h1></center>
 <center>The plain HTTP request was sent to HTTPS port</center>
 <hr><center>nginx/1.4.6 (Ubuntu)</center>
 </body>
 </html>

[2017-11-14 13:50] mstair commented on #63
You have to then use https vs http in the URL. I get a "Bad Request" error for the CSRF session token when I try http, you may need to setup https.

[2017-11-14 13:52] challanuk202 commented on #63
while connecting https hitting  to 404[](url)

[2017-11-14 13:54] challanuk202 commented on #63
![api_error](https://user-images.githubusercontent.com/30466456/32783365-7713476e-c971-11e7-94b5-82f5abe88022.PNG)

[2017-11-14 13:55] mstair commented on #63
Ping me on Gitter and see if we can debug more. Looks like your API server is down.

[2017-11-14 15:00] mstair commented on #866
Regarding regions, there is no way to filter currently. The available regions for each service is queried from the boto client.

I wonder if you disable a region for [STS](http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html), if boto will not return that region.

[2017-11-14 15:29] bhai840 commented on #581
I had the same problem and restart of supervisor did the trick
sudo service supervisor restart

[2017-11-14 18:13] monkeysecurity commented on #731
#870 has been merged. Closing this issue.

[2017-11-14 18:13] #731 closed

[2017-11-14 23:35] monkeysecurity commented on #866
It would be nice if you could configure SM to only track certain regions.

Would also be nice if SM could use a cluster of machines/containers to do lots more stuff in parallel.

Short term fix is to disable less important watchers (or lower their interval) in the "Watcher Config" section of the settings UI.

[2017-11-14 23:43] monkeysecurity opened #872 "SM item search should consider account status"
If you have an AWS account that you have deleted, you would tell SM not to track it by unsetting `Account.active`.

If someone was later searching with the Items table with `status == Active`, they would not expect items from deleted accounts to show up.

Right now, they will still show up unless you tell SM to delete all of these Items, which you may not want to do for forensic/historic value.

T

[2017-11-14 23:44] monkeysecurity commented on #872
@kevgliss has asked about this a couple times, so I'm tracking it here now.

[2017-11-14 23:47] bryanCoteChang commented on #839
Any info on what to put for each of those config values would be incredibly useful.  I can't get anything to work.

[2017-11-14 23:47] mikegrima commented on #866
You **CAN** technically run SM with several other instances/containers in parallel. That would require you to dedicate a container/instance to specific account/technology pairs where you run specific `monkey find_changes` commands.

[2017-11-15 12:13] abi5090 opened #873 "AttributeError during IAM users scan"
I am getting an AttributeError when executing the scan for IAM users. Haven't seen this issue for other resources. What could be the issue? Something to do with a particular user in the account?

[code]
OS -
[code]

[2017-11-15 12:59] mstair commented on #866
I also wonder if you could configure a Config->SQS->Lambda/EC2 pipeline to only find_changes on account/tech that had deltas.

[2017-11-15 19:54] gellerb opened #874 "Watcher Configuration Interval Settings"
Under **/#/settings** within the 'Watcher Configuration' settings view there's a list of technologies and interval settings, e.g. hourly, daily.

Is there a way to specify the interval for all (or select) technologies using `env-config/config.py`?

[2017-11-16 19:18] bryanCoteChang opened #876 "GCP Service Account Roles Incorrect"
The GCP instructions set up the service account with the following roles:
- Project Viewer
- Security Viewer

These are not sufficient, the role it actually needs is:
- Project Owner

If possible, it would be incredibly useful if it would run with the lower permissions.  I don't give anything the Project Owner role in any of our environments.

[2017-11-20 18:30] D4rk4 opened #879 "SecurityMonkey stop working"
Can't grab any data. I try do it for our live accounts and for preconfigured exampled accounts from AWS:
[code]

EDIT: updated for readability

[2017-11-20 18:37] mikegrima commented on #879
Hello!

Per the error message, Security Monkey is not able to assume into the destination AWS account `SecurityMonkey` IAM Roles.

Please review the documentation here to ensure that you have the proper IAM configuration: https://github.com/Netflix/security_monkey/blob/develop/docs/iam_aws.md

[2017-11-21 08:30] D4rk4 commented on #879
@mikegrima how i can debug it? I sure it's not configuration problem on AWS side. Look like problem with botocore connectivity to AWS. I try strace it, i see botocore drop connection after recive cert from sts.amazonaws.com

[2017-11-21 11:37] joaquin386 opened #880 "Security Monkey Not working"
No Matter what I do I received all the time:
monkey fetch_aws_canonical_ids
2017-11-21 11:36:20,952 INFO: Started thread pool with 25 core threads and 30 maximum threads [in build/bdist.linux-x86_64/egg/apscheduler/threadpool.py:52]
INFO:apscheduler.threadpool:Started thread pool with 25 core threads and 30 maximum threads
INFO:botocore.vendored.requests.packages.urllib3.connectionpool:Starting ne

[2017-11-21 15:52] karlgrz commented on #826
We experience this issue about every other day. We run security-monkey-scheduler on a c3.xlarge, colocated with some other services running as docker containers.

We analyze a lot of AWS accounts (about 20), that get fairly high usage across them all.

I'd be happy to help diagnose this, because it is most definitely affecting others. Just let me know what I can provide to be helpful.

[2017-11-21 18:12] swethareddygalwa opened #881 "SG S3"
Hi,
can anyone suggest me how to get the score 0 for no issues.
though i dont have any issue i can see the score .
presently i am using a private IP .

Thanks,

[2017-11-21 19:58] mikegrima commented on #866
@mstair We are actively working on this type of workflow and creating the underlying infrastructure to enable this behavior. This is still under heavy development, so nothing major to announce yet. Part of this effort is underway with our Netflix-Skunkworks/historical project.

[2017-11-21 20:01] mikegrima commented on #866
@ekmabrouk I am going to close this ticket.

To help mitigate this, please spin up more instances that are dedicated Security Monkey workers that you can have focused on specific account and technology pairs.

[2017-11-21 20:01] #866 closed

[2017-11-21 22:43] joaquin386 commented on #880
Following that document and giving SecurityMonkeyInstanceProfile to the EC2 instance (IAM Role) make the Security Monkey Work. Thanks

I will close the case.

[2017-11-21 22:43] #880 closed

[2017-11-21 23:28] joaquin386 opened #883 "Security Monkey behind a proxy?"
## Description of issue:
2017-11-21 23:19:34,111 INFO: "Problem Connecting to iamuser/SecurityMonkey/None:\nHTTPSConnectionPool(host='sts.amazonaws.com', port=443): Max retries exceeded with url: / (Caused by ConnectTimeoutError(<botocore.awsrequest.AWSHTTPSConnection object at 0x7ff19435a690>, 'Connection to sts.amazonaws.com timed out. (connect timeout=60)'))" [in /usr/local/src/security_monkey/

[2017-11-22 00:40] joaquin386 commented on #883
playing around with the supervisord client config file and the environment variables HTTP_PROXY, HTTPS_PROXY and NO_PROXY solve the issue

[2017-11-22 00:41] #883 closed

[2017-11-22 00:45] mikegrima commented on #826
@karlgrz : If you are having difficulty with one instance, you can have multiple instances/containers where they are dedicated to specific accounts and technologies.

We're actively working on event-driven models vs. polling, but it will be some time before that is complete.

[2017-11-22 00:48] karlgrz commented on #826
@mikegrima good point, but that's annoying, too, heh.

I'll keep an eye on the event-driven models development.

[2017-11-22 08:59] D4rk4 commented on #879
@mikegrima Okay, I try run tour command via aws cli and got error `aws: error: argument --role-session-name is required`, but `aws sts assume-role --role-arn arn:aws:iam::<ID>:role/SecurityMonkey --role-session-name secmonkey` working fine, for our all our aws accounts.

[2017-11-22 13:06] moonspell79 commented on #854
Hello,

Were you able to find solution for this problem?

Thanks:
Michał

2017-11-10 19:43 GMT+01:00 Michael Stair <notifications@github.com>:

[2017-11-22 18:14] mikegrima commented on #879
Are you running Security Monkey on the instance or locally?

[2017-11-22 20:15] D4rk4 commented on #879
It's running inside DigitaOcean droplet (VM). I try update SecMonkey to last git version, but without positive result - still not working crawling.

[2017-11-22 20:45] mikegrima commented on #879
How are you seeding your credentials to Security Monkey?  If running on AWS, running an instance with on-instance credentials provides them for you for "free".

For non-AWS environments, you will need to have an IAM user with (hopefully encrypted) credentials that are then exported into your environment before Security Monkey launches.

[2017-11-22 20:54] D4rk4 commented on #879
It's from /root/.aws/config file

[2017-11-22 20:57] mikegrima commented on #879
Can you confirm that it is using the same credentials that you used earlier?

[2017-11-22 21:28] D4rk4 commented on #879
Yes, without change. Also AWS CLI get credentials from this file, and working fine. I think maybe SecMonkey not generate session name, required for assume role (change in AWS API)?

[2017-11-22 22:29] mikegrima commented on #879
Security Monkey does set this properly, so you are having another issue.

Can you modify your configuration for debug logging:
Set the log level to DEBUG (modify ALL lines in your config file: https://github.com/Netflix/security_monkey/blob/develop/env-config/config.py#L17-L54)

Then, try re-running the watcher.

[2017-11-23 16:19] D4rk4 commented on #879
I found problem, if role name not defined, by default used " SecurityMonkey" (with leading space)

![_143](https://user-images.githubusercontent.com/1151390/33181966-617c569a-d072-11e7-9e0d-8f8ab7a570a9.png)
![_144](https://user-images.githubusercontent.com/1151390/33181973-6567e922-d072-11e7-8209-42103a26d16c.png)

[2017-11-24 02:48] mikegrima commented on #879
Per the code above, there is no leading space in `role_name = 'SecurityMonkey`.  Did you specify a custom role name for the account in question?

Can you try adding `print()` statements to `account.getCustom("role_name")`?

If that allowed a leading space, then that is a bug.

[2017-11-24 23:49] joaquin386 commented on #883
I currently found out that if you put the env variables as capital HTTP_PROXY, HTTPS_PROXY, NO_PROXY it will NOT work and it need to be ALL in lower case such http_proxy, https_proxy, no_proxy then it work.

[2017-11-27 10:38] Mallear opened #885 "Scheduler container crash when restarted after account creation"
Hi,

We installed Security Monkey on an AWS instance with a RDS instance using the Docker quickstart and the provided compose file.

When adding a new active AWS account through the web UI and restarting the scheduler container, the container crash with the following stack trace :

[code]

This behavior happens every time we set an active account.
Do you have a clue of what could be wrong ?

Thank

[2017-11-27 12:18] mstair commented on #885
Likely the same issue as https://github.com/Netflix/security_monkey/issues/862#issuecomment-343965895, just being observed with the watchers modules here (`subnet` has an OpenStack watcher defined).

I will rename all the OpenStack watchers to unique and submit a PR.

[2017-11-27 19:17] mikegrima commented on #885
Just merged in #886 .  Can you check if that resolved your issue @Mallear ?

[2017-11-27 19:17] mikegrima commented on #881
Hello!  Can you provide additional context on this request?

[2017-11-27 19:19] mikegrima commented on #876
Hmm. I do recall running through the instructions a few months ago, and only needed Project Viewer and Security Viewer to get Security Monkey working.

[2017-11-27 19:20] mikegrima commented on #873
@monkeysecurity Was this recently fixed (auditors)?

[2017-11-27 19:21] mikegrima commented on #855
We (namely @monkeysecurity ) have been refactoring the auditors to help clarify and resolve some of these ambiguities.  @monkeysecurity has this been fixed?

[2017-11-27 19:22] mikegrima commented on #853
@cheesuslovesme We would love a PR ;)

[2017-11-27 19:26] #842 closed

[2017-11-28 01:21] mikegrima commented on #848
Should be fully fixed in #888.

@mark-ignacio Please re-open if you still encounter issues.

[2017-11-28 01:21] #848 closed

[2017-11-28 08:41] Mallear commented on #885
I've just rebuild the container and test again: everything works well !

Thanks for your quick reply.

[2017-11-28 08:41] #885 closed

[2017-11-28 12:39] mstair commented on #876
I believe it is this step, assigning ownership of the service account, https://github.com/Netflix/security_monkey/blob/develop/docs/images/add_user_to_service_account.png

[2017-11-28 14:29] swethareddygalwa commented on #881
Hello Thanks for your reply,
SM should list me all the issues related to this(an S3 bucket granting access to "AllUsers" or a security group allowing 0.0.0.0/0 ) but now it is considering my private IP also an issue, so i have whitelisted them now its not showing me an issue is this the correct way or any other way to avoid it??

[2017-11-28 17:23] mikegrima commented on #881
Hello @swethareddygalwa . Security Monkey will flag S3 buckets that grant "AllUsers" access and wide-open security groups.

By default, Security Monkey has no knowledge of your IP space. Thus, if it is not whitelisted, SM will flag it as unknown access.  You will need to flag your IP space to prevent Security Monkey from seeing it as unknown.

[2017-11-28 18:14] swethareddygalwa commented on #881
![snip](https://user-images.githubusercontent.com/29959471/33336192-c91d1f62-d434-11e7-9f72-c848356c9bc1.PNG)

Thanks alot..!! For the previous issue.
Can you please help me out with the following issue ?  where i can see all the flags for s3 related to the same.

[2017-11-29 06:10] mikegrima commented on #881
For S3, there should be reports at the top menubar to find all S3 buckets that are publicly accessible.

[2017-11-29 06:11] mikegrima commented on #879
@D4rk4 : Have you had time to review?

[2017-11-29 22:47] swethareddygalwa commented on #850
Hey even i faced the same issue thanks alot @manikantakrishna

[2017-11-30 22:50] swethareddygalwa commented on #881
i cannot find any s3 related in the top menubar.

I have another issue, when i checked logs its running into the following errors
Traceback (most recent call last):
  File "/usr/local/src/security_monkey/security_monkey/scheduler.py", line 137, in _audit_changes
    au.save_issues()
  File "/usr/local/src/security_monkey/security_monkey/auditor.py", line 289, in save_issues
    db.session.commit()

[2017-12-03 00:20] ngtjah commented on #873
I am experiencing the same error for both `iamrole` and `iamuser`.

[2017-12-03 00:23] monkeysecurity commented on #873
Very interesting. Can you do a “git log” and let me know what the most
recent commit was? (Top item)

Have you done a “monkey db upgrade” ?
On Sat, Dec 2, 2017 at 4:20 PM NGT JAH <notifications@github.com> wrote:

[2017-12-03 01:34] mikegrima commented on #881
@swethareddygalwa S3 was recently converged in under the top menu in "Internet Accessible" > "via Resource Policy".

@monkeysecurity any thoughts on the DB error?  It looks like it's barking on an issue's `fixed` field being `null`.

[2017-12-03 01:44] ngtjah commented on #873
I just installed this and I'm trying it out today.

I believe I did run `monkey db migrate`. The UI is working and it was collecting. If I go to Search I can see about 4,000 items in the DB.

[code]

[2017-12-03 02:39] ngtjah commented on #873
Failure with DEBUG log level.

IAM Group
[code]

IAM User
[code]

[2017-12-03 06:22] monkeysecurity commented on #873
I have reproduced this bug in my dev environment.  Upping priority to blocker.

[2017-12-03 23:44] ngtjah opened #889 "KeyError after adding a 'Third Party' AWS account"
I'm seeing this KeyError after adding a "third-party" AWS account ID.

[code]

I'm on the latest version
[code]

Thanks!

[2017-12-03 23:45] monkeysecurity commented on #889
That’s a bug. I’ll get this fixed tonight once the little one goes to bed.
On Sun, Dec 3, 2017 at 3:44 PM NGT JAH <notifications@github.com> wrote:

[2017-12-04 23:46] mark-ignacio opened #890 "ELB auditor can't parse ICMP ingress rule"
[code]

Print debugging showed me what this was crashing on.
[code]

The attached SG seems to be:

![image](https://user-images.githubusercontent.com/4490736/33582414-01154bae-d90a-11e7-9459-54aabd5b7608.png)

[2017-12-04 23:50] mikegrima commented on #890
Looks like we need to check for `icmp`, and handle differently.

[2017-12-05 20:58] monkeysecurity commented on #873
I’ve created a PR #891 to address this issue.

Root cause:  If an IAM User/Group/Role had a managed policy attached and that managed policy had zero issues, it would cause this exception.  (Not good.)

[2017-12-06 16:54] Ashishkasaudhan opened #892 "Setup guide"
## Please make sure that you have checked the boxes:

- [  ] Review the [Quickstart guide](quickstart.md)
- [ ] Search for both open and closed issues regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack

[2017-12-06 19:54] monkeysecurity commented on #889
This should be fixed by #893.  Will merge and close this PR soon.

[2017-12-06 19:54] monkeysecurity commented on #873
I’ve merged the PR.  I believe this issue is solved.  Please re-open if needed.

[2017-12-06 19:54] #873 closed

[2017-12-09 04:25] ngtjah commented on #889
That fixed the issue.

[2017-12-11 17:43] monkeysecurity commented on #889
Awesome.  PR is merged.  Closing this issue.

[2017-12-11 17:43] #889 closed

[2017-12-11 17:54] monkeysecurity commented on #892
Hey @Ashishkasaudhan ,

Let me start with the `virtualenv`.  SecurityMonkey is a python application.  Typically you want to run each python application from it's own `virtualenv` so that they can keep different dependencies and versions of dependencies.  There are different ways to use virtualenvs.

# Create a virtualenv:

    virtualenv venv

# Activate a virtualenv:

    source venv/bin/activate

[2017-12-11 17:58] monkeysecurity commented on #892
The steps to add a new AWS account are as follows:

- Create a role called `SecurityMonkey` in the new account.
- Attach the inline policy containing the permissions required.
- Edit the trust policy on the SecurityMonkey role to ensure that the SecurityMonkeyInstanceProfile in your original account is trusted.  (See the IAM docs for how to do this.)

Now login to the Security Monkey UI and go int

[2017-12-11 17:58] #892 closed

[2017-12-11 18:15] monkeysecurity commented on #890
Looking into this.

[2017-12-11 19:44] monkeysecurity commented on #890
Filed #894 to fix this.

[2017-12-11 19:44] #890 closed

[2017-12-11 19:44] monkeysecurity commented on #890
I've merged #894.  Issue should be fixed now.

[2017-12-11 19:48] monkeysecurity commented on #881
@mikegrima - A `monkey db upgrade` will be required.  This will update any null fields.

This change occurred in DB migration `5bd631a1b748`.

https://github.com/Netflix/security_monkey/blob/develop/migrations/versions/5bd631a1b748_.py#L35

[2017-12-11 19:49] #881 closed

[2017-12-11 20:38] riot-gabe opened #895 "(IntegrityError) duplicate key value violates unique constraint "ix_item_arn""
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](quickstart.md)
- [x] Search for both open and closed issues regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.

[2017-12-11 20:42] riot-gabe commented on #895
Oh, hey. I just noticed what we are trying to insert has a different account ID than what exists.
Upon further investigation, we have two duplicate accounts in our account table. Not sure how that happened.

I'm going to clean that up in my environment.

Maybe we can turn this into some sort of "don't allow duplicate account identifier" assertion when adding accounts.

It looks like there /might/

[2017-12-11 20:42] #895 closed

[2017-12-11 20:43] monkeysecurity commented on #895
oh interesting. Excellent suggestion as well.  I'm surprised identifier isn't already unique.

[2017-12-11 21:21] mark-ignacio commented on #890
Confirmed working. Thanks for the fix!

[2017-12-14 14:05] omkarkulkarni commented on #290
@finalriposte  can you please share that part of the code where you use proxy with boto3. Even I am facing the same issue as you. I am confused on how to set the proxy settings though. Thank you.

[2017-12-20 09:31] D4rk4 commented on #873
@monkeysecurity problem not solved. I just upgrade secmonkey from git (follow by your instruction), and run find_changes.
Result:
[code]

[2017-12-20 16:19] #879 closed

[2017-12-20 18:13] rayj-pgi commented on #873
I'm seeing it as well.

[code]

[2017-12-20 21:31] mappindrones commented on #854
Hi mstair - any luck on finding where this is tabulating incorrectly?

[2017-12-21 08:08] D4rk4 commented on #873
@monkeysecurity please reopen

[2017-12-21 14:47] mstair commented on #873
Can you enable DEGUG for the console and re-run `monkey find_changes`? Looks like @D4rk4's might be somewhere in ec2:

In env-config/config.py:
[code]

[2017-12-21 17:32] manasagovindu opened #897 "Docker issue"
## Please make sure that you have checked the boxes:

- [ ] Review the [Quickstart guide](quickstart.md)
- [ ] Search for both open and closed issues regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.

[2017-12-27 14:51] antoine-castex commented on #650
Same problem as Bryan , not getting any data from GCP

where to find the logs ?

when i have created the gcp account i don't have give creds_file, what is the formal of this ? no information about this param in the guide

monkey add_account_gcp

[2017-12-27 14:52] antoine-castex opened #898 "GCP account not returning data"
Hello

My service account is Project OWNER  ,so no IAM role problem
I have created an account to monitor the gcp project, but without --creds_file   because i don't what to make ? no information about this param in the guide

and how to check log to see what is the problem please ?

thanks

[2017-12-27 18:14] mikegrima commented on #898
Hello!

You are correct that the docs don't outline this. We definitely need to add it (would love a PR!).

The credentials file needed for GCP is a JSON file. These docs outline what is required: https://cloud.google.com/storage/docs/authentication#service_accounts

Effectively, you will need to create a key for your service account and select the JSON option. This file is needed by SM and the pa

[2017-12-27 18:20] #898 closed

[2017-12-27 18:57] mikegrima commented on #898
Just merged in #899 with additional clarification.

[2018-01-02 10:01] antoine-castex opened #900 "no data see in the security monkey interface"
Hello

I have installed security monkey on a GCE
Now i'm connected to the web console, created the account with credentials, restart service

nothing happen since 1 week

[2018-01-04 13:36] antoine-castex commented on #900
cd /usr/local/src/security_monkey
source venv/bin/activate
monkey find_changes

Done !

thanks @mstair

[2018-01-04 13:36] #900 closed

[2018-01-04 15:46] pklanka opened #901 "Help! DB update error securitymonkey"
## Please make sure that you have checked the boxes:

- [X] Review the [Quickstart guide](quickstart.md)
- [X] Search for both open and closed issues regarding the problem you are experiencing
- [X] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.

[2018-01-04 17:09] mikegrima commented on #901
Interesting...

[code]
^^ It looks like you have a duplicate in there.  It's calling out `AWS Account Production`. Do you have multiple AWS accounts with the same name in your DB?

[2018-01-04 18:15] pklanka commented on #901
Changing the name of account after logging into the Postgres helped fix the issue.

[2018-01-04 18:15] #901 closed

[2018-01-08 22:15] zpritcha commented on #826
We're seeing these same memory issues with ~60-70 accounts on a m4.xlarge instance. I'll run through the steps @mikegrima outlined above to see if we can track down what's eating all the memory -- some days it'll hit the 16GB limit in less than 24 hours, which in one case led to the DHCP client not having enough memory to renew leases.

[2018-01-09 16:55] pklanka opened #903 "Memory requirements and Server Out of memory exception - help"
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](quickstart.md)
- [x] Search for both open and closed issues regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.

[2018-01-09 17:00] pklanka commented on #903
Only opened this issue since other one is closed - https://github.com/Netflix/security_monkey/issues/826

[2018-01-09 20:31] mikegrima commented on #903
Hello @pklanka .  This will largely depend on your environment.

Depending on the size of the environment and the technologies you are watching, it is recommended that you spin off separate Security Monkey worker instances that are dedicated to select accounts and technologies.

Do you have an idea on which technologies being scanned are killing SM? Knowing the specific technology in question will

[2018-01-09 20:38] mikegrima commented on #897
Hello!

Looking at the log output, this is sticking out:
[code]
Can you verify that the PostgreSQL permissions are correct?  If you are not running an RDS DB, please follow the instructions on the quickstart guide here to ensure that the DB setup is correct: https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md#local-postgres that

If you are on RDS, please ensure that you fol

[2018-01-09 20:53] #874 closed

[2018-01-10 16:00] pklanka commented on #903
I increased the VM size to C2xlarge. We have 20 accounts. Difficult to say which is killing SM - none of them return an error (except few access denied - which is expected) when I follow previous mail thread.

Any other way I can debug?

[2018-01-10 16:02] pklanka commented on #903
This one is consuming all the memory / cpu -

nginx     9340 10.3 52.7 12015944 8355808 ?    Sl   Jan09 113:46 /usr/local/src/security_monkey/venv/bin/python /usr/local/src/security_monkey/venv/bin/monkey start_scheduler

[2018-01-10 17:19] mikegrima commented on #903
This may be what @zpritcha was discussing about yesterday on Gitter.

We'll need to investigate if the scheduler has memory leak issues.

[2018-01-11 02:51] markofu commented on #903
@mikegrima

`Depending on the size of the environment and the technologies you are watching, it is recommended that you spin off separate Security Monkey worker instances that are dedicated to select accounts and technologies.`

This is the first time I've seen such a recommendation. Can you provide any more specifics? Is there a threshold of number of accounts that you have in mind?

[2018-01-11 04:52] mikegrima commented on #903
@markofu It's a loose recommendation that I provide when users are experiencing massive scalability issues.

Generally if the watchers are taking a very long time to describe all the resources, then it makes sense to break it up.

This will be resolved in the future when we work on more even-driven watchers.

[2018-01-11 18:11] manasagovindu commented on #897
Do we need to have a local DB though we are using AWS RDS ??
which we are going to pass AWS RDS credentials as an environment variable after the image is built.

[2018-01-11 18:12] mikegrima commented on #897
Are you using RDS or a local DB?

[2018-01-11 18:15] manasagovindu commented on #897
using RDS but am passing as an env variable to run the container.

[2018-01-11 18:22] manasagovindu commented on #897
The following are the logs

`2018-01-11 17:04:38,369 DEBUG: Logging exception from scheduler with location: None to the database. [in /usr/local/lib/python2.7/dist-packages/security_monkey-0.9.2-py2.7.egg/security_monkey/datastore.py:696]
2018-01-11 17:04:38,371 ERROR: Encountered exception while logging exception to database: [in /usr/local/lib/python2.7/dist-packages/security_monkey-0.9.2-py2.7.

[2018-01-11 18:28] mikegrima commented on #897
^^ Per your error, it's trying to connect to a database on localhost vs. the RDS DB.

[2018-01-12 02:05] mikegrima commented on #903
🤞 Fixed in #904 ??

[2018-01-12 12:54] jsharpe opened #905 "Feature Request: AWS Organization support"
Add AWS Organization support - audit the set of Service Control Policies defined and which OU's / accounts they are bound to

[2018-01-12 21:53] mikegrima commented on #903
@pklanka Please fetch the latest develop branch down, re-install dependencies, and test.

The latest version should address the issues with a newer scheduler library.

[2018-01-12 21:54] mikegrima opened #906 "RELEASE 1.0"
It's been a while since the last release and there have been many new changes and updates.

There are a number of fixes that are still required:
- [x] Fix issues with the VPN watcher
- [x] Update the "Upgrading" docs to reflect the latest and greatest changes
- [x] Fix issues with the reporter emails for batched watchers (they just spam all the items the account)
- [x] Update the documentation to

[2018-01-12 21:55] mikegrima commented on #905
Agree -- this would be useful.

Need to first add the capability to cloudaux.

[2018-01-12 21:57] pklanka commented on #903
Absolutely. Will give it a spin and test it over weekend. Many thanks for a quick fix.

[2018-01-13 21:11] rayj-pgi commented on #903
I installed the latest and it ran the hourly scheduler OK 3 times, but then it just failed with a Throttling error.

[code]

[2018-01-14 21:34] mikegrima commented on #903
@rayj-pgi That appears to be more of a AWS rate-limiting error.  We'll need to see why cloudaux isn't handling that properly.

[2018-01-14 21:58] rayj-pgi commented on #903
Thanks @mikegrima! That error seems to have only occurred once this weekend so probably not a big deal. Otherwise with this release I'm seeing the scheduler container plateau at about 3G of memory compared to previously I was seeing about 3.6G. I have 3 medium sized AWS accounts in my SM at the moment.

[2018-01-17 18:03] fstuck37 commented on #903
Hi All - running into this issue still even after redeploying with the code changes.
Running on a t2.xlarge with Centos and currently have 19 AWS Accounts configured,

  PID  VDATA VSTACK  VSIZE  RSIZE  PSIZE  VGROW  RGROW SWAPSZ  MEM  CMD       1/19
10870  15.3G   136K  15.6G  13.6G     0K     0K     0K     0K  **89%**  monkey

I'm not a Python expert but willing to do some troubleshooting if you

[2018-01-17 18:06] mikegrima commented on #903
Jello @fstuck37 ! I'm currently working on #909 to help resolve additional memory issues.

[2018-01-17 21:40] fstuck37 commented on #903
Hi @mikegrima - Thanks for the update - I'll keep an eye on #909.
-Fred

[2018-01-18 08:42] D4rk4 commented on #873
@mstair alredi in config, but where i can find extra info?
I update to last GIT HEAD, but problem don't disappear

[2018-01-18 15:42] manasagovindu commented on #897
solved ..!! thanks @mikegrima is there any specifications for AWS  RDS when i want to add multiple aws accounts.

[2018-01-18 18:47] mikegrima commented on #906
This will be dependent on fixing the memory leaks.

[2018-01-18 18:55] mikegrima opened #910 "Migrate APScheduler to Celery"
We are encountering a lot of memory leaks with Security Monkey.  Based on numerous reports, it appears that botocore objects still persist in memory when watchers complete executing.

Unfortunately, this results in instability when working off of very large AWS accounts.

A work-around to this is to have separate processes perform the work, and then terminate when complete. Unfortunately, APSchedu

[2018-01-18 18:56] mikegrima commented on #903
Please see #910

[2018-01-18 18:57] mikegrima commented on #897
You don't need to worry about RDS. You would configure Security Monkey to monitor additional accounts.  Please review the quickstart guide for details.

[2018-01-18 18:57] #897 closed

[2018-01-19 14:52] mappindrones commented on #854
Just rebuilt SM yesterday and same issue as before.  Looks like for justified items the score is 0 on the search page, but still shows up on the dashboard total for Accounts and High Score Items.  I've tried the empty cache and hard reload in Chrome.  Any thoughts?

[2018-01-19 19:52] mikegrima commented on #910
Tracking in #911

[2018-01-22 10:01] Mortinke commented on #208
+1
If you want to compare the resources of more than 15 accounts, the single selection of all components is cumbersome

[2018-01-22 19:20] mikegrima commented on #910
Testing changes internally.  Should _almost_ be complete.

[2018-01-24 00:27] mikegrima commented on #54
This might actually not be relevant anymore due to the changes in #911 .

[2018-01-24 12:28] imanandshah opened #912 "TypeError: 'NoneType' object is not iterable"
I am a newbie here and I could see issues with security group and policies but nothing apart from it. However i see below errors in the log file. Can some one help?

[code]

[2018-01-24 16:40] rayj-pgi commented on #903
This looks great Mike. I'm seeing that the scheduler is able to utilize multiple cores now and my memory usage which is normally 3G+ is going up to 1.5G while running and back down to 500M when idle. 💯

[2018-01-24 19:16] mikegrima opened #914 "Migrate SQS watcher to CloudAux"
As identified in #911 the SQS watcher has a problem with rate-limiting. This causes queues that go past the rate-limit to be seen as being deleted, which causes churn in Security Monkey.

The solution will be to migrate this over to CloudAux, which will have proper error handling for this.

This is required for our next release.

[2018-01-25 00:52] mikegrima commented on #910
Appears to be stable, so merged in.

[2018-01-25 00:52] #910 closed

[2018-01-25 00:52] mikegrima commented on #906
Memory leaks are fixed, but SQS has some problems as outlined in #914 . Once that is fixed, we will have 1.0.

[2018-01-25 01:36] mikegrima commented on #903
Fixed in #911

[2018-01-25 01:36] #903 closed

[2018-01-26 08:15] mikegrima commented on #914
Merged in #915

[2018-01-26 08:15] #914 closed

[2018-01-26 08:16] mikegrima commented on #906
SQS is fixed.  Will start wrapping up for 1.0.

[2018-01-26 14:39] fstuck37 opened #916 "11 Accounts Show no data."
Hi All,
Hoping someone could help me identify an issue with getting data from 11 accounts.
Here's where I'm at:

1. I just upgraded to the latest Security Monkey build which replaced the AP Scheduler with Celery #911 to see if that would resolve this. Simply built a new instance with the same DB.
2. I have a total of 36 AWS accounts configured - 25 are pulling data in without an issue 11 show no d

[2018-01-26 16:24] kpcyrd opened #917 "Automated docker builds"
It seems the [automated docker builds][0] are out of date (last built 2 years ago), since the docker files are now properly included in this repo. I think the docker build needs to be updated to point to this repo instead. Hopefully, this is a trivial change. :) Thanks!

[0]: https://hub.docker.com/r/netflixoss/security_monkey-api/

[2018-01-26 17:25] mikegrima commented on #916
I've seen this happen, but I found it hard to reproduce and don't know why yet.

[2018-01-26 17:26] mikegrima commented on #916
I think the last exception is different from the first two. The first two I've seen a few times, but it seems to be transient.

The last one is interesting (I haven't seen that one yet).

[2018-01-26 18:07] kpcyrd opened #918 "Decouple docker containers"
I noticed the docker containers are currently very tightly coupled:

- everything is attached to the `secmonkey-data` container
- the entrypoints for each container are located inside a volume that is mounted from the repo into the data container
- `./env-config/config-docker.py` and `./data/aws_accounts.json` are required instead of environment variables.

I would recommend the following:
- remov

[2018-01-26 18:19] mikegrima commented on #918
Would love a PR.

[2018-01-26 18:22] mikegrima commented on #912
Closing as AP Scheduler was removed.

[2018-01-26 18:22] #912 closed

[2018-01-26 18:28] mikegrima commented on #917
I don't think we have a pipeline actively set up to post them.

At the moment, users are required to bake in the config. If we move to env vars, then we can add a task in Travis CI to do this.

I'll re-open #918 . I don't have any available cycles to work on it, however.

[2018-01-26 18:28] #917 closed

[2018-01-26 18:28] mikegrima commented on #917
Closing until #918 get's done.

[2018-01-26 18:29] mikegrima commented on #918
Once this is done, we can reopen #917 , and get that pipeline back up and running.

[2018-01-26 18:29] #876 closed

[2018-01-26 19:03] #847 closed

[2018-01-26 20:45] mikegrima commented on #906
Ephemeral changes are still broken... Need to fix this first.

[2018-01-27 01:37] mikegrima commented on #916
Running locally (with security groups), I'm seeing exceptions with this method:
[code]

In `auditor.py`.  It seems to be on `item.latest_config.get('UserId').  There is no `latest_config` set for the item (accessing it is raising the DB exception for me).

[2018-01-27 01:45] mikegrima commented on #916
So this is interesting...

Looking in my testing db, I am seeing a, what I guess is a half-stored value. One where the the `arn`, `latest_revision_id`, `latest_revision_complete_hash`, and `latest_revision_durable_hash` are `null`.

[2018-01-27 02:08] mikegrima commented on #916
@fstuck37 Can you attempt to run the following SQL query:
[code]
^^ Does this return the 11 accounts you are seeing issues with?

[2018-01-27 02:17] mikegrima commented on #916
Looking at our databases, it appears that these were all deleted items. But for some reason, the deletion doesn't have a deletion revision ID attached... So, I _think_ the solution is to, on startup of the given (celery) task, to look for these orphaned items, and create a "deletion" change record for them.

That _should_ make things in the DB copasetic and hopefully resolve the problem.

[2018-01-27 03:01] mikegrima commented on #916
#922 is a possible fix.

[2018-01-27 09:29] imanandshah commented on #916
I have the same problem but i see

INFO:botocore.vendored.requests.packages.urllib3.connectionpool:Resetting dropped connection: ec2.eu-west-1.amazonaws.com
INFO:botocore.vendored.requests.packages.urllib3.connectionpool:Resetting dropped connection: ec2.eu-west-1.amazonaws.com
INFO:botocore.vendored.requests.packages.urllib3.connectionpool:Resetting dropped connection: ec2.eu-west-1.amazonaws.com

[2018-01-27 09:32] imanandshah opened #923 "Replaced scheduler to Celery end up with No data"
I re-installed the new version and post that i could not see any data. The only error i could see on the system is "Resetting dropped connection". I have pasted some lines for your reference. However there is no issue with the connection or IAM roles or anything.

[code]

[2018-01-27 20:16] mikegrima commented on #923
Those are benign messages.

The solution here might help silence that noise: https://stackoverflow.com/questions/28867840/why-do-i-constantly-see-resetting-dropped-connection-when-uploading-data-to-my

[2018-01-27 20:38] mikegrima commented on #923
#922 Disables the verbose botocore logs.

[2018-01-27 21:44] mikegrima commented on #916
@fstuck37 Can you do me another favor? Can you run the following query:
[code]

[2018-01-28 02:14] fstuck37 commented on #916
@mikegrima  First off, thank you for the quick response to this request.

I ran the first query and it only returned one account that was not part of the 11.
The second query returns an empty list.

I did notice that the 11 that aren't populating are the last 11 accounts that I added.

The IDs of the first 25 accounts that are working all have IDs between 4 and 72.
The 11 that aren't working range

[2018-01-28 02:39] fstuck37 commented on #916
OK no luck with deleting the first account nor all 11 and then adding one back.
Wondering if the issue could be in the last account before the break.

Hope this helps.
Let me know if you need anything else.

Thanks again,
-Fred

[2018-01-28 03:05] mikegrima commented on #916
Feel free to reach out to my on gitter, and we'll try to debug.

I would like to make sure these issues are completely resolved before I make the next major release.

[2018-01-28 03:16] fstuck37 commented on #916
@mikegrima
Unfortunately I'm traveling on business the next few days and will have limited time to do any troubleshooting,

If you have anything specific you'd like me to run I'll find some time to get it to you.
Beyond that I can reach out on Thursday.

Really appreciate the help and apologize for not being able to work on this sooner.
-Fred

[2018-01-28 04:42] mikegrima commented on #916
@fstuck37 I'm curious if #922 would resolve the problem for you.

When was the last time you upgraded security monkey? Were these problems only detected on the most latest version?

[2018-01-28 16:43] fstuck37 commented on #916
@mikegrima
I was running into memory leaks and upgraded as soon as you released the change to Celery.
If not today, I'll see if I have time to redeploy at some point tomorrow.
If I can it will be later in the day (Eastern Time).

Thanks,
Fred

[2018-01-28 17:31] mikegrima commented on #916
Can you do me a favor and verify that those accounts are `active`?

[2018-01-28 18:10] fstuck37 commented on #916
@mikegrima
Yes, that was one of the first things I checked.
I added additional accounts (around 17) after I upgraded.
Only 11 of them didn't populate with data.
Didn't notice this issue before upgrading.
Thanks,
-Fred

[2018-01-28 18:54] mikegrima commented on #916
Is it possible that the Terraform template didn't place the proper trust relationships?

Can you verify that the permissions for those 11 new accounts are correct?

[2018-01-28 21:50] fstuck37 commented on #916
@mikegrima
Checked the policies and looked OK and found a few minutes to redeploy the instance with any updates.
Unfortunately now securitymonkeyscheduler, securitymonkeyui, and securitymonkeyworkers won't start all report "Exited too quickly (process log may have details)"

Will have to look to see if there is anything missing in my build script with the latest changes.
I'll have to pick this bac

[2018-01-29 13:59] fstuck37 commented on #916
@mikegrima
Ok found the issue with the redeployment. Had to add:
pip install 'defusedxml==0.5.0'
to my build script.

I also tried disabling the account in the error message and running find_changes again and the same error comes up with a different account.

Wondering if I need to redeploy the DB?
Was there any DB changes that could be causing the issue?
Thanks for all the help,
Fred

(venv)[root

[2018-01-29 17:30] mikegrima commented on #916
Can you update to the latest version in the `develop` branch and try again?  I would like to know if that at the very least fixed the first two exceptions you are seeing (which might affect the third).

I didn't make any DB schema changes, but can't hurt to run a `monkey db upgrade`.

[2018-01-29 17:44] mikegrima commented on #906
Need to update the upgrading docs since so much has changed from the last version.

[2018-01-29 22:22] fstuck37 commented on #916
@mikegrima
When I deploy I use the follow GIT clone command:
git clone --depth 1 --branch develop https://github.com/Netflix/security_monkey.git &>> $SCRIPT_LOG;

Does this get the branch you want me to use?
If so this is what I deployed with already.

Also, I run the monkey db upgrade whenever I redeploy the instance.

Thanks,
Fred

[2018-01-29 22:30] mikegrima commented on #916
The latest version is supposed to fix the orphaned items (the first 2 exceptions).

Not sure why you are still getting them. Do you only see this for IAM roles?

[2018-01-31 00:13] mikegrima commented on #906
Need to fix the vpn watcher -- it's currently broken.

[2018-01-31 18:17] fstuck37 commented on #916
@mikegrima
I'll try redeploying again so see if anything changes.
Here is the part of my script that deploys Security Monkey maybe I'm missing something with the changes to Celery.
Thanks,
-Fred

yum install -y awscli.noarch cloud-utils.x86_64 python-boto.noarch cloud-utils.x86_64 awscli.noarch python-pip python-dev libpqxx-devel.x86_64 postgresql postgresql-contrib libpq-dev nginx supervisor git

[2018-02-01 15:23] fstuck37 commented on #916
@mikegrima
Redeployed and tried running a "monkey audit_changes" for just VPC and receive the below output.

monkey audit_changes -a '<ACCT NAME' -m vpc

2018-02-01 15:19:29,091 ERROR: [X] Database error processing accounts dnb-management (341240357251), cleaning up session. [in /usr/local/src/security_monkey/security_monkey/task_scheduler/tasks.py:299]
Traceback (most recent call last):
  File "/

[2018-02-01 21:03] fstuck37 commented on #916
@mikegrima
I'm not a Python expert so this is sudo code but what I was wondering is there any way we could log the latest_revision_id where the error is occurring?
Thanks
Fred

File "/usr/local/src/security_monkey/security_monkey/datastore.py", line 317

    @hybrid_property
    def latest_config(self):
        """Returns the config from the latest item revision."""
        try:
        	return db

[2018-02-01 21:12] mikegrima commented on #916
Hello @fstuck37 - We need to understand why it cannot find the `latest_item_revision` as that could have other side effects in the code.

Can you please do me a favor and run the following SQL query:
[code]

The problem is that you still have some orphaned items in your DB.  The new watcher code _is supposed_ to find the orphaned items, and place a deletion record there. So, we need to get to the

[2018-02-02 02:01] fstuck37 commented on #916
@mikegrima
Well that found it.
Here is the info on what was found and what I did.

SELECT * FROM item WHERE latest_revision_id is NULL;
  id   |  region   |     name     | tech_id | account_id | latest_revision_id |                  arn                  |  latest_revision_complete_hash   |   latest_revision_durable_hash
-------+-----------+--------------+---------+------------+--------------------

[2018-02-02 02:14] mikegrima commented on #916
I'm very curious why the latest isn't automatically correcting that orphaned item, since it's the first thing it does when `find_changes` runs.

[2018-02-02 15:55] manasagovindu commented on #897
I have DNS name created serperately enabling route53 as false. and passing the dns name as an env variable do i need to configure anything in the config file with FQDN? where i can see the configuration as
FQDN = os.getenv('SECURITY_MONKEY_FQDN', 'ec2-XX-XXX-XXX-XXX.compute-1.amazonaws.com')

Thanks

[2018-02-05 13:40] fstuck37 commented on #916
@mikegrima
OK couldn't find how to put the find_changes into debug logging.
Can you provide some instruction or point me to them?

Also the system still doesn't pull new data even though we fixed the issue with the null record.
I'm wondering if redeploying the DB would help but that may wipe any info we have on the existing issue and I want to make sure you get what you need.

Thanks,
Fred

[2018-02-05 17:37] mikegrima commented on #916
To turn on debug logging (I really need to add a section to the quickstart for this), you will need to modify your `config.py` file such that you replace all `level` entries in `LOG_CFG` to `DEBUG`.

[2018-02-05 17:41] #923 closed

[2018-02-05 19:42] fstuck37 commented on #916
@mikegrima
I enabled debug but nothing jumped out at me.
Not sure what but something had me look at the Auditor Settings.
I could not find the accounts that weren't pulling data in there.

I checked the DB and found that all of them are missing.
I have 36 accounts but only 28 show up in the auditorsettings table:
aerdspgsp=>  select id from account where third_party=false;
 id
----
  5
  7
  8
  9

[2018-02-05 20:21] fstuck37 commented on #916
@mikegrima
OK I removed the accounts and tried adding them via command line with no luck.
It still doesn't add them to the auditorsettings table.
Thanks,
Fred

[2018-02-05 20:40] mikegrima commented on #916
I think your DB is messed up.  I hate to say this, but it might be worth re-creating.

[2018-02-05 21:03] mikegrima commented on #906
Celery beat issues appears to be fixed if specifying `timezone = "UTC"` in the `celeryconfig.py` file.  This was updated in #930 .  #930 also should fix the VPN watcher problems.

[2018-02-06 11:11] SyCode7 opened #933 "SecurityMonkey Docker Installation Errors"
I am installing a local security monkey setup using the docker compose in the repository.
After executing ` monkey add_account_aws --id $account --name $name -r SecurityMonkey` , the following error are encountered:

`No command 'monkey' found, did you mean:
 Command 'donkey' from package 'donkey' (universe)
monkey: command not found`

Have i missed out some steps or I need to do something else.
T

[2018-02-06 17:30] mikegrima commented on #933
You need to ensure that you are in the Python virtual environment.

[2018-02-06 18:24] SyCode7 commented on #933
Unfortunately, `cd /usr/local/src/security_monkey` does not  exist on my system.
I am using Ubuntu 14.04.

[2018-02-06 21:37] fstuck37 commented on #916
@mikegrima
OK I redeployed the entire thing (DB and all).
Added all 36 accounts via command line and the "Auditor Settings" tab is empty.
I think this is why no objects are populating in the system.
I was able to fetch the canonical names for all the accounts so there isn't a policy issue.

Do you think I'm missing something in the setup or is there an issue with the code?

Thanks,
Fred

[2018-02-06 22:01] mikegrima commented on #916
I have not been able to replicate your issue and few other users so far have reported this.

[2018-02-06 22:07] mstair commented on #916
@fstuck37 Did you try a manual `monkey find_changes`?

[2018-02-07 00:36] fstuck37 commented on #916
@mstair
Started it a little over an hour ago and its still running through the accounts.
As it's running it is adding items which also show up on the "Auditor Settings" tab.
Trying to figure out if I missed something in the supervisor files but nothing is jumping out at me.

I basically copy the original files to /etc/supervisord.d/

cp /usr/local/src/security_monkey/supervisor/security_monkey_ui.

[2018-02-07 00:55] mikegrima commented on #916
Could that be the issue? Worker concurrency should only be set in the `celeryconfig.py` file.

[2018-02-07 03:01] fstuck37 commented on #916
@mikegrima
OK that makes sense - was really hoping I wasn't making some stupid mistake.
I changed both to 1 as well as the celeryconfig to 20 form the default of 10.

The find_changes did fail with a error:
botocore.vendored.requests.exceptions.SSLError: [Errno 24] Too many open files

Going to see if the changes to the processes fixes both.
If not I'll post more info.

I waited a little while to

[2018-02-07 03:14] mstair commented on #916
Whoa, guess with that many accounts you may hit default file descriptor limits with the single manual find_changes. Accounts and associated roles/policies must be good, at least for some, if you are seeing some results from find_changes. Check /var/log/supervisor/* logs for permission errors (has gotten me more than once). Sorry if I missed above, is this all on a single instance?

[2018-02-07 03:40] fstuck37 commented on #916
@mstair
find_changes bombed again but this time with error:
botocore.exceptions.ClientError: An error occurred (Throttling) when calling the ListEntitiesForPolicy operation (reached max retries: 4): Rate exceeded

Below is what I found in /var/log/supervisor/* logs:

2018-02-06 18:04:44,216 CRIT Supervisor running as root (no user in config file)
2018-02-06 18:04:44,216 WARN Included extra file "/

[2018-02-07 04:08] mikegrima commented on #916
Your `find_changes` error is due to an AWS rate limit. CloudAux will attempt 4 times with exponential backoff: https://github.com/Netflix-Skunkworks/cloudaux/blob/master/cloudaux/aws/decorators.py#L10

I think it would be a good feature for CloudAux to have that set as an environment variable.

[2018-02-07 14:50] roeera opened #936 "wrong s3 region appearance"
New user of secmonkey, very nice job !
We found a problem when searching for s3, all Regions in results are shown as us-east-1.

[2018-02-07 17:04] fstuck37 commented on #916
Hi @mikegrima @mstair
OK, I redeployed the DB and instance again and added only two accounts.
I did the find_changes on only one of them and it pulls in all the items for the one account.
I let it sit for a while and the other never pulls in anything.
fetch_aws_canonical_ids works for both accounts.

Could I be missing something in the setup since the celery changes?

Thanks,
Fred

[2018-02-07 17:07] mstair commented on #916
What does a `sudo supervisorctl status` return?

[2018-02-07 17:24] fstuck37 commented on #916
@mstair @mikegrima
Everything looks like its running as it should.

sudo supervisorctl status
securitymonkeyscheduler          RUNNING   pid 27036, uptime 0:49:07
securitymonkeyui                 RUNNING   pid 26941, uptime 0:51:15
securitymonkeyworkers            RUNNING   pid 27045, uptime 0:49:06

Thanks,
Fred

[2018-02-07 17:30] mstair commented on #916
My celery tasking is being logged to /var/log/supervisor/securitymonkeyscheduler-stderr---supervisor-xxxxx.log. Looks like this:
`
[2018-02-07 16:32:07,602: DEBUG/MainProcess] beat: Waking up in 2.83 minutes.
[2018-02-07 16:34:57,778: DEBUG/MainProcess] beat: Synchronizing schedule...
[2018-02-07 16:34:57,789: INFO/MainProcess] Scheduler: Sending due task security_monkey.task_scheduler.tasks.task_

[2018-02-07 17:43] fstuck37 commented on #916
@mstair
Only log file I have is /var/log/supervisor/supervisord.log

Where is the config for the log file you've specified?

Thanks,
Fred

[2018-02-07 17:46] mstair commented on #916
Can you jump on gitter? Might be able to assist better real-time
https://gitter.im/Netflix/security_monkey

[2018-02-07 19:11] mikegrima commented on #936
Hello @roeera !

I have not yet encountered this one.  Not to be dense, but are all your buckets in us-east-1?

[2018-02-07 21:21] fstuck37 commented on #916
@mstair @mikegrima

Just to document what fixed this for me.
@mstair was able to help me find what I missed.
Namely I neglected to start redis.
systemctl enable redis
systemctl start redis

So the end of this looks like we had a null latest_revision_id in the item table.
Then with the conversion to Celery I missed the part about starting redis.

Thanks to both of you for all the help,
Fred

[2018-02-07 21:21] #916 closed

[2018-02-07 22:01] roeera commented on #936
Hi Mike !

Actually most of our buckets located in eu-west-1:) ... Sounds like a bug.

On Feb 7, 2018 21:11, "Mike Grima" <notifications@github.com> wrote:

[2018-02-07 22:03] mikegrima commented on #936
Which version of security monkey are you running?

[2018-02-07 22:19] roeera commented on #936
Installed current master

On Feb 8, 2018 00:03, "Mike Grima" <notifications@github.com> wrote:

[2018-02-07 22:43] mikegrima commented on #936
I suspect the current master is a bit out of date.  I am planning on creating a new release after getting some documentation updated.

Can you try switching over to the latest develop branch?  Just make sure that you follow the Quickstart guide as there are breaking changes from master to the current develop.

Thanks

[2018-02-07 23:01] roeera commented on #936
Sure, unfortunately there are some missing info in the current develop docs
(e.g. supervisord configuration steps that missing which changed from one
file into 3 etc...).

BTW I'm planning to install it over K8s, do you have some experience with
such case ?

On Feb 8, 2018 00:43, "Mike Grima" <notifications@github.com> wrote:

[2018-02-07 23:29] mikegrima commented on #936
Which info in the quickstart is missing?  The main changes are in the autostarting doc.

I don't have much experience with K8s, but I would imagine there shouldn't be too many issues.

[2018-02-07 23:32] roeera commented on #936
Supervisord configuration is missing...
I'll try the installation of develop tomorrow and if everything will work,
will try to implement over K8s and update accordingly.

On Feb 8, 2018 01:29, "Mike Grima" <notifications@github.com> wrote:

[2018-02-07 23:33] mikegrima commented on #936
The supervisord configuration is included and documented in the autostarting doc.

[2018-02-08 03:30] mark-ignacio opened #938 "Synchronizing a lot of network whitelists into Security Monkey"
We have a large volume of discrete CIDRs to whitelist. They change often enough that nobody will ever maintain this list manually, so it needs to be re-imported when it changes.

I'm hoping to upstream the commits that make this happen for us, so I'd like to know what you want this feature-add to look like.

[code]

And then networks.json is an export that looks like:

[code]

Good idea? Bad idea?

[2018-02-08 10:29] jpohjolainen opened #939 "Daily emails are sent every minute of the hour"
## Description of issue:

When having only Daily Email enabled and Change Emails set to None, the daily email are sent every minute of the hour.  So at 12 we start to get each of the 14 auditor report emails every minute.

In the logs I can find this: 2018-02-08 10:26:23,882 INFO: No Audit issues.  Not sending audit email. [in /usr/local/src/security_monkey/security_monkey/auditor.py:815]

We're u

[2018-02-08 17:28] mikegrima commented on #938
I think this is a good idea. Though would probably want to avoid the hard AWS S3 dependency (or make it optional).

I think just loading it from a file locally should be fine.

My only real request is that if you add this feature, you also add in the corresponding section to the userguide documenting how it works. :)

[2018-02-08 17:35] mikegrima commented on #939
Interesting...

Can you provide the following details:

1. Are the emails for the same exact account?  If so, are they exactly the same?
1. How many scheduler instances do you have running (and how many celery processes. There should only be exactly 1 scheduler running at any time)?
1. Which technologies are you noticing this for (specific, or all)?
1. Was this before or after I merged in this PR:

[2018-02-08 17:43] mark-ignacio commented on #938
Sounds good to me - I'll get this working for both. 👍

Does this project have a preferred pattern for optional boto3 deps? I know I can do it with this, but you might have a better way:

[code]

[2018-02-08 17:44] mikegrima commented on #938
Works for me.

[2018-02-08 18:29] mikegrima commented on #939
https://github.com/celery/celery/issues/4041 may be related.

[2018-02-08 18:34] mikegrima commented on #933
@SyCode7 : I just merged in #937 , which should hopefully address the Docker issues.

Can you download the latest develop branch and try again?

[2018-02-08 18:35] mikegrima commented on #918
The latest PR #933 may address some of this.

[2018-02-09 01:35] mikegrima commented on #906
Celery beat cron jobs for auditing is disabled in #942 , which should help with the duplication of tasks.

[2018-02-09 11:12] jpohjolainen commented on #939
1. we only have 1 account on SM, so yes, the same account.
2. 1 scheduler, 1 worker with default settings (worker_concurrency=10, worker_max_task_per_child=1)
3. All technologies
4. This is before.

I have now fetched the latest and will deploy new version. I will tell if it fixed this.

[2018-02-09 20:04] mikegrima commented on #939
Hello @jpohjolainen

I just pushed a change that may help address these issues.  The latest develop branch is now the main release candidate for our 1.0 release.  Please update to it and let me know if you are still seeing the behavior in question.

Also, one more question: is this for SES or for SMTP?

[2018-02-12 15:48] #938 closed

[2018-02-13 11:04] jpohjolainen commented on #939
Using SMTP. I fetched the changes, but now there hasn't been any daily emails sent. According to logs, there is no activity from 11-12 now.

[2018-02-13 20:07] mikegrima commented on #939
Have you confirmed if there were any changes that were made in the environment?

[2018-02-13 20:07] #936 closed

[2018-02-14 08:46] jpohjolainen commented on #939
I've pushed same config every time, only the source code has changed inside the image.

[2018-02-14 20:29] mikegrima commented on #939
When you say "pushed the same config"... What does this mean?

Is SM properly alerting you on changes made to your AWS environment?

[2018-02-15 09:03] cswilliams opened #945 "What does the Change Emails "With Issues" option mean under notification settings?"
Under notification settings, I set Change Emails to be "With Issues".  I assumed this meant it would only email me on changes with unjustified issues, however I still get emails for changes that have no issues at all (e.g. creating / deleting RDS snapshots, updating route 53 records, etc.).  Is this a bug or am I not understanding what "With issues" means?  Also, I am using the latest code in the

[2018-02-15 09:20] cswilliams opened #946 "Every hour previously justified issues become unjustified for two iam users"
I noticed that every hour, all of the issues for two iam users in my account show back up under the "Aging Issues" dashboard.  When I click in on the items, all of the past justifications that I had added for the issues are gone.  I am able to add justifications again and then the issues will disappear off the "Aging Issues" dashboard until the next hour whereby my justifications will again be cle

[2018-02-15 10:38] jpohjolainen commented on #939
I'm building docker containers and then deploy them to ECS with config in env vars.

Yes, change emails are sent normally.

[2018-02-16 20:26] johnclaus opened #949 "Ambiguous documentation"
The following section of this [documentation](https://github.com/Netflix/security_monkey/blob/develop/docs/postgres_aws.md) is unclear:

"Create a new security group named securitymonkey-rds, and add an ingress rule on TCP 5432 to permit the securitymonkey (or whatever you named the security group that Security Monkey is launched with) security group access."

Exactly which security group am I sup

[2018-02-16 20:29] mikegrima commented on #949
For RDS, you are going to create a security group named `securitymonkey-rds`, and ingress the `secuirtymonkey` group to it (assuming that Security Monkey is using a security group named `securitymonkey`).

[2018-02-16 20:33] mikegrima commented on #946
Other IAM users with similar circumstances don't have this problem -- only these two?

[2018-02-16 20:34] mikegrima commented on #945
Probably a bug

[2018-02-16 20:35] mikegrima commented on #939
I guess I'm confused... Is there actually a problem?

[2018-02-16 20:35] johnclaus commented on #949
@mikegrima Coming from the previous [IAM steps](https://github.com/Netflix/security_monkey/blob/develop/docs/iam_aws.md), there aren't any security groups created.  Where exactly is this `securitymonkey` security group being created in the Quickstart documentation?

[2018-02-16 20:36] mikegrima commented on #949
It's under https://github.com/Netflix/security_monkey/blob/develop/docs/instance_launch_aws.md.

[2018-02-16 20:37] mikegrima commented on #949
Oh I see... This is after the RDS instructions. I can see why that is ambiguous.

[2018-02-16 20:38] mikegrima commented on #949
I would love a PR to the docs to update this. I think this would be good to get in for our official 1.0 release (still an RC -- want to make sure that these things are clarified before merging to master).

[2018-02-16 20:41] johnclaus commented on #949
@mikegrima Understood and thank you very much for allaying my uncertainties.  I'd be happy to update the documentation and submit a PR to clear this up.

[2018-02-16 20:59] cswilliams commented on #946
Yeah, just these two users (other iam users are fine).  Both of these users only have two issues. One is "Found issue(s) in attached Managed Policy" and the other is "Informational: Active Key".  I justify each of these issues for both iam users and in the next hour when the scheduler runs, they lose these justifications.

I can't really tell what is special about these users.  They both use a man

[2018-02-16 21:10] cswilliams commented on #945
Yeah, I'm wondering if that whole notifications panel isn't working or something else is not working on my system.  I just set the change emails to "None" and restarted the supervisor (I also rebooted the system just to make sure there were no old processes still hanging around), however I still continue to get change emails.  Also, I have "Daily Email" checked and I receive no daily emails.  It's

[2018-02-16 23:21] johnclaus commented on #949
@mikegrima Per this thread, I created [PR-950](https://github.com/Netflix/security_monkey/pull/950).

[2018-02-18 04:30] jcmcken opened #951 "Feature Request: Header-based user authentication (e.g. REMOTE_USER)"
I'd like to front the ``security_monkey`` web app with an authenticating proxy. For the purposes of this feature, the exact details aren't important, but it could be something like SAML or OIDC auth. After authentication is successful, the frontend would submit the user's name via a header to ``security_monkey``, which it should consider a successful login for that user.

Ideally, the header could

[2018-02-18 04:43] mikegrima commented on #951
I think this would be an awesome feature, however, in order for us to really do this, we would need to remove `flask_security`. It's been a thorn in our side for a while now, and so I would LOVE a PR to remove it. and replace it with other things.

[2018-02-19 02:29] #949 closed

[2018-02-19 08:57] jpohjolainen commented on #939
Yes, the daily email dont work. Only change emails, which are sent after auditing works. But we'd like to have once a day reports working like it was earlier.

[2018-02-19 17:24] mikegrima opened #953 "Daily emails not sending out"
The daily change notification emails do not get sent out. This will either need to be fixed or removed.

[2018-02-21 02:08] EmptyLaughter commented on #779
@fstuck37 Can you elaborate on what changes you made to config.py and on the OneLogin side?
I've faced the previous issues that you've encountered, but now I'm getting authentication errors. I have a SAML Test Connector (IdP w/attr) set up, so I can access the app via the OneLogin portal, but the IdP isn't sending the correct response to the SP.

Error from log file:
`ERROR: Error processing inval

[2018-02-21 20:24] EmptyLaughter opened #956 "Trouble with SSO authentication: response from OneLogin isn't valid"
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](quickstart.md)
- [x] Search for both open and closed issues regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.

[2018-02-21 20:27] fstuck37 commented on #779
@EmptyLaughter Unfortunately I had it working in our development environment and got side tracked with the deployment. When I returned and tried to deploy to production it no longer worked.

I need to find time to get it working again but here is what I was doing:

ONELOGIN_APP_ID = OneLogin Application ID
ONELOGIN_X509CERT = OneLogin Certificate

sed -i "s/<APP_ID>/${ONELOGIN_APP_ID}/" /usr/local

[2018-02-22 15:33] coryplastek opened #957 "OpenID Connect SSO - user authentication fails because client_id is included in redirect_uri"
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](quickstart.md)
- [x] Search for both open and closed issues regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.

[2018-02-22 21:38] fstuck37 opened #958 "static.tar.gz not available?"
[X] Review the [Quickstart guide](quickstart.md)
[X] Search for both open and closed issues regarding the problem you are experiencing
[X] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.md), [GitHub](github_setup.md#access-keys-and-permissions)

[2018-02-22 21:40] mikegrima commented on #958
Oops

[2018-02-22 21:41] mikegrima commented on #957
More than happy to accept a PR. Not high-priority for us.

[2018-02-22 21:43] #933 closed

[2018-02-22 21:43] mikegrima commented on #906
This is done.

[2018-02-22 21:43] #906 closed

[2018-02-22 21:45] #805 closed

[2018-02-22 21:45] mikegrima commented on #759
@utsav2307 Do you experience this with the latest version?

[2018-02-22 21:47] mikegrima commented on #956
We don't have OneLogin, so hard for us to test this.

We would love a PR to fix if appropriate.

[2018-02-22 22:23] fstuck37 commented on #958
@mikegrima
Assuming from your response you'll put it back.
Any chance there can be a permanent link to the static.tar.gz file itself?
For example: https://github.com/Netflix/security_monkey/releases/latest/static.tar.gz
This would be helpful for scripting.
Thanks,
Fred

[2018-02-22 22:24] mikegrima commented on #958
I'll try to get this done later today.

[2018-02-22 22:25] fstuck37 commented on #958
Thanks for the quick response as always.
-Fred

[2018-02-23 14:38] jcmcken opened #959 "Docker build reliant on build host system umask"
My development system has a default umask of ``0007`` (a common security setting). When I ``git clone`` and build the Docker containers, the ``nginx`` service copies all of the files into the container with mode ``0440``, which causes various things to fail (e.g. ``nginx`` user inside container can't read any of the files because they're owned by ``root``).

Ideally, the Docker build should not re

[2018-02-23 15:14] jcmcken commented on #951
Is it too much to introduce a new release that just completely extricates it? If there's no easy way to shim ``flask_security`` off with a config value, maybe I can submit a feature request to ``flask_security`` directly and try to get a config flag implemented for that.

It [looks like](https://github.com/maxcountryman/flask-login/blob/d769a321fbf3476c0d32baa6beb1aedcdc6fbf50/flask_login/login_ma

[2018-02-23 16:47] MAPontes opened #960 "Error NoneType not iterable on EBS Snapshot attributes"
Hi all,

First of all, awesome tool :)

## Description of issue:

So I installed it in the new config (UI separated from Scheduler, separated from Workers all talking via Redis). After inserting the first account I noticed that after a while it stopped pulling new changes from the account, checking the logs I saw the below:
[code]
 Checking the code, I believe it tries to get the attributes of the

[2018-02-23 18:18] mikegrima commented on #959
Ah yes... the annoying umask "security" setting...

This is not a high priority for us to fix. Please submit a PR and I will merge it in.

[2018-02-23 18:23] mikegrima commented on #960
What happens if you replace:
[code]
with:
[code]

[2018-02-23 19:13] MAPontes commented on #960
@mikegrima

I did the change and change report is still running but it already scanned the problematic account and so far so good. That seems to have solved the issue.

Att.,
Marcelo Araújo Pontes

[2018-02-23 19:32] mikegrima commented on #958
Hello @fstuck37 . I just updated the release with the tarball. I'm not totally sure how @monkeysecurity generated this in the past as mine is 6x larger in size for some reason.

Please try it out and let me know if you experience any issues with it.

[2018-02-23 19:33] mikegrima commented on #960
Neat -- I will make the change now.

[2018-02-23 19:37] mikegrima commented on #960
Fix in #961

[2018-02-23 19:47] #960 closed

[2018-02-23 19:50] mikegrima commented on #951
We would prefer to get off of flask security entirely. Unfortunately, I don't have the cycles this quarter to work on this.

[2018-02-23 20:18] mikegrima commented on #958
@fstuck37 I figured it out.  To generate this, I run the `env_tests/test_dart.sh` script -- only I removed `--mode=debug` from the `pub build` step.

I just updated the `static.tar.gz` file and it is now consistent with the previous releases.

[2018-02-23 20:18] #958 closed

[2018-02-23 20:57] jcmcken commented on #951
Sorry, I worded that poorly. What I meant was if I submitted a PR to supply a config value to enable or disable header-based logins (without removing ``flask_security``) would you accept it? My worry was just maintaining backwards compatibility for existing users. I would prefer tackling ``flask_security``'s removal as a separate endeavor (with some discussion about what exactly should replace it)

[2018-02-23 21:01] mikegrima commented on #951
If it can be accomplished via a config variable, then that works and I'll
merge it. 👍

On Fri, Feb 23, 2018, 12:57 PM Jon McKenzie <notifications@github.com>
wrote:

--
Mike Grima
Security Operations @ Netflix

[2018-02-23 22:07] #959 closed

[2018-02-23 22:07] mikegrima commented on #959
Thanks for the PR! 👍

[2018-02-23 22:37] fstuck37 commented on #958
@mikegrima
Thanks for the help
Looks good.
-Fred

[2018-02-26 12:00] D4rk4 opened #963 "find_changes crash when cannot read info"
[code]

[2018-02-26 13:13] D4rk4 commented on #963
I use standard SecurityMonkey role form installation guide for enumerate, it's not included "ec2:DescribeImageAttribute" rights.

[2018-02-26 13:32] fstuck37 commented on #956
@mikegrima
I have OneLogin and have the same problem. I had this working last August in a dev environment and was delayed with deploying to production. Using the same config as then, I run into the same error as @EmptyLaughter. I'm happy to help debug but unfortunately don't know where to begin myself. If either of you can provide some direction I'll try to find some time to look into it.

@EmptyL

[2018-02-26 18:17] mikegrima commented on #963
`ec2:DescribeImageAttribute` is documented: https://github.com/Netflix/security_monkey/blob/develop/docs/iam_aws.md#creating-securitymonkey-role

I am going to submit a PR to add some proper `None` avoidance.

[2018-02-26 18:20] mikegrima commented on #963
PR #964 to prevent `NoneType`s.

[2018-02-26 18:21] mikegrima commented on #956
Labeling as a bug. I don't have any real effective way of testing. However, I'm more than happy to merge in PRs.

[2018-02-26 18:32] #963 closed

[2018-02-27 02:03] EmptyLaughter commented on #956
@fstuck37
I use the SAML Message Decoder plugin for Google Chrome. It also has the SAMLResponse field at the bottom that you can use with https://www.samltool.com/validate_response.php to validate the response. Every time you use OneLogin to access a service, there'll be SAML traffic, so it'll get picked up. You can use it to compare the response you get when you go to Security to responses you ge

[2018-02-28 08:23] naggappan opened #965 "Add missing steps in docker.md Read me file"
## Description of issue:

In docker.md file after running command for attaching `docker attach $(docker ps -aqf "name=secmonkey-data")` we need to source to venv as below to make sure 'monkey' commands works.

`source venv/bin/activate`

[2018-02-28 13:52] senorcinco opened #966 "create_user cannot update password for existing users"
## Please make sure that you have checked the boxes:

- [X] Review the [Quickstart guide](quickstart.md)
- [X] Search for both open and closed issues regarding the problem you are experiencing
- [X] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.

[2018-03-01 17:50] mikegrima commented on #918
Closing this out as a number of changes have been made in 1.0 that may address many of this. It will also help avoid confusion as many changes have been made

[2018-03-01 17:50] #918 closed

[2018-03-01 17:56] mikegrima commented on #965
Merged in #969

[2018-03-01 17:56] #965 closed

[2018-03-01 18:04] mikegrima commented on #956
Does `current_app.logger.error('Error processing %s' % (''.join(AuthResponse)))` output anything sensitive?

[2018-03-01 19:10] mikegrima commented on #966
Fixed in #967 and #970

[2018-03-01 19:10] #966 closed

[2018-03-01 20:43] EmptyLaughter commented on #956
I realized my certificate issue was because of user input error, as opposed to formatting on the python-saml side. I went back to inputting the certificate as single string to make maintaining the project feasible when the python-saml library gets patched.

@mikegrima & @fstuck37
`current_app.logger.error('Error processing %s' % (''.join(AuthResponse)))` outputs all the fields from  the [SAML resp

[2018-03-02 00:38] zpritcha opened #971 "Add support for tag checking that auto justifies "public access" issues"
## Please make sure that you have checked the boxes:

- [X Review the [Quickstart guide](quickstart.md)
- [X] Search for both open and closed issues regarding the problem you are experiencing
- [X] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.m

[2018-03-02 02:37] fstuck37 commented on #956
@mikegrima  ( & @EmptyLaughter)
Is it possible to only print out AuthResponse only if logging is set to debug?
The ErrorReason should be find to print whenever there is an error.

Thanks
Fred

[2018-03-02 05:34] mikegrima commented on #956
I think the best way to do this is to have a configuration variable that is `False` by default. If it's `True`, then it can output all the things for you.

[2018-03-02 11:47] fstuck37 commented on #956
@mikegrima
I think that's a great idea.
Maybe join errors and ErrorReason into one line.
Would something like this work?
            current_app.logger.error('Error processing %s %s' % (''.join(errors),''.join(ErrorReason)))
Then wrap the AuthResponse output with the conditional you specified.
Wish I knew more Python to help further with the code.
Hope what I've provided helps a little.

I have to

[2018-03-02 20:17] mikegrima opened #976 "Fix deprecation warnings"
There are a bunch of deprecation warnings in Security Monkey:
[code]

This should be very simple to fix, and good for first time contributors.

[2018-03-02 21:37] ArtemSokoliuk commented on #976
Mike, have you assigned it to yourself?

[2018-03-02 21:41] mikegrima commented on #976
Feel free to work on it @ArtemSokoliuk . I'll unassign it if you want to do it.

[2018-03-02 21:49] ArtemSokoliuk commented on #976
Rhmm, I can't assign it to myself. I'm new here, could you please help me with assigning it to me?

[2018-03-02 21:56] mikegrima commented on #976
Hmm I can't assign to you either for some reason.  Don't worry about the assignment.

[2018-03-03 01:39] cclauss commented on #976
https://requires.io/github/cclauss/security_monkey/requirements/?branch=develop

https://dependabot.com Auto generates pull requests to test possible package upgrades as new versions of dependencies hit PyPI.

[2018-03-05 03:36] mikegrima commented on #976
Merged in #980

[2018-03-05 03:36] #976 closed

[2018-03-05 17:56] mikegrima commented on #956
Would suggest a PR to check for a config variable.

[2018-03-05 18:10] senorcinco opened #982 "Lost database table after instance reboot"
## Please make sure that you have checked the boxes:

- [X] Review the [Quickstart guide](quickstart.md)
- [X] Search for both open and closed issues regarding the problem you are experiencing
- [X] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.

[2018-03-05 18:13] mikegrima commented on #982
That's... Bizarre.  Do you have a backup/snapshot of your DB?

[2018-03-05 18:13] senorcinco commented on #982
Not sure why, but the following commands seem to fix the problem:

[code]

[2018-03-05 18:28] mikegrima commented on #982
Stupid Question: were you running an older version of Security Monkey, upgraded and forgot to run the `monkey db upgrade` command?

[2018-03-05 19:22] senorcinco commented on #982
I don't believe so.  We installed it for the first time last week.  The shell history matches the installation documents:

[code]
We went through a whole series of tests last week and everything appeared to be working.

What impact would this have?  Our branch is 1369 commits behind.
[code]

[2018-03-05 19:25] mikegrima commented on #982
1369 commits behind seems like it's a very old build.

[2018-03-05 19:29] senorcinco commented on #982
The git log only contains 1 entry from the day before we installed:
[code]

[2018-03-05 19:32] mikegrima commented on #982
I'm going to chalk this up to weirdness with code you have locally deployed. I would recommend re-git cloning the upstream.

[2018-03-05 19:32] #982 closed

[2018-03-06 17:22] Leectan commented on #768
I have the same issue even issue "monkey db upgrade" in venv environment. any help is appreciated.

[2018-03-06 17:23] mikegrima commented on #768
@Leectan Did you perform your pip installs from within the venv?

[2018-03-06 17:36] Leectan commented on #768
mike, thanks for the unexpected quick response.
yes I did, I've tried to run ALL the pip install commands all over again and now I have this error message.
<img width="1256" alt="screen shot 2018-03-06 at 12 34 59 pm" src="https://user-images.githubusercontent.com/24819052/37048154-08a6b550-213b-11e8-9ac0-fe025db4650b.png">

[2018-03-06 17:43] mikegrima commented on #768
That says that it can't find the config file at `/usr/local/src/security_monkey/env-config/config-deploy.py`.

You need to have the `SECURITY_MONKEY_SETTINGS` environment variable point to the location that your configuration is.

[2018-03-06 19:21] Leectan commented on #768
Thanks, I went and config the setting in the config-deploy.py file to point to the AWS DNS name per Quickstart guide and I got this error?
<img width="1370" alt="1" src="https://user-images.githubusercontent.com/24819052/37053261-a259f15e-2149-11e8-9f63-a6f5cd25d43b.png">

[2018-03-06 19:33] mikegrima commented on #768
You're in the wrong directory.

I would suggest reviewing: https://github.com/Netflix/security_monkey/blob/develop/docs/installation/03-install-sm.md

[2018-03-08 04:10] mikegrima opened #984 "Remove deprecated fields from Config"
Need to remove deprecated fields in the `config.py`.

Some are: `MAX_THREADS` and `SQLALCHEMY_POOL_SIZE`.  These were fields that were important pre 1.0, but now with Celery, this is no longer needed and should be removed to reduce confusion.

[2018-03-08 04:15] mikegrima opened #985 "Fix the Quickstart to mention starting api server"
Need to make the instructions more clear on starting the API server before starting NGINX (or place the instructions on the same page).

[2018-03-08 04:16] Leectan commented on #768
Thanks mike, I re-configure the whole process and seems like everything is working well until this part. I've made sure along the way that nginx is working through https and port 443 is open for it in SG. This part seemed to be the part holding me up.
<img width="1327" alt="screen shot 2018-03-07 at 11 10 18 pm" src="https://user-images.githubusercontent.com/24819052/37132740-698667da-225d-11e8-8c

[2018-03-08 04:23] mikegrima commented on #768
Check that you can curl the localhost on 443 on the instance. If you can, then verify that the security group configuration is correct to ingress your source IP.

[2018-03-08 04:57] Leectan commented on #768
mike, thanks
<img width="933" alt="2" src="https://user-images.githubusercontent.com/24819052/37133729-10fee9d8-2263-11e8-9fac-93734e79f05b.png">
<img width="1107" alt="3" src="https://user-images.githubusercontent.com/24819052/37133735-172fc57a-2263-11e8-9007-d7cebe35c6ec.png">
failed to curl localhost and the dns for the SM instance, I also realized that as soon as I log in, it is under private

[2018-03-08 04:59] Leectan commented on #768
this is my /etc/hosts file
<img width="487" alt="4" src="https://user-images.githubusercontent.com/24819052/37133846-9d2f1b6c-2263-11e8-888b-df3136468c11.png">

[2018-03-08 11:26] fcano opened #986 "AttributeError exception during find_changes execution - str has no attribute code"
## Description of issue:

I execute monkey find_changes and after retrieving at least some information it throws this exception:

[code]

[2018-03-08 15:34] Leectan commented on #985
There's no API mentioned in the Quickstart at all. Is that what's causing the bug?

[2018-03-08 19:57] mikegrima commented on #986
I'm wondering if this is the issue: https://github.com/Netflix/security_monkey/blob/d1a13649f74c03f466a1097aa725ac5ac028a00e/security_monkey/auditors/gcp/gcs/bucket.py#L134

That returns a list with a string. So it's assuming the string is an object and failing.

[2018-03-08 19:59] mikegrima commented on #986
The solution is probably doing something like this:
https://github.com/Netflix/security_monkey/blob/d1a13649f74c03f466a1097aa725ac5ac028a00e/security_monkey/auditors/gcp/gcs/bucket.py#L91-L92

[2018-03-09 02:18] geminiyeak opened #987 "Worker is not running parallel"
## Please make sure that you have checked the boxes:

- [ ✓] Review the [Quickstart guide](quickstart.md)
- [✓ ] Search for both open and closed issues regarding the problem you are experiencing
- [✓ ] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_opensta

[2018-03-09 17:17] steve-heslouin opened #989 "Connection refused to upstream http://127.0.0.1:5000/...."
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](quickstart.md)
- [x] Search for both open and closed issues regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.

[2018-03-09 19:04] mikegrima commented on #956
Just merged in #990 . Does this help resolve your issue @EmptyLaughter ?

[2018-03-12 11:35] cclauss opened #996 "Flask-SQLAlchemy v1.0 is not Python 3 compatible"
## Please make sure that you have checked the boxes:

- [X] Review the [Quickstart guide](quickstart.md)
- [X] Search for both open and closed issues regarding the problem you are experiencing
- [X] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.

[2018-03-12 12:12] steve-heslouin commented on #989
Ok finally fixed it:

I had to copy every files from

to

Then restart the supervisor, and it works, no idea why its not in the tutorial though

[2018-03-12 12:12] #989 closed

[2018-03-12 15:04] steve-heslouin opened #997 "Consumption of localhost api"
I'm developing a micro service that would like to connect to for ex this api

Of course, i got 401 as i'm not authenticated

[code]
Should i request cookies directly from https://ec2-/login or there is a better way?

Thanks a lot

[2018-03-12 17:22] johnjeffers opened #998 "Notification Settings panel not working"
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](quickstart.md)
- [x] Search for both open and closed issues regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.

[2018-03-12 17:31] steve-heslouin commented on #997
Couldn't find any better than that, so well posting it in  case
import requests

[code]

[2018-03-12 17:31] #997 closed

[2018-03-12 17:46] mikegrima commented on #996
You should be able to upgrade moto to the latest version. We have a bunch of Python 3 projects that use it without issues.

[2018-03-12 20:31] mikegrima commented on #996
I'll work on the moto upgrade.

[2018-03-12 20:38] cclauss commented on #996
Actually upgrading __Flask-SQLAlchemy__ is most important because that version is not Python 3 compatible.  The other two are supposedly Python 3 compatible even in their current versions.

[2018-03-13 20:15] TanyaSavchuk opened #1001 "Unable to start securitymonkey services after following quickstart guide"
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](quickstart.md)
- [x] Search for both open and closed issues regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.

[2018-03-14 16:21] steve-heslouin opened #1002 "IDs in database are constantly changing"
Hi,

I'm using security monkey API such as /api/issues

I noticed that an issue, for example:

[code]
In this example, my.user issue got the ID 1142.

Turns out, for some reasons, after a while, for the same user, same aws key issue, the **id** will change :/ keeping impossible to follow for me what happened between now and 20 min ago, as i need to rely on the fact that **id** and unique and never

[2018-03-14 16:25] TanyaSavchuk commented on #1001
I was able to resolve the issue:
Copy conf files to supervisor conf.d directory:

cd /usr/local/src/security_monkey/supervisor
sudo cp security_monkey_scheduler.conf /etc/supervisor/conf.d/security_monkey_scheduler.conf
sudo cp security_monkey_ui.conf /etc/supervisor/conf.d/security_monkey_ui.conf
sudo cp security_monkey_workers.conf /etc/supervisor/conf.d/security_monkey_workers.conf

Restart sup

[2018-03-14 17:19] EmptyLaughter commented on #956
@mikegrima Yes

[2018-03-14 17:19] #956 closed

[2018-03-15 21:15] clickthisnick commented on #985
Ahhh this seems to be my problem too... Nothing is running on localhost:5000
How do I start the api service?

[2018-03-15 21:22] mikegrima commented on #985
@Leectan and @clickthisnick : `monkey run_api_server`

[2018-03-15 21:26] mikegrima commented on #1002
The `item_id` is supposed to refer to the specific item (AWS key in your case)

[2018-03-15 21:38] steve-heslouin commented on #1002
Hi @mikegrima , and thanks for answering my wonders ;)

I noticed that if a user, let's call it user1 has 2 keys older than 90 days, then the item_id will be the same. The thing is that i got a copy of those item in separate DB, so i can remind my users periodically about their key, before i expire them. So i need to regularly make a diff of your db vs mine in order to check if the issues has disa

[2018-03-15 23:28] #1001 closed

[2018-03-16 22:51] mikegrima opened #1003 "Database Errors: StaleDataError"
Getting a bunch of duplicate items in the `issue_item_association` table which is raising exceptions galore like: `StaleDataError` and many other side effects.

The cause is likely due to: https://github.com/Netflix/security_monkey/blob/develop/security_monkey/datastore.py#L171-L174

Need to ensure that:
1. Remove ALL duplicate entries
1. Set unique attributes on the table
1. Fix whatever is placi

[2018-03-19 20:28] mikegrima commented on #1003
This appears to now be fixed in #1004 .  Will close this out and re-open if it re-surfaces.

[2018-03-19 20:28] #1003 closed

[2018-03-19 20:33] mikegrima commented on #1002
@steve-heslouin In your case, the item ID will be the same because the item in question is the IAM user. A user can have multiple keys. If there are multiple keys, the item ID will be the same, since they are still grouped under that IAM user (in this case).

You can make your own customer auditors and alerters, should the built-in ones not meet your use case. We could make definitely make use of

[2018-03-19 20:38] mikegrima commented on #998
I was able to replicate.  Need to dig in more to see why.

[2018-03-19 22:17] mikegrima opened #1005 "Need to fix NoResultFound errors"
We need to fix the annoying `NoResultFound` errors.

These errors are raised when running `self.prep_for_audit()`.  Need to further investigate the circumstances that cause these exceptions to be raised. For some reason, a SQLAlchemy call expects there to be exactly one of a result, but in this case, none are found.

[2018-03-19 22:59] cplvic opened #1006 "Location of credentials file"
I moved to the new architecture. I have gce and github credentials I need to move over from the single instance setup. Can you clarify which component the credentials files (when used) need to be placed in the new architecture. Thanks!

[2018-03-19 23:00] mikegrima commented on #1006
It needs to be placed on the workers.

[2018-03-20 00:04] cplvic commented on #1006
thanks @mikegrima

[2018-03-20 00:04] #1006 closed

[2018-03-20 00:38] mikegrima commented on #998
The UI is not sending a `list` but rather a string of the first account ID in the list. The Security Monkey API is expecting a `list` of IDs.

[2018-03-20 02:11] mikegrima commented on #998
I was spending some time looking into this, and there is some oddities going on in Dart.

Since we are actively trying to get rid of Dart (it's awful), we're going to put this on the backburner or fix it via the replacement.

[2018-03-20 02:26] johnjeffers commented on #998
Is there a workaround in the meantime to enable notifications? Sorry if this is a dumb question. I'm new to Security Monkey.

[2018-03-20 09:33] #1002 closed

[2018-03-22 06:41] naggappan commented on #872
Let me give a try on this ticket. Can you guys assign it to me. Also

[2018-03-22 18:30] cplvic commented on #810
@mikegrima - the documentation still says that SecurityReviewer and Viewer is all that is needed. I am running on AWS instances. In practice, it's not working so I'll be more than glad to help troubleshoot or collect logs. I think owner privs for a viewer account is dangerous and overkill/
Thanks!

[2018-03-23 17:34] mikegrima commented on #1005
#1007 has addressed one class of the DB error, but more still remain.  Will keep this open and continue to investigate.

[2018-03-23 18:07] tyron opened #1010 "Setup broken due to python-dateutils 2.7.0 release"
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](quickstart.md)
- [X] Search for both open and closed issues regarding the problem you are experiencing
- [X] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an issue:
[AWS](iam_aws.md), [GCP](iam_gcp.md), [OpenStack](iam_openstack.

[2018-03-23 18:10] Leectan commented on #985
mike, if you could specify during which step of the quickstarts I should run "monkey run_api_server" would be great. Thank you.

[2018-03-23 18:34] mikegrima commented on #985
After step 6; before step 7.

[2018-03-23 18:36] nickthetait commented on #953
Is this still a problem? Seems to defeat the purpose of having a tool like security monkey in the first place. There hasn't been anyone else report the problem after a month either. :confused:

[2018-03-23 18:37] mikegrima commented on #1010
Need to find which library is causing the issues.

I actually encountered this recently with another project. I resolved it by directly removing the datetuil package -- but that's not directly imported in SM :/

[2018-03-23 18:42] mikegrima commented on #1010
I just cloned SM into a new directory, created a new virtualenv, and was able to install it without issues.

Are you currently seeing this on the latest develop?

[2018-03-23 18:50] tyron commented on #1010
Yes, I am seeing on the latest develop. I just created a new Ubuntu 16.04 on AWS and ran all from [3-install-sm.md](https://github.com/Netflix/security_monkey/blob/develop/docs/installation/03-install-sm.md).

Err, not sure what you meant by

I thought it was `botocore`..? I've seen other projects with issues related, and I found this issue on the `boto3` repo: [Install fails when up-to-date pytho

[2018-03-23 19:05] #985 closed

[2018-03-23 19:10] mikegrima commented on #1010
As in -- I just want to pull in whichever `dateutil` library that `botocore` uses since that is one of the most important libraries in Security Monkey.

This definitely feels like a `botocore` bug that we are downstream affected by.

I'm going to leave this issue open. Once `boto` has resolved this on their end, we'll make whatever updates are required to the `boto3` libraries to fix.

[2018-03-23 19:12] mikegrima commented on #953
This is still a problem.  Unfortunately, I lack the cycles to fix, so would love some help from the community.

[2018-03-26 14:15] Leectan commented on #985
<img width="698" alt="screen shot 2018-03-26 at 9 59 14 am" src="https://user-images.githubusercontent.com/24819052/37911229-7885ca9e-30dd-11e8-9860-989cf718124b.png">
monkey run_api_server command was never executed all the way but rather stuck in the command loop, any suggestion??

[2018-03-26 14:21] mikegrima commented on #985
Your screenshot looks correct.

On Mon, Mar 26, 2018, 7:15 AM Leectan <notifications@github.com> wrote:

--
Mike Grima
Security Operations @ Netflix

[2018-03-26 15:11] cloudtrace opened #1014 "No Matches Found / Loading"
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](quickstart.md)
- [x] [Search for both open and closed issues](https://github.com/Netflix/security_monkey/issues?&q=is%3Aissue+) regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an iss

[2018-03-26 15:18] Leectan commented on #1014
This is the same issue that I have encountered. Try monkey run_api_server.

[2018-03-26 15:19] Leectan commented on #1010
I believe botocore is working just fine, as long as the required packages are installed according to the debug info.

[2018-03-26 15:22] cloudtrace commented on #1014
@Leectan I've already tried it (attached PoC)
<img width="1663" alt="monkey run_api_server" src="https://user-images.githubusercontent.com/37807332/37915640-9da74e10-3137-11e8-8b6c-2775d33458bb.png">
monkey run_api_server

[2018-03-26 15:27] Leectan commented on #1014
I believe it has to do with the scheduler and supervisor not fetching any data, I'm figuring this out as well.

[2018-03-26 15:31] Leectan commented on #1014
<img width="1124" alt="screen shot 2018-03-26 at 11 30 13 am" src="https://user-images.githubusercontent.com/24819052/37916133-15b38b70-30e9-11e8-9c5f-ff70d49baf7b.png">
I would suggest the autostart guide, I was able to run the monkey run_api_server command after the guide.

[2018-03-26 16:01] Leectan commented on #1014
@cloudtrace the last step of quickstart guide pretty much sums up everything to automatically fetch the data (although I'm having an issue myself calling monkey run_api_sever), but after you run
<img width="889" alt="screen shot 2018-03-26 at 11 59 25 am" src="https://user-images.githubusercontent.com/24819052/37917717-26a03308-30ed-11e8-9f4d-990aaf620fe3.png"> you should be able to see the status

[2018-03-27 10:10] cloudtrace commented on #1014
I noticed that it takes time to fetch data in security monkey. After setup, make sure to wait for sometime and you will notice data (if all is setup). Closing issue. thanks @Leectan for quick help.

[2018-03-27 10:10] #1014 closed

[2018-03-27 19:06] Leectan opened #1016 "http and https failed to connect to SM instance spun up from AMI."
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](quickstart.md)
- [x] [Search for both open and closed issues](https://github.com/Netflix/security_monkey/issues?&q=is%3Aissue+) regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an iss

[2018-03-27 23:09] nickthetait commented on #953
Even if a external contributor setup a test instance of SecurityMonkey, I don't think they could reproduce this issue without being able to connect to a large collection of AWS/GCP accounts. This is a huge hurdle, so it seems highly unlikely that someone not already working at an org that uses SecurityMonkey could help.

A few suggestions that might improve the state of affairs:
* Write a detailed

[2018-03-28 00:03] mikegrima commented on #953
I don't agree with this feature requiring a very large AWS or GCP setup.

At the top of my head, I think the following would need to be done:

1. Set up a scheduled task that would, once a day, check for each account which users are subscribed to changes, and if there are any changes ...
1. For each technology, query the database and check for change items that are <24hrs old
1. Generate the email

[2018-03-28 00:41] mikegrima commented on #1016
`Verified both port 80 and 443 are opened` -- Both on the instance and security groups attached to the instance?

Do you have an ELB set up? What happens when you curl from the localhost on that instance? Do the Security Monkey logs reveal anything?

[2018-03-28 00:42] mikegrima commented on #1010
@tyron Are you still seeing issues? I was not able to replicate.

[2018-03-28 00:42] mikegrima commented on #1005
This has been running pretty well for a couple of days. Will reopen should more of these pop up.

[2018-03-28 00:46] mstair commented on #1016
@Leectan and I did some debug on Gitter. Curls on/to http://localhost returned with conn refused too. Verified no iptables or ufw. Also verified that nginx was listening on 443. We moved the nginx ssl port from 443 to 8443 and a localhost curl returned. Its weird...almost like some host firewall is blocking.

[2018-03-28 00:46] mikegrima commented on #987
Hello. Sorry for the late response.

At the surface, this sounds like the AMI that is in your ASG doesn't have the same exact configuration as the instance that is working. Did you make an AMI based off of the _current_ configuration of the working "worker" instance?

If you made changes to that instance to get things working but didn't generate an AMI off of it, then the AMI that the ASG launched

[2018-03-28 01:00] mikegrima opened #1017 "Investigate error: IAM Managed Policy defined but not found for ..."
Need to investigate and fix this error:
[code]

From what I can tell, it's mostly benign.

[2018-03-28 11:15] roeera opened #1018 "Security compliance"
Hey,

General question.
Does SM met with any security compliance (such ISO 27017 and GDPR) ?

[2018-03-28 16:38] mikegrima commented on #1018
Security Monkey has not undergone any certifications for compliance.

[2018-03-28 16:38] #1018 closed

[2018-03-29 01:27] Leectan commented on #1016
This issue is still being debugging, close for now. Will update once debug successful.

[2018-03-29 01:27] #1016 closed

[2018-03-29 01:27] Leectan commented on #1016
This issue is still being debugged, close for now. Will update once debug successful.

[2018-03-29 01:32] Leectan commented on #1010
@mikegrima I have the same issue, not on my docker(sucessful), but I'm testing my ec2 ubuntu server. Botocore require dateutil < 2.7.0.

[2018-03-29 02:31] geminiyeak commented on #987
Many thanks for the feedback.
Yes, found out that minor configuration is different and after make changes all running perfectly.

Appreciated your feedback.

[2018-03-29 02:31] #987 closed

[2018-03-29 14:38] Leectan commented on #1014
@cloudtrace np, glad you got that figure out. How long did it take to load your data? It's almost been 24 hours for me and I've not seen a single data coming yet.

[2018-03-29 16:43] mikegrima commented on #1014
@Leectan Did you run `monkey find_changes`? Does that fetch anything?

Also, enable debug logging (see the troubleshooting guide) and verify the configuration of your scheduler and workers.

[2018-03-29 20:57] 0xdabbad00 opened #1021 "Document redis installation"
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](quickstart.md)
- [x] [Search for both open and closed issues](https://github.com/Netflix/security_monkey/issues?&q=is%3Aissue+) regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an iss

[2018-03-29 21:00] mikegrima commented on #1021
Is the following documentation insufficient: https://github.com/Netflix/security_monkey/blob/develop/docs/autostarting.md#the-scheduler ?

[2018-03-29 21:06] 0xdabbad00 commented on #1021
That was how I identified that redis needed to be installed.  I think because the docs show how to setup the postgres server, they should also show setting up redis (https://github.com/Netflix/security_monkey/blob/develop/docs/installation/03-install-sm.md).  If the user wants to use an RDS instead of postgres, they can, and if they want to use ElastiCache instead of the local redis they can.

[2018-04-01 14:24] fahrishb opened #1023 "Documentation Suggestion on Ubuntu 16.04"
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](quickstart.md)
- [x] [Search for both open and closed issues](https://github.com/Netflix/security_monkey/issues?&q=is%3Aissue+) regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an iss

[2018-04-01 19:16] mikegrima commented on #1023
@fahrishb Can you submit a PR with your changes?

[2018-04-01 19:17] mikegrima commented on #1023
`systemctl` is related to systemd, which was introduced in 16.04.

[2018-04-01 19:22] mikegrima commented on #1023
For some suggestions:
1. `sudo git clone --depth 1 --branch develop https://github.com/Netflix/security_monkey.git`
^^ Would prefer `master` for typical installations, since the `develop` branch is technically unstable.

1. `systemctl reload supervisor`
^^ This should not be required, since you start the `supervisor` service right before. You also need to run this as `sudo`.

[2018-04-02 02:39] fahrishb commented on #1023
Hi @mikegrima , I've created the PR
[PR for Issue 1023](https://github.com/Netflix/security_monkey/pull/1024)

[2018-04-02 16:30] #1023 closed

[2018-04-04 17:09] #872 closed

[2018-04-04 17:10] mikegrima commented on #872
Fixed in #1025

[2018-04-06 10:02] fahrishb opened #1026 "[AWS] Roles may not be assumed by root accounts"
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](quickstart.md)
- [x] [Search for both open and closed issues](https://github.com/Netflix/security_monkey/issues?&q=is%3Aissue+) regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an iss

[2018-04-06 14:17] ldm810 opened #1027 "Github insufficient permissions"
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](quickstart.md)
- [x] [Search for both open and closed issues](https://github.com/Netflix/security_monkey/issues?&q=is%3Aissue+) regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an iss

[2018-04-06 16:57] mikegrima commented on #1027
Hello @ldm810 !

Can you provide additional details on the error message you are seeing?

1. Are you only seeing this on specific repositories or all repositories?
1. Is it only encountering errors on the deploy key APIs?

To verify that your token has the proper permissions, run the following cURL command:
[code]

[2018-04-06 17:01] mikegrima commented on #1026
You can't use `arn:aws:iam::ACCOUNTID:root`.  Please go through the IAM guide to ensure that your `SecurityMonkeyInstanceProfile` has `sts:AssumeRole` permissions on the destination account's `SecurityMonkey` IAM role, which will have an ARN like: `arn:aws:iam::ACCOUNTID:role/SecurityMonkey`.

[2018-04-06 17:01] #1026 closed

[2018-04-06 21:29] kpcyrd opened #1028 "Database: Missing unique index"
It seems we ran into an edgecase by not ensuring there's only one scheduler at any time which caused an inconsistent database that security monkey is not able to recover from by itself. The database allows to have duplicate keys in the custom_fields table which causes incorrect audit issues to be reported. It seems security monkey is not able to recover from this by itself.

This could be prevente

[2018-04-06 21:42] mikegrima commented on #1028
Ouch! Thank's for reporting this! We'll need to do something similar to: #1004

[2018-04-06 22:04] mikegrima commented on #1028
@kpcyrd This will be slightly more difficult than #1004 in that I will need to pick and choose the value to keep.

In your output, it shows duplicate `canonical_id`s. I think the best that I can do is to keep the duplicated field that is not `null` and delete the rest.

Does this sound reasonable?

[2018-04-06 23:45] mikegrima opened #1029 "Update VPC Watcher with CloudAux"
Now that https://github.com/Netflix-Skunkworks/cloudaux/pull/68 has been completed, we will need to update Security Monkey's VPC watcher to make use of it.

This has a number of nicer features in that it supports the modern `boto3` calls and grabs more useful information.

[2018-04-06 23:48] mikegrima opened #1030 "Release 1.1"
Soon ready for version 1.1 Santa Clarita Diet.

Need to complete:

- [x] #1028
- [x] #1029
- [x] #984
- [x] #1021

[2018-04-07 00:27] mikegrima commented on #1028
It looks like the model itself is correct, but not applied in the Alembic script: https://github.com/Netflix/security_monkey/blob/develop/migrations/versions/55725cc4bf25_.py#L35-L43

[2018-04-07 00:55] mikegrima commented on #1028
I'm really glad you found this @kpcyrd ! I found over 300K duplicates in my DB!

[2018-04-07 01:31] mikegrima commented on #1005
Found a few more -- need to investigate.

[2018-04-07 01:39] mikegrima commented on #1028
@kpcyrd Please pull in the latest develop and run `monkey db upgrade`. Let me know if you still see any more issues.

[2018-04-07 04:59] fahrishb commented on #1026
I did follow the exact instructions on the IAM guide.

<img width="1058" alt="screen shot 2018-04-07 at 11 12 09" src="https://user-images.githubusercontent.com/22738442/38451130-9619c24c-3a54-11e8-9ca7-c67ed2f1b336.png">

This is the trust relationship on `SecurityMonkey` IAM Role

This is the `Policy Document`
[code]
I feel like there is something important missing in the documentation.
I instal

[2018-04-07 05:44] fahrishb commented on #1026
Ok so I am able to get a non-root account to call the commands. I changed the credentials located in `~/.aws/credentials` to the accesskey and secretkey of the IAM user that is non-root.

But I am getting this error now

`
An error occurred (AccessDenied) when calling the AssumeRole operation: User: arn:aws:iam::118598550704:user/fahrishb is not authorized to perform: sts:AssumeRole on resource: a

[2018-04-09 03:36] mikegrima commented on #1026
Please ensure that you alter the Trust Relationships of the destination roles to permit your non-root user access. Please see this for additional details: https://github.com/Netflix/security_monkey/blob/develop/docs/iam_aws.md#allow-securitymonkeyinstanceprofile-to-assume-to-the-securitymonkey-role

[2018-04-09 10:17] sujoyroyskr opened #1032 "Registering New Email"
How to register new Email -- In Web UI ?

[2018-04-09 18:03] mikegrima commented on #1021
We added a blurb about this in the Quickstart guide.

Namely, the Redis part is more for production deployments vs. getting things initially up and running.

[2018-04-09 18:03] #1021 closed

[2018-04-09 18:06] mikegrima commented on #1032
Please review the end of this section: https://github.com/Netflix/security_monkey/blob/develop/docs/userguide.md#receiving-notification-mails

There are a bunch of changes that need to be made to streamline and improve the email feature.

[2018-04-09 18:06] #1032 closed

[2018-04-09 18:07] #1028 closed

[2018-04-09 20:02] mikegrima commented on #1030
Testing internally before full release.

[2018-04-10 18:47] devlin84 commented on #998
Hello, I there any update regarding this? Maybe a workaround?

[2018-04-10 18:54] mikegrima commented on #998
Unfortunately, the bug lies somewhere in an underlying Dart package that is extremely hard to debug.

The best work around is for there to be a `monkey` command that does this. It's not ideal, but it would unblock you. You would have to implement this, however.

[2018-04-10 19:01] devlin84 commented on #998
I don't mind implementing it if you could give me a little more direction. Not much of a developer.

[2018-04-10 23:47] mikegrima commented on #1030
The VPC auditor needs to be modified to support the new CloudAux fields -- such as Flow Logs.

[2018-04-12 07:33] naggappan commented on #595
@monkeysecurity  can you explain like what has to be done in the AuditorSettings ? you mean the Audior settings is totally not required ?

[2018-04-12 12:10] naggappan commented on #984
@mikegrima latest celery version is 4.1.0 so you mean like this version doesn't require the above mentioned configurations ?

[2018-04-13 06:36] sujoyroyskr opened #1036 "Error While Creating A New User"
Error loading resource from API. Error: <HTTP 500: <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> <html> <head> <title>TypeError: super() argument 1 must be type, not None // Werkzeug Debugger</title> <link rel="stylesheet" href="?__debugger__=yes&amp;cmd=resource&amp;f=style.css" type="text/css">  <link rel="shortcut icon" href="?__debugger_

[2018-04-13 09:20] naggappan opened #1037 "Support Delete of inactive items from the list"
* I added an openstack account and then restarted the service
* All open security issues has been identified
* EG: It shows me all my vm's as issue
* Added pattern in ignore list like "dev-, test-, db-" Now all discovered vm's has been changed to Non Active

Is there any way to delete the issues by selecting and clicking on delete? I see select option as below but there is no delete button. Is the

[2018-04-13 10:39] naggappan commented on #1036
@sujoyroyskr can you please give the following informations,

* First user you have to create using monkey add_account command not from UI
* Did you used monkey add_account ?
* How did you installed the SM, which document have you followed (docker or aws launch instance method or standard dev environment )
* check if following 3 service are running?
    * API (monkey runserver)
    * Scheduler  (p

[2018-04-13 16:23] #1037 closed, assigned to nobody

[2018-04-13 16:24] mikegrima commented on #1010
Closing until more information is provided.

[2018-04-13 16:24] #1010 closed

[2018-04-13 16:25] mikegrima commented on #946
Hello @cswilliams Are you still experiencing this issue?

[2018-04-13 16:26] #831 closed

[2018-04-13 16:27] mikegrima commented on #820
We should move this over to CloudAux.

[2018-04-13 16:31] mikegrima commented on #1036
@sujoyroyskr Can you please reformat your output? It's not readable.

Also, can you provide details on what actions you are performing to reproduce the error?

[2018-04-14 02:04] irivera007 opened #1038 "GCP firewall erros"
## Please make sure that you have checked the boxes:

- [ ] Review the [Quickstart guide](quickstart.md)
- [ ] [Search for both open and closed issues](https://github.com/Netflix/security_monkey/issues?&q=is%3Aissue+) regarding the problem you are experiencing
- [X ] **For permissions issues** (Access Denied and credential related errors), please refer to the requisite docs before submitting an is

[2018-04-16 13:56] naggappan opened #1039 "openstack_security group should not list Non-VPC RFC-1918 CIDR error"
Openstack environment do not have a VPC so while listing securit group issues it should not give the following error,

"Non-VPC Security Group contains Private RFC-11918 CIDR" issue as this issue is applicable only to AWS environment. Attached screen shot of error type.

![image](https://user-images.githubusercontent.com/6483592/38813183-eec9797e-41ab-11e8-9cca-c5a871744dbe.png)

[2018-04-16 17:34] mikegrima commented on #1039
This is because the OpenStack security group auditor is subclassing the AWS Security Group auditor.
https://github.com/Netflix/security_monkey/blob/develop/security_monkey/auditors/openstack/openstack_security_group.py#L26

You'll need to either re-implement or override the AWS specific methods.

I think it would be worthwhile to make a generic auditor for network and have subclass the AWS, GCP, a

[2018-04-17 11:52] naggappan commented on #1039
@mikegrima  I am able to override the AWS specific function just by adding the below in openstack/openstack_security_group.py

[code]

When I do this it is ignoring the RFC errors and fixies the issue.

Now thinking the 2nd way gneric auditor for network and subclass, I am not sure what exactly you are trying to say here. Can you please elobrate or specify a draft like how it can be implemented ?

[2018-04-18 20:27] ldm810 commented on #1027
@mikegrima  thanks for your response!

For background: the user I am using is on a team with read permissions on all repos in the organization.
I created  personal access token for another account that has more than read permissions on each repo and this api endpoint worked.

In response to your questions
1. Are you only seeing this on specific repositories or all repositories within the same orga

[2018-04-18 20:29] ldm810 commented on #1027
I get the following error when I try that endpoint:
[code]

[2018-04-18 20:50] mikegrima commented on #1027
Hello @ldm810 .

It looks like GitHub's documentation is not terribly clear here. https://help.github.com/articles/repository-permission-levels-for-an-organization/

You may need to have Admin permissions on the repo to perform the action. Once you have admin, then you can scope it down via the personal access token scopes.

Try to run that cURL command with an administrative user's token with the

[2018-04-18 22:09] ldm810 commented on #1027
Hi @mikegrima! I tried that with an administrative user's token and it works.
We would love to run this with just a read only account but it seems like this is a limitation on GitHub's end.

Seems like a more granular permission model is on the horizon: https://developer.github.com/early-access/platform-roadmap/

[2018-04-18 22:28] mikegrima commented on #1027
Docs updated.

[2018-04-18 22:28] #1027 closed

[2018-04-19 08:36] lxkaka commented on #1010
I still has the same problem

[2018-04-19 09:36] sujoyroyskr commented on #1036
Previous Error Resolved....... Thank You @naggappan @mikegrima  for the consideration

I created a new page for adding new email (created its dart file also)
But I am still not able to add New Email... Looking For Some Help

Here are the codes for both HTML and dart:-

HTML File

<div class="container-fluid">

  <div ng-if="isError">
    <div class="alert alert-danger">
       {{err_message}}

[2018-04-19 21:46] Leectan commented on #1010
@lxkaka Please provide some rejected info. If the rejected info said python-dateutil 2.1 is required but 2.7 is installed, then you could do pip install python-dateutil=2.1.

[2018-04-20 11:03] arnitolog commented on #998
I don't think that this is a UI bug. I tried to do the same with curl and POST and got the same result.
Here is my curl without cookies and tokens:
curl -X POST -d "{'accounts': [1,2,3], 'daily_audit_email': true, 'change_report_setting': 'ISSUES'}" -H "Accept: application/json" -H "cookie: session=.....; XSRF-COOKIE=....." -H "X-CSRFToken: ....." -k --insecure 'https://localhost/api/1/settings'

[2018-04-20 15:40] devlin84 commented on #998
@arnitolog

That's a great find but, sadly I have like 9 accounts I need notifications for and I am unable to make a  Monkey command to enable the  notifications.

[2018-04-20 18:07] mikegrima commented on #998
@arnitolog : I am going to take another look.

When I was debugging this the last time, what I saw was that Dart was sending over an incorrect JSON (as seen in the Chrome networking console).

I will double-check with the curl you posted above.

[2018-04-20 18:56] mikegrima commented on #998
It looks like there are some issues with flask_restful (among other things).

I'm going to replace it with Marshmallow.

[2018-04-20 19:53] arnitolog commented on #998
yeah, I'm also thoughts that it is something in the flask_restful. But didn't have enough evidence to mention that. Anyway, thanks Mike for your help.

[2018-04-20 19:57] mikegrima commented on #998
Just Submitted #1042 with a possible fix.

That should fix the API at the very least.

[2018-04-20 19:59] arnitolog commented on #998
thanks. I will test it a little bit later

[2018-04-20 22:01] mikegrima commented on #998
Good news: Code wise, it now appears to be working (I don't know what issues were with Dart before... but now it's working properly) .

Once I get TravisCI to cooperate, I will merge it in.

[2018-04-20 23:04] mikegrima commented on #1030
Just merged in #1042 . This introduces a breaking change where `celeryconfig.py` must be moved to `security_monkey/celeryconfig.py`.

[2018-04-20 23:06] mikegrima commented on #998
This should now be fixed in #1042 . Please make sure that you move `celeryconfig.py` to `security_monkey/celeryconfig.py`.

[2018-04-20 23:24] mikegrima commented on #998
Confirmed that it's now fixed.

[2018-04-20 23:24] #998 closed

[2018-04-20 23:46] mikegrima commented on #1030
Done.

[2018-04-20 23:46] #1030 closed

[2018-04-24 11:56] rnmulchandani opened #1046 "Not able to define custom rules"
I have configured Security Monkey for GCP. It is working properly. But I want to add custom rules like whenever an instance is assigned public IP, alerts will be sent.
I can not see any mechanism to do the same. If it is available then please share the doc with me.

[2018-05-15 12:21] adolia opened #1061 "Uncaught exception running rule Alert on App: Parser must be a string or character stream, not int"
Hi there!

I got an error while trying to run rule with buffer_time > 1 minute
"message": "Uncaught exception running rule Alert on App: Parser must be a string or character stream, not int",
  "traceback": [
    "Traceback (most recent call last):",
    "  File \"/usr/lib/python2.7/site-packages/elastalert/elastalert.py\", line 1115, in run_all_rules",
    "    num_matches = self.run_rule(rule, e

[2018-05-15 12:22] #1061 closed, assigned to nobody

[2018-05-16 20:57] zpritcha opened #1062 "EC2 Auditor Rate Limited"
## Please make sure that you have checked the boxes:

- [X] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [X] [Search for both open and closed issues](https://github.com/Netflix/security_monkey/issues?&q=is%3Aissue+) regarding the problem you are experiencing
- [X] **For permissions issues** (Access Denied and credential related errors)

[2018-05-16 23:09] mikegrima opened #1063 "Need to fix DB IntegrityErrors when saving issues"
There is a problem where duplicate issues are trying to be saved. This is raising `IntegrityErrors`.

We need to investigate why the duplicates are trying to be created.

The cause is likely in `auditor.py`, around these lines: https://github.com/Netflix/security_monkey/blob/develop/security_monkey/auditor.py#L740-L807

[2018-05-17 20:03] mstair commented on #1039
@naggappan I added the rfc1918 override to #1066.

[2018-05-18 17:11] #1063 closed

[2018-05-18 22:42] mikegrima commented on #1005
It looks like this happens when an item does not have a `latest_revision_id` attached.

The fix (#1067) is to find the latest revision in the DB and update it. If it's no revisions are found, then we make the assumption that the item is in a very odd state, and it should just be deleted outright.

[2018-05-20 16:03] tiwari85aman commented on #346
i have setup the security monkey succesfully, but still i am not able to launch the dashboard of it
by entering the DNS id of my aws instance, how to fix it?

[2018-05-20 16:04] tiwari85aman commented on #346
I have set up the security monkey succesfully, but still, i am not able to launch the dashboard of it
by entering the DNS id of my AWS instance, how to fix it?

[2018-05-21 16:13] TanyaSavchuk opened #1068 "Ignore changes based on membership in autoscaling groups"
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [x] [Search for both open and closed issues](https://github.com/Netflix/security_monkey/issues?&q=is%3Aissue+) regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors)

[2018-05-21 16:37] mikegrima commented on #1068
Hello!

The only way currently is to disable the EC2 watchers.

If you have an environment with ephemeral instances, then it's highly recommended to disable the EC2 watchers, as it will have a lot of churn.

[2018-05-21 17:36] #1005 closed

[2018-05-22 07:49] venki541 opened #1069 "Not able to see aws account details in security monkey dashboard"
## Please make sure that you have checked the boxes:

- [x] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [x] [Search for both open and closed issues](https://github.com/Netflix/security_monkey/issues?&q=is%3Aissue+) regarding the problem you are experiencing
- [x] **For permissions issues** (Access Denied and credential related errors)

[2018-05-22 16:41] mikegrima commented on #1069
Please review: https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md#common-issues

[2018-05-22 17:44] venki541 commented on #1069
Hi Mike,
I have loaded  the supervisor worker, scheduler and ui as documented, but i am not able to start these processes under scheduler. I am not able to find the log for this, can you help me out in fixing this.

![supervisor](https://user-images.githubusercontent.com/37206184/40380187-e9f9faa0-5e15-11e8-9465-fa93738d6d73.PNG)

[2018-05-23 04:33] Mortinke commented on #554
Hi @monkeysecurity,

any updates for this issue?

[2018-05-23 16:46] mikegrima commented on #1069
All instances must be launched with the `SecurityMonkeyInstanceProfile` IAM role as documented in the AWS IAM documentation.

[2018-05-23 16:46] #1069 closed

[2018-05-24 21:43] devlinrcg opened #1073 "Worker not working: AttributeError: async"
## Please make sure that you have checked the boxes:

- [X ] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [X ] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [X ] [Search for both open and closed issues](https://githu

[2018-05-24 21:52] mikegrima commented on #1073
Yes -- I have reproduced this.

We need to upgrade to the latest celery RC.  PR and release coming soon.

[2018-05-24 21:55] mikegrima commented on #1073
This PR should fix: https://github.com/Netflix/security_monkey/pull/1074

[2018-05-24 22:04] #1073 closed

[2018-05-24 22:27] mikegrima commented on #1073
@devlinrcg : can you try with the latest develop branch?

[2018-05-24 22:28] mikegrima commented on #1068
@TanyaSavchuk : Does this help resolve your issue?

[2018-05-24 22:53] eltair opened #1075 "Excessive itemrevision db queries in 1.1.2 resulting in poor auditor performance"
## Please make sure that you have checked the boxes:

- [X] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [X] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [X] [Search for both open and closed issues](https://github.c

[2018-05-24 23:11] devlinrcg commented on #1073
Thank you for your reply on this, @mikegrima !
I'll give it a try and let you guys know in a few.

[2018-05-24 23:48] mikegrima commented on #1075
I recently added more querying mostly to address some SQLAlchemy stability issues.

Would welcome some assistance to help streamline.

[2018-05-25 00:19] devlinrcg commented on #1073
Yep, worked with the latest develop branch.
Getting another error, related to https://github.com/Netflix/security_monkey/issues/1038. I'll follow-up there.

Thank you once again, @mikegrima

[2018-05-25 00:19] devlinrcg commented on #1038
Same here: latest develop branch, getting the same error.
Any updates on this?

[2018-05-25 00:22] mikegrima commented on #1038
I've had no cycles to work on this. Would welcome a PR.

[2018-05-25 15:04] rosehgal opened #1078 "Support for non relational splunk store"
For now, the data is stored in Postgres, what about adding Splunk as a data store.

[2018-05-25 16:14] mikegrima commented on #1078
Unfortunately, this would require a non-trivial refactoring of the code base.

[2018-05-25 16:14] #1078 closed, assigned to nobody

[2018-05-28 06:44] tiwari85aman commented on #54
will it be right if we write a script to automatically restart the supervisorctl whenever a new account is being added to the database or we encounter such thing in the logs?
a naive solution for this

[2018-05-28 07:17] rosehgal commented on #1078
Let me know if you are open to pull request.

[2018-05-29 21:46] devlin84 commented on #953
Is this still a bug or has an update fixed this?

[2018-05-29 21:56] mikegrima commented on #953
Someone will need to implement the logic I have outlined above.

[2018-05-29 21:56] devlin84 commented on #953
Ok, thank you.

[2018-05-30 15:37] artem-smotrakov commented on #946
Hello,

I see the same issue but with multiple IAM roles. I use 1.1.3

I don't have a scheduler, the justifications are gone after I run `monkey audit_changes `

[2018-05-31 10:06] artem-smotrakov commented on #946
In my case, I noticed that justified issues become unjustified only if an attached managed policy has an issues. I justified the issues in the attached managed policy but after running `monkey audit_changes` the issue in the role became unjustified again. I am wondering if the problem is in `library_check_attached_managed_policies` in `security_monkey/auditors/iam/iam_policy.py`:

https://github.c

[2018-05-31 11:41] artem-smotrakov commented on #946
The patch above seems to fix the problem I described although it generates many `IAM Managed Policy defined but not found ...` errors. I'll try to get rid of those errors and create a pull request.

[2018-05-31 18:47] ghost commented on #1068
@mikegrima: Yes, thank you.

[2018-06-01 05:24] ghost opened #1084 "security monkey if justify the issues, still score bored reflecting same score please help me fix this"
## Please make sure that you have checked the boxes:

- [x] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [x] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [ ] [Search for both open and closed issues](https://github.c

[2018-06-02 08:37] JordanMilne commented on #951
I don't know if this is helpful, but we handled this by setting up an `@app.before_request` to log you in.

[code]

When it tries to kick you over to `/login`, the auth logic initiates your session before the login view actually gets hit, the login view sees that you're already logged in and kicks you back to `/` with your new session. Not ideal since it runs for all routes, but I couldn't figure

[2018-06-03 16:13] #1068 closed

[2018-06-03 16:14] mikegrima commented on #1084
Hello!

Can you please clarify the issue you are experiencing?

[2018-06-04 13:31] drewgallis commented on #1084
_Justified Score Updating Problems:_
I am experiencing a similar issue! Overall, I think the error is either somewhat related with where the UI is fetching the updated items from the database since when you specifically search for the highscore item outside of the Dashboard, it's score seems to be updating fine.

_Below are two screenshots showing the area in which the problem is occurring:_
The d

[2018-06-04 18:24] drewgallis commented on #1084
Figured out issue is in relation to how the **highScoreItem** is being fetched. Right now it is finding it's score by running through a function called _totalScore()_, but this seems to be returning the wrong score. Another alternative option I think may work is using the _unjustifiedScore()_ in the same file since it includes the scores of all unjustified scores, leaving out ones you have justifi

[2018-06-11 12:22] ghost opened #1087 "New installation -securitymonkeyui not running and also data not populating on GUI"
Hello Team,
          Am setting up security monkey first time to integrate my production infra. I have followed all the instructions given at Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md.  UI is coming up and am able to login. However data is not populating though i have added the AWS accounts.
From supervisorctl command i can see it is trying to ma

[2018-06-11 16:27] #951 closed

[2018-06-12 22:31] frohoff commented on #596
If it's using Flask-WTF under the hood it seems like this could probably be done by exempting the auth token view from CSRF.

http://flask-wtf.readthedocs.io/en/stable/csrf.html#exclude-views-from-protection

[code]

[2018-06-13 17:52] drewgallis commented on #1084
#1088 - Pull Request should fix your issue I forked it myself!

[2018-06-13 18:05] mikegrima commented on #1084
@jaisonkjaws I just merged in #1088 which should address this.

Can you pull down the latest develop and re-build the Dart code?

[2018-06-14 07:39] ghost commented on #1084
sure i will do and thanks for your update

On Wed, Jun 13, 2018 at 11:36 PM, Mike Grima <notifications@github.com>
wrote:

[2018-06-18 16:48] phillycheeze opened #1092 "Adding a user via the web ui"
## Description of issue:

Not possible to add users via the web UI. I see referenced in other issues and in documentation that it is possible to create users via the web interface. When I go to Settings -> Users, there is no way to create or even edit a user. in the `user_role_component` file, I don't see any markup that this seems to be the case.

I'd like to edit a user, but there doesn't seem t

[2018-06-18 18:06] drewgallis commented on #1092
@phillycheeze
To edit/change an existing user's password you would call the creation of the user again by using the command line interface:
` monkey create_user "you@youremail.com" "Role"`
It should then re-prompt you to change the current password to a new!
**Note: make sure you use the same email and role**

[2018-06-18 18:11] drewgallis commented on #1087
@ashok1301
Seems like your api port 5000 is being _blocked/used by another service_ based on what you are receiving. I would recommend running your api on a different port or making sure your firewall settings allow for your API to run on port 5000. If that isn't the case and you aren't running locally you can check your AWS IAM roles/Security Group permissions to make sure you are allow TCP acces

[2018-06-18 18:18] phillycheeze commented on #1092
@drewgallis Awesome, that is indeed what I needed. Thanks!

[2018-06-18 18:18] #1092 closed, assigned to nobody

[2018-06-22 06:24] ghost commented on #1087
Hello drewgallis,
       Thanks for your reply.  I have cross verified above mentioned things, and looks fine.
1.  venv) sentinels@securitymonkey1:/var/log/supervisor$ netstat -anp|grep 5000
(Not all processes could be identified, non-owned process info
 will not be shown, you would have to be root to see it all.)
tcp        0      0 127.0.0.1:5000          0.0.0.0:*               LISTEN      3864

[2018-06-22 06:27] ghost commented on #1087
One more observations is
1. Am performing the supervise restart as root users
2.Rest all the things followed exactly mentioned as quickinstall guide.

[2018-06-22 13:23] drewgallis commented on #1087
Sounds like instance is performing fine, since it is a supervisor issue it is most likely a configuration error. Have you tried running the non automated configuration `monkey run_api_server` standalone and then running `monkey find_changes` to try to manually find an audit changes on your AWS Account you have added?

[2018-06-27 15:17] ghost opened #1093 "My securitymonkey server getting this on watcher menu, Due to an open issue. You must restart the scheduler on the scheduler instance after altering a watcher configuration"
![sm 2018-06-27 20-42-45](https://user-images.githubusercontent.com/39819589/41983379-8b8a03e6-7a4b-11e8-902d-fc4b7621d74f.png)

I want to avoid this on watcher menu and automate watcher time update process

[2018-07-03 16:17] rafaljanicki opened #1094 "SecurityMonkey doesn't provide detailed information"
## Please make sure that you have checked the boxes:

- [x] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [x] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [x] [Search for both open and closed issues](https://github.c

[2018-07-04 07:39] rafaljanicki commented on #1094
I've checked the changes in related code and I believe this might be the reason: https://github.com/Netflix/security_monkey/commit/573f8f19ff0f14f9d37e2349aa0299b7112026e3#diff-8169662c9a73fa6bbdd63664d294fd1cR200 . However, my knowledge on SM's code is too small to be sure of that

[2018-07-04 21:01] mikegrima commented on #1094
Unfortunately, the new issue system is half-baked at the moment.

I don't have any cycles this quarter to work on this. Please feel free to debug and submit PRs to help fix.

[2018-07-11 03:24] kur3us commented on #1094
I'm seeing this too. I have a Security Group with 12 issues, and SM says the same thing for each one, so I can't select which ones I want to justify and which ones I don't. The ports and CIDRs aren't shown. Egress/Ingress aren't shown.

[2018-07-11 03:45] kur3us opened #1095 "Getting an Nginx 404 error when following the Quick Start guide"
## Description of issue:

Looking in `/var/log/security_monkey/security_monkey.error.log`, I see this:
`2018/07/11 02:37:15 [error] 19645#19645: *3 "/usr/local/src/security_monkey/static/ui.html" is not found (2: No such file or directory)`

And that makes sense, because in the Quick Start guide, it says to do this:
[code]

Notice there are 2 security_monkey directories, but the web server is look

[2018-07-11 03:46] kur3us commented on #1095
If I move the static directory one level up, the UI works.

[2018-07-11 16:29] sankarsarath commented on #1095
thank you

On Wed, Jul 11, 2018 at 9:16 AM kur3us <notifications@github.com> wrote:

[2018-07-11 16:45] ghost opened #1096 "securitymonkey account type Iam getting http 500 error"
## Please make sure that you have checked the boxes:

- [ ] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [ ] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [ ] [Search for both open and closed issues](https://github.c

[2018-07-11 16:50] mikegrima commented on #1095
Can you submit a PR to reflect your changes?

[2018-07-11 16:50] mikegrima commented on #1039
This has been fixed in #1066.

[2018-07-11 16:50] #1039 closed

[2018-07-11 16:51] #1093 closed, assigned to nobody

[2018-07-11 16:53] ghost commented on #1093
why close the issue

On Wed, Jul 11, 2018 at 10:21 PM, Mike Grima <notifications@github.com>
wrote:

[2018-07-11 16:57] mikegrima commented on #1093
Because it's being tracked elsewhere, as per the documentation on the page describes.

[2018-07-11 18:49] #1096 closed, assigned to nobody

[2018-07-13 12:29] boodera commented on #1087
Same issue I'm facing. No data is shown in dashboard UI. I checked if any other service is running in the AWS instance. I rechecked the roles and policies applied to the instance.
I tried giving Admin access and then fetching data using `monkey find_changes -a- <ID>` but still no data.

[2018-07-13 17:22] mikegrima commented on #1087
@boodera Please follow the [troubleshooting guide](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md), configure proper logs, and provide details on the error messages that you are seeing.

[2018-07-19 01:15] kur3us commented on #1095
I'm not sure which way is correct. The Docker config file and most of the documentation has security_monkey/security_monkey. But someone made a change to the nginx config file in May that removed the second security_monkey. (commit 504b9c0). Maybe that change should be reverted instead of changing everything else.

[2018-07-24 19:56] #996 closed

[2018-07-25 10:05] rnmulchandani commented on #1046
How can I add it from GUI?

[2018-07-26 18:41] abacao commented on #1095
I have encountered this problem but I have used the following path in nginx + ubuntu:

[2018-07-26 20:46] mikegrima commented on #1046
@rnmulchandani This cannot happen inside of the GUI. This requires you to write Python code in the backend that will perform whichever logic you would like to perform.

[2018-07-30 19:37] dgreene-r7 opened #1100 "Add ExternalId as option for assuming role"
## Please make sure that you have checked the boxes:

- [X] [Please review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [X] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [X] [Search for both open and closed issues](https://github.

[2018-07-30 19:47] mikegrima commented on #1100
Do you envision this being similar to the account "Assume Role" settings in the database, or as a variable in the configuration?

I'm guessing it would be the former?

[2018-07-30 19:49] dgreene-r7 commented on #1100
Yeah, the former for sure.

[2018-07-31 20:45] dgreene-r7 commented on #1100
I'm working on a PR for this. Should have something shortly.

[2018-07-31 20:50] mikegrima commented on #1100
You'll also need to submit a PR to CloudAux (https://github.com/Netflix-Skunkworks/cloudaux).

[2018-08-01 04:11] mikegrima opened #1102 "Security Monkey 2.0 Tracker"
We are actively working on a 2.0 release that will have a number of awesome and very important features.

The most important of which is a brand new UI and Python 3 support!

The following list documents some of the most important changes that must be completed:

- [ ] New UI written in ReactJS (IN PROGRESS)
- [ ] Python 3 migration (IN PROGRESS)
- [ ] Strip out `flask_security`; replace with stan

[2018-08-01 21:03] #1100 closed, assigned to nobody

[2018-08-01 21:07] #1087 closed, assigned to nobody

[2018-08-06 15:25] thatguyfig commented on #752
Agreed, maybe even configuration of mail groups via the UI would be handy. Then you can add users to these groups and add the group as a notification target.

[2018-08-06 20:02] mikegrima opened #1103 "Dart 2.0 breaking installation"
We are working to update the installation instructions so that Dart is properly pinned to 1.x

[2018-08-06 20:10] mikegrima commented on #1103
We'll need to pin via: `apt-get install dart=1.24.*`

[2018-08-06 21:05] mikegrima commented on #1103
Testing the changes and will then merge.

[2018-08-06 21:15] #1103 closed, assigned to mikegrima

[2018-08-08 23:05] MKgridSec commented on #854
Hi @mstair
I'm seeing an issue similar to this both with scores still showing as though the issue was not fixed or justified on the search results section. Compiling dart and using the codebase as recent as https://github.com/Netflix/security_monkey/pull/1091

I think this may be related to inconsistencies in the API responses between `/api/1/items/itemNumberHERE` and `/api/1/items?searchparams`

[2018-08-10 19:31] mstair commented on #1095
Documentation updated with correct path, can close

[2018-08-10 19:43] mikegrima commented on #1095
Thanks @mstair !

[2018-08-10 19:43] #1095 closed, assigned to nobody

[2018-08-16 14:25] tyron commented on #1094
Yeah, I'm having the same issue. If I want to know that issues are on a particular item, the best way is to use the Search page. The Notes column still display the issues.
But justifying any is not possible as you don't know which is which.

[2018-08-16 20:04] exenin commented on #1038
I have the exact same error.
Upon debugging found that it was due to a a single firewall rule being added as Action Deny instead of Allow.
https://github.com/exenin/security_monkey/commit/d04c912f30408ee143dbf1d0b9f8a81e9de2f6f0

[2018-08-23 14:33] nasehim7 commented on #957
Hey! I am Animesh. A learner, Google Summer of Code 2018 student and an open source enthusiast. Would love to work on this issue. One Question - is there any channel which I can join where I can discuss more on this? :)

[2018-08-23 16:13] mikegrima commented on #957
Hello @nasehim7 !  We have a Gitter channel here: https://gitter.im/Netflix/security_monkey

[2018-08-28 20:36] jcmcken commented on #1094
Same issue here

[2018-08-29 13:51] jsharpe opened #1107 "Docker containers no longer build due to dart v2"
## Please make sure that you have checked the boxes:

- [x] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [x] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [x] [Search for both open and closed issues](https://github.c

[2018-08-29 16:43] mikegrima commented on #1107
We'll probably need to do what we did here: https://github.com/Netflix/security_monkey/blob/develop/docker/nginx/Dockerfile#L19-L25 and place it into the regular Dockerfile.

[2018-08-29 16:45] mikegrima commented on #1107
Or... Are you seeing this somewhere else?

[2018-08-30 08:44] jsharpe commented on #1107
No its in docker/nginx/Dockerfile that I had the problem, but specifically on the release tags.

[2018-08-30 18:05] cByst commented on #1094
Is this fixed? Or does anyone know a safe commit to build off that doesn't have this issue?

[2018-08-30 23:00] zpritcha commented on #1107
@jsharpe can you build off the `develop` branch? this was fixed in https://github.com/Netflix/security_monkey/pull/1104 but hasn't been released yet

[2018-08-31 01:54] ollytheninja commented on #1094
From my investigation today, it appears there are two issues:
1. Notes aren't shown because the API returns a sub-item for **every single** issue
  can be fixed by displaying any notes as well as a link to the sub-item
  line 89 and 123 of `dart/lib/component/itemdetails/intemdetails.html`
2. The API appears to always return the item itself as the sub-item instead of the sub item
  Haven't found t

[2018-09-05 09:43] davinerd commented on #581
Just to add my experience for future readers, since I've spent almost 2 days trying to figure out what was going on.

There are multiple reasons why the login page doesn't show up, here are what I found (also thanks to the people who wrote on this thread):

- Ownership on `/var/log/security_monkey/securitymonkey.log`. Ensure that the owner is `www-data` both user and group.
- API port change. If y

[2018-09-05 17:30] mikegrima commented on #581
@davinerd : Are there specific areas in the documentation that is lacking this information?

If so, can you please submit a pull request to address? I have not experienced the above errors when going through the quickstart guide the last few times I attempted to set up an environment.

[2018-09-19 07:32] GopiKannanJP opened #1110 "Not able to hit webpage with public dns of AWS EC2, nginx and security monkey started"
## Please make sure that you have checked the boxes:

- [~] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [~] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [~ ] [Search for both open and closed issues](https://github.

[2018-09-19 18:12] mikegrima commented on #1110
On first glance, this sounds like a security group issue.

How are you accessing AWS hosted resources? Are these publicly accessible instances (**NOT** recommended for Security Monkey), or do you have a Direct Connect or some VPN tunnel into the VPC?

[2018-09-20 10:06] GopiKannanJP commented on #1110
Instance is launched in private subnet of vpc

Connected to instance via Bastion and did the installation

security group config:
HTTP | TCP | 80 | 0.0.0.0/0 |  
All TCP | TCP | 0 - 65535 | 0.0.0.0/0 |  
PostgreSQL | TCP | 5432 | 0.0.0.0/0 |  
Custom TCP Rule | TCP | 8000 | 0.0.0.0/0 |  
SSH | TCP | 22 | 0.0.0.0/0 |  
HTTPS | TCP | 443 | 0.0.0.0/0

[2018-09-20 17:23] mikegrima commented on #1110
I think then you would want to access the instance via the private DNS name vs. the public one. A private VPC subnet can still give public IPs, but they won't be routable to your instance.

Can you access your instance via its private IP?

The public DNS part of the instructions is an artifact from back in the EC2 classic days and should be removed from the docs.

[2018-09-20 17:57] GopiKannanJP commented on #1110
Not able to hit the page even via private IP. But ngnix and security monkey starts without any failure.
i have an similar setup where i was able to setup security monkey via ec2 classic and hitting result page with public dns. But not sure what might be causing issue while setting up in private subnet.

[2018-09-20 17:59] GopiKannanJP commented on #1110
i have an similar setup where i was able to setup security monkey via ec2 classic and hitting result page with public dns. But not sure what might be causing issue while setting up in private subnet.

[2018-09-21 17:08] testernoobkali opened #1112 "dashboard not pulling data through"
Hey,

i have managed to install the Security monkey without any issues. The dashboard does not populated any sort of data from my account. I have for example created a s3 bucket that is public which it should pickup and alert but it doesn't.
// also have ran the find changes but nothing was detected in that
I have also ran the monkey run_api_server  :
[code]

// the result of the monkey find_chang

[2018-09-21 17:14] mikegrima commented on #1112
Is the account in question configured in Security Monkey? See: https://github.com/Netflix/security_monkey/blob/develop/docs/installation/04-accounts.md

[2018-09-21 17:14] mstair commented on #1112
Ensure the account is active (box is checked)
https://github.com/Netflix/security_monkey/blob/develop/docs/images/empty_create_account_page.png

[2018-09-24 09:35] testernoobkali commented on #1112
Hey sorry for the late reply guys i was out the country with no net :(

So the account does have security monkey in place lol but  i am going to double check it all :)

[2018-09-24 11:08] testernoobkali commented on #1112
so i have created a account and logged in of course, the user is a admin account with login count of 4..

login details
2018-09-21 11:18:05.922 | 4 | 2018-09-21 17:04:35.887 |   | 127.0.0.1 | 127.0.0.1
--

The active button is GREEN AND YES

Then i have created another account under the accounts with my Identifier which is my 12 digit aws account.

i didn't set the S3 id.

What else i need to do t

[2018-09-24 11:24] testernoobkali commented on #1112
When i use the find_changes i get the "access denied" even though i have set the IAM role : SecurityMonkeyInstanceProfile on the ec2 Ubuntu server

//errror

2018-09-24 11:17:02,662 DEBUG: Logging exception from redshift-watcher with location: ('redshift', u'Test_ppl', 'ap-northeast-2') to the database. [in /usr/local/src/security_monkey/security_monkey/datastore.py:749]
2018-09-24 11:17:02,670 DE

[2018-09-24 16:04] testernoobkali commented on #1112
so i fixed the issue, it was the relationship not being able to assume the role, also i would recommend you guys having a cloudfomation template it would be easier to deploy. :) Thank you again

[2018-09-24 17:02] mikegrima commented on #1112
The main issue with CloudFormation or Terraform is that you would need to still handle the multi-account orchestration yourself.

It is our hope that AWS Organizations can one day simplify that.