[2014-06-30 15:51] monkeysecurity opened #1 "SM Lacks Content Security Policy"
After setting the CSP headers and replacing main.dart.js with main.dart.precompiled.js, the application breaks:

"Deprecation: Automatic generation of output for Content Security Policy is deprecated and will be removed with the next development
release. Use the --csp option to generate CSP restricted output. "

and then failed with this:

    main.dart.precompiled.js::83551
    append$1: [functio

[2014-06-30 15:53] monkeysecurity opened #2 "SM Lacks CSRF Protection on Some Forms"
Security Monkey needs to have CSRF protection added to the following forms:

* justify
* itemcomment
* revisioncomment
* account add/delete
* user settings

[2014-06-30 15:56] scriptsrc opened #3 "Revision Component Tabs Are Broken"
In dart/lib/component/revision/revision_component.html, there are two tabs to switch between the Diff view and the Current view.

These tabs do not currently work.  This can probably be easily fixed using AngularDart-UI tabs.

[code]

[2014-06-30 20:23] justinfagnani opened #4 "Remove usage of package:js"
package:js will cause dart2js output to be bloated in the presence of other mirrors usage. dart:js doesn't have this problem, and should almost always be used instead of package:js.

[2014-06-30 20:40] justinfagnani opened #5 "Add upper bounds for dependencies, check in pubspec.lock"
Without upper bounds or a lock file, pub will just grab the latest versions of dependencies. Since a lot of packages, especially those < 1.0, have breaking changes, the app may not work for fresh checkouts.

[2014-06-30 20:42] justinfagnani opened #6 "Use the Angular transformer to reduce dart2js output size"
The Angular pub transformer removes mirrors usage with code generation. It can drastically reduce the size of the dart2js generated code.

[2014-06-30 21:19] justinfagnani opened #7 "Remove shadow_dom dependency"
The shadow_dom package is deprecated, in favor of the web_components package. It also doesn't appear that shadow_dom is directly used anywhere.

[2014-06-30 22:02] scriptsrc opened #8 "Better Handle AWS Throttling/Rate Limiting"
The watchers need a better way to handle AWS Rate Limiting:

[code]

[2014-06-30 22:08] scriptsrc opened #9 "Quickstart Guide should walk people through terminating SSL with Nginx"
Quickstart Guide should walk people through terminating SSL with Nginx.

There's plenty of documentation on the Internet, but users have requested that we build it into the quickstart guide so all the instructions are in one place.  I'll try to add this tonight.

[2014-07-01 01:54] #9 closed, assigned to nobody

[2014-07-01 15:27] jatsrt opened #10 "run_account commented out"
Should this line really be commented out in security_monkey/**init**.py
# scheduler.add_interval_job(run_account, minutes=interval, args=[account])

Seems as I traced the code without this running, it will never build the initial database and will not add new objects.

[2014-07-01 17:07] jatsrt opened #11 ""object has no attribute 'lower'""
in security_monkey/**init**.py

if send_report == 'true' or send_report == 'True':

Causes an error:
"object has no attribute 'lower'"

Changing to
if send_report == 'True':

solves the issue

Ubuntu 14.04, Python 2.7.6

[2014-07-01 20:11] scriptsrc opened #12 "Deleting Account May Result in Foreign Key Constraint Error"
Issue description pasted from email:

“I followed their install instructions for a single-node deployment.   When I associate an     account with Security Monkey everything works.  Deleting an account resulted in Foreign Key constraint errors in the Postgres database.  Here’s the error statement:

[code]

I was able to truncate the detail and audit tables with a cascade clause and clean up the obs

[2014-07-01 22:27] jlintz opened #13 "Account added, no items appearing, no errors"
I've added my account after setting up security_monkey but I'm not seeing any items populated in the search and no errors are being thrown in the logs.  I'm seeing 200 codes on calls to /api/1/items

What further actions can I take to try and debug this issue?

[2014-07-01 23:00] #13 closed, assigned to nobody

[2014-07-02 16:37] #11 closed, assigned to scriptsrc

[2014-07-02 17:47] #10 closed, assigned to nobody

[2014-07-03 06:50] #5 closed, assigned to scriptsrc

[2014-07-03 06:50] #7 closed, assigned to scriptsrc

[2014-07-03 18:14] monkeysecurity opened #14 "Security Monkey should monitor SSL Expiration Dates and Alert when appropriate"
The 'iamssl' technology type has a number of useful fields.

    {
        "upload_date": ...
        "server_certificate_id": ...
        "server_certificate_name": ...
        "expiration": ...
        "path": "/",
        "arn": "arn:aws:iam::xxx:server-certificate/xxx"
    }

Security Monkey should alert when the expiration date is almost here.

Security Monkey should compare the upload_date t

[2014-07-03 18:16] scriptsrc opened #15 "Security Monkey should inspect security groups for cross account access."
The Security Group Auditor should look at all cross account access in security groups and create issues as appropriate.  See SNS/SQS for examples of how to determine whether cross account access is friendly.

Unknown cross account access should be very visibly flagged.

[2014-07-04 20:22] #6 closed, assigned to scriptsrc

[2014-07-04 20:23] #4 closed, assigned to scriptsrc

[2014-07-05 00:03] byteplumber opened #16 "blank page after clicking + to add account (Web UI not compatible with Firefox/Safari/IE)"
Hi,
I click settings, then the + to add an account, and the page goes blank. The menu bar is still present, but no other content. The URI changes to #/createaccount

I've restarted the scheduler, and reinstalled the app. Nothing seems to be working. It shows that I am signed in and me (not anon).

Thanks,
eric

[2014-07-05 11:58] jasonshah opened #17 "What does "third party" do?"
Hi,
First, thanks for such an incredible tool! Looking forward to getting to know it and hopefully contributing back to it.

What does the "Third party" checkbox do? When and why should it be checked? Docs say "Third Party This is a way to tell security monkey that the account is friendly and not owned by you", but that isn't very clear to me whether I should check it.

Specifically, I am configur

[2014-07-06 12:38] #17 closed, assigned to nobody

[2014-07-08 11:21] skdubey opened #18 "Not able to create account"
Hello,

I have followed Quick Start Guide and facing below issues -
1. When i first time open the url/page, as per doc, i should  see the 'Login' page, instead i see all options available after login, and user is Anonymous.
2. When i tried to add account, it does nothing. Nginx log says " [error] 17478#0: *99 connect() failed (111: Connection refused) while connecting to upstream, client: x.x.x.x,

[2014-07-09 15:11] mklatsky opened #19 "forgot password and confirm account links do not work"
When clicking on either "forgot password" or "confirm account' links, a 404 Not Found error is thrown.

This is from the error log (IP and hostname obfuscated):
2014/07/09 15:10:19 [error] 1064#0: *76 open() "/home/ubuntu/security_monkey/security_monkey/static/reset" failed (2: No such file or directory), client: XX.XX.XX.XX, server: , request: "GET /reset HTTP/1.1", host: "myhostname", referrer:

[2014-07-09 23:31] #19 closed, assigned to nobody

[2014-07-10 04:45] awxgmd opened #20 "Register account redirects to http"
Upon registering the first useraccount, the browser is redirected to HTTP://FQDN instead of HTTPS://FQDN

[2014-07-11 11:09] sihil opened #21 "Security monkey should re-examine objects to see if they contain new issues"
If I create a security group with port 80 open to the world then it will raise an issue to tell me as much. I can then add a justification to explain that this was intentional and isn't a problem.

However, if the security group is later modified to open port 22 or 25 to the world then the prior justification will mask this as an issue.

I have yet to delve into the code, but I would like to see e

[2014-07-14 05:37] skdubey opened #22 "Help to customize Config & Reports"
I have installed Security Monkey last week and playing with it, where i noticed two things which seems to be configuration related part.
1. I am getting two emails for every report, alerts or notification. How can i change this behavior?
2. In reports, i noticed all the ACCESSKEY mentioned for all the users, which i don't want to, can it be edited to not send keys in reports, there could be way to

[2014-07-14 15:28] chadmay opened #23 "Supervisorctl fails immediately on start"
The supervisord process stays up with no issue, but when going to the next step in the quickstart "sudo -E supervisorctl -c security_monkey.ini", it fails every time. I am not an expert in Python, so getting a resolution here has been challenging. If you need further information, let me know.

2014-07-14 14:39:26,993 INFO exited: securitymonkey (exit status 1; not expected)
2014-07-14 14:39:26,993

[2014-07-14 15:32] chadmay opened #24 "WebUI defaulting to an Anonymous user"
After setting up Nginx, I can get to the SecurityMonkey UI, but it doesn't take me to the Login screen as displayed in the Quickstart. I am launched into the application as an anonymous user, but with no ability to create a user, or do any searching, or viewing of reports.

[2014-07-16 14:06] travissc opened #26 "Encrypted DB"
There is a ton of valuable data in the postgres db.  Any plans on adding encryption?

[2014-07-18 03:01] #21 closed, assigned to nobody

[2014-07-18 03:04] scriptsrc opened #27 "Developer Instructions are lacking"
The instructions at:

http://securitymonkey.readthedocs.org/en/latest/contributing.html#development-setup

Don't really work.  They need to be updated.    Here are the notes from sihil:

OK - I've had another go at this today. I've done just enough python to know the `pip install -r requirements.txt` command - although it did take me a while to remember it :smile:

I then installed virtualenv by:

[2014-07-18 03:10] #8 closed, assigned to nobody

[2014-07-21 11:30] nathanfriend opened #28 "python manage.py db upgrade AttributeError"
When running the manage.py script I get an error.

$ python manage.py db upgrade
Traceback (most recent call last):
  File "manage.py", line 17, in <module>
    from security_monkey import app, db
  File "/home/ubuntu/security_monkey/security_monkey/**init**.py", line 22, in <module>
    handler = RotatingFileHandler(app.config.get('LOG_FILE'), maxBytes=10000000, backupCount=100)
  File "/usr/lib/

[2014-07-22 08:06] #28 closed, assigned to nobody

[2014-07-23 17:29] JaguarSecurity opened #29 "n00b question. How do I restart the scheduler?"

[2014-07-23 17:43] #29 closed, assigned to nobody

[2014-07-24 14:07] #22 closed, assigned to nobody

[2014-07-25 19:48] airforceboricua opened #31 "Noob question - Configuring the Application"
Hello,
I have am installing this software in a development environment for testing.  I am to the part were I need to configure the application and I am stuck where I need to provide a 'secret_key' and a 'security_password_salt'.

Is the secret key referring to the AWS secret key for my aws iam? If not, how do I generate the secret key and the security password salt key the configuration is looking

[2014-07-25 20:18] #31 closed, assigned to nobody

[2014-07-26 03:42] skdubey opened #32 "Report customization"
Hi,

Is it possible to send Monthly report instead of Daily ?

[2014-07-28 11:09] lukaf opened #33 "Amazon Linux support"
Hi,

Are there any plans or general interest on supporting Amazon Linux?

I've started some work on it but besides adding some notes to docs, there's also a Python version compatibility issue. Amazon Linux ships with Python 2.6 which doesn't have dict comprehensions and needs positions when formatting strings `'{1}, {2}'.format(one, two)` instead of `'{}, {}'.format(one, two)`.
So far those are th

[2014-07-28 17:05] JaguarSecurity opened #34 "Automate role creation in multiple accounts"
Is there a way to automate the creation of the SecurityMonkey roles? We have multiple accounts and getting the account owners to follow the account creation directions will be difficult. Can this be done with the API, CLI or Puppet?

[2014-07-30 20:35] #27 closed, assigned to nobody

[2014-08-03 14:33] markofu opened #37 "Improvement to the NGINX error message presented when API is not running."
As previously chatted about ::

I believe it'd be nice to have an UI improvement for the API warning message within SecurityMonkey web application. I believe that this is unclear and typically happens when there is an issue with the SecurityMonkey scheduler due to the supervisorctl not staying up. Is it reasonable to configure the nginx 502 error message to point the admin to check the status of t

[2014-08-03 14:36] markofu opened #38 "Improvement to Documentation on Third Party Tickbox"
As we discussed, I think there should be better clarification on what enabling "third party" tick box means as it's unclear (from the docs - see [here](http://securitymonkey.readthedocs.org/en/latest/quickstart1.html#adding-an-account-in-the-web-ui)) that this feature should not be enabled when creating the account under "Settings".

This is the specific section in the documentation that I'm refer

[2014-08-03 14:38] markofu opened #39 "Problems with SecurityMonkey Scheduler in a Private VPC"
As we discussed recently, I experienced issues running SecurityMonkey in a Private VPC without a public ip address.

As you requested, this is just a tracking issue to see if you could reproduce.

Thanks again dude :)

[2014-08-04 16:22] JaguarSecurity opened #40 "Possible Issue with Security Groups with the same name"
We have security groups with the same Group Name but different Group ID. Only the first Security Group shows up in Security Monkey. The obvious answer is to make a unique Group Name but since we will be reviewing accounts that our organization owns but that the security folks do not have the ability to rename, we may be missing some of the Security Groups.

[2014-08-11 20:48] #40 closed, assigned to scriptsrc

[2014-08-12 07:46] oba11 opened #42 "exception after enabling elb watcher"
After pulling the latest mater to add elb watcher, I got below error

[code]

Thanks.

[2014-08-12 22:58] #42 closed, assigned to scriptsrc

[2014-08-20 06:36] #39 closed, assigned to nobody

[2014-08-21 16:36] #33 closed, assigned to nobody

[2014-08-22 16:38] lucab opened #43 "[wish] Support for non-AWS deployment"
According to doc and my understanding of `common/sts_connect.py`, security_monkey needs to be deployed on an AWS machine. From a quick glance at boto, it should support several remote auth methods to access the AWS API and gather the information needed by auditors classes.

Do you have any plans to support this kind of detached deployment with remote API access, or are there any technical issues i

[2014-08-22 19:45] kevgliss opened #44 "Make s3 permissions more restrictive"
Edit documentation to remove s3:get\* and replace it with s3:getbucket as security monkey doesn't need to be able to fetch objects.

[2014-08-25 10:16] #43 closed, assigned to nobody

[2014-08-26 23:39] #44 closed, assigned to scriptsrc

[2014-08-28 19:41] #34 closed, assigned to nobody

[2014-09-08 19:50] gbarton opened #48 "Blank page when trying to create account"
Just installed SM and got it up and running.  Registered a user (had to make db changes to skip the checking) and went to the settings page.  When I click the plus to add an account I'm greeted with a nice blank page. (I get no errors anywhere in nginx or /tmp/sm.log)

 I've only just started picking up angular and know nothing of dart, so I recognize that there's a custom component that should be

[2014-09-10 07:46] #18 closed, assigned to nobody

[2014-09-15 21:55] JaguarSecurity opened #50 "Productionalizing Security Monkey - SES Documentation"
Every one has been very helpful so far but I would use a little help in the documentation for setting up SES and more information under the Productionalizing Security Monkey section. Thanks!

[2014-09-22 12:35] skdubey opened #51 "Some changes are not emailed"
Hi,

We have noticed that, some of the changes in various AWS resources are not getting emailed to secuirty team, However i am able to see the changes in Security Monkey console. I also confirmed the changes in /tmp/securitymonkey.log file.

For example - i made the changes in security group (removed some ip and added new one)

Is this a bug or am i missing something ?

[2014-10-08 18:52] mmahler opened #52 "SecurityMonkey can only find first 100 IAM Users"
In security_monkey/watchers/iam_user.py line 57 call to iam.get_all_users will only return the first 100 IAM Users by default.

Not sure if this is a boto issue or something that should be addressed here.

[2014-10-08 20:56] #52 closed, assigned to scriptsrc

[2014-10-15 00:25] scriptsrc opened #54 "Remove the requirement to restart the sceduler after adding a new account."
After adding a new AWS account in the web UI, users must restart the scheduler with supervisorctl.

It would be better if this was not required.

[2014-10-15 00:33] #38 closed, assigned to nobody

[2014-10-15 00:35] #3 closed, assigned to nobody

[2014-10-27 20:16] #48 closed, assigned to nobody

[2014-10-27 20:43] #24 closed, assigned to nobody

[2014-10-29 22:48] markofu opened #56 "HTML files missing correct link to securitymonkeyHead.png"
On the following pages -
- _security_monkey/security_monkey/templates/security/register_user.html_

there appears to be an incorrect image source

-- src="static/images/securitymonkeyHead.png" height="30" width="30" />
-- src="static/images/securitymonkeyHead.png" height="30" width="30" />

respectively.

I removed {{static/}} and it was subsequently fine.

If you'd prefer, I can submit a pull req

[2014-10-30 22:22] JaguarSecurity opened #58 "python setup.py install"
I am getting a "importError: No moduel named setuptools" ?

[2014-11-01 18:04] #58 closed, assigned to nobody

[2014-11-01 18:04] #56 closed, assigned to nobody

[2014-11-02 01:32] ivanlei opened #59 "Alembic/FlaskMigrate does not create ignorelist"
Trying to run the latest code on my macbook. There is no ignorelist table when I try to run

[code]

I get an error like:

[code]

I'm not real certain how to use the alembic/flashmigrate stuff so I kinda faked it by populating a file in migrations/versions that creates the table when I run `python manage.py db upgrade`. My file looks like:

[code]

This seems to work but I had to write the python

[2014-11-02 02:15] #59 closed, assigned to scriptsrc

[2014-11-04 12:53] JaguarSecurity opened #60 "Dart problem"
This is the error I am getting.

/usr/lib/dart$ Could not find a file named "pubspec.yaml" in "/usr/lib/dart".

[2014-11-06 07:12] #60 closed, assigned to scriptsrc

[2014-11-06 15:07] Skavenger0 opened #61 "Install Issues"
Hi,
Hopefully someone can help me with this as I have tried everything and cannot get Security Monkey to work properly. I originally followed the guide a few weeks ago and it was all working but then it stopped on its own. Since then I have tried to re-install and I keep hitting the same issue.

Security_monkey-deploy.log is empty.

Supervisor will not start the program.

root@ip-172-30-0-254:/hom

[2014-11-06 18:18] ivanlei opened #62 "CORS header missing localhost"
Sometimes when working on OS X, I will land up having a CORS request made to `localhost` as opposed to `127.0.0.1`

`localhost` should be added to `security_monkey/views/__init__.ORIGINS`

[2014-11-06 18:44] ivanlei opened #63 "Login page fails to load CSS and images"
Working on OS X, doing initial setup.

The page loads from ```http://127.0.0.1:5000/login``` but CSS and images don't load.
The dart console shows:
[code]

[2014-11-06 18:46] ivanlei opened #64 "After registering the first user, redirected to http://127.0.0.1:5000/None"
After registering the first user, I'm redirected to http://127.0.0.1:5000/None after submitting the registration form. This goes nowhere.

[2014-11-06 23:52] ivanlei opened #69 "security_monkey should easily allow selecting which auditor checks to run"
Here at Yelp, we secure our AWS deployments differently than Netflix does. Makes sense that we'll want different auditor checks. There's no easy way to do that today.

Maybe the solution is some UI that lets us enable/disable auditor checks.

[2014-11-10 04:54] skdubey opened #71 "Justification through email"
Does SecurityMonkey supports justification through email ?

[2014-11-10 18:18] #62 closed, assigned to nobody

[2014-11-13 18:23] monkeysecurity opened #74 "Investigate AWS Config async notification of changes to replace scheduled watchers."
AWS Lambda was just announced today.

https://aws.amazon.com/blogs/aws/run-code-cloud/

"With Lambda, you simply create a Lambda function, give it permission to access specific AWS resources, and then connect the function to your AWS resources. Lambda will automatically run code in response to modifications to objects uploaded to Amazon Simple Storage Service (S3) buckets, messages arriving in Ama

[2014-11-14 05:46] JaguarSecurity opened #75 "entering S3 name in create account that is 33 characters long cuts off last character"

[2014-11-14 21:05] JaguarSecurity opened #76 "2014/11/14 21:00:56 [error] 14273#0: *363 open() "/usr/local/src/security_monkey/security_monkey/static/main.dart" failed (2: No such file or directory),"
I don't see that main.dart was ever created?????

[2014-11-14 21:11] JaguarSecurity opened #77 "403 forbidden"
BotoServerError: BotoServerError: 403 Forbidden
<ErrorResponse xmlns="https://sts.amazonaws.com/doc/2011-06-15/">
  <Error>
    <Type>Sender</Type>
    <Code>AccessDenied</Code>
    <Message>User: arn:aws:sts::"my account number":assumed-role/SecurityMonkeyInstanceProfile/i-e68888 is not authorized to perform: sts:AssumeRole on resource: arn:aws:iam::"another account number":role/SecurityMonkey</M

[2014-11-14 21:16] scriptsrc opened #78 "Security Monkey should monitor (redis) cluster security groups"
Redis Clusters are protected by cluster security groups.

Security Monkey should monitor these for changes and alert on cross account access or large CIDRs.

[2014-11-14 21:20] #76 closed, assigned to nobody

[2014-11-15 05:40] #77 closed, assigned to nobody

[2014-11-15 05:42] #61 closed, assigned to nobody

[2014-11-15 05:43] #51 closed, assigned to nobody

[2014-11-19 20:39] JaguarSecurity opened #81 "Flag for Security Group usage"
Could I request an enhancement to indicate if a Security Group is being utilized and to show what instance (by Instance ID) the security group is protecting.

[2014-11-24 21:46] JaguarSecurity opened #82 "ACL - Unknown Cross Account Access"
ACL - Unknown Cross Account Access.
Current Understanding:
This means that the account that has been given access via ACL to the bucket or object is unknown to Security Monkey.
Questions:
We are not going to use the 3rd party identification within Security Monkey (because 3rd party accounts in SM will not be interrogated) therefore is it correct that all accounts will initially be identified as Un

[2014-11-26 00:38] JaguarSecurity opened #83 "ACL - AuthenticatedUsers USED"
Why is this potentially bad? How can it be exploited?

[2014-12-01 18:14] #83 closed, assigned to nobody

[2014-12-01 18:14] #82 closed, assigned to nobody

[2014-12-10 22:32] kevgliss opened #87 "Token based authentication"
Security monkey should have some way to access it's API programatically. The simplest way to do this would allow a user to create an an API token. That could be passed on each request.

Optional extras:
-Allow that token to be revoked
-Link API token to a user such that disabling a user would disable their associated tokens

[2014-12-13 00:38] #12 closed, assigned to nobody

[2015-01-12 21:52] nest-mahler opened #98 "SecurityMonkey only tracks first 100 members of an IAMGroup"
For each IAMGroup object only the first 100 users returned from AWS are stored and compared on the diff.

Once an IAMGroup has more than 100 members random group members appear being added and removed in the diff.

Fix will most likely be similar to: https://github.com/Netflix/security_monkey/issues/52

[2015-01-20 17:52] monkeysecurity commented on #98
Just got back from vacation.  Will look into this today.

[2015-01-20 22:04] monkeysecurity commented on #98
The call to get_group is not passing a marker for pagination:

    http://boto.readthedocs.org/en/latest/ref/iam.html#boto.iam.connection.IAMConnection.get_group
    get_group(group_name, marker=None, max_items=None)

    https://github.com/Netflix/security_monkey/blob/master/security_monkey/watchers/iam_group.py#L96

Looks like the same issue exists for iam.get_all_groups() and iam.get_all_group_

[2015-01-20 23:38] monkeysecurity commented on #98
@nest-mahler Could you take a look at the iamgroup.py watcher I uploaded to this hotfix branch and let me know if it corrects the issue for you?  If so, I'll merge it into the master and develop branches:

11392536
https://github.com/Netflix/security_monkey/blob/hotfix/issue_98_iamgroup_watcher_missing_boto_markers/security_monkey/watchers/iam_group.py

You can run just the iamgroup watcher with t

[2015-01-21 00:26] #98 closed

[2015-01-21 01:12] monkeysecurity opened #100 "pub build fails in security_monkey v0.3.2"
As in https://github.com/akserg/angular.dart.ui/issues/142 , ```pub build``` fails on v0.3.2.

Seems to even fail with ```code_transformers: '0.2.3+2'```

Fails on the .deb and homebrew version: https://github.com/dart-lang/homebrew-dart/issues/18

Some discussion: http://stackoverflow.com/questions/27308501/since-when-has-the-angular-transformer-required-the-dartsdk-path-be-specified-in

This is

[2015-01-22 11:20] lucab commented on #81
@monkeysecurity do you really go down the paginating route? I was having a look at the [describe-instances comand](http://docs.aws.amazon.com/AWSEC2/latest/CommandLineReference/ApiReference-cmd-DescribeInstances.html), and it seems you can filter by:
 * group-id/group-name (EC2 classic)
 * instance.group-id/instance.group-name

That will surely means that soon every watcher will end up querying on

[2015-01-22 12:01] lucab opened #101 "secmonkey is incompatible with cloudformation setup"
I recently had to monitor several accounts, not managed by me, and provisioned by cloudformation. The owner just took the IAM "SecurityMonkey" role details and translated them into a cloudformation template which sets up all the IAM bits.

Unfortunately, it looks like in its current incarnation secmonkey doesn't work in such scenario, because the AssumeRole fails. This is due to two facts:
 * clou

[2015-01-22 18:54] monkeysecurity commented on #101
Checkout #30.  I have not been able to get this pull request ready to merge, but it looks like they are specifying the name of the IAM Roles:

https://github.com/Netflix/security_monkey/pull/30/files#diff-1b2884798108f7179292b45ea1e5db47R149

Does that help?

[2015-01-22 20:41] lucab commented on #101
I think that pull request mostly covers setting up SecurityMonkey machine, not the target account. The usual Get*/List*/Describe policy is missing there, as well as the role named "SecurityMonkey" (that's ok, as you'll normally add that to *another account* to monitor).

What I've experienced today is that, even if at L135 you label your role as "SecurityMonkeyInstanceRole", it will be created as

[2015-02-01 18:44] monkeysecurity commented on #100
If using the .deb package, setting up the symlink corrects the problem:

    ln -s /usr/lib/dart /usr/lib/dart/bin/dart-sdk

If using the homebrew package, it's not so easy.  Adding the dart_sdk location to the angular transformer allows ```pub build``` to build the security_monkey codebase, but it still fails when building the angular dart ui package

    transformers:
     - angular:
        dar

[2015-02-02 19:15] applesauce49 commented on #100
Do you have any suggestions when the pub build appears to fail even after setting the sym link to the dart-sdk?  I keep running the command and it runs for ~minute and then just stops.  When I look in the build directory there is nothing...

Thanks

[2015-02-02 19:51] monkeysecurity commented on #100
@applesauce49 You're using the .deb install of the dart tools?  Does ```pub build``` provide any output before it stops?  What is the output of  ```pub --version``` ?  If it's older than v1.8.*, you may want to do a ```sudo apt-get update``` before running ```apt-get install -y dart```

I may upload a .tar file containing the build output.  Others have requested that.  Would that help?

[2015-02-02 20:17] applesauce49 commented on #100
I've got dart 1.8.5.

I think part of my problem appears to be that I'm using the t1.micro ubuntu instance type at AWS.  as soon as I tried to do the build on my local machine it worked fine.  based on your comment, i can assume it's safe for me to just tar up the results of that and send it to my aws ubuntu instance?

Thanks

[2015-02-03 20:49] monkeysecurity commented on #16
The UI now appears to work in Safari and Firefox with https://github.com/Netflix/security_monkey/commit/c2c6ced26d2fc11ca43aaeb2fe8f105bed18aa4c

[2015-02-03 20:49] #16 closed

[2015-02-03 20:50] #14 closed

[2015-02-03 20:51] monkeysecurity commented on #26
We can rely on AWS's RDS encryption for this:

http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Encryption.html

[2015-02-03 20:51] #26 closed

[2015-02-03 20:52] monkeysecurity commented on #23
We've moved to the system supervisor and the scanning starts immed. after starting up.  There is no longer a 15 minute delay.  Closing this issue.  Any problems can be reopened in a new issue.

[2015-02-03 20:52] #23 closed

[2015-02-03 20:53] #63 closed

[2015-02-06 03:47] kevgliss commented on #26
@monkeysecurity you might be able to implement something like this (http://sqlalchemy-utils.readthedocs.org/en/latest/data_types.html?highlight=encrypted#sqlalchemy_utils.types.encrypted.EncryptedType)  relatively easily... Of coarse I would only recommend this on columns that you don't need query on... maybe just the raw json?

[2015-02-06 03:57] monkeysecurity commented on #26
FYI - security_monkey does query on the raw JSON field in the "Search Config" box in the web UI.

[2015-02-06 19:22] monkeysecurity commented on #100
The homebrew issue has been fixed with code_transformers 0.2.5.  Huge thanks to @sethladd.

I've updated the pubspec.yaml in commit e66463fa4b3fb4994f4226f129e9f997b84cf1aa in both the master and develop branches.

[2015-02-06 19:22] #100 closed

[2015-02-06 19:57] monkeysecurity commented on #100
code_transformers 0.2.5 also removes the requirement to have the symlink in the .deb installs.

[2015-02-06 20:56] sethladd commented on #100
To be fair, huge thanks to @pq and @jakemac53

[2015-02-06 21:14] monkeysecurity commented on #1
Will investigate this module to add CSP support and make the site load faster:

https://pub.dartlang.org/packages/dart_to_js_script_rewriter

[2015-02-07 04:31] monkeysecurity commented on #1
Filed an inline-style CSP issue with the Polymer webcomponents package that security_monkey relies on.

https://github.com/webcomponents/webcomponentsjs/issues/188

[2015-02-07 04:32] monkeysecurity commented on #1
Filed an inline-style CSP issue with the AngularDart.ui package that security_monkey relies on.

https://github.com/akserg/angular.dart.ui/issues/144

[2015-02-07 06:28] monkeysecurity commented on #1
Filed an inline-style CSP issue with the AngularDart package that security_monkey relies on.

https://github.com/angular/angular.dart/issues/1666

This affects any Angular Component providing a CssUrl and using the shadowDom.  If I don't see any updates on that issue, I'll set ```useShadowDom: false``` on all security_monkey components.

[2015-02-07 08:51] monkeysecurity commented on #1
The develop branch is now CSP compatible.

Add these headers to your nginx config:

    add_header X-Content-Type-Options "nosniff";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Frame-Options "SAMEORIGIN";
    add_header Strict-Transport-Security "max-age=631138519";
    add_header Content-Security-Policy "default-src 'self'; font-src 'self' fonts.gstatic.com; script-src 'self

[2015-02-07 09:00] monkeysecurity commented on #1
Closing with develop branch commit 4d6167cdb63058244054dc34476158ba08d05f2c

[2015-02-07 09:00] #1 closed

[2015-02-09 15:13] lucab commented on #101
I just got a confirmation of this on the AWS ticket:
[code]

[2015-02-09 17:48] monkeysecurity commented on #101
We could replace the hardcoded role names with a reference to an application config param defined in ```envconfig/config-deploy.py```.

Would that work?

[2015-02-09 18:04] lucab commented on #101
Probably not.

First, we should put up a field in web settings to override the hardcoded role name *per AWS account*. But then, I'm not sure if at every cloudformation run, the role name will be updated (randomly). If it is, it's a war already lost. If not, maybe there is hope.

I'll ask tomorrow my colleagues to check for the behaviour...

[2015-02-09 23:40] monkeysecurity commented on #2
Fixed in the develop branch with these commits:

- 06d3cda00fb9a873b3ed4ad29aa6f14fc48a11ba
- 63cf6129515ebb41b534a40a56feac6dd5f50c6d
- 49aa3296111e9f84cf831d6ecc6ab69c2083e738

Will prep this and the CSP 4d6167cdb63058244054dc34476158ba08d05f2c commit for a push to the master branch and will soon bump the version.

[2015-02-09 23:40] #2 closed

[2015-02-09 23:56] monkeysecurity commented on #20
I don't believe this is still an issue.  In addition, the nginx config has been updated to setup HSTS which would prevent loading over HTTP in most cases.  Closing issue.

[2015-02-09 23:56] #20 closed

[2015-02-10 17:03] lucab commented on #81
A couple of notes:
 * I checked boto source and `get_only_instances()` seems to handle the pagination/markers/token internally
 * I still went the other way and did this with multiple filtered call. You can see it at the branch under lucab/security_monkey@df251800c732d0a5c0f5a9c7e76707aba1b15933

Please let me know your call on this, I can still revert to a single call with a sane `max_results` be

[2015-02-10 18:17] monkeysecurity commented on #81
Awesome.

Have you determined whether boto's pagination is more performant than using multiple filtered calls?

Regarding the silencing of empty security groups; I'm conflicted on this. Instead of silencing empty security groups, I'd like to add an issue identifying them as empty security groups.  Maybe it also makes sense to clear the score on the other issues, but I'd have to play with it.

Feel

[2015-02-11 16:40] lucab commented on #81
No, but I just did. My worst case account for this test had ~60 sgs, of which ~35 active, mostly in ap-southeast with my polling securitymonkey in Europe, and ~100 active instances. Results:
 * Single call with `max_result`=25: 0m24.801s
 * Multiple calls with group filter: 0m57.035s

Network latency is probably killing me here. On better testcases (smaller and Europe based) the difference is in c

[2015-02-12 04:36] monkeysecurity opened #104 "Security Monkey should support Managed Policies"
AWS announced Managed Policies today.

https://aws.amazon.com/blogs/aws/new-managed-policies-for-aws-identity-access-management/

There can be up to two attached to each resource.

Security Monkey should track these and the objects they are attached to.

This is dependent upon boto support.  See https://github.com/boto/boto/issues/2956

[2015-02-12 06:30] monkeysecurity commented on #104
Background: http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html
New Permissions: http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-controlling-access.html

    "iam:CreatePolicy",
    "iam:CreatePolicyVersion",
    "iam:DeletePolicy",
    "iam:DeletePolicyVersion",
    "iam:GetPolicy",
    "iam:GetPolicyVersion",
    "iam:ListPolicies",
    "iam:ListPolic

[2015-02-12 22:15] monkeysecurity opened #106 "Update security_monkey with new reference policy ELBSecurityPolicy-2015-02"
I just noticed that new SSL listeners use a new reference policy.

Security Monkey currently alerts on these with "Unknown reference policy."

[2015-02-12 23:48] monkeysecurity opened #107 "Auditor Settings should be paginated, sortable, and filterable."
When using Auditor Settings with a few dozen AWS accounts, the table becomes unwieldy.  The table (and underlying REST calls) should be paginated, column-sortable, and either searchable or filterable.

[2015-02-12 23:50] monkeysecurity opened #108 "Auditor Settings href should URL encode parameters"
https://github.com/Netflix/security_monkey/blob/develop/dart/lib/component/settings_component/settings_component.html#L183

The variables should be URL encoded using this method:

https://github.com/Netflix/security_monkey/blob/master/dart/lib/routing/securitymonkey_router.dart#L105

    // Prepares a param for placement in a URL.
    // Replaces null or empty params with URLNULL.
    // URL encod

[2015-02-12 23:51] JaguarSecurity commented on #107
What would you says is the realistic limit on the number of accounts that Security Monkey can handle? We have significantly more than a few dozen.

[2015-02-13 00:06] monkeysecurity commented on #107
@JaguarSecurity

In the future we hope to move to an off instance scheduler like an RDS-backed APscheduler or even zookeeper.  That would help scale the watchers horizontally on a number of different boxes, meaning you could monitor many more AWS accounts.  Pull requests would be welcome here.  That would move the performance bottleneck to the RDS datastore, which could then be optimized.

As prev

[2015-02-13 05:39] monkeysecurity commented on #108
Fixed in 6916a36744ce32ddb6f116a8b4c2f97dda3b27c3

[2015-02-13 05:39] #108 closed

[2015-02-13 05:45] monkeysecurity commented on #106
http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/elb-security-policy-table.html

[2015-02-13 05:55] monkeysecurity commented on #106
Fixed in commit 1172cacdb8c1ac9600c92c0f78f719a780f52af9.

[2015-02-13 05:55] #106 closed

[2015-02-17 20:41] slacking42 opened #109 "404 errors in logs, cannot find packages directory"
Hi I have been working at this for a while..

I have everything up and running however I am not getting a login screen in the web ui

I check the logs and saw this

2015/02/17 19:35:09 [error] 3051#0: *2 open() "/usr/local/src/security_monkey/security_monkey/static/packages/web_components/dart_support.js" failed (2: No such file or directory), client: 1.1.1.1, server: , request: "GET /packages/web

[2015-02-17 21:00] monkeysecurity commented on #109
Couple things:
- The login/register page is served up by flask, and shouldn't rely on packages.
- The ```packages``` directory is one of the folders generated when you run ```pub build``` in the ```security_monkey/dart``` folder.  It should *not* be a symlink.  After the ```pub build```, the output should be copied with ```cp -R``` from ```security_monkey/dart/build/web``` to ```security_monkey/se

[2015-02-17 21:15] slacking42 commented on #109
awesome thanks, ill take a stab at this in the am and comment back, I appreciate the quick response

[2015-02-18 14:53] slacking42 commented on #109
ran the pub build again and ended up wit the same symlinks as before.. I don't think we are going to try  the docker, I would like to get this built up for prod if possible..

the output from the build is here (Easier to read)

http://pastebin.com/RRinR9zm

Thanks again

[2015-02-18 20:48] monkeysecurity commented on #109
That is really odd.  (Following output is from the develop branch, but master is similar)

    securitymonkey/dart/build/web$ ls
    css  fonts  ico  images  js  main.dart.html_reference  main.dart.js  packages  select2-3.4.5  ui.html  views
    securitymonkey/dart/build/web$ ls -al | grep packages
    drwxr-xr-x 10 www-data www-data    4096 Feb 18 00:34 packages

I don't know what would cause you

[2015-02-18 20:54] slacking42 commented on #109
that would be amazing if you could!  I really appreciate it

[2015-02-18 23:40] monkeysecurity opened #110 "Audit all watchers to look for missing boto pagination tokens."
__Audit Summary__
The ```security_monkey``` package is missing pagination on the following calls:
- IAM User ```get_all_user_policies```, ```get_all_access_keys```, ```get_all_mfa_devices```, ```get_all_signing_certs```
- IAM Role ```list_role_policies```
- Redshift ```describe_clusters```

*Impact*

Typical AWS limits on user policies, access keys, mfa devices, and signing certs attached to a sin

[2015-02-19 06:41] monkeysecurity commented on #109
Ok - ETA is Friday.

[2015-02-19 15:30] slacking42 commented on #109
perfect thanks

[2015-02-20 21:32] monkeysecurity commented on #109
I've attached a tar file to the latest release:

https://github.com/Netflix/security_monkey/releases/tag/lsv0.3.4
https://github.com/Netflix/security_monkey/releases/download/lsv0.3.4/static.tar

Download ```static.tar``` to ```security_monkey/static/static.tar``` and then extract it with ```tar -xvf static.tar```.

    ➜  tar -xvf static.tar
    ...
    ➜  ls
    css                      ico

[2015-02-20 21:44] monkeysecurity commented on #109
Please reopen if you run into problems.

[2015-02-20 21:44] #109 closed

[2015-02-20 21:47] slacking42 commented on #109
awesome! thanks for the assistance

[2015-02-20 23:37] monkeysecurity commented on #107
With v0.3.4, pagination and sorting is complete.
Filtering will be added soon.

[2015-02-24 08:51] lucab opened #113 "`association` table is empty (on purpose?)"
I was recently looking into having a multi-user setup of secmonkey, and saw that DB was designed with that usecase in mind, but some logic is missing in the backend. I now have a half-working PoC, and suddenly realized that the `association` table (linking account<->user) is never populated.

Before continuing, is there a rationale for this situation? Did you change your mind at some point (and wh

[2015-02-24 22:29] JaguarSecurity opened #114 "Feature Request: User Management System exposed via Web UI with roles."
The ability to manage SM users from the GUI. Add, delete, etc.
The ability to disable the sign up page

[2015-02-24 22:34] monkeysecurity commented on #114
User registration can be disabled with a config option:

    SECURITY_REGISTERABLE = True

I agree that SM needs a user management and role system with admins/users.

[2015-02-24 22:36] JaguarSecurity commented on #114
Thanks

[2015-02-25 11:57] markofu opened #115 "IP Protocol & Port Number Equal to -1"
Hey Patrick,

Not sure where the issue is on this as I don't have access to this particular AWS account but I see some configurations equal to "-1" and I'm unsure as to why. If you feel this isn't an issue, please close but some clarification would be awesome.

Thanks as always!

m

[code]

[2015-02-25 15:00] markofu opened #116 "register page generates 500 error"
Hey Patrick,

I don't see a record of this anywhere in your issues list.

When someone registers as a new user, the https connection appears to timeout and generates a _500_ error.

Looking at the _securitymonkey-deploy.log_ file, I can see the following errors (note: this is two different registrations with second being a _repro_)

[code]

Line 122 in _views.py_ refers to the login function -

[c

[2015-02-25 17:19] cjbehm opened #117 ""Audit Issues" and "Auditor Settings" empty on new install and lacking docs"
Following through the documentation to setup Security Monkey, I believe I have a working install but running a search for "Audit Issues" and the "Auditor Settings" are both empty.

A plain search for Items returns 204 items.

I don't know if this is a bug, a setup issue or a lack of documentation on how the Auditor Settings and Audit Items are supposed to work. Ultimately I couldn't find any docum

[2015-02-25 18:59] monkeysecurity commented on #113
Hey @lucab,

We are running a multi-user setup and it has been setup that way from the beginning.  By a "multi-user setup", I mean that multiple users can login and see the same data in security_monkey.  Is that the same thing you are thinking of?

I suspect that when you say "multi-user setup", you mean something quite different, like the ability to host security_monkey as a service and have diff

[2015-02-25 19:06] monkeysecurity commented on #115
Hey @markofu,

AWS does a couple funky things here.

- Instead of using JSON integers, they use strings.  ```"-1"``` instead of just ```-1```.
- The value ```-1``` is sometimes being used by AWS as a wildcard.

    "ip_protocol": "-1",

That means all protocols (TCP, UDP, ICMP, etc) are allowed from ```ACCNTNUMBER/sg-8c2357e9"

    "from_port": "-1",
    "ip_protocol": "icmp",
    "to_port": "-1",

[2015-02-25 19:06] #115 closed

[2015-02-25 19:17] monkeysecurity commented on #116
I just ran through a user registration and did not have an issue.  I have, however, seen this before and was unable to track it down.

Could you share part of your ```env-config/config-deploy.py``` file with me?

    SECURITY_REGISTERABLE = True
    SECURITY_CONFIRMABLE = True
    SECURITY_RECOVERABLE = True

Specifically, I'm wondering if you have SECURITY_CONFIRMABLE enabled.

[2015-02-25 19:38] monkeysecurity commented on #117
There definitely seems to be a lack of user documentation.  PR's are welcome.

![Issues Table](http://securitymonkey.readthedocs.org/en/latest/_images/issues_page.png)

The web UI has a dropdown box you can use to switch to the "Audit Issues" table.  After changing the value in the dropdown, and hitting ```Search```, do any issues appear?

If you still have no issues, you can manually invoke the a

[2015-02-25 19:43] monkeysecurity commented on #116
#64 is a related Registration issue, and is another bug that I haven't seen in a long time.  Not sure if setting CONFIRMABLE fixed this, or if a version of flask security fixed it.

Currently on ```Flask-Security==1.7.4```.

[2015-02-25 20:07] cjbehm commented on #117
The command runs fine (no errors messages) but searching for Audit Issues is empty as is the Auditor Settings.

When run, there are log lines such as:

Creating/Assigning Auditor Settings in account [...] and tech iamrole
Done Creating/Assigning Auditor Settings in account [...] and tech iamrole

And actual issues getting noted like:

Adding issue: s3/us-east-1/[...]/[...]
   ACL - Friendly Accoun

[2015-02-25 21:59] monkeysecurity commented on #117
It seems like Issues are being saved to the database.  If you have navicat, or are familiar with psql, you could verify this.

If the issues are in the database, we need to determine if the REST API is returning them.  Hit this URL in your browser after replacing YOUR_SECURITY_MONKEY with your FQDN.

https://YOUR_SECURITY_MONKEY/api/1/issues?accounts=&count=25&enabledonly=true&names=&page=1&region

[2015-02-25 22:10] markofu commented on #115
Thanks @monkeysecurity, I was unaware of what "-1" meant so thanks.

In the _icmp_ case, that makes total sense (i.e. as to why it would be "-1").

Sweet, sounds good, thx!

[2015-02-25 22:17] lucab commented on #113
Correct. Usecase I've been recently asked: let some specific user administer/get notified/justify issues on some specific accounts, without having access to all the others.

Maybe describing it as "user segregation" or "account ownership" would be more correct, sorry for the mixup. Adjusting bug title.

Some many-to-many relationship in DB to link account<->user, and filtering logic in python view

[2015-02-25 22:27] markofu commented on #116
Thanks @monkeysecurity :)

I changed

[code]

to

[code]

and restarted _supervisor_. The _register_ page now works perfectly (I did have to add a _confirm_ route  in the _nginx_ configration so I didn't generate a 404 page from the _confirm_ url).

Thx again!

[2015-02-25 22:27] #116 closed

[2015-02-25 22:34] cjbehm commented on #117
The first URI returns no results (a JSON response with no items). The 2nd and 3rd URIs return JSON objects with actual item structures.

Checking the auditorsettings table with psql, it has zero rows, so I'm guessing that it's supposed to have rows as part of the setup/db migration process?

[2015-02-25 23:05] monkeysecurity commented on #117
I think @Qmando discovered the bug in commit f56023a733e4dfc0f8590812e4502fe75ee23550.

I'll work on pushing out a hotfix to all branches.

[2015-02-26 15:03] jimmysharrrison commented on #117
I think I have this same issue

secmonkey=> select * from auditorsettings;
 id | tech_id | account_id | disabled | issue_text
----+---------+------------+----------+------------
(0 rows)

[2015-02-26 18:34] #117 closed

[2015-02-26 18:35] monkeysecurity commented on #117
Please verify my latest commit to auditor.py corrected this issue for you.

[2015-02-26 19:02] cjbehm commented on #117
Yup, pulled the latest version and after re-running audit_changes, the audit related tables were all populated.

Auditor Settings and the Reports all appear to be working as expected now.

Thanks!

[2015-03-10 23:44] monkeysecurity commented on #110
IAM Role ```list_role_policies``` was corrected in commit e29e56bae3fdcf611d74df86322e7a1aa3cf71d2

[2015-03-11 05:05] monkeysecurity commented on #110
Redshift ```describe_clusters``` was corrected in commit caec7ad88f68e5b63d22fbe909d735ec7ab66bdd

[2015-03-11 05:25] monkeysecurity commented on #110
IAM User ```get_all_user_policies```, ```get_all_access_keys```, ```get_all_mfa_devices```, ```get_all_signing_certs``` was corrected in commit c034b41ce7572922d39f530bcc53a65f9216ee73

[2015-03-11 05:25] #110 closed

[2015-03-25 17:27] stephenmartino opened #123 "Setting up additional AWS accounts to audit not working?"
To whom it may concern,

I have been through the directions many times on setting up additional AWS accounts for SecurityMonkey to monitor.  I got the first one running no problem, but when I try to setup a 2nd account the data never shows up in the dashboard.  Not sure what I am doing wrong?  I have restarted the scheduler, the account is setup in the Settings tab of SecurityMonkey...just not sur

[2015-03-25 17:34] monkeysecurity commented on #123
Hi @stephenmartino,

Did you setup a SecurityMonkey IAM role in the new account?  Does it allow assumerole from the InstanceProfile in the original account?

In the Security Monkey web UI, did you select the "active" checkbox for the new account?

Is there any mention of this new account in the securitymonkey.log file?

Can you run it manually:

    export SECURITY_MONKEY_SETTINGS=/../../path/to/c

[2015-03-25 17:57] monkeysecurity commented on #104
It looks like boto3-0.0.11, released recently, now supports managed policies.

I'll get a pull request into security_monkey to add these in ASAP.

I'll have each managed policy be a top level object, and will probably also include them in the body of the attached objects as well.

[2015-03-25 19:04] stephenmartino commented on #123
Patrick,

Did you setup a SecurityMonkey IAM role in the new account? Does it allow assumerole from the InstanceProfile in the original account?

Yes, but this is honestly where I am not totally sure that everything is in place correctly.  Is it possible for you to send me example screenshots to verify that I have everything in the correct place for the account that SM runs in and the 2nd account

[2015-03-25 19:17] stephenmartino commented on #123
Ok, got the python part to work.  It worked perfectly on the account that currently works (no surprise), here is the error I received on the 2nd..I changed the account number for the 1st account to 12345678 and the 2nd to 23456789 for security purposes...

So it looks like a permission issue not sure what side....???

root@ip-10-0-11-199:/usr/local/src/security_monkey/env-config# python /usr/local

[2015-03-25 19:56] monkeysecurity commented on #123
Hey @stephenmartino,

It looks like the assumerole is not working.  Your SecurityMonkeyInstanceProfile only needs to exist in the account where the server is running (12345678) and should have a policy allowing sts:AssumeRole to the * Resource:

    {
      "Version": "2012-10-17",
      "Statement": [
        {
          "Effect": "Allow",
          "Action": [
            "ses:SendEmail"

[2015-03-25 20:06] stephenmartino commented on #123
BANG!!!  Thank you!

From: Patrick Kelley <notifications@github.com<mailto:notifications@github.com>>
Reply-To: Netflix/security_monkey <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, March 25, 2015 at 3:57 PM
To: Netflix/security_monkey <security_monkey@noreply.github.com<mailto:security_monkey@noreply.github.com>>
Cc: Steve Martino <stephen_martino@harvard.edu<mailto:ste

[2015-03-25 20:22] stephenmartino commented on #123
On nagging issue seems to be that I can't see all of the resources, i.e.:  Security Groups are in the 2nd account, but don't show up as a parameter to select for this account where other items do...

From: Patrick Kelley <notifications@github.com<mailto:notifications@github.com>>
Reply-To: Netflix/security_monkey <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, March 25, 20

[2015-03-25 20:49] stephenmartino commented on #123
Patrick,

Fixed the 2nd account by re-adding it, I think running the below multiple times may have messed me up.

python /usr/local/src/security_monkey/manage.py find_changes -a huitdba

The issue is I get an error 500 when trying to remove previous one and it won't let me use it anymore?

Thanks

Steve

From: Patrick Kelley <notifications@github.com<mailto:notifications@github.com>>
Reply-To: Net

[2015-03-25 21:26] monkeysecurity commented on #123
What shows up in the logs when the server returns a 500?

I wonder if there is a failure to delete it because you're signed up for notifications.  If so, I'll need to push a bugfix to security_monkey.

I believe the other issue you have could be a UI issue.  If you're filtered by security_groups named "blah", and account-2 doesn't have a security group named "blah", it won't let you select that ac

[2015-03-25 22:02] stephenmartino commented on #123
Patrick,

ISSUE NOT SEEING ALL ASSETS:

I believe the other issue you have could be a UI issue. If you're filtered by security_groups named "blah", and account-2 doesn't have a security group named "blah", it won't let you select that account. Umm, if that's the issue you're having, I have no problem removing that restriction in a future version.

The above has been fixed, by re-adding through the

[2015-03-25 22:14] stephenmartino commented on #123
Patrick,

First, SecurityMonkey is awesome, having a blast working with it.  One question that came up was, "What about "Instance" security and auditing?  It doesn't appear the SM does this, what does NetFlix use to satisify this audit requirement if someone changes files, etc on instances?

Thanks again...

steve

From: Patrick Kelley <notifications@github.com<mailto:notifications@github.com>>
Re

[2015-03-25 22:26] monkeysecurity commented on #123
@stephenmartino,

The access log doesn't provide much information.  I'll often go into my logs directory and run a ```tail -f *``` to see all the logs that are updated as I perform a function on the web UI.  I'm assuming this 500 caused an error and maybe a stack trace in ```securitymonkey.log```.

## What about "Instance" security and auditing?

We've discussed having security_monkey do active sc

[2015-03-25 22:50] monkeysecurity opened #124 "Add support for ELBSecurityPolicy-2015-03"
http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/elb-security-policy-options.html

http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/elb-security-policy-table.html

AWS released a new refpol for March 2015.  Security Monkey should be updated for this new policy.

Also, investigate adding a new check for the freak vuln.
http://aws.amazon.com/security/securit

[2015-03-25 23:58] stephenmartino commented on #123
Quite long but but the following kicked out when I tried to delete the account….thanks for the other information!!!

My goal is to cut this over to RDS in AWS, but I have some questions on this…I can easily setup the postgresql in AWS, but the question is how do I initialize it with the right tables you need for SM?  Once that is done I assume I just paste in the endpoint from RDS into the config

[2015-03-26 00:16] stephenmartino commented on #123
Is Monterey available as OpenSource?

From: Patrick Kelley <notifications@github.com<mailto:notifications@github.com>>
Reply-To: Netflix/security_monkey <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, March 25, 2015 at 6:26 PM
To: Netflix/security_monkey <security_monkey@noreply.github.com<mailto:security_monkey@noreply.github.com>>
Cc: Steve Martino <stephen_martino@harva

[2015-03-26 06:25] monkeysecurity commented on #104
Managed Policies were added in 3873dd1760b4b588ba30aec052c6bea87acbfcb2
Still need to add auditing for managed policies and determine if I want to track every version or just the default version.

[2015-03-26 06:30] monkeysecurity commented on #104
IAM Roles, Users, and Groups should also be updated to reflect any attached managed policies.

[2015-03-26 18:25] monkeysecurity commented on #123
Maybe one day. Not at the moment.

[2015-03-26 18:25] #123 closed

[2015-03-26 18:59] stephenmartino commented on #123
One thing...Since I got the 2 sites working in SM, I do not receive any emails anymore either from changes that I make in AWS components (say a security group), or did not get the daily emails (did the night before) Any thoughts?

From: Patrick Kelley <notifications@github.com<mailto:notifications@github.com>>
Reply-To: Netflix/security_monkey <reply@reply.github.com<mailto:reply@reply.github.com>

[2015-03-27 17:58] monkeysecurity commented on #124
Completed in 6c76fcdb55bd9cbe3adf7c33a6d259be61f3b2e8

Some background:
- 2014-10 worked with Windows XP but contained RC4 ciphers which are now considered weak.
- 2015-02 removed these RC4 ciphers, which then broke compatibility with Windows XP.  If you don't support Windows XP, this may be the best refpol.
- 2015-03 re-introduced DES-CBC3-SHA to bring back support for Windows XP.  The risk posed

[2015-03-27 17:58] #124 closed

[2015-03-27 20:59] monkeysecurity commented on #74
https://aws.amazon.com/about-aws/whats-new/2015/03/aws-config-sends-email-friendly-notifications-about-changes-to-your-aws-resources/

Looks like AWS Config now supports SNS notifications for changes.  This may be a better solution than Lambda.

The watchers would need to run on first install to get a baseline of your current environment.  All future change events would rely on AWS Config SNS noti

[2015-03-28 14:49] monkeysecurity commented on #104
Managed Policies Auditor added in 0bbaabac7817b0dd2a5ae24805c5f7afa9eb7439.
Updated IAM Groups, Users, and Roles in 0ca5a385c1de755cf1e1026ffaee29acb311a7c8.

[2015-03-28 14:49] #104 closed

[2015-03-30 22:21] zerojuan opened #126 "Syntax error on dart compile"
I'm using the latest version of Dart (1.9.1) and the compiled javascript results to a syntax error on line 49502 of main.dart.js.

`49502: ...a,Nf,JCx,OGh,YWs,pHq,LPx]}parseReflectionData(dart)`

is missing a semicolon before parseReflectionData:

`49502: ...a,Nf,JCx,OGh,YWs,pHq,LPx]};parseReflectionData(dart)`

[2015-03-30 23:01] pbkracker commented on #126
Filed a bug against dart/dart2js:

https://code.google.com/p/dart/issues/detail?id=23042

[2015-03-30 23:19] monkeysecurity commented on #126
Until the dart issue is closed, users may manually add this semi-colon, or download the pre-compiled dart output from here:

https://github.com/Netflix/security_monkey/releases/download/lsv0.3.4/static.tar

[2015-03-31 02:56] floitschG commented on #126
I'm sorry for that.
It is fixed in bleeding edge (and has been for some time). I just forgot to cherry-pick it into 1.9.
I will see if we can make a 1.9.1 bugfix release (or similar).

[2015-03-31 22:56] monkeysecurity commented on #126
I pre-compiled the output with dart 1.8.5 and attached a .tar.gz to the latest release:

https://github.com/Netflix/security_monkey/releases/tag/v0.3.5

Thanks @floitschG for getting this into ~1.9.1.

[2015-04-06 09:24] peterdu77 opened #129 "No content showing after installing Security Monkey"
Hi There,

I've tried installing SecurityMonkey several times on both Ubuntu 12.04 and 14.04. Each time, everything installs successfully but when i browse to https://<FQDN> , i only get the TOP NAV with no content below it. Tried going directly to https://<FQDN>/register and was presented with the register form but once submitting, i'm redirected back to https://<FQDN> again with on TOP NAV visib

[2015-04-06 14:31] monkeysecurity commented on #129
Please see #126
On Apr 6, 2015 2:24 AM, "peterdu77" <notifications@github.com> wrote:

[2015-04-07 01:03] peterdu77 commented on #129
Thanks! That worked.

[2015-04-07 01:03] #129 closed

[2015-04-07 18:54] cshears79 opened #131 "Reports to show Instance"
Security Monkey is really helping to get our arms around the security gaps in our present AWS environment... But, one piece we seem to always be wondering is what Instance or Instances the violations apply to. So, a feature request/enhancement, please add Instances to the reports where applicable to save time cross checking and validating several hundred VMs. :+1:

[2015-04-07 19:17] monkeysecurity commented on #131
Hi @cshears79.

What types of instance checks would you be interested in?  So far, security_monkey has remained a tool that only talks to the AWS API's, and does not actively interrogate instances or perform vuln scanning.  Later this week I'll be pushing v0.3.6 to master, which will report the instances attached to each security_group.

FYI - We've seen difficulties with the boto (really, the AWS

[2015-04-07 19:26] cshears79 commented on #131
@monkeysecurity, thanks for the quick reply, much appreciated!

You hit the nail on the head with instances attached to each security_group. That will go a long way in helping connect the dots from the reports. I'll pull down the latest code once released and let you know if that closes the gap for us. In large accounts, I can certainly see timeout issues being a problem/reality... we'll keep usin

[2015-04-15 09:52] lucab opened #133 "null fields populated as "None" (string) on AWS account creation"
For some reason, when adding new accounts, null string fields get populated as 'None' (string).
You can see it when adding a new AWS account in the Setting panel.

When leaving some string fields empty, this is the request:
[code]

and this is the reply:

[code]

[2015-04-27 17:17] monkeysecurity opened #136 "security_monkey should track emr"
http://boto.readthedocs.org/en/latest/ref/emr.html

[2015-05-01 21:24] monkeysecurity opened #137 "The web interface should hyperlink ARNs"
The web interface should hyperlink ARNs to easily navigate linked objects.

[2015-05-21 18:57] Blackbaud-FrankKurzawa commented on #81
I'm wondering if the more useful flag may be whether a particular security group is used by an instance with a public IP. For example, a 0.0.0.0/0 SG is definitely a 10 if it's facing a public IP, but maybe only a 5 if only instances with private IP's are attachted to that SG.

[2015-05-21 19:38] Blackbaud-FrankKurzawa opened #141 "Attempting to delete an account still results in a Foreign Key Constraint Error"
Issue #12 reported this problem and it was closed in December as "Fixed". However I just installed the latest Security Monkey and I'm getting the identical error when I attempt to delete an account:
IntegrityError: (IntegrityError) update or delete on table "account" violates foreign key constraint "item_account_id_fkey" on table "item"
DETAIL:  Key (id)=(3) is still referenced from table "item".

[2015-05-21 23:00] monkeysecurity opened #143 "SG Issues for 0.0.0.0/0 should take into consideration whether instances are internet accessible."
Related to #81 :

Security_monkey should determine whether instances attached to a security group allowing 0.0.0.0/0 contain a public IP and score appropriately.

VPC security groups with 0.0.0.0/0 and protecting instances that are not reachable from the Internet should receive a lower issue score than those that are accessible from the Internet.

Idea comes from @Blackbaud-FrankKurzawa.

[2015-05-21 23:01] monkeysecurity commented on #81
@Blackbaud-FrankKurzawa Good point.  In EC2-Classic I believe everything has a private and public IP.  That's definitely not the case in VPC.  Sounds like a great feature to add.

I just opened #143 to track this idea.

[2015-06-02 16:29] LucaBear opened #144 "No web directory being created"
When following the instructions here:

[code]

I get the following error:

[code]

When running ls -lah against the build directory, the web directory is indeed not there:

[code]

I set up a test instance of Security Monkey on April 23rd, these steps worked fine then. The only thing I have changed on this new instance is the instance size (t2.micro) and I installed MySQL instead of PostGres. (We

[2015-06-02 16:38] monkeysecurity commented on #144
I'm betting an update in dart is causing the problem.  I'll look into it this afternoon.

[2015-06-02 22:24] monkeysecurity commented on #144
@LucaBear What version of dart/pub are you running?

    $ /usr/lib/dart/bin/pub --version
    Pub 1.10.1
    $ /usr/lib/dart/bin/dart --version
    Dart VM version: 1.10.1 (Mon May 11 15:56:35 2015) on "linux_x64"

Are there any errors when you run ```/usr/lib/dart/bin/pub build``` ?

[2015-06-03 03:12] LucaBear commented on #144
I literally just followed the instructions step by step on the guide. So whatever version it installs. I have terminated the instance for now so I can't check I'm afraid.

No errors, it appears to run fine.

Cheers,
Luca

Sent from my iPhone

[2015-06-04 14:22] echiu64 opened #148 "Ignore certain IAM policy ARNs"
AWS has some stock (unremovable) IAM managed policies that can be easily ignored by ARN:
e.g. ```arn:aws:iam::aws:policy/AmazonGlacierReadOnlyAccess``` Where "aws" is the value where the account number normally goes. Can we get an easy way to ignore this policy?

Perhaps policies should be ignored by default if they are not attached to anything?

[2015-06-05 20:31] monkeysecurity opened #149 "Managed Policies that are attached to multiple items breaks security_monkey"
Here is one of the places with the offending code:

    def all_managed_policies(conn):
        managed_policies = {}

        for policy in conn.policies.all():
            for attached_user in policy.attached_users.all():
                policy = {
                    "name": policy.policy_name,
                    "arn": policy.arn,
                    "version": policy.default_version_id

[2015-06-05 20:49] monkeysecurity commented on #149
Fixed in hotfix b34f9f80328619b45cb968defd4165e7d7a1f477

[2015-06-05 21:13] #149 closed

[2015-06-09 16:54] monkeysecurity commented on #144
If you run into the problem again, please reopen this ticket and paste the output from the ```pub build```.

[2015-06-09 16:54] #144 closed

[2015-06-10 16:58] monkeysecurity commented on #148
When you have multiple accounts, these are somewhat annoying to deal with in security_monkey.

I like your suggestion of ignoring them if they are not attached to anything.

[2015-06-10 17:00] monkeysecurity opened #153 "security_monkey should track when access keys were last used"
https://aws.amazon.com/blogs/aws/useful-new-iam-feature-access-key-last-use-info/

An audit issue should be added for access keys that have not been used in a while.  (7 days? 30 days? 90 days?)

[2015-06-10 17:01] monkeysecurity opened #154 "Add support for ELBSecurityPolicy-2015-05"
AWS has rolled out a new reference policy.  This work will be similar to #124.

http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/elb-security-policy-options.html

http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/elb-security-policy-table.html

[2015-06-11 03:33] LucaBear commented on #144
There was no unusual output from pub build. It looked as if it ran successfully, but just didn't create the directory. I will create a new instance and paste it here for you tomorrow.

[2015-06-15 02:38] ollytheninja commented on #144
:+1: I am having this problem as well, it seems to build just fine but there is no output i.e. build/ remains empty
Pub 1.10.1
Dart VM version: 1.10.1 (Mon May 11 15:56:35 2015) on "linux_x64"

[2015-06-15 02:41] ollytheninja commented on #144
I ran it with `sudo /usr/lib/dart/bin/pub build -v --trace` everything is fine, last file compiled below:
FINE: [Fine from DartToJsScriptRewriter on security_monkey|web/views/itemdetailsview.html]:

[2015-06-15 03:47] monkeysecurity commented on #144
As a workaround, you can download the static.tar.gz from the latest release:

https://github.com/Netflix/security_monkey/releases

[2015-06-15 03:49] monkeysecurity commented on #144
@ollytheninja - Did you push a build to pub.dartlang.com?

https://pub.dartlang.org/packages/security_monkey

[2015-06-15 10:58] ollytheninja commented on #144
@monkeysecurity Yes, completely by accident, I hit publish instead of build... I have a ticket open with the people at dart to remove it.

[2015-06-18 18:39] monkeysecurity opened #156 "Threadcount should be set in env-config/config-deploy.py"
The threadcount is currently hardcoded in scheduler line 115:

https://github.com/Netflix/security_monkey/blob/develop/security_monkey/scheduler.py#L115

These should be moved out to a config file.  They have a direct relationship with the number of accounts that security_monkey can scan.

This should be done today.

[2015-06-18 21:36] monkeysecurity commented on #156
Committed hotfix to master with commit 08b071da5ace7e24a5a97f635252792e1f23b2ea.

Running full install test now.

[2015-06-18 21:36] #156 closed

[2015-06-18 22:31] monkeysecurity commented on #144
So here's the output I get.  I've run through it a few times.  I'm not sure why ```pub build``` would be silently failing on you.

    # curl https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
	  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
	                                 Dload  Upload   Total   Spent    Left  Speed
	100  1745  100  1745    0

[2015-06-22 17:02] monkeysecurity commented on #154
DHE-RSA-AES128-SHA and DHE-DSS-AES128-SHA removed

AWS likely pushed this out to address logjam, which is a bug in diffie-hellman key exchange.
https://weakdh.org/

Fixed in d118953.

[2015-06-22 17:02] #154 closed

[2015-06-22 19:41] Blackbaud-FrankKurzawa commented on #114
SECURITY_REGISTERABLE is not conducive to a secure workflow to add users. The ability to confirm users after signup  before they get access would be much more helpful.

[2015-06-22 19:45] Blackbaud-FrankKurzawa commented on #114
+1 for a role system with admins/users. Additionally defining roles in a way that would limiting which AWS accounts any given user could see or modify.

[2015-06-22 21:05] monkeysecurity commented on #133
This must be the dart code.  The API is receiving the String "None", as you described.

[2015-06-23 18:01] monkeysecurity commented on #141
Hmmm so I guess we should cascade the deletes from the account down to all the items.

The item table already cascades deletes down to revisions, issues, and comments.
The revision table already cascades deletes down to revision comments.

Let me try and push out a fix today.

[2015-06-23 19:16] #126 closed

[2015-06-23 21:30] monkeysecurity commented on #141
This should be corrected in develop/master with the latest hotfix:

9473cd8fc2651632754ac96d316b62e00b999f70

[2015-06-23 21:30] #141 closed

[2015-06-25 14:44] echiu64 opened #157 "Pluggable rulesets in security monkey"
We need a way to better extend and manage security monkey, especially for more "opinionated" rules that don't necessarily belong in the core (or maybe all rules should move outside of core?)

Initial idea:
- Add pluggable rules to each service module (s3, iam, elb, etc)
  - Rules to be defined using JSON and json-path type queries
- Add pre/post module hooks
  - e.g. filter out non attached "risky

[2015-06-25 16:32] monkeysecurity commented on #157
+1!!

[2015-06-25 16:51] monkeysecurity commented on #157
There are a few ways to go about this.

## To disable current rules (like the opinionated ones):
- Currently, there is an "Auditor Settings" tab in securitymonkey where you can disable a given rule for a given account.  This currently prevents those issues from showing up in the issues search page, though they still appear in the Item details.  This isn't exactly what you're requesting, but it is

[2015-06-25 17:30] echiu64 commented on #157
Oh i didn't mean to say the current ruleset was opinionated. I wanted to add in some rules that I feel may be overly opinionated or others may find opinionated?

@monkeysecurity I like all these ideas... I haven't looked at the code too deeply, honestly looking for the path of least resistance, so any pointers you have would be great and I can hopefully start working on it. The one thing I'd sugge

[2015-06-29 12:42] lucab commented on #133
I had some time to track this further, and it looks like an issue in how we use flask.reqparse.
Basically, the field is really passed as `"notes": null` in the JSON.
It is then converted to a `None` in the internal python representation.
Then, as this parameter is marked `type=unicode`, it is passed to `six.text_type()` and the conversion succeeds yielding a `'None'` string. So we end up with lots

[2015-06-30 14:53] gene1wood commented on #133
@lucab hotfixing here in advance of working on the flask.reqparse upstream issue sounds good to me. What would the hotfix look like? (I'm in dire need of the functionality in your PR #120)

[2015-07-01 14:01] lucab commented on #133
Something along the line of lucab@0c77861 (ie. a simple replacement from "None" to None after parsing the request).

[2015-07-01 15:14] lucab commented on #133
Uhm, this seems to be flask-restful/flask-restful#390, which is fixed in Flask-RESTful 0.3.3. I just updated to it, and it seems to work greatly without my dirty patch.

[2015-07-03 01:55] ollytheninja commented on #113
I think this would be better accomplished by having roles with access to certain accounts and then assigning those roles to different users.

[2015-07-03 06:03] lucab commented on #113
I agree, it looks like it needs a completely different implementation.

Just for the sake of clarity, I'd call this "group membership" (where GroupA can access AccountA1, AccountA2, etc.) because in flask-security terminology "roles" already has a meaning (eg. roles like admin, read_only, can_modify_accounts, etc.)

[2015-07-03 09:19] ollytheninja commented on #113
Sorry, I was referring to flask-security roles, I think they would work for this.

[2015-07-03 13:45] monkeysecurity commented on #133
Just to confirm, you believe this issue is fixed by upgrading flask-restful to 0.3.3?  No other action is required?

[2015-07-03 13:50] lucab commented on #133
Yes, just upgrading the requirements fixes it, without further changes.
I have queued the commit in PR #120 just to avoid further conflict/rebases, but I can split it out if you prefer (or you can just cherry-pick it).

[2015-07-03 17:11] monkeysecurity commented on #133
Fixed with #120.

[2015-07-03 17:11] #133 closed

[2015-07-03 20:41] echiu64 commented on #157
@monkeysecurity After marinating for a bit, here are my thoughts.

Have ```pluggable/[monitor]``` directories, such as ```pluggable/s3``` and then for each ```.py``` file in that directory (or recursive, depth 1), we would run methods starting with ```check_```

This allows me to pull in other rules in rather than merge into a single file.

e.g.
```pluggable/s3/logging.py``` and ```pluggable/s3/li

[2015-07-07 00:05] bunjiboys opened #162 "KeyError in ELB checks when using custom policies"
When you use a custom policy on your ELB, it causes the elb watcher to throw a KeyError, see below for stacktrace

[code]
Looking at the ELB the policy section contains the following:
[code]
If i describe the policies for the ELB I see the policy fine, so I'm not sure why its causing a KeyError

[2015-07-07 02:09] monkeysecurity commented on #162
I've seen these occasionally in the logs, but they seemed intermittent, so I had written it off as AWS API oddness.  Are you seeing this repeatedly?

If nothing else, we should verify that the exception is tracked in the exception map so it doesn't ruin the entire run of the ELB map.  After taking a quick peek, it looks like an exception here would prevent security_monkey from seeing any ELB chang

[2015-07-07 02:33] bunjiboys commented on #162
I do think it might be intermittent, but I do see these at a pretty regular cadence. And as you mentioned it does seem to kill the entire run which is what had me concerned the most, so I agree that if this is just API oddness, better exception handling would be a good compromise.

[2015-07-07 22:47] Qmando opened #163 "/api/1/distinct doesn't work if account name has "+""
If an account (or possibly tech/names/region) has a "+" in it, it will not be properly URL encoded. This causes it to be parsed as a space by Flask. When doing query filtering, such as distinct.py#L99, this will remove all results and nothing will be returned.

This bug probably exists in other places where object names are passed via query string.

Example URL:
GET /api/1/distinct/tech?select2=Tr

[2015-07-08 17:10] monkeysecurity commented on #75
Fixed in #161

[2015-07-08 17:10] #75 closed

[2015-07-09 19:57] monkeysecurity opened #166 "security_monkey only retrieves the first 100 managed policies"
The managed policies watcher does not properly handle pagination.  It is only downloading the first 100 managed policies.

I thought boto3 would magically handle this for me.  Need to investigate what I'm doing wrong.

Also need to determine what impact this will have on the IAM user, group, and role watchers, as they look for attachments to mananged policies.

Thanks to @echiu64 for helping find

[2015-07-10 18:04] monkeysecurity opened #167 "ignore_entry_component and whitelist_view_component should extend PaginatedTable"
These two components will only display the first 30 items.

They should extend PaginatedTable so you can have multiple pages of ignoreentries and whitelist entries.

[2015-07-13 18:45] slacking42 opened #168 "flask failure when trying to create db."
Initially i got a similar error with the flask-wtf, then I ran pip install flask-wtf as seen below.. then I got the "ImportError: No module named passlib.context"

ubuntu@ip-xx-xx-xx-xx:/usr/local/src/security_monkey$ sudo !!
sudo pip install flask-wtf
Requirement already satisfied (use --upgrade to upgrade): flask-wtf in /usr/local/lib/python2.7/dist-packages/Flask_WTF-0.9.5-py2.7.egg
Requirement

[2015-07-13 19:25] slacking42 commented on #168
did pip install of flask-wtf, passlib, blinker, then alembic

then the db build was able to run.

[2015-07-13 19:31] monkeysecurity commented on #168
craziness.  Can you paste the output from a "pip freeze" ?

(Right now, I have no clue what the error could be.)

[2015-07-13 19:34] slacking42 commented on #168
here you go

Exception:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 122, in main
    status = self.run(options, args)
  File "/usr/lib/python2.7/dist-packages/pip/commands/freeze.py", line 66, in run
    dependency_links.extend(dist.get_metadata_lines('dependency_links.txt'))
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line

[2015-07-13 19:50] monkeysecurity commented on #168
ha, try "sudo pip freeze"

It should output all of the libraries you have installed to your security_monkey virtualenv and their exact versions.

[2015-07-13 19:51] slacking42 commented on #168
here you go.. like I said I had to manually install the other modules by hand

 sudo pip freeze
APScheduler==2.1.2
BeautifulSoup==3.2.1
Cheetah==2.4.4
Flask==0.10.1
Flask-Login==0.2.10
Flask-Mail==0.9.0
Flask-Migrate==1.3.1
Flask-Principal==0.4.0
Flask-RESTful==0.2.5
Flask-SQLAlchemy==1.0
Flask-Script==0.6.3
Flask-Security==1.7.4
Flask-WTF==0.9.5
Jinja2==2.7.2
Landscape-Client==14.12
M2Crypto==0.2

[2015-07-13 19:52] slacking42 commented on #168
while I have you here.. is there any documentation to export DB from a standalone to the RDS db?

[2015-07-13 19:59] monkeysecurity commented on #168
http://postgresguide.com/utilities/backup-restore.html

That URL should help you backup your DB and restore it to a new instance.  I typically use Navicat on OS X to play with the DB, but command line stuff is good too.

I'll play with your python issue.  It may be a good idea to create a new virtualenv.

(From the security_monkey directory)
    $ virtualenv venv
    $ source venv/bin/activate

[2015-07-13 20:05] slacking42 commented on #168
perfect thanks, FYI this is a new install of SecMonkey I just want to be able to move the data we have to the new server using the RDS instance

[2015-07-13 21:47] monkeysecurity opened #169 "security_monkey should ship with AWS accounts built in"
There are a number of AWS owned accounts that have business accessing most environments.  A few examples are:
- CloudTrail,
- ELB / CloudFront logs
- Support accounts.

security_monkey should ship with a list of these accounts.  Adding them would be an *optional* command from manage.py.  They should be marked as third-party and not active.

This requires:
- Enumerating the AWS accounts to add.
- U

[2015-07-20 22:03] monkeysecurity opened #171 "SNS ignore list is by ARN but objects are saved by Name"
https://github.com/Netflix/security_monkey/blob/master/security_monkey/watchers/sns.py#L69

[2015-07-20 22:53] monkeysecurity opened #172 "security_monkey view item page should only load a single revision at a time."
Reason:
- Items with a large number of revisions take a long time to load.
- Using the browser's find feature on an item with lots of revisions does not always behave in the most desirable way.

Loading would be much faster if we only displayed a single revision at a time.  Users could select which revision to display using the navbar on the left.  Currently all the revisions are loaded in a singl

[2015-07-24 17:23] DataSquid commented on #162
In 0.3.7 this is also an issue for a now-supported policy as well:

[code]

[2015-07-24 17:32] DataSquid opened #173 "Problem Connecting to iamssl/Prd-NA/universal:\nlist index out of range"
This shows up in the logs of our 0.3.7 build:

[code]

[2015-07-24 21:23] DataSquid opened #174 "No email sent when SECURITY_TEAM_EMAIL set"
Running 0.3.7, using SES.  Have email sending to individual users (both notification and password reset).  But when I populate the SECURITY_TEAM_EMAIL field nothing is sent.

[2015-07-24 21:23] monkeysecurity commented on #173
Could you edit iam_ssl.py to have it print out `cert.get_issuer()` BEFORE the line where it does the splits?

CURRENT:

    def cert_get_issuer(cert):
        return str(cert.get_issuer()).split("/O=")[1].split("/")[0].translate(None, " ,.").strip()

NEW:

    def cert_get_issuer(cert):
        app.logger.debug("ISSUER: [{}]".format(cert.get_issuer()))
        return str(cert.get_issuer()).split("

[2015-07-24 21:25] monkeysecurity commented on #162
A pull request is certainly welcome.

I haven't had time to track this one down.

[2015-07-24 21:27] monkeysecurity commented on #174
Anything in the logs?

Did you restart the scheduler after adding the SECURITY_TEAM_EMAIL?

[2015-07-24 21:29] monkeysecurity commented on #174
Are changes occurring in your environment?  It will only send an email when it sees an item's configuration change.

[2015-07-24 21:45] DataSquid commented on #173
What's the correct procedure after I modify a .py?  It seem the .pyc isn't being recompiled if I just restart the scheduler; it always terminates quickly with a fatal error.

[2015-07-24 21:51] monkeysecurity commented on #173
You probably introduced a syntax error when you edited the file.

Make sure you are using four spaces for indentation and not tabs.  The error message you're seeing should contain a hint to the error.

[2015-07-24 22:00] DataSquid commented on #173
Ha, indeed I did, but I caught it a little to late, and posted a little too soon :)

[code]

[2015-07-24 22:02] DataSquid commented on #174
Yes, I have two other user accounts setup receiving change emails (one with the same address I've used for TEAM).  Restarted scheduler a few times now.

[2015-07-24 22:07] monkeysecurity commented on #173
Ahh, so it's working for a few of your certs.  The one it's failing on (`/CN=RMQTESTCA`) doesn't have a proper issuer.  It must be a self-signed SSL cert.

I'll  add a try/except block. If it sees an exception, I'll just have it return "No Valid Issuer Found".
I'm about ready to head home today, so look for a fix early next week.

[2015-07-24 22:20] DataSquid commented on #173
Have a good weekend.  Yes, it will be nice to have a quick way to audit use of self-signed certs in the env.  Thanks.

[2015-07-26 20:53] monkeysecurity commented on #173
Hey @DataSquid

I just pushed a new branch up to github:

https://github.com/Netflix/security_monkey/tree/feature/missing_certificate_issuer_issue_173

I'll do some testing this week and will update this issue once I've merged it to the develop branch.

[2015-07-30 13:34] DataSquid commented on #174
Does this value get used to send daily reports, or per-change emails?

[2015-07-30 13:35] DataSquid commented on #173
It's been working well for me.

[2015-07-30 16:58] monkeysecurity commented on #174
Should be both daily reports and per-change emails.

[2015-07-30 17:01] monkeysecurity commented on #173
The feature has been merged to master.  55f09b29825931a453499e61cffe13b861270bfd

I'll delete the feature branch from github now.

[2015-07-30 17:01] #173 closed

[2015-08-05 12:35] moritzheiber opened #179 "Release on GitHub for 0.3.7?"
[According to a PR](https://github.com/Netflix/security_monkey/pull/170) and [the ChangeLog](http://securitymonkey.readthedocs.org/en/latest/changelog.html) 0.3.7 was released a few weeks ago. However, it doesn't seem to have been tagged and is therefore not available from GitHub.

I would like to get 0.3.7 tagged/released on GitHub as well. Thanks!

[2015-08-11 21:03] monkeysecurity commented on #179
Hey @moritzheiber,

The master branch has the code.  I'll get the js compiled and push the tags so you can download the release.  Thanks for letting me know.

[2015-08-14 13:16] huntergregal opened #183 "SG check empty users"
I am trying to edit the iam_group auditor to alert on when a security group contains no users in it. currently I have in iam_group.py

    def check_empty_users(self, iamgroup_item):
        """
        alert when an IAM Group has no users in it.
        """
        users = self.iamgroup_item.config.get('users', {})
        if rows not in users:
            self.add_issue(1, 'No users in security

[2015-08-14 15:16] #183 closed

[2015-08-14 15:22] monkeysecurity commented on #183
Hey @huntergregal - The `rows` variable is not defined.

	def check_empty_users(self, iamgroup_item):
	    """
	    alert when an IAM Group has no users in it.
	    """
	    users = self.iamgroup_item.config.get('users', {})
	    if not users:
	        self.add_issue(1, 'No users in security group', iamobj_item)

I changed the if-clause a bit; this should work.

I'd love a PR when you're ready.

[2015-08-14 15:25] huntergregal commented on #183
I got it. I also added your new if statement. It's much cleaner:

    def check_empty_users(self, iamgroup_item):
        """
        alert when an IAM Group has no users in it.
        """
        users = iamgroup_item.config.get('users', {})
        if not users:
          self.add_issue(1, 'No users in security group', iamgroup_item)

[2015-08-14 15:26] monkeysecurity commented on #183
Neat! Does it work?

[2015-08-14 15:31] huntergregal commented on #183
Yup! Also added a check for IAM groups with no group policies assigned. Figured why not, uses the same logic. Final code:

    def check_empty_users(self, iamgroup_item):
        """
        alert when an IAM Group has no users in it.
        """
        users = iamgroup_item.config.get('users', {})
        if not users:
            self.add_issue(1, 'No users in IAM group', iamgroup_item)

    de

[2015-08-14 17:43] huntergregal opened #184 "Support for AutoScaling?"
How difficult would i be to create a module for polling and auditing autoscaling configurations?

I plan on creating this but am not sure where to start.

There will need to be a new watcher for autoscaling and a new auditor. Is the best way to start by creating a new watcher based off of the others but trying to poll for autoscale configs?

No rush, any help would be appreciated.

Thanks

[2015-08-17 00:34] monkeysecurity commented on #184
Shouldn't be too difficult.

You could start off with a new watcher and leave the auditor for later.  Look at sns/sqs/ses for some simple examples.

I'll help you out if you get stuck.

What kind of audit checks do you have in mind?

[2015-08-17 18:38] huntergregal commented on #184
I'm looking to alert on AutoScaling groups that have no instances assigned to them.  My lack of AWS API knowledge is causing me some trouble. Using the other watchers as a rough template I so far have

=======================================================================
from security_monkey.watcher import Watcher
from security_monkey.watcher import ChangeItem
from security_monkey.constants impo

[2015-08-18 18:20] brian-olson opened #185 "ERROR: remaining connection slots are reserved for non-replication superuser connections"
I added approximately 20 AWS accounts to a functional SM instance. Upon enabling all accounts and rebooting I'm getting the error message below. As best I can tell there is a limitation on the connection count from SM.

== Error from Log file ==
OperationalError: (OperationalError) FATAL:  remaining connection slots are reserved for non-replication superuser connections
===================

So I m

[2015-08-18 19:02] huntergregal commented on #184
I am still getting "Problem Connecting to autoscale/Dev-Test/sa-east-1:\n'module' object has no attribute 'autoscale'" But am not sure why.

->security_monkey.common.sts_connect

 if connection_type == 'autoscale':
        if 'region' in args:
            region = args['region']
            del args['region']
        else:
            region = 'us-east-1'

        return boto.ec2.autoscale.connect

[2015-08-18 20:45] huntergregal commented on #184
Okay. I'm really close. I just can't get the right API call to get the autoscale group details.

I'm looking for this JSON output from the describe autoscaling group CLI command - > http://docs.aws.amazon.com/cli/latest/reference/autoscaling/describe-auto-scaling-groups.html

Then I can just check if instances has content.

Currently I'm using

 60             for region in regions:
 61

[2015-08-18 21:05] monkeysecurity commented on #185
Any idea how long it runs before you get this error?  If you have some time, I'd be interested to know if it goes away (or hides a bit longer) when you upgrade the RDS instance size.

Did you clone from the master branch or the develop branch?

Does the supervisor properly restart everything when this happens?

Thanks for the report.

[2015-08-18 21:09] monkeysecurity commented on #184
This looks promising.

To play with the AutoScaleGroup object, I typically do this:

    from ipython import embed
    embed()

Which will drop you into an interactive shell when it reaches that bit of code.  (Run `python manage.py find_changes -m autoscaling`, adjusting for the spelling you chose for the index.)

Then you can use ipython to run `dir` against the object and use tab completion to s

[2015-08-19 18:01] huntergregal commented on #184
Thank you so much! You are a gentlemen and a scholar.

The ability to tab complete the API functions is exactly what I needed. I did not know about being able to use ipython to embed a shell...that's going to be super handy in the future.

 And currently it's in a private fork but I may consider opening it once I get all the features I want in it

[2015-08-19 19:33] huntergregal commented on #184
Watcher is working :) Time to start on the auditor. The hard part was checking autoscale group for launch configs then for security groups designations in the launch config.

ipython embed() was a life saver.

Thanks monkeysecurity!

[2015-08-19 19:33] #184 closed

[2015-08-20 19:13] brian-olson commented on #185
Hey Patrick,

Our instance had been running for a few days. I didn't notice that a NAT
box failed and there was no longer any external connectivity. Once this was
fixed and everything was rebooted all issues were resolved. I'm thinking
this was the cause of the problem.

During the time of the issue everything looked to be up and running. No
failures in supervisor or in the log files. Eventually t

[2015-08-21 10:00] moritzheiber commented on #185
The problem is pretty easy to mitigate. Amazon uses an instances' available memory for calculating the value of `max_connections` in the default parameters assigned to your RDS instance.

The available memory for a t2.small instance on RDS is 2GB. The calculation is `DBInstanceClassMemory/31457280`.

`2147483648 / 31457280 = 68,26` (i.e. 68)

If you exceed this value (maybe through multiple server

[2015-08-21 10:00] moritzheiber commented on #179
Just a subtle reminder that 0.3.7 is still hasn't seen a release on GitHub yet ;)

[2015-08-22 00:10] monkeysecurity opened #187 "Replace M2Crypto with Cryptography"
The M2Crypto libs are a little obnoxious.  A few recent issues with swig/m2crypto have brought this up.  The M2crypto package is mostly (only?) used by the iam ssl watcher/auditor.

This M2crypto package should be ripped out and replaced with the Cryptography package.

The swig requirement should also go away.

@kevgliss will likely take the lead on this.

[2015-08-22 05:10] monkeysecurity commented on #187
Completed in #188

[2015-08-22 05:10] #187 closed

[2015-08-24 06:46] cbarrac commented on #174
I'm seeing a strange problem that may be the issue. I added the following line to common/utils/utils.py just above `send_email(app.config...`
[code]
Looking at the debug output, it's chopping an email address in to one letter chunks, and trying to send to them.
E.g. SECURITY_TEAM_EMAIL=monkey@domain
This would attempt to send emails to:
m
o
n
k
e
y
etc (one email per letter of recipient address).

[2015-08-24 07:03] cbarrac commented on #174
Debugging further, it's reading the SECURITY_TEAM_EMAIL as an array, but users in the database are fine.
[code]
[code]

[2015-08-24 22:38] cbarrac commented on #174
Fix for me: line 51 of auditor.py - change `self.email.extend(self.team_emails)` to `self.email.append(self.team_emails)`
Haven't tested alerter.py (line 64), but assume the same will work there.

[2015-08-25 00:35] cbarrac commented on #174
In my case, error was tracked down to `SECURITY_TEAM_EMAIL` being defined as a string `'email@domain.tld'` instead of an array `['email@domain.tld']`
security_monkey_auto_install.sh was setting this value incorrectly (see pull request #193)

Auditor / Alerter expanded to parse both (see pull request #194)

[2015-08-25 00:37] monkeysecurity commented on #174
Just merged #194. I believe this fixes the issue. Closing issue.

Thanks to @cbarrac for identifying the problem.  I couldn't figure it out.

[2015-08-25 00:37] #174 closed

[2015-08-25 00:46] monkeysecurity commented on #185
Dang @moritzheiber - good description and fix.

[2015-08-25 00:46] #185 closed

[2015-08-27 06:02] DenverJ opened #197 "Never recover from database connection error"
I've hit this problem a few times over the last few days. Basically a database error occurs (still not sure why) and the session isn't rolled back then on the next attempt to connect to the DB it retries forever.

It is triggered with losing an open connection to the DB as below...
2015-08-25 16:16:14,922 INFO: "Problem Connecting to sns/<account_name>/us-west-2:\n**(DatabaseError) server closed t

[2015-08-28 19:42] monkeysecurity commented on #179
Hey @moritzheiber - I just pushed up v0.3.8 with static files.

https://github.com/Netflix/security_monkey/releases/tag/v0.3.8

Sorry about missing 0.3.7.  Let me know if v0.3.8 won't work for you.

[2015-08-28 19:42] #179 closed

[2015-08-28 23:24] monkeysecurity opened #200 "security_monkey should add SNS/SQS notification options"
Current security_monkey notifications are over email.

It can be kinda spammy, depending on what you sign up for.

security_monkey should also allow notifications over sns/sqs.

Web UI functionality should be built out so you can be notified if a certain security group or iam role is modified.

This SNS/SQS notifications could also be invoked when an issue is justified or an item comment is added.

[2015-08-28 23:26] monkeysecurity opened #201 "Investigate using http://prettydiff.com/ on compare page"
Investigate using http://prettydiff.com/ or some other inline diff tool on the compare page.

[2015-08-28 23:55] monkeysecurity opened #202 "security_monkey should support saml authentication"
security_monkey currently relies on flask-security to create users.  security_monkey should optionally allow this to be replaced/augmented with single sign-on through SAML. security_monkey should be able to obtain a list of groups to be used for authorization checks.

[2015-09-01 23:50] markofu opened #204 "Add tags to side-menu"
Security Monkey should have a separate search capability on the side-menu to search based on tags.
This will require a new database table.

@bunjiboys and I can look at this if you'd like (no eta as of yet but we do want it in as you know :+1: )

[2015-09-03 17:57] DataSquid opened #205 "Upgrade procedure documentation"
Hi,

We have an existing install I'm looking into upgrading to the latest release.  The documentation doesn't explicitly cover this scenario, or I've missed it.  I'm inferring from the docs that I just treat like a new deploy minus the setup of the DB, and running "sudo -E python manage.py db upgrade" should cover off any upgrade path.  Is that accurate?  And applicable for both PostgreSQL and RDS

[2015-09-03 18:26] monkeysecurity commented on #205
Hey @DataSquid - Follow these directions and let me know if you run into any problems.

If these work for you, I'll add them to the documentation.

1) backup your env-config/config-deploy.py
2) Stop security_monkey and the scheduler using sudo supervisorctl.
3) mv your current security_monkey folder to a new name like security_monkey_backup
4) git clone git@github.com:Netflix/security_monkey.git i

[2015-09-08 16:51] monkeysecurity opened #208 "Select2 Search Boxes Should Support Wildcards"
When you wish to find all objects whose name contains a substring, the select2 search boxes require that you select an item from the drop down.  You can't search for anything starting with "Simian", and instead must select each item from the list.

Investigate whether the select2 module can accept partial searches, or wildcards.  Investigate updating the python API to allow searching both ways.

[2015-09-10 01:22] #163 closed

[2015-09-14 19:14] mikegrima commented on #171
It looks like Boto only returns the topic ARN.  I'll throw in some parsing logic to get just the name.

[2015-09-14 19:55] mikegrima commented on #171
Submitted PR: #209

I have tested it on my local development environment, and have confirmed that the fix works.

My concern is that this will ignore all SNS topics of this name in all accounts and regions.  Should the scope for this be later refined in the future?

[2015-09-14 19:58] DataSquid commented on #205
FYI Shortly after this I saw Pull Request #207 re. upgrading so I've held off upgrading unit I see if it gets committed/rejected.

[2015-09-29 20:15] #168 closed

[2015-09-30 21:45] mikegrima commented on #74
I will investigate using CloudTrail alerts to provide the alerting for changes: https://blogs.aws.amazon.com/security/post/TxASQFTVGZ5HMT/How-to-Receive-Alerts-When-Your-IAM-Configuration-Changes

[2015-09-30 22:31] ollytheninja commented on #54
Starting work on this today

[2015-10-01 19:25] stewarda opened #219 "IAM Policy "SecurityMonkeyReadOnly" is Missing Redshift"
Hey guys
The documentation provides an IAM policy that does not include Redshift. This results in an error when pulling in data. The correct policy should be:

    {
        "Version": "2012-10-17",
        "Statement": [
            {
                "Action": [
                    "cloudwatch:Describe*",
                    "cloudwatch:Get*",
                    "cloudwatch:List*",

[2015-10-01 19:36] stewarda opened #220 "SQS Audit Check Invalid ARN, prevents other checks running"
Hey guys
When trying to audit my first account I was unable to audit SQS due to the following error:

    Asked to audit 1 Objects
    methods: [<bound method SQSAuditor.check_sqsqueue_crossaccount of <security_monkey.auditors.sqs.SQSAuditor object at 0x7f03f9b81b90>>]
    "Given an invalid ARN: [u'arn:aws:sns:sa-east-1:123456789010:glassdoor-cloudtrail-notifications', u'arn:aws:sns:us-east-1:1234

[2015-10-02 21:44] monkeysecurity commented on #219
Instead of `redshift:Describe*`, does it work with `redshift:DescribeClusters` ?

We've moved away from using wildcards and the docs should probably reflect that.

Could you test with this policy:

    "Action": [
        "ec2:describeaddresses",
        "ec2:describedhcpoptions",
        "ec2:describeinternetgateways",
        "ec2:describekeypairs",
        "ec2:describeregions",
        "ec2:de

[2015-10-02 22:12] monkeysecurity commented on #220
Hey @stewarda.  I believe @Qmando also had this issue recently.  I suspect the "invalid ARN" is because it is expecting a single ARN and your policy provides a list.

The SQS auditor should be updated to be able to handle lists.

While we're working on a fix, you may want to comment out the line `raise InvalidARN(topic_arn)` and add `pass` in its place.

    try:
        account_numbers.append(str

[2015-10-02 22:17] Qmando commented on #220
I also temporarily fixed this by also commenting out the exception and adding pass. This line has a similar check, which you may also want to comment out just in case: https://github.com/Netflix/security_monkey/blob/master/security_monkey/auditors/sns.py#L87

[2015-10-03 04:38] stewarda commented on #219
I'll give it a whirl. Thanks!

[2015-10-06 17:31] monkeysecurity commented on #220
Reproduced this and upgrading it to a major blocker.  Will have a hotfix out by end of day.

[2015-10-06 17:41] monkeysecurity commented on #219
Pushed to develop:

2bd5f8097a12d199a91ba5b10547164853c8483c

[2015-10-06 17:41] #219 closed

[2015-10-06 18:28] monkeysecurity commented on #220
Pushed up a commit to a new branch:

427ab1efbc3c3d2045c56ec8a1f06081da34eb81 on branch hotfix/issue_220_sqs_invalid_arn_check.

I'll test it a bit before merging it in.  It works well so far, but I may want to further abstract the ARN parsing.  The SNS auditor likely has the same problems.

[2015-10-06 18:36] stewarda commented on #220
Sorry for the delay, this is a snippet of the policy. It was used for Cloudtrail to allow multiple accounts to write to a single S3 bucket (all regions within the account hence the wildcard)

{
  "Version": "2008-10-17",
  "Id": "arn:aws:sqs:us-west-2:737575273253:myqueue",
  "Statement": [
    {
      "Sid": "Sid123456789",
      "Effect": "Allow",
      "Principal": {
        "AWS": "*"
      },

[2015-10-07 05:05] monkeysecurity commented on #220
The changes have been merged to develop and master.  I'll bump the version number tomorrow and update the changelog too.

SQS and SNS were both updated.  A new ARN class assists with the parsing of ARNs or other identifiers that are often used in their place (like `aws:sourceowner:<account_number>`).  It also helps extract ARN's from the potentially complicated condition section of an SQS/SNS poli

[2015-10-07 05:05] #220 closed

[2015-10-07 17:10] monkeysecurity opened #222 "Write tests for security_monkey.common.ARN"
A new class was recently created to help parse ARN's and extract ARN's from statement conditions.

Write some tests for this new class.

[2015-10-07 20:26] monkeysecurity opened #223 "IAM check misses '*' when found within a list."
https://github.com/Netflix/security_monkey/blob/master/security_monkey/auditors/iam/iam_policy.py#L71

The IAMPolicyAuditor class is the parent class to the IAMUser, IAMRole, IAMGroup, and ManagedPolicy Auditors.  This class contains a method `library_check_iamobj_has_star_privileges()` to look for statements where the action is '`*`':

    def check_statement(statement):
            if "Action" i

[2015-10-07 20:28] monkeysecurity commented on #223
FYI - the check for `iam:*` appears to handle this more correctly:

        def check_statement(statement):
            if statement["Effect"] == "Allow":
                if "Action" in statement and type(statement["Action"]) is list:
                    for action in statement["Action"]:
                        if action.lower() == "iam:*":
                            self.add_issue(10, tag, iamo

[2015-10-08 16:24] #171 closed

[2015-10-08 21:32] #162 closed

[2015-10-09 13:22] vishnudxb opened #225 "SMTPException: SMTP AUTH extension not supported by server."
I used the SMTP instead of SES.

EMAILS_USE_SMTP = True     # Otherwise, Use SES
MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 587
MAIL_USE_SSL = True
MAIL_USERNAME = 'username'
MAIL_PASSWORD = 'password'

The smtp is working fine, I had tested it. However when I used to send the alerts via SMTP in security monkey, it gives this error.

![maill](https://cloud.githubusercontent.com/assets/4784716/1039

[2015-10-09 14:03] monkeysecurity commented on #225
Could you set MAIL_USE_SSL to True and let me know if that works?

On Fri, Oct 9, 2015, 06:22 Vishnu Nair <notifications@github.com> wrote:

[2015-10-09 14:12] vishnudxb commented on #225
I am using MAIL_USE_SSL = True

[2015-10-09 17:00] monkeysecurity commented on #225
Assuming from the original description that you are using gmail.

I wonder if you need to enable POP/IMAP for your gmail account in order to use SMTP.  Could you check if you have one of those enabled?

The gmail instructions identify the following information for SMTP:
https://support.google.com/mail/troubleshooter/1668960?hl=en&rd=1#ts=1665018%2C1665144

Outgoing Mail (SMTP) Server - Requires TL

[2015-10-09 17:06] monkeysecurity commented on #197
I saw this recently as well. :(

Holy Moly.

Have you tried raising the exception from datastore?  I'm assuming that would kill execution, and supervisor would then restart the scheduler, but I haven't tried it.

This issue definitely needs some love.

[2015-10-09 17:50] monkeysecurity opened #227 "security_monkey github page should integrate with travis-ci"
Let's add travis-ci integration to SM.

Assigning to @mikegrima.

[2015-10-09 22:51] monkeysecurity commented on #204
Started on this:

https://github.com/Netflix/security_monkey/tree/feature/track_tags_issue_204

[2015-10-12 16:06] khushil opened #229 "credentials problem"
Hello.

I've the following in my -deploy log and I'm having real trouble getting SM to be able to talk to anything. I've a ~/.aws/credentials file with my access keys to my accounts and yet it still seems to be having problems? I've followed the docs to the letter (I think) and I'm at a bit of a loss.

[code]

[2015-10-12 16:15] khushil commented on #229
Why None here I wonder?
[code]

[2015-10-13 18:02] markofu opened #231 "Risk Scoring Improvement"
Change the risk scoring from numbers out of 10 to High/Medium/Low.

The latter system is easier to understand at a glance and, additionally, easier to prioritise.

[2015-10-13 20:10] vishnudxb commented on #225
@monkeysecurity  As I said before, SMTP was working fine, I tested it. Even I tried it with MAIL_USE_SSL with True and False.  Also I tried it with TLS.  Couldn't get time to check it afterwards, will check it again and will post the update here.
Thanks

[2015-10-14 08:42] vishnudxb commented on #225
@monkeysecurity  closing this, I make it work with SSL True, there was an issue with my SSL connection and after fixing that, everything works fine.
Thanks for the support.

[2015-10-14 08:42] #225 closed

[2015-10-15 11:15] oba11 opened #232 "ImportError: cannot import name send_email"
While trying to run manage db upgrade, go the error `ImportError: cannot import name send_email`.
Stack trace below.

[code]

Not sure if I'm missing anything.
Thanks.

[2015-10-15 12:51] brian-olson commented on #232
I had this same problem yesterday. The solution was to follow the instuctions outlined here: https://github.com/Netflix/security_monkey/issues/205

AFAIK the key is to start with a fresh git clone and then just copy over your env-config/config-deploy.py file. Make sure you keep a backup of the entire directory until you get it working :)

[2015-10-15 16:23] mikegrima commented on #232
I also experienced this issue the other day as well.

As @brian-olson mentioned, I resolved it by doing a fresh git clone (actually did a fresh fork and clone).

[2015-10-15 16:42] monkeysecurity commented on #232
If any python folks can explain to me how I caused this, I'd love to learn what I did wrong and avoid the issue in the future.

The only thing I can think of is that when I refactored `securitymonkey.common.utils.utils` into `securitymonkey.common.utils`, maybe the .pyc files remained and confused the interpreter.  I never ran into the issue on my development box, nor in production, and neither di

[2015-10-15 16:46] brian-olson commented on #232
When I originally attempted to fix the existing installation I did a diff
on this file and saw that chance. So I changed securitymonkey.common.utils back
to securitymonkey.common.utils.utils, but that just caused more errors. I
didn't want to get started down that road so I just made a fresh clone. So
you may be correct that something was lingering.

On Thu, Oct 15, 2015 at 12:42 PM, Patrick Kelle

[2015-10-21 03:24] OllyTheNinja-Xero opened #235 "SNS Auditor - local variable 'entry' referenced before assignment"
[In security_monkey/auditors/sns.py:125](https://github.com/Netflix/security_monkey/blob/d4c16c2d8c7102c392dd2310a085757965d647ac/security_monkey/auditors/sns.py#L125)

`entry` doesn't exist - I'm assuming this is a copy paste error from line 118

[2015-10-21 16:02] brian-olson opened #237 "User Management"
Is there a way to add, list, or delete user accounts for Security Monkey? I'm not seeing anything in the documentation other than how to register as a user via the web ui. Since there is no confirmation of new accounts I've disabled registration but now need a method to register new accounts on the server itself as well as to list the current users. Thanks!

[2015-10-21 23:04] ollytheninja commented on #237
See #114

[2015-10-21 23:49] brian-olson commented on #237
Heya @ollytheninja - I was hoping there might be an API or even a direct db query until the Web UI is completed.

[2015-10-22 00:33] DenverJ commented on #197
Yeh I did just raise it. It works ok. It just kills off that thread so just means you miss a config cycle. This is what I did...

        attempt = 1
        while True:
            try:
                items = query.all()
                break
            except Exception as e:
                app.logger.warn("Database Exception in Datastore::get_all_ctype_filtered. Sleeping for a few seconds. At

[2015-10-27 22:43] monkeysecurity opened #239 "security_monkey should separate SG ingress/egress audit checks"
Users have requested that the audit checks for security group ingress and egress rules be separated to help them focus on fixing their ingress rules before analyzing their egress rules.

Should be a pretty simple modification.

[2015-10-28 11:04] khushil commented on #229
Anyone got any clues about this please?

[2015-10-28 17:07] monkeysecurity commented on #229
Hey @khushil

Off the top of my head I'm not sure what the problem is.  It should work just fine with an access key and secret key in the `~/.aws/credentials` file, though we launch it into an IAM Instance Profile instead.

So our setup is like this:
Instance is launched into SecurityMonkeyInstanceProfile, which doesn't have the ability to do very much.  It can perform an `sts:assumerole` to a Sec

[2015-10-28 19:35] monkeysecurity opened #240 "SNS watcher only accepts alphanumeric (plus hyphen) in names. Underscores are not allowed."
https://github.com/Netflix/security_monkey/blob/develop/security_monkey/watchers/sns.py#L128

The regex should be extended to also allow underscores.

[2015-10-28 19:38] monkeysecurity commented on #240
Maybe try and find a reference in the AWS docs describing the allowed characters in the SNS name.

[2015-10-28 20:02] mikegrima commented on #222
Merged.

[2015-10-28 20:02] #222 closed

[2015-10-29 16:05] mikegrima commented on #240
[screen shot 2015-10-29 at 9 04 55 am](https://cloud.githubusercontent.com/assets/11035926/10824077/26fd1fc2-7e1c-11e5-8adb-7c269d4230d0.png)

[2015-10-29 19:47] mikegrima commented on #227
Turned TravisCI on.  Need to configure it.

[2015-10-29 20:36] mikegrima commented on #227
Pull Request #244 for tracking.

[2015-11-06 21:12] AlexClineBB opened #246 ""IOError: [Errno 29] Illegal seek" when LOG_FILE = /dev/stdout"
I've installed Security Monkey within a docker container. To ensure that I'm able to collect the logs, I've configured logging with:

    LOG_LEVEL = "DEBUG"
    LOG_FILE = "/dev/stdout"

When the scheduler is running, it throws the following error for every event it tries to write to the log (the python file triggering the bug is different, but the error is the same):

[code]

[2015-11-06 21:25] monkeysecurity commented on #246
Yeah I've seen this before as well when playing with dockerizing security_monkey.  I'm assuming it has something to do with the RotatingFileHandler or StreamHandler, but never really dug into it:

https://github.com/Netflix/security_monkey/blob/master/security_monkey/__init__.py#L39

[2015-11-09 02:07] skdubey opened #247 "SecurityMonkey for GovClod region"
Hi,

I am trying to setup SecurityMonkey for GovCloud region, but later found that non of the region is being listed in Dashboard. Is there any change require to make it work on GovCloud ?

[2015-11-09 02:27] mikegrima commented on #247
Hi @skdubey, we would love to do some additional testing to get it to work with GovCloud.

Can you provide additional details on what you are seeing?

[2015-11-09 02:29] mikegrima commented on #247
One major challenge is that only a small subset of AWS technologies are available in GovCloud, so you may see some missing functionality as a result.

[2015-11-09 02:33] mikegrima commented on #247
You may need to do some refactoring...

For example: https://github.com/Netflix/security_monkey/blob/03c1594e0906167fb2c66a2d06fcd87d28736643/security_monkey/constants.py#L25

You would need to remove the govcloud region from the `TROUBLED_REGIONS` constant.

[2015-11-09 02:38] skdubey commented on #247
Thanks for the quick reply,

But i am not able to see anything in Dashboard, nor any server log which should say that it is attempting to do something on system. Services are running fine.

[2015-11-09 02:40] skdubey commented on #247
Hi Mikegrima,

What is ROUBLED_REGIONS ? Does it means, all the regions mentioned in this list, system will not check for those regions ?

[2015-11-09 02:47] mikegrima commented on #247
@skdubey : Take, for example the code here:
https://github.com/Netflix/security_monkey/blob/03c1594e0906167fb2c66a2d06fcd87d28736643/security_monkey/watchers/sqs.py#L58-L67

If an Exception is raised, it will skip over the regions defined in `TROUBLED_REGIONS`, which by default, we have the GovCloud region in there.

What happens if you remove the GovCloud region from that constant? I would try th

[2015-11-09 02:50] skdubey commented on #247
@mikegrima : Thanks, i will update you the result after making changes shortly.

[2015-11-09 07:10] skdubey commented on #247
Hello Mike,

Which file is this? I tried to find this string globally in security_monkey
directory and even in source, but couldn't find it.

On Mon, Nov 9, 2015 at 8:17 AM, Mike Grima <notifications@github.com> wrote:

--
Regards,
Sandeep

[2015-11-09 07:13] skdubey commented on #247
Sorry got it "constants.py". Should i restart the service to take effect or
rebuild it from source after making this change ?

On Mon, Nov 9, 2015 at 12:40 PM, sandeep dubey <sandeep.sanash@gmail.com>
wrote:

--
Regards,
Sandeep

[2015-11-09 07:31] skdubey commented on #247
Hello Mike,

After removing the govcloud region and restarting the supervisor, i am
getting "Error loading resource from API. Error: <API Server is not
reachable.>" error in console but no log in access/error.log file.

On Mon, Nov 9, 2015 at 12:43 PM, sandeep dubey <sandeep.sanash@gmail.com>
wrote:

--
Regards,
Sandeep

[2015-11-09 18:48] monkeysecurity commented on #247
Hey @skdubey - We'd love to be able to get security_monkey to work in govcloud.  Unfortunately, we don't have access to it.  If you'd feel comfortable doing a google hangout sometime so we can try and work through the issues, that would be great for the project.

Do you know if GovCloud is going to support Lambda in the future?  I don't see it on the current list:

https://aws.amazon.com/govcloud-

[2015-11-10 01:44] ghost opened #248 "Invalid ARNs not handled consistently"
s3 auditor just logs ARNs it couldn't parse
SNS and SQS auditors make it an issue

[2015-11-10 14:44] cstewart87 commented on #144
For anyone else that comes across this issue:

I was running into the same problem, then realized that build process was being killed because my VM was out of memory.

After running the build step, check your exit code: `echo $?` (mine returned 137).

Then, check for an `Out of memory` message at the end of `/var/log/syslog`.

Creating a VM with additional memory resolved the problem for me.

[2015-11-10 18:48] monkeysecurity commented on #144
Thanks a ton @cstewart87.

[2015-11-11 03:03] OllyTheNinja-Xero opened #249 "ELB Watcher uses deprecated botocore calls"
Since @monkeysecurity has indicated a dependency update is in the works, all deprecated calls to botocore need to be updated.

See the changes docs here http://botocore.readthedocs.org/en/latest/client_upgrades.html

[2015-11-12 18:13] monkeysecurity opened #251 "IAM SSL Invalid Cert Issuer Check was unintentionally disabled in the move to cryptography from m2crypto."
https://github.com/Netflix/security_monkey/blob/master/security_monkey/auditors/iam/iam_ssl.py#L40

Old M2Crypto code for grabbing the issuer:

[code]

which was paired with an auditor check:

[code]

But was broken with new get_issuer code:

[code]

[2015-11-12 23:59] monkeysecurity opened #252 "Docs lack upgrade instructions"
Should be something like:

1) backup your env-config/config-deploy.py
2) Stop security_monkey and the scheduler using sudo supervisorctl.
3) mv your current security_monkey folder to a new name like security_monkey_backup
4) git clone git@github.com:Netflix/security_monkey.git into the folder where the old version was installed.
5) activate your python virtualenv and run python setup.py install
6)

[2015-11-13 18:21] monkeysecurity commented on #240
merged in.

[2015-11-13 18:21] #240 closed

[2015-11-13 18:39] mikegrima commented on #227
Implemented.  Will work on moar tests.

[2015-11-13 18:39] #227 closed

[2015-11-13 18:48] mikegrima commented on #197
@DenverJ Can you submit a PR for that change? Would do it myself, but wanted you to get the credit ;)

[2015-11-13 18:49] #235 closed

[2015-11-13 18:58] mikegrima commented on #248
@OllyTheNinja-Xero Are you referring to this:
https://github.com/Netflix/security_monkey/blob/master/security_monkey/auditors/s3.py#L118-L123 ?

[2015-11-15 20:00] OllyTheNinja-Xero commented on #248
Yes and https://github.com/Netflix/security_monkey/blob/master/security_monkey/auditors/s3.py#L125-L129

[2015-11-15 23:31] mikegrima commented on #248
Cool -- I can make a quick PR for it (or you can) -- up to you.

[2015-11-16 02:18] mikegrima opened #253 "Make AWS ElasticSearch Service Watcher and Auditor"
Need to make an auditor and watcher for the new AWS ElasticSearch Service feature.

[2015-11-16 19:24] dischord01 commented on #247
Im at the same point working with Security Monkey in GovCloud. I would like to try a Google Hangout to try to resolve this. I have the web interface up and running but nothing is being returned. I removed the GovCloud entry from troubled regions and still SM returns nothing.

For Lambda, not sure if they will or not. Its kind of driven from user demand what they put in GovCloud.

[2015-11-16 20:32] mikegrima opened #254 "Investigate using the latest boto3 and botocore"
Will check if the latest versions of boto3 and botocore resolve issues that were previously seen.

[2015-11-16 21:10] monkeysecurity opened #255 "Docs should be updated to describe `manage.py amazon_accounts`."
See merged PR #241.

Quickstart guide should direct people to run this method on first install:

[code]

[2015-11-16 23:25] monkeysecurity commented on #223
Merged fix in @228.

[2015-11-16 23:25] #223 closed

[2015-11-16 23:25] monkeysecurity commented on #252
Duplicate of #205

[2015-11-16 23:25] #252 closed

[2015-11-16 23:26] monkeysecurity commented on #249
Fix merged in #250

[2015-11-16 23:26] #249 closed

[2015-11-16 23:27] monkeysecurity commented on #169
Merged in #241

[2015-11-16 23:27] #169 closed

[2015-11-17 00:16] mikegrima commented on #254
Submitted PR #256 to address this.  Appears to work.

Merging.

[2015-11-17 00:16] #254 closed

[2015-11-17 03:58] skdubey commented on #247
Sorry Patrick for late reply, I was traveling.

Let me know what is the right time to skype/hangout ?

Regarding Lambda, not sure when AWS will introduce this service in
Govcloud, as there are other services would be in their  priority list.

On Tue, Nov 10, 2015 at 12:19 AM, Patrick Kelley <notifications@github.com>
wrote:

--
Regards,
Sandeep

[2015-11-17 04:32] ghost opened #257 "SNS policy check fails on non ARN Principal"
SNS topic policies can have ARN, Federation and Service however the auditor only recognizes ARNs and fails with 'Auditor could not parse ARN'

Should add issue that specifies what Principal and Principal type it is unhappy with.
Not sure what score it should have or whether it should match against a known list of Federations and Services

[2015-11-17 19:34] hellovadi commented on #247
@skdubey the error message: "Error loading resource from API. Error: <API Server is not
reachable.>"
suggests the Security Monkey is trying to reach an endpoint that GovCloud has no idea of. In Security Monkey code, I see comments like:

# If we can't get the region, default to us-east-1 so we can fillout

For example in your case, Security Monkey is trying to connect to ec2.us-east-1.amazonaws.co

[2015-11-18 14:54] moritzheiber commented on #239
:+1:

[2015-11-19 15:43] shayb01 opened #258 "Who preformed an action"
Hi,
I just installed Security Monkey and started to get alerts.
I cant find which user account performed an action.

Is there a way to tell Security Monkey to add the name of the user who performed an action.
Example:
Security Group was changed, i can see the diff JSON and to understand what has been changed but i can't tell which user performed the action

[2015-11-19 17:46] bunjiboys opened #259 "Dart 1.13.0 breaks build"
The most recent release of Dart (v1.13.0) breaks the build for the webapp. Workaround for now is to install dart 1.12.x instead. For example for Ubuntu `apt-get install dart=1.12.2-1`

Output from `pub get`
[code]
Output from `pub build`
[code]

[2015-11-19 22:18] bunjiboys opened #260 "QuickStart role document needs DescribeInstances"
The SecurityMonkey Role policy document needs to include `ec2:describeinstances` as this is required when running in FULL details mode.

[2015-11-20 17:14] AlexClineBB opened #262 "ELB audit flapping due to changes in policies"
The ELB auditing is notifying of changes to all of our ELBs due to the following "change" seen below with different results at two times this morning:

[code]

[code]

I'm not able to see the `reference_security_policy` or `type` attributes when I request the ELB config using the AWS API. No other changes to the ELBs are occurring.

[2015-11-20 17:32] monkeysecurity commented on #262
I've seen this too.  I'll prioritize this bug.  I find it super annoying.

@AlexClineBB - Are other apps in your account hitting the ELB API's especially hard?

[2015-11-20 18:15] AlexClineBB commented on #262
@monkeysecurity, yes we are using the ELB APIs pretty heavily - for instance attaching and configuration checking.

[2015-11-20 19:37] monkeysecurity commented on #259
I'll update the docs to pin to the old version.

[2015-11-20 20:37] monkeysecurity commented on #259
PR #263 to update docs and the install script to pin to v 1.12.2-1.

[2015-11-20 22:19] mikegrima opened #264 "Create a TravisCI test for Dart"
Given recent issues related to dart: #259 , we should have automated builds to check for this happening.

[2015-11-20 22:29] monkeysecurity commented on #258
Hey @shayb01 - Good question.

So security_monkey asks the AWS API's what things look like, but it doesn't currently have information on who changed something.

CloudTrail is your best bet for finding out who changed something.  We've talked about having CloudTrail integrate with security_monkey for a while but haven't coded anything up in a releasable form.

[2015-11-20 22:29] #258 closed

[2015-11-20 23:46] monkeysecurity commented on #259
merged

[2015-11-20 23:46] #259 closed

[2015-11-20 23:47] monkeysecurity commented on #260
merged

[2015-11-20 23:47] #260 closed

[2015-11-20 23:51] monkeysecurity commented on #262
Could you see if the current develop branch exhibits this same behavior?  It better handles rate limiting in the botocore calls and doesn't give up as easily, which may help fix the problem.  I'm testing the develop branch as well and will update this ticket with what I find.

[2015-11-21 02:21] mikegrima commented on #264
Created PR #269

[2015-11-21 02:28] #264 closed

[2015-11-23 04:46] monkeysecurity commented on #262
Fixed in #265

This has been merged to master in release v0.4.0

[2015-11-23 04:46] #262 closed

[2015-11-23 20:26] AlexClineBB commented on #262
@monkeysecurity I've deployed v0.4.0 internally and can see a big improvement in the number of messages being sent. Thanks for the quick fix!

[2015-11-25 08:55] skdubey commented on #247
@hellovadi, I replaced the default region in s3.py and restarted the
supervisor service but still not able to get this region. I am not a
developer so understanding this is little bit tough  for me.

@patrick, Should we go on remote session to work on  this if you have time.

On Wed, Nov 18, 2015 at 1:05 AM, hellovadi <notifications@github.com> wrote:

--
Regards,
Sandeep

[2015-11-25 09:01] skdubey commented on #247
Just noticed below error. Seems that i should replace all the connection
url to govcloud url ?

2015-11-25 08:48:50,173 INFO: 0 deleted Security Groups in
[u'inSyncGovCloud'] [in
/usr/local/src/security_monkey/security_monkey/watcher.py:347]
2015-11-25 08:48:50,173 INFO: 0 created Security Groups in
[u'inSyncGovCloud'] [in
/usr/local/src/security_monkey/security_monkey/watcher.py:348]
2015-11-25 0

[2015-11-25 23:27] vadi-soha commented on #247
@skdubey you need to work with a contributor to fix this. When I run:

**find src/security_monkey -type f | xargs grep us-east-1**

there are many hits. In many cases SM just assumes us-east-1 as the default region.  If you want a quick turnaround: clone SM repo, edit the source to handle every line of the output of the command I have given above. Sorry I used to have GovCloud access, now I do not

[2015-11-25 23:33] hellovadi commented on #247
@skdubey you need to work with a contributor to fix this. When I run:

**find src/security_monkey -type f | xargs grep us-east-1**

there are many hits. In many cases SM just assumes us-east-1 as the default region. If you want a quick turnaround: clone SM repo, edit the source to handle every line of the output of the command I have given above. Sorry I used to have GovCloud access, now I do not.

[2015-12-02 13:05] rishikv commented on #60
I am trying to do the dart pub build on ubuntu (in the /usr/local/src/security_monkey/dart directory), it is hanging without completion. Tried all the options specified on the net for the issue (like changing the DEFAULT_CACHE_SIZE...). I tried dart 1.13.0 and 1.14.0-dev.1.0. If anybody has a similar issue please post the resolution. Thanks for your help.

[2015-12-02 13:19] zoechi commented on #60
@rishikv you could try `--trace` or `--verbose` to get more information about the cause.

[2015-12-02 13:26] rishikv commented on #60
Thanks i tried those options i see bunch of warnings and it hangs

[Warning from Dart2JS on security_monkey|web/main.dart]:

packages/angular/core/module.dart:54:5:

Library 'package:angular/core_dom/module_internal.dart' doesn't export a
'PendingAsync' declaration.

Try removing 'PendingAsync' from the 'show' clause.

    PendingAsync,

    ^^^^^^^^^^^^

[Dart2JS]:

web/main.dart:

**************

[2015-12-02 14:12] zoechi commented on #60
These messages don't indicate real issues. There is a redundant `PendingAsync` in the `show` clause, but it seems not to be used anyway.
The mirrors warning is shown for all applications using mirrors.
That's no real progress :(

[2015-12-02 14:15] rishikv commented on #60
yeah, i suppressed the warning by adding commandLineOptions in yaml file.
Not sure what else i can try

On Wed, Dec 2, 2015 at 9:12 AM, Günter Zöchbauer <notifications@github.com>
wrote:

[2015-12-02 14:40] zoechi commented on #60
Just a wild guess. I don't know if this is still used at all, but might be worth a try:

`export DART_VM_OPTIONS=--old_gen_heap_size=2048`
(maybe with bigger values)

before you run `pub build`.

[2015-12-02 15:59] monkeysecurity commented on #60
Hey @rishikv - The latest dart breaks the build.

See #259. Solution is to pin to v1.12.2-1.

[2015-12-02 16:21] zoechi commented on #60
Similar issue reported at
- https://github.com/dart-lang/code_transformers/issues/23#issuecomment-158359783
- https://github.com/dart-lang/sdk/issues/25009

[2015-12-02 16:30] rishikv commented on #60
I tried 1.12.2-1 but i see the build hangs after printing this on the console. Any other suggestions? (tried increasing the old_gen_heap_size)

FINE: [Fine from InjectorGenerator on security_monkey|web/main.dart]:
    | Took 8.7s (8.3s awaiting secondary inputs).

[2015-12-03 01:03] monkeysecurity commented on #60
You aren't on like a t1.micro or something are you?  I've seen a lack of memory cause problems with the dart build phase.

[2015-12-03 01:04] monkeysecurity commented on #60
You can always download the complied JS from the releases page:
https://github.com/Netflix/security_monkey/releases

[2015-12-03 01:56] rishikv commented on #60
Excellent point sir. Thanks for your insight. I am on t1.micro. didn't realize that t1.micro cause memory problems

[2015-12-07 18:07] AlexClineBB opened #272 "SES domain identities are not verifying"
Hello,

My AWS account has two SES domain identities and both are showing up in SM as not verified:

![screen shot 2015-12-07 at 1 06 29 pm](https://cloud.githubusercontent.com/assets/5075173/11635238/6d256ec4-9ce3-11e5-9046-d9b420c22ba4.png)

When I look in the AWS web console, they both say they're verified and when I use the API, I get confirmation that they're verified.

[code]

Might SM not b

[2015-12-07 18:22] monkeysecurity commented on #272
Interesting.

I would stop the scheduler and run the SES changewatcher manually on that account to see what it says:

    sudo supervisorctl
    stop securitymonkeyscheduler
    status
    CTRL-D

    export SECURITY_MONKEY_SETTINGS=whereverthatis
    python manage.py find_changes -m ses -a YOURACCOUNT

[2015-12-07 18:53] AlexClineBB commented on #272
@monkeysecurity, here's the output from running that:

[code]

[2015-12-07 19:18] AlexClineBB commented on #246
You're right.

To test, I tried changing the `maxBytes` and `backupCount` parameters to zero (0). This caused the RotatingFileHandler to never try to rotate the log and didn't issue the illegal seek.

In my case, rather than changing the source, I was able to work around the error by specifying `LOG_FILE = "/dev/null"`. The docker container running the scheduler was able to capture the scheduler's

[2015-12-07 19:18] #246 closed

[2015-12-08 00:42] monkeysecurity opened #274 "Installation Documentation Updates"
Feedback from a recent install:
1. AWS no longer allows "Custom Policy" as a choice on the policy selection screen (after the role type selection). Need to create policy first before beginning with the role creation so that my policy shows up under "Customer Managed Policies"
2. Change chmod instructions to say "400" instead of "600"
3. In compiling the web app one has to run "get" before "build"

[2015-12-11 03:23] cstewart87 opened #276 "PyPI Packaging"
Are there any plans to package this app up to be installed using something like `pip` in order to make the installation process very simple?

[2015-12-11 17:36] monkeysecurity commented on #276
Hey @kevgliss, how difficult would that be?

[2015-12-11 17:53] kevgliss commented on #276
@monkeysecurity Let's trade horses, I can work on it put I expect a pull request to Lemur :-)

[2015-12-15 22:59] #253 closed

[2015-12-16 16:55] AlexClineBB commented on #239
:+1:

[2015-12-22 19:27] mikegrima commented on #274
Updated 2, 3.

[2015-12-24 10:29] hridyeshpant commented on #23
i am trying to setup security_monkey using https://github.com/Netflix-Skunkworks/zerotodocker/wiki/Security-Monkey link
but when running the final command
"docker run -i -d --name security_monkey-scheduler --link security_monkey-postgres:postgres -v `pwd`/boto.cfg:/etc/boto.cfg:ro netflixoss/security_monkey-scheduler:0.2.0"
i am getting error

Am i missing somethings here ?

[2015-12-24 13:07] hridyeshpant commented on #23
when i am running "/usr/local/src/security_monkey/scripts/scheduler-start.sh" inside the container, below is the logs

2015-12-24 13:04:53,682 INFO: Scheduler started [in build/bdist.linux-x86_64/egg/apscheduler/scheduler.py:574]
2015-12-24 13:04:53,682 DEBUG: Looking for jobs to run [in build/bdist.linux-x86_64/egg/apscheduler/scheduler.py:579]
2015-12-24 13:04:53,683 DEBUG: No jobs left; shuttin

[2015-12-25 06:07] hridyeshpant commented on #117
i did setup using https://github.com/Netflix-Skunkworks/zerotodocker/wiki/Security-Monkey
but facing same issue when clicking "Audit Issue" , nothings is coming.
Does Docker version don't have these fix?

also below hit are returning results
https://YOUR_SECURITY_MONKEY/api/1/issues?accounts=&count=25&enabledonly=true&names=&page=1&regions=&technologies=

https://YOUR_SECURITY_MONKEY/api/1/issues?

[2015-12-25 06:50] hridyeshpant commented on #117
i could see the fixed is not present in latest version of docker images 0.3.4 (./security_monkey/build/lib.linux-x86_64-2.7/security_monkey/auditor.py when open this file inside the container)
https://github.com/markofu/security_monkey/commit/433c3b11935c1f4a663d292f5b29d6894e9cfb71

[2015-12-25 07:07] hridyeshpant commented on #117
i update the file security_monkey/auditor.py with latest version inside the container and run the command , its working and showing the audit issue .
Can some please let me know when this fix is available in docker image ?

[2015-12-25 20:59] hridyeshpant commented on #117
Created security_monkey-scheduler docker images from v0.3.5 code base of security_monkey.
https://hub.docker.com/r/hpant/security_monkey-scheduler/

[2015-12-28 22:53] mikegrima opened #283 "ElasticSearch Watcher Score Fix"
Need to make a quick fix to the ElasticSearch Watcher so that if a domain permits the `root` user of an account, it only raises an issue if it is granting `root` from a _different_ account.

The logic fix here can be adapted to S3 (will submit another issue for that feature once this one is complete).

[2016-01-06 18:53] mugzy opened #285 "not reading s3"
I have Security Monkey setup and working great except s3.  I noticed there were no S3 issues being generated so I checked the logs.

Here is what I found:

Adding ('s3', u'Account 1') to the exceptions list. Exception was: 'Problem Connecting to s3/Account 1/None:\ntimed out' [in /usr/local/src/security_monkey/security_monkey/watcher.py:161]

Any ideas?

[2016-01-06 19:00] monkeysecurity commented on #285
Woa. That's interesting.  So that exception is happening somewhere in the try/except clause from lines 126 to 129:

https://github.com/Netflix/security_monkey/blob/master/security_monkey/watchers/s3.py#L125

[code]

If you manually call the s3 watcher, I'm assuming you get the same error?

`python manage.py find_changes -m s3 -a "Account 1"`

I'm not sure why it would be timing out on that technol

[2016-01-06 19:33] mugzy commented on #285
The boto3 call in the python shell works fine.

The direct run of the watcher resulted in the exception below and took at least 5-10min to timeout.

'Problem Connecting to s3/Account 1/None:\ntimed out'
Adding ('s3', u'Account 1') to the exceptions list. Exception was: 'Problem Connecting to s3/Account 1/None:\ntimed out'
Asked to audit 0 Objects
methods: [<bound method S3Auditor.check_acl of <sec

[2016-01-06 20:06] monkeysecurity commented on #285
Is there anything unusual about your account?  Do you have a really large number of s3 buckets?  Are you in the civilian AWS cloud or in something like govcloud?  Are you in one of the newer AWS regions?

Could you do a `pip freeze | grep boto` and make sure they're modern versions?

[2016-01-06 20:27] mugzy commented on #285
16 buckets
Not in any of the new regions
Normal civilian AWS account

boto==2.38.0
boto3==1.2.1
botocore==1.3.7

[2016-01-07 04:40] finalriposte commented on #285
It's a long shot but any chance you are using proxies?  I know that I have issues between the way boto worked versus botocore handle proxies - boto reads the proxies from boto.cfg, botocore gets it from environment settings.

[2016-01-07 18:17] mugzy commented on #285
That was it!  I added the proxy to the .cfg and it all works now.  Thanks for such a great tool!

[2016-01-07 18:17] #285 closed

[2016-01-11 19:48] DataSquid commented on #205
Done!  Procedure worked as hoped.  Couple of notes:

- Mustn't forget to restore the config-deploy.py before install
- Needed to downgrade Dart as per issue #259
- Needed to build web-app as per quickstart, copy it to static/

[2016-01-11 19:48] #205 closed

[2016-01-11 22:04] DataSquid opened #287 "Missing quote in Policy"
The current JSON for SecurityMonkeyReadOnly at http://securitymonkey.readthedocs.org/en/latest/quickstart.html is missing the closing quote in the line

    "es:Describe*,

[2016-01-12 17:37] cstewart87 opened #288 "Development with Vagrant"
I'm trying to setup a dev environment through Vagrant.  I have Nginx and a PostgreSQL DB running in my vagrant VM and a synced_folder setup for my security_monkey code.

Question is, is there any way to run the development API server (https://github.com/Netflix/security_monkey/blob/master/docs/dev_setup_ubuntu.rst#start-the-security-monkey-api) through my Vagrant VM?  It always starts at 127.0.0.1

[2016-01-14 22:29] finalriposte opened #290 "botocore/Boto 3 calls not getting proxy settings"
I have an Ubuntu and a CentOS instance that has issues with botocore calls.
All boto2 calls are fine.
Botocore calls are not getting the proxy settings.
Examples of the log messages are:
security_monkey-deploy.log:51326:2016-01-15 08:04:11,143 DEBUG: Adding ('iamrole', u'<ACCOUNT>', 'universal') to the exceptions list. Exception was: "Problem Connecting to iamrole/<ACCOUNT>/None:\nHTTPSConneconPoo

[2016-01-20 04:45] monkeysecurity commented on #290
https://github.com/boto/botocore/blob/develop/botocore/endpoint.py#L272

[code]

It looks like botocore may be relying on urllib to pull proxy information out of environment variables and does not accept proxy settings from the boto config file.

https://docs.python.org/3/library/urllib.request.html#urllib.request.getproxies

I would think you could set a https_proxy environment variable and it wo

[2016-01-20 20:42] finalriposte commented on #290
I'd actually already tested that - when I ran the code independently from the python console I had no problem returning the dict (I'd played around with the proxy settings as http_proxy and https_proxy in both lower and upper case.
I should add that I am new to Flask and botocore/boto3 so there is still a huge chance I am doing something stupid.
I also noted over at botocore that they some day are

[2016-01-20 22:54] finalriposte commented on #290
I am going to close this here.  I basically had to place the dict, which getproxies did get into botocore/vendored/requests/utils.py's get_envion_proxies function as the return value. - this is by no means a fix to the problem, but I'll raise it over with botocore.  So quite odd, getproxies worked when I ran it manually, but something in the way it was called was not returning it correctly to endp

[2016-01-20 22:54] #290 closed

[2016-01-24 17:47] monkeysecurity commented on #287
Thanks - will get this updated soon.  I believe @mikegrima has updated with the exact permissions so wildcards are not required as well.

[2016-01-24 17:57] monkeysecurity opened #292 "Redshift watcher should ignore transient changes"
This may take a few minutes of research.

There are certain transient redshift changes that can cause security_monkey to send lots of emails and record lots of changes.  Ideally, these transient sections would be defined with our ephemeral flags:

        self.honor_ephemerals = True
        self.ephemeral_paths = ["user$password_last_used"]

(Above was taken from the IAM user)
https://github.com/

[2016-01-24 18:36] mikegrima commented on #287
PR #293 submitted for this issue.

[2016-01-28 15:48] cstewart87 commented on #54
Any updates on the status of this issue?

[2016-02-01 19:33] jimmysharrrison opened #294 "Issue starting SecMonkey Import Error: Cryptography"
I was trying to update security monkey, and hit the cannot import send_email error listed in another issue so I backed up my folder and tried a fresh git clone.  When I try to start security monkey through the supervisor it stalls and goes fatal.  The error logs have this traceback:

ImportError: No module named cryptography
Traceback (most recent call last):
  File "/usr/local/src/security_monkey

[2016-02-01 19:47] monkeysecurity commented on #294
Hey @jimmysharrrison - In v0.3.8 we replaced the M2Crypto dependency with a dependency on the Cryptography package.

https://github.com/Netflix/security_monkey/blob/master/docs/changelog.rst#v038-2015-08-28

You should be able to manually run `pip install cryptography==1.0.2` or do a `python setup.py develop` or do a `pip install -r requirements.txt` to have your virtualenv pickup the new dependen

[2016-02-01 20:18] jimmysharrrison commented on #294
FYI I managed to get security monkey running without errors, turns out I couldn't install the cryptography package because I was missing libffi-dev.  Anyone that runs into this issues should make sure they have python-dev and libffi-dev installed.  I am still getting 404's from nginx however.

[2016-02-01 21:02] #294 closed

[2016-02-03 10:59] ollytheninja commented on #54
Just waiting on the go ahead to publish it :+1:

[2016-02-03 16:31] cstewart87 commented on #54
Awesome!  Does that mean you have an existing branch that I can take a look at and you're waiting to submit a PR?  Or, you're waiting for approval to push to the public?

[2016-02-11 02:41] westlifezs opened #296 "Cannot reach web service"
Hello,

I followed the instruction but I cannot reach the webservice.
I checked the security group and set it to public.
but it still says "this page is not available".
Could anyone let me know what could be the reason?

Here is part of the process list that relevant to security monkey within in box:

[code]

Thanks and look forward to hearing from you,

[2016-02-11 17:30] mikegrima commented on #296
Hello @westlifezs

Can you ssh onto your instance and run `sudo netstat -tlpn | grep nginx`?  Then, while on that instance, try to `curl` localhost on the listed port numbers. You should get some HTML output representing Security Monkey.

If that works, then check if you have firewall rules on your instance blocking inbound access externally to that port (use `sudo iptables -L`).

Lastly, please v

[2016-02-11 19:18] westlifezs commented on #296
Mike,

thanks for your response. I figured out the issue eventually. I should use https rather than http. However, I came across another issue. Now I can see the web interface. I could not see anything by clicking "search". However, I have already setup the account by following the wiki instructions. is there any other approach that I can verify where is the root cause for this issue?

Thanks,

Su

[2016-02-11 20:07] mikegrima commented on #296
Hello @westlifezs

When you say that you set up an account, are you referring to the creation of a username/password for you to log in as, or are you referring to an AWS account to watch and audit?

Whenever you add or remove AWS accounts to audit, the scheduler must be restarted.

Thank You

[2016-02-11 20:14] westlifezs commented on #296
I am talking about AWS account. I did restart the scheduler but I still can see nothing under the search button. is there anything I can do to diagnose this issue?

thanks.

[2016-02-11 20:25] mikegrima commented on #296
Hello @westlifezs

Can you check out the logs? Assuming you are using the sample configuration in the quickstart, the file is `/var/log/security_monkey/security_monkey-deploy.log`.

If it is working properly, you should see something along the lines of: `Slurping ...`.

[2016-02-11 22:20] westlifezs commented on #296
Hi Mike,

Thanks for pointing me to the log.
I checked the log and found the following error. any hints? thx

2016-02-11 06:48:03,299 WARNING: Failed to connect to ses using boto. Check your boto credentials. <type 'exceptions.Exception'> 'AccessKeyId' [in /usr/local/src/security_monkey/security_monkey/common/ut\
ils.py:87]
2016-02-11 06:48:03,305 WARNING: Traceback (most recent call last):
  File

[2016-02-11 22:27] westlifezs commented on #296
I did not find anywhere mentioned AccessKeyId in http://securitymonkey.readthedocs.org/en/latest/index.html
Shall I specify it somewhere?

[2016-02-11 22:40] mikegrima commented on #296
Security Monkey utilizes AWS on-instance credentials that are provided automatically to your instance. The Boto API knows how to obtain them.

Did you create the IAM roles and launch your instance with the Instance Profile specified in the Quickstart document?

You can find out which IAM role your instance is running with by executing the command:
`curl http://169.254.169.254/latest/meta-data/iam/

[2016-02-11 22:40] mikegrima commented on #296
Security Monkey utilizes AWS on-instance credentials that are provided automatically to your instance. The Boto API knows how to obtain them.

Did you create the IAM roles and launch your instance with the Instance Profile specified in the Quickstart document?

You can find out which IAM role your instance is running with by executing the command:
curl http://169.254.169.254/latest/meta-data/iam/i

[2016-02-11 22:58] westlifezs commented on #296
curl http://PUBLIC_IP/latest/meta-data/iam/info/
curl: (7) Failed to connect to PUBLIC_IP port 80: Connection refused

I am showing the error above. I think this is because that I am using https.
Is there other ways to get this issue around?

thx

[2016-02-11 23:19] westlifezs commented on #296
I checked through web UI and it shows:

IAM role SecurityMonkeyInstanceProfile

Am I right? I strictly followed the instruction while setting this up.

[2016-02-11 23:51] mikegrima commented on #296
The `curl` command needs to be executed on the instance itself. The IP in the command: `169.254.169.254` gets information from the AWS on-instance metadata service.

Can you verify the launch configuration of your instance and check that it is launched into the `SecurityMonkeyInstanceProfile`?

[2016-02-12 00:01] westlifezs commented on #296
I got the same error while running inside the box. either through sudo or not.

what do you mean by launch configuration? is it "SecurityMonkeyLaunchPerms" mentioned in the documentation? if so, then it will be the same as the documentation.

thx

[2016-02-12 00:23] westlifezs commented on #296
by the way, shall I have a bogo config file in my box? I did not find the file. also security monkey does not mention anything about bogo. I checked bogo doc and it seems like such a config is needed. Could you let me know what the bogo config looks like in a healthy box? under which directory and what's the format? I am running ubuntu 1404 LTS. thx

[2016-02-12 00:31] mikegrima commented on #296
Hi @westlifezs

Open your AWS account console, then go to the EC2 Console. In there, select "instances" and search for the instance that is running Security Monkey.  When you select the instance, there should be some information about the instance on the bottom of the page.

What is listed under "IAM Role"?

Boto is the AWS Python API that is used by Security Monkey to fetch information from AWS.

[2016-02-12 00:33] westlifezs commented on #296
Sorry I misunderstood your explanation in my previous post.
I can successfully retrieve my credential from the curl call.

ubuntu@:~$ curl http://169.254.169.254/latest/meta-data/iam/info/
{
  "Code" : "Success",
  "LastUpdated" : "2016-02-12T00:32:15Z",
  "InstanceProfileArn" : "arn:aws:iam::ACCOUNT_ID:instance-profile/SecurityMonkeyInstanceProfile",
  "InstanceProfileId" : "LONG_STRING"
}

Does

[2016-02-12 00:35] westlifezs commented on #296
as I mentioned earlier already, the IAM role is shown "SecurityMonkeyInstanceProfile" through web console.  anywhere else I should look into?

thx

[2016-02-12 00:36] mikegrima commented on #296
That looks correct.

The next question is: are your roles configured properly?

Did you add the `SecurityMonkeyInstanceProfile` to the Trust Relationship of the `SecurityMonkey` role in the destination account? The `SecurityMonkeyInstanceProfile` also needs to have `sts:AssumeRole` access the destination account's `SecurityMonkey` IAM Role.

[2016-02-12 00:39] westlifezs commented on #296
I think so.
Here is the trust policy of securityMonkey role.

{
  "Version": "2008-10-17",
  "Statement": [
    {
      "Sid": "",
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::ACCOUNT_ID:role/SecurityMonkeyInstanceProfile"
      },
      "Action": "sts:AssumeRole"
    }
  ]
}

Anything else I can check?

thx!

[2016-02-12 00:40] mikegrima commented on #296
That looks correct.  Can you check the `SecurityMonkeyInstanceProfile`, and check that it has `sts:AssumeRole` on the `SecurityMonkey` role ARN?

[2016-02-12 00:44] westlifezs commented on #296
Here is it. Shall I put securitymonkey instead of "security_monkey_docker_user" in the file?

{
  "Version": "2008-10-17",
  "Statement": [
    {
      "Sid": "",
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::ACCOUNT_ID:user/security_monkey_docker_user"
      },
      "Action": "sts:AssumeRole"
    }
  ]
}

[2016-02-12 00:52] mikegrima commented on #296
Can you explain your setup a bit?

For example, are you running this in a Docker container?

[2016-02-12 00:55] westlifezs commented on #296
no. it is running on an instance. I think this is probably the root cause. thanks for helping me to identify the issue.
However, while I am trying to update the trust policy by replacing "security_monkey_docker_user" with "SecurityMonkey", it cannot succeed. It will not update at all. also no error message is given after that. Do you have any suggestions to fix this issue?

Thanks,

[2016-02-12 00:58] mikegrima commented on #296
Do you have an IAM role named `SecurityMonkey` in that account?

[2016-02-12 01:02] westlifezs commented on #296
I think so. I only have one account. while clicking "roles", I can see both "SecurityMonkey" and "SecurityMonkeyInstanceProfile" in the list. does it imply SecurityMonkey role belongs to my account? Or is there another way to check it? Sorry I have not been using AWS for a long while.

[2016-02-12 01:04] mikegrima commented on #296
Quick question: in the output above, you have `ACCOUNT_ID`.  Did you copy and paste that directly in here, or did you remove the actual account id from there?

[2016-02-12 01:05] mikegrima commented on #296
Another thing: the ARN for this role should be:
`arn:aws:iam::YOUR_ACCOUNT_ID:role/SecurityMonkey`

[2016-02-12 01:05] westlifezs commented on #296
I purposely hided our account_id. it should be a numeric value.

[2016-02-12 01:09] westlifezs commented on #296
got u. I updated the policy successfully. thanks for pinpoint the issue. Should I restart the scheduler and then check the log?

[2016-02-12 01:16] mikegrima commented on #296
Yes, please restart the scheduler.

[2016-02-12 01:17] westlifezs commented on #296
I restarted the scheduler and checked the log and I hit another error.
It looks similar to the original error but not exactly the same. Here is the details:

2016-02-12 01:11:49,896 ERROR: Job "run_change_reporter (trigger: interval[0:15:00], next run at: 2016-02-12 01:26:49.493850)" raised an exception [in build/bdist.linux-x86_64/egg/apscheduler/scheduler.p\
y:520]
Traceback (most recent call la

[2016-02-12 01:22] westlifezs commented on #296
it seems like the error is the same. Here is the error starting from the beginning of the scheduler restart.

2016-02-12 01:11:47,493 INFO: Adding job tentatively -- it will be properly scheduled when the scheduler starts [in build/bdist.linux-x86_64/egg/apscheduler/scheduler.py:287]
2016-02-12 01:11:47,494 INFO: Adding job tentatively -- it will be properly scheduled when the scheduler starts [in

[2016-02-12 17:52] mikegrima commented on #296
Which version of security monkey are you running?

[2016-02-12 18:13] mikegrima commented on #296
Could you also provide us with the output from `pip freeze`?

Thank You

[2016-02-12 18:14] westlifezs commented on #296
I installed it two days ago based on the instructions.
Therefore I believe it is the latest version.

[2016-02-12 18:14] westlifezs commented on #296
ubuntu@ip-172-31-34-219:~$ pip freeze
Exception:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 122, in main
    status = self.run(options, args)
  File "/usr/lib/python2.7/dist-packages/pip/commands/freeze.py", line 66, in run
    dependency_links.extend(dist.get_metadata_lines('dependency_links.txt'))
  File "/usr/lib/python2.7/dist-packages

[2016-02-12 18:15] westlifezs commented on #296
seems like I encountered a permission issue.
is there a way to config security monkey to run as root all the time?
thx

[2016-02-12 18:17] westlifezs commented on #296
ubuntu@ip-172-31-34-219:~$ sudo pip freeze
APScheduler==2.1.2
BeautifulSoup==3.2.1
Cheetah==2.4.4
Flask==0.10.1
Flask-Login==0.2.10
Flask-Mail==0.9.0
Flask-Migrate==1.3.1
Flask-Principal==0.4.0
Flask-RESTful==0.3.3
Flask-SQLAlchemy==1.0
Flask-Script==0.6.3
Flask-Security==1.7.4
Flask-WTF==0.9.5
Jinja2==2.7.2
Landscape-Client==14.12
Mako==1.0.3
MarkupSafe==0.18
PAM==0.4.2
Paste==1.7.5.1
PyYAML==3.1

[2016-02-12 18:18] westlifezs commented on #296
it is "security-monkey==0.4.1"

[2016-02-12 18:35] westlifezs commented on #296
it seems like the error triggered by the following function within /usr/local/src/security_monkey/security_monkey/common/utils.py

def send_email(subject=None, recipients=[], html=""):
    """
    Given a message, will send that message over SES or SMTP, depending upon how the app is configured.
    """
    plain_txt_email = "Please view in a mail client that supports HTML."
    if app.config.get(

[2016-02-12 19:19] westlifezs commented on #296
also may I know which way is the easiest way to restart security monkey?
Shall it be just "sudo service supervisor restart" or I need to also restart web service?
I want to hardcode access key id as a workaround if it is not configurable.

thanks,

[2016-02-12 20:09] mikegrima commented on #296
I'm interested in knowing why you are unable to fetch credentials from the instance.

[2016-02-12 20:41] westlifezs commented on #296
is there a way that I can test at lower level regarding fetching such credentials?
For example by using curl calls or client?

curl http://169.254.169.254/latest/meta-data/iam/info/ cannot provide access key id, right?

[2016-02-12 22:21] mikegrima commented on #296
Hi @westlifezs :

Can you open the `python` console on the instance, and paste in the following (add in your account number):
[code]

Do **not** paste the output in here, but it should get back a dict-like structure.  If that raises an exception, please let me know.

[2016-02-12 22:26] westlifezs commented on #296
the exception is the same as we have seen in the log:

Traceback (most recent call last):
  File "netflix.py", line 3, in <module>
    client = boto3.client('sts')
  File "/usr/local/lib/python2.7/dist-packages/boto3-1.2.1-py2.7.egg/boto3/__init__.py", line 79, in client
    return _get_default_session().client(*args, **kwargs)
  File "/usr/local/lib/python2.7/dist-packages/boto3-1.2.1-py2.7.egg/b

[2016-02-12 22:29] westlifezs commented on #296
I only replaced "INSERT_YOUR_ACCOUNT_ID_HERE" with our account id. anything else shall I replace within the script?

[2016-02-12 22:31] mikegrima commented on #296
It seems that you have an issue with your setup, as the AWS SDK's are unable to fetch the on-instance credentials.

Are you using an AWS provided instance image, or are you using your own?

[2016-02-12 22:32] westlifezs commented on #296
also is this region independent? we only have us-east1 region enabled but nothing else.

[2016-02-12 22:32] westlifezs commented on #296
I think I used AWS provide image.
here is the details:
AMI ID ubuntu-trusty-14.04-amd64-server-20160114.5

Does it look right?

[2016-02-12 22:47] mikegrima commented on #296
Do you have the `aws` CLI installed?  Can you run `aws help`?

[2016-02-12 22:55] westlifezs commented on #296
I just installed. However, it still does not work after I installed.

[2016-02-12 23:10] westlifezs commented on #296
I booted another fresh ubuntu image
ubuntu-trusty-14.04-amd64-server-20151117-ecd5575e-d805-450e-843e-f2a9872b8c80-ami-0a8acf60.3 (ami-86e0ffe7)

The error info is the same after I run your test python script.
I installed both bob3 and aws cli.

[2016-02-12 23:24] westlifezs commented on #296
which boto version is supported by security monkey?
Here is our version
python -c "import boto; print boto.Version"
2.36.0

[2016-02-12 23:50] mikegrima commented on #296
What happens when you:
 `curl http://169.254.169.254/latest/meta-data/iam/security-credentials/SecurityMonkeyInstanceProfile` ?

Does that print out credentials?

Security Monkey uses both Boto 2 and 3.

[2016-02-12 23:51] westlifezs commented on #296
sudo curl http://169.254.169.254/latest/meta-data/iam/security-credentials/SecurityMonkeyInstanceProfile
{
  "Code" : "AssumeRoleUnauthorizedAccess",
  "Message" : "EC2 cannot assume the role SecurityMonkeyInstanceProfile.  Please see documentation at http://docs.amazonwebservices.com/IAM/latest/UserGuide/RolesTroubleshooting.html.",
  "LastUpdated" : "2016-02-12T23:49:55Z"
}

[2016-02-12 23:53] mikegrima commented on #296
In the IAM console, open the Trust Policy for `SecurityMonkeyInstanceProfile`.  It should allow the principal: `ec2.amazonaws.com` in.

[2016-02-12 23:55] westlifezs commented on #296
this is the trust policy, is it right?

{
  "Version": "2008-10-17",
  "Statement": [
    {
      "Sid": "",
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::XXXXXXXX:role/SecurityMonkey"
      },
      "Action": "sts:AssumeRole"
    }
  ]
}

[2016-02-12 23:59] mikegrima commented on #296
That is a trust policy, but it is incorrect. -- That is what the trust policy should be for **`SecurityMonkey`**.

`SecurityMonkeyInstanceProfile` needs the following Trust Policy:

[code]

That will allow the instance to get the credentials for the role.

[2016-02-13 00:05] westlifezs commented on #296
so my SecurityMonkey trust policy is:

{
  "Version": "2008-10-17",
  "Statement": [
    {
      "Sid": "",
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::OUR_NUMERIC_ACCOUNT_ID:role/SecurityMonkeyInstanceProfile"
      },
      "Action": "sts:AssumeRole"
    }
  ]
}

and my securityMonkeyProfile trust policy is

{
  "Version": "2008-10-17",
  "Statement": [
    {

[2016-02-13 00:06] mikegrima commented on #296
Yes, that is correct.

[2016-02-13 00:08] westlifezs commented on #296
cool thanks a lot. I got the credential. But the server is still hitting the error. I think I should restart the server to make this effective. Shall I install restart just scheduler or supervisor or something else? thanks

[2016-02-13 00:08] mikegrima commented on #296
Restart the scheduler.

[2016-02-13 00:12] westlifezs commented on #296
I did
sudo supervisorctl
restart securitymonkeyscheduler
ctrl+d
tail -f /var/log/security_monkey/security_monkey-deploy.log

and it still shows the same error.
anything else I need to do to restart the scheduler?
thx

[2016-02-13 00:12] mikegrima commented on #296
Reboot the instance.

[2016-02-13 00:26] westlifezs commented on #296
it seems like the previous error has gone as there is nothing shown in the deploy log file in the last 30 minutes. However, I see another error in security_monkey.error.log and it shows:

2016/02/13 00:17:20 [error] 1170#0: *6 connect() failed (111: Connection refused) while connecting to upstream, client: 198.6.50.15, server: , request: "GET /api/1/items?accounts=&count=25&names=&page=1&regions=&

[2016-02-13 00:30] westlifezs commented on #296
By the way I think it would be nice if the trust policy for SecurityMonkey can be added in the documentation. Newcomers need it.

[2016-02-13 01:58] westlifezs commented on #296
forget about the previous error. I fixed it by reconfiguring the web server.
Thank you very much for the help during the process!

[2016-02-16 15:31] rakeshkotha opened #297 "Adding new audit rules"
Hi Guys,

Is there an api to add new set of audit rules? i am running on the latest version of the security monkey.

[2016-02-16 18:19] westlifezs opened #298 "monitoring other (instead of AWS) platforms by using security monkey"
Hello security monkey team,

thanks for answering my previous question regarding security monkey setup.
We like the security monkey features very much.
Besides AWS, we also want to monitor other platforms including openstack, local DC, etc.
If I want to further extend security monkey's function to monitor openstack, then could you please point me to a starting point?
Is there any existing APIs/mod

[2016-02-16 18:47] mikegrima commented on #296
Glad it works!

[2016-02-16 18:47] #296 closed

[2016-02-16 18:54] mikegrima commented on #298
Hello @westlifezs

It should be possible to audit other technologies, but we have not done this yet.  At the top of my head, you would need to implement your own auditor and watcher.

For a "getting started" point, please refer to the Contributing instructions: https://github.com/Netflix/security_monkey/blob/master/docs/contributing.rst

Please feel free to submit PR's!

[2016-02-16 22:11] westlifezs commented on #298
thank you very much for your info.
I briefly read auditor.py and watcher.py under securitymonkey folder.
It appears to me that watcher is monitoring the config change over time and auditor is checking if there is anything like "policy violation". I can do both through our own data source.
My question is, what can of data format should I feed into security monkey front end to have it displayed?
I h

[2016-02-16 23:58] westlifezs commented on #298
basically we want to encapsulate our auditor and watcher and present violated policies directly to security monkey UI. The reason we want to this because we want to make policy as an input rather than hard coded it into the auditor as we have lots of policies need to be checked at our local environment. Could you let us know how to present the policy violation result directly to security monkey UI

[2016-02-17 18:10] DataSquid opened #299 "Run time of job "run_change_reporter" was missed"
I have a few accounts (5) that fail to get data into Security Monkey.  There are 30+ accounts in total, so I'm suspecting that it's taking "too long" by some standard to get to these ones, and they are considered missed.  For each of them I get this message:

`2016-02-17 17:59:23,370 WARNING: Run time of job "run_change_reporter (trigger: interval[1:00:00], next run at: 2016-02-17 18:55:05.401693)

[2016-02-17 18:44] monkeysecurity commented on #299
Hey @DataSquid

The current architecture requires a thread/account:

https://github.com/Netflix/security_monkey/blob/master/env-config/config-deploy.py#L68

Up CORE_THREADS to like 45 and MAX_THREADS up to like 65ish and let me know if that "fixes" it.  I'd love to find a more elegant solution.

[2016-02-17 23:05] DataSquid commented on #299
Many thanks.  That worked.  Had been a while since the initial deployment so that knowledge was long-gone from my brain.

[2016-02-17 23:05] #299 closed

[2016-02-20 02:37] westlifezs opened #300 "dart bug: folder structure changed and dead "packages" pointer"
Hello,

It seems like dart changed the build folder structure for version 1.12.2
In the tutorial under session " Compile the web-app from the Dart code:"

There is one cmd: "sudo /bin/cp -R /usr/local/src/security_monkey/dart/build/web/* /usr/local/src/security_monkey/security_monkey/static/".

The cmd will fail because "/usr/local/src/security_monkey/dart/build/web/" is no longer exist.
the new w

[2016-02-20 07:03] westlifezs commented on #300
I can work around this issue by wget "sudo wget https://github.com/Netflix/security_monkey/releases/download/v0.4.1/static.tar.gz".
And uncompress static.tar.gz into "/usr/local/src/security_monkey/security_monkey".
However, a fix will be needed in order to have a local compiled version to be installed.

[2016-02-21 06:19] systeminsightsbuild commented on #148
Agreed, ignoring AWS managed policies that are not used would eliminate a vast amount of noise.

[2016-02-23 17:28] monkeysecurity commented on #300
I still get a build and web folder:

[code]

I'm not sure why your directory structure would be different.

[2016-02-23 18:01] westlifezs commented on #300
I tried it just now on my ubuntu box. But it still does not work for me.
I cannot see the directory.
Here is part of my screenshot:
su@ubuntu:/usr/local/src/security_monkey/dart$ sudo /usr/lib/dart/bin/pub get
Resolving dependencies... (4.1s)
Downloading angular 1.1.0...
Downloading analyzer 0.22.4...
Downloading angular_ui 0.6.8...

.......
tar: Ignoring unknown extended header keyword 'SCHILY.de

[2016-02-23 18:24] westlifezs commented on #300
I tried again on a fresh AWS ubuntu box. the result is the same.

[2016-03-01 18:46] westlifezs opened #303 "security monkey web app debug"
Hello,

I am trying to automate security monkey deployment through a single script.
I think I am close to make this happen but with only one hurdle left.
After I run the setup script, the service is up and can be accessed through its elastic IP.
However, it seems like the CSS page is not loading and I cannot go anywhere after I click the links on the page.
I know there might be something wrong wit

[2016-03-01 18:51] westlifezs commented on #303
![image](https://cloud.githubusercontent.com/assets/10884856/13437928/84c29b42-df9b-11e5-8d09-6ad2fb82fcd2.png)

this is how my current display look like

[2016-03-01 18:54] westlifezs commented on #298
this question has been answered by Patrick.
For someone who may want to know details at a later time, please find the answer from Patrick Kelley:

"The UI can be extended.  It's an angular app written in dart.

Currently the web UI displays Items, their attached ItemRevisions, and all policy violations are saved as an ItemAudit entry, attached to the Item.  Under settings, there is support to enab

[2016-03-01 18:54] #298 closed

[2016-03-01 18:55] westlifezs commented on #300
After I script the whole process, I am no longer hitting this error. thanks for your answers

[2016-03-01 18:55] #300 closed

[2016-03-01 23:14] jozzas commented on #297
Assuming you are already picking up the required detail with a watcher, you'll need to write an auditor in Python to generate audit items based on the collected data. Adding an auditor wasn't too challenging when I did it. Have a look at the auditors folder and see how you go.

[2016-03-01 23:59] monkeysecurity commented on #303
Hey @westlifezs - Sounds like a nginx config issue.

https://github.com/Netflix/security_monkey/blob/master/docs/nginx_install.rst

Could you open the browser inspector and look for errors in the console?

Your nginx config should look something like this:

[code]

(minus the ssl_certificate and ssl_certificate_key lines if you're terminating ssl on an ELB)

[2016-03-02 01:33] westlifezs commented on #303
@monkeysecurity
Hi Patrick,

Thanks for pointing me to the right direction.
I found a number of errors in the console saying:

Refused to load the image 'https://OUR_SERVICE_IP/ico/favicon-1.ico' because it violates the following Content Security Policy directive: "default-src self". Note that 'img-src' was not explicitly set, so 'default-src' is used as a fallback.

It seems like this is a permis

[2016-03-02 19:37] westlifezs commented on #303
I erased the "add_header Content-Security-Policy "default-src self; font-src self https://fonts.gstatic.com; script-src self https://ajax.googleapis.com; style-src self https://fonts.googleapis.com;" in nginx config file. The display looks better but it still is not showing correctly. it seems like the static ui.html redirect me to another page "main.dart.js" which is created by dart.

in main.dar

[2016-03-02 19:40] westlifezs commented on #303
here is the remaining errors I have in the web browser console.
I do not think I can get rid of them by reconfiguring nginx without changing any source code.

![image](https://cloud.githubusercontent.com/assets/10884856/13472840/7c36c07c-e06b-11e5-943d-4f7c8caae061.png)

[2016-03-02 20:11] monkeysecurity commented on #303
Does the page display better after logging in?  The login page is returned by flask itself and may not render properly when doing local dev.

Seems like your server is returning an inappropriate mimetype for the javascript.  It should be sending back the following header when fetching the bootstrap.min.js:

    Content-Type: application/x-javascript

So there's likely something wrong with your ngi

[2016-03-09 20:12] cstewart87 opened #304 "Next release?"
When is the next release planned for?  Looking forward to the updates from #301 :+1:

[2016-03-11 05:43] monkeysecurity commented on #304
Yeah that's a good one if you have an account with LOTS of IAM roles.

If I have some time tomorrow, I'll consider putting a release together.  Otherwise it'll be next week.

[2016-03-15 18:23] rbeede commented on #114
I'd like to see the SECURITY_REGISTERABLE = False added to the Quick Start guide under "Productionalizing Security Monkey"

It'd also be nice if setting SECURITY_REGISTERABLE would not only disable that but also hide the Register link on the main login page.   If someone browses to the register HTML form they should be told registration is disabled.

Perhaps a better option would be to extract out

[2016-03-17 02:11] Mr19 opened #306 "Multi-Factor Authentication"

[2016-03-18 01:28] Mr19 commented on #64
It happened to me too. check FQDN in config-deploy.py

[2016-03-22 22:11] cstewart87 commented on #304
Any updates on a new release?

[2016-03-23 22:30] monkeysecurity commented on #304
Hey @cstewart87 .  This performed pretty well in my test cluster the last two weeks.  I'm running the dev branch in our main cluster now where it's looking at a lot more accounts.  I'll push a release as soon as I'm comfortable that it's not going to cause anyone headaches.

[2016-03-23 22:32] cstewart87 commented on #304
Awesome!  Thanks for the update :+1:

[2016-03-29 04:50] jozzas commented on #197
Resolved by #302

[2016-04-05 23:23] monkeysecurity opened #310 "ELB Listener Policies failing"
AWS listener policies no longer contain the 'Protocol-SSLv2' key.

[code]

https://github.com/Netflix/security_monkey/blob/master/security_monkey/watchers/elb.py#L42

SM should be updated to deal with this by using:
[code]
instead of
[code]

[2016-04-05 23:33] monkeysecurity commented on #310
hotfix pushed out - testing in environment now

[2016-04-06 17:13] monkeysecurity commented on #310
confirmed the hotfix corrected this issue.  closing issue.

[2016-04-06 17:13] #310 closed

[2016-04-06 17:17] monkeysecurity commented on #306
security_monkey currently relies on flask-security which does not support mfa.

They've had an open issue on it since Dec 2014:
https://github.com/mattupstate/flask-security/issues/350

We're in the very early stages of a rewrite that will plug into your company's SSO like Onelogin or Okta or Ping, but still have an optional local username/password for backup.

So, I think we'll have this feature

[2016-04-06 17:22] #303 closed

[2016-04-06 17:22] monkeysecurity commented on #287
https://github.com/Netflix/security_monkey/pull/293 was merged

[2016-04-06 17:22] #287 closed

[2016-04-06 17:23] monkeysecurity commented on #201
I think I've decided I prefer mergely - http://www.mergely.com/

[2016-04-06 17:23] #229 closed

[2016-04-06 17:28] monkeysecurity commented on #166
At some point, this bug was fixed and this issue was not closed.

https://github.com/boto/boto3/issues/269
https://github.com/boto/botocore/pull/685

Looks like it was merged back in mid October, 2015 and picked up by security_monkey with a version bump to botocore or boto3.

[2016-04-06 17:28] #166 closed

[2016-04-08 21:22] subbu05 opened #311 "Invalid JSON - SecurityMonkeyReadOnly"
The JSON content that is showed in the document - http://securitymonkey.readthedocs.org/en/latest/quickstart.html, section
Paste in this JSON with the name “SecurityMonkeyReadOnly”:
"es:Describe*,

Expected
"es:Describe*",

[2016-04-08 21:24] mikegrima commented on #311
Hello @subbu05 - This has been fixed in the develop branch. We are currently working on some additional bug fixes before merging the fix into the master branch.

[2016-04-08 21:24] #311 closed

[2016-04-15 16:54] pdbogen opened #312 "build failure on Debian stable"
[code]

This seems to be a result of pinning to requests 2.2.1, which uses a version of urllib3 that assumes SSLv3 is available. In modern versions of Debian, SSLv3 is not available in this way since it has known security vulnerabilities. Pinning requests to the latest (2.9.1) builds fine, though it remains to be seen if anything is broken when running by doing so.

[2016-04-15 17:14] monkeysecurity commented on #312
Interesting.  FYI - the develop branch does not list requests as a requirement.  I feel pretty confident that I can remove the requirement from the master branch and not cause any problems.  Thanks for the report.  I'll push out an update in a minute and link to the commit here.

[2016-04-15 20:52] pdbogen opened #313 "security_monkey should (at least offer an option to) not use logging.handlers.RotatingFileHandler"
Justification: I want to log to stdout / stderr (I'm running in Docker and these streams will be captured by my orchestration infrastructure); but RollingFileHandler tries and fails to seek on the "files" it logs to, leading to failures:
[code]

I would expect that a regular FileHandler would work with /dev/stdout as the "file"; alternatively, a configuration option to simply log to stdout and/or

[2016-04-15 20:55] pdbogen commented on #313
n.b., reading the indicated line numbers in apscheduler/scheduler.py makes it clear that scheduler is operating nominally; starting, finding no jobs, and exiting. So this isn't a huge issue or anything, but I'd like ot be able to get valid logging nonetheless.

[2016-04-15 20:59] monkeysecurity commented on #313
Hey @pdbogen - Any interest in supplying a pull request?  I agree with your solution and have seen this problem before.

[2016-04-15 21:59] #313 closed

[2016-04-16 00:29] pdbogen opened #315 "scheduler stalled after unclean shutdown"
I'm supposing I killed scheduler in the middle of a transaction. C'est la vie. The service should be able to recover on subsequent launch:

[code]

[2016-04-16 00:34] pdbogen commented on #315
Hmm, I may have misdiagnosed the cause of this. Possibly it's because Scheduler started before/while PostgreSQL was starting; restarting scheduler resolved the errors. (Making these errors fatal means that my code would have restarted it automatically, so perhaps that's a sufficient fix.)

[2016-04-16 05:11] #312 closed

[2016-04-16 05:12] monkeysecurity commented on #312
Hey @pdbogen - I removed requests from `setup.py` and `requirements.txt` in the master branch, which should fix it.

My master and development branches are diverging slightly, but I'll merge the two soon.

[2016-04-16 05:16] monkeysecurity commented on #315
Yeah it looks like the code will try 5 times and then raise the exception up and let the scheduler (or supervisor?) restart it all.

https://github.com/Netflix/security_monkey/blob/master/security_monkey/datastore.py#L257

So I think the code is good as is?  Is that your assessment @pdbogen ?

[2016-04-16 07:12] pdbogen commented on #315
Ah, that'd be fine, except the scheduler itself didn't terminate. I guess apscheduler ends up eating that exception for some reason. I don't know nearly enough about those bits to recommend a fix.

(I had to manually kill scheduler and let it get restarted.)

For the sake of clarity, I've attached a more detailed [logs.txt](https://github.com/Netflix/security_monkey/files/222085/logs.txt)
. There

[2016-04-20 11:41] Psyered opened #320 "404 files not found."
Hi,
Installed security monkey following Quick Start Guide.

Chrome developer tools console log:

Refused to load the stylesheet 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' because it violates the following Content Security Policy directive: "style-src 'self' https://fonts.googleapis.com".
http://secmonkey/packages/angular_ui/css/angular.css Failed t

[2016-04-20 17:21] monkeysecurity commented on #320
Which CSP policy did you use?

You should have something similar to this in your nginx config:

[code]

That would alleviate the first problem.

The 404's will be another issue.  Your nginx config should have a route to your static files:

[code]

Navigate to that folder and ensure the files are actually there.

If not, please follow the instructions to build the web UI:
http://securitymonkey.read

[2016-04-20 18:14] monkeysecurity commented on #148
I just merged @llange's PR so you can now add an ARN prefix to the ignore list and have security_monkey ignore AWS managed policies.

[2016-04-20 18:14] #148 closed

[2016-04-20 23:52] monkeysecurity commented on #315
Is it possible that #316 corrects this?  I just merged that into develop today .

[2016-04-20 23:54] monkeysecurity commented on #304
This week.  We'll have v0.5.0 out by Friday.

HOPEFULLY we'll have @ollytheninja's #317 (RBAC) and #318 (APScheduler v3).

[2016-04-20 23:56] monkeysecurity commented on #297
I wonder how difficult it would be to allow users to plug in the rulesets from projects like Scout2 or CloudSploit:

https://github.com/iSECPartners/Scout2
https://github.com/cloudsploit/scans

I think that'd be pretty neat, and I'd love the inter-project collaboration.  I wonder if the other projects would appreciate that.

[2016-04-20 23:59] monkeysecurity commented on #272
Ohh interesting. - Upgrading to bug.

[2016-04-21 00:02] monkeysecurity commented on #257
Could you give an example of federation or service principals?

Would it be something like `"principal": "lambda.amazonaws.com"` ?

I was under the impression the principal field in a resource policy was only for IAM ARNs and that any resource ARNs would need to be specified somewhere under the conditions section.

[2016-04-21 00:02] pdbogen commented on #315
I'll test if I can repro. It'll take me a bit, end-to-end build process ain't exactly quick.

[2016-04-21 00:02] monkeysecurity commented on #248
@mikegrima - Has this been taken care of yet?

[2016-04-21 00:03] monkeysecurity commented on #239
Closed by #323

[2016-04-21 00:03] #239 closed

[2016-04-21 00:04] monkeysecurity commented on #237
Hey @ollytheninja - would #317 close this issue or are they different things?

[2016-04-21 00:04] #232 closed

[2016-04-21 00:06] monkeysecurity commented on #231
User-configurable issue scoring might (?) be neat as well.

[2016-04-21 00:25] ollytheninja commented on #237
I think it would

[2016-04-21 01:01] pdbogen commented on #315
Hmm, I wasn't able to repro easily, and unfortunately since security monkey is humming along nicely now I don't have a lot of free time to try to get it. This is a pretty race-y issue anyway.

The issue _does_ look similar and I expect raising fewer exceptions to apscheduler and cleaning up better will help the issue I observed here, as well.

As far as I'm concerned, you can close this out; if I

[2016-04-21 02:11] mikegrima commented on #248
@monkeysecurity Forgot about it... Doing it now.

[2016-04-21 02:23] mikegrima commented on #248
Will skip lines https://github.com/Netflix/security_monkey/blob/master/security_monkey/auditors/s3.py#L125-L129, since it appears that the `inspect_policy_allow_all()` method handles that (as indicated in the comment).

Making a quick patch for the other lines, however.

[2016-04-21 02:26] #283 closed

[2016-04-21 02:30] mikegrima commented on #248
Sent PR: #324

At some point, we may want to include similar auditing for IAM Root account checks, like I have implemented in the ElasticSearch auditor: https://github.com/Netflix/security_monkey/blob/develop/security_monkey/auditors/elasticsearch_service.py#L105-L128

[2016-04-21 02:50] mikegrima commented on #257
@monkeysecurity Principals can indeed be services.  Perhaps we should permit `*.amazonaws.com` as valid?  I'm not aware of AWS services that are more than 3 domain levels deep, so we could scope it to that for future AWS service additions.

[2016-04-21 11:12] Psyered commented on #320
I need to build web UI.
Getting error -
[Error from InjectorGenerator on security_monkey|web/main.dart]:
Unable to resolve asset ID for "dart:core"

[2016-04-21 15:01] markofu commented on #231
I can definitely see the value in that but it'd be nice to have that capability restricted to something role-based. I'm not sure I'd like engineers simply changing the severity because they don't agree with it :) Thoughts?

[2016-04-21 18:50] syphon7 commented on #297
It would be great if we could use their rulesets in sec monkey

[2016-04-25 15:43] cstewart87 opened #326 "Authentication via REST API"
Is there a way to do this?  If so, would someone add an example to the documentation?

[2016-04-26 20:03] monkeysecurity opened #329 "python change finder sometimes throws exceptions"
Example:

[code]

[2016-04-27 02:30] kur3us opened #330 "Installation Documentation Fix For Adding Amazon Accounts"
In the Quick Start Guide, there is a section to add Amazon accounts.

The command it gives is:

`python manage.py amazon_accounts`

This results in a permissions error:

`Traceback (most recent call last):
  File "manage.py", line 18, in <module>
    from security_monkey import app, db
  File "/usr/local/src/security_monkey/security_monkey/__init__.py", line 45, in <module>
    handler = RotatingF

[2016-04-27 02:33] monkeysecurity commented on #330
Good call.  The rest of the guide asks the user to `sudo -E`.

I'll see about pushing an update out tomorrow.

[2016-04-27 02:37] monkeysecurity commented on #320
Hey @psyered - You'll need to pin to dart 1.12.1 or earlier.  There's a breaking change that we haven't worked out yet.

If you're on OS X - you can download from here: https://www.dartlang.org/downloads/archive/

If you're on Ubuntu:

[code]
( from https://github.com/Netflix/security_monkey/blob/master/docs/dev_setup_ubuntu.rst )

[2016-04-27 02:37] #320 closed

[2016-04-27 02:38] #315 closed

[2016-04-27 02:38] #304 closed

[2016-04-27 17:53] #330 closed

[2016-04-29 19:32] #329 closed

[2016-04-29 19:51] monkeysecurity commented on #329
FYI - originally ran into this issue because I was tracking an AWS account where the security_monkey role lacked the `iam:ListAttachedRolePolicies` permission.

Check your logs for something like this to find any accounts lacking this permission: `assumed-role/SecurityMonkey/botor is not authorized to perform: iam:ListAttachedRolePolicies`

[2016-04-29 23:24] monkeysecurity opened #331 "iam_ssl.py exception on elliptic curve"
[code]

Solution is probably to replace `cert_get_bitstrength(cert):` with this:

[code]

[2016-04-29 23:38] monkeysecurity commented on #331
Fixed in 7eba281f5bbd4f71ddebb9d4f5de8ef45fcd9084

[2016-04-29 23:38] #331 closed

[2016-04-29 23:40] monkeysecurity commented on #248
I believe this is fixed. Closing.

[2016-04-29 23:40] #248 closed

[2016-04-29 23:41] monkeysecurity commented on #237
Closing issue as this has been merged in thanks to @ollytheninja .

[2016-04-29 23:41] #237 closed

[2016-05-01 17:25] monkeysecurity commented on #292
ClusterRevisionNumber ?

Opened PR #332 for this issue.

[2016-05-01 17:28] monkeysecurity commented on #255
This was added to the quickstart guide with commit 3a1bf91230a794d903febb864174405609f33e5e.

[2016-05-01 17:28] #255 closed

[2016-05-01 17:28] monkeysecurity commented on #257
Fixed with PR #328

[2016-05-01 17:28] #257 closed

[2016-05-01 17:30] #197 closed

[2016-05-01 17:41] monkeysecurity commented on #153
Looks possible with boto3:

http://boto3.readthedocs.io/en/latest/reference/services/iam.html#IAM.Client.get_access_key_last_used

Not sure about regular boto

[2016-05-01 18:15] monkeysecurity commented on #153
Requires new permission for the securitymonkey role:
`iam:GetAccessKeyLastUsed`

Specifically requires a boto3 client iam session, so `sts_connection.py` needs to support that.

[2016-05-02 22:50] monkeysecurity commented on #69
@ivanlei fixed this issue long ago with the Auditor Settings tab.

Closing issue.

[2016-05-02 22:50] #69 closed

[2016-05-03 02:41] kur3us opened #333 "Security Group Audit Issues Disappear"
Security Monkey sometimes indicates that a Security Group audit issue is no longer an issue.

This appears to happen when something changes in the "assigned-to" information. For example, when a Security Group is assigned to a new instance or removed from an instance, or when the tags change or are added to an instance using that Security Group.

For example, see this Security Group, which should b

[2016-05-06 16:13] rbeede opened #336 "Feature Request: Ability to send events to SIEM"
It'd be nice if there was an ability to send newly discovered issues as events to a SIEM.

The syslog mechanism may be one way to facilitate such a feature for multiple SIEM vendor types.

[2016-05-06 17:02] rbeede opened #337 "Feature Request - Web UI setting to change number of days for accesskey rotation"
The Settings in the UI should offer an option to change the number of days from (good default) of 90 to any positive integer value.

"Active accesskey has not been rotated" is the audit item affected.

[2016-05-09 17:56] monkeysecurity commented on #337
Agreed.  I'd also like to assign a unique ID to each auditor check, so when we change the text of the checks, the justifications aren't lost.

[2016-05-10 06:04] oba11 opened #339 "Skipping Justified Issues in report"
I have some issues which have been justified but they are showing in the daily report, is there a way to avoid showing the justified issues in the daily reports?
Thank you.

[2016-05-11 03:39] kur3us commented on #333
I've also noticed that the issues for all accounts seem to "reset" back to being issues once every 24 hours. I've seen this consistently happen on two separate Security Monkey instances at around 10:00 AM local server time.

I've also seen the "reset" happen when an account name is changed. In this case, only the issues for that account were "reset".

[2016-05-11 03:42] kur3us commented on #339
I don't know if this is related, but I have seen justified issues lose their justification and become issues again. I have had to re-justify the same issue several times.

[2016-05-11 16:36] monkeysecurity opened #341 "should alert on iam objects attached to sensitive managed policies."
Come up with a list of ultra sensitive AWS-owned managed policies like:
- arn:aws:iam::aws:policy/IAMFullAccess

Add an issue for any iam object (user, role, group) that is attached to the managed policies in that list.

[2016-05-11 16:40] monkeysecurity opened #342 "s3 auditor should better handle policies limited by condition"
A common use case is to set `"Principal": "*"` and limit access by vpc, vpce, or cidrs in the condition section.

Currently security_monkey will flag these policies as `"POLICY - This Policy Allows Access From Anyone."`  In addition, it will flag, `"POLICY - THIS policy has conditions."`

Security Monkey should better handle this situation.

[2016-05-11 16:52] monkeysecurity commented on #333
Hey @kur3us.  An audit is run daily at 10am:

https://github.com/Netflix/security_monkey/blob/master/security_monkey/scheduler.py#L144

You wouldn't think that things would reset though.

I feel like I've seen this issue before, so if anyone has any clues or hard evidence, please add it to this ticket.  The screenshot above may simply indicate that the scheduled watcher found a change but that the

[2016-05-14 04:00] monkeysecurity commented on #292
Closed by #332

[2016-05-14 04:00] #292 closed

[2016-05-14 04:01] monkeysecurity commented on #272
Fixed by #335.

[2016-05-14 04:01] #272 closed

[2016-05-14 04:02] monkeysecurity commented on #153
Fixed by #338

[2016-05-14 04:02] #153 closed

[2016-05-16 16:34] monkeysecurity opened #344 "Feature Request - ephemeral changes shouldn't create a new itemrevision"
The itemrevision table should be modified to add a date_last_ephemeral_change column.

When the changewatcher finds only ephemeral changes, it will modify the most recent itemrevision instead of creating a new one and update the date_last_ephemeral_change column.

The API and angular UI should be updated to display this new date.

The reason for this request is that constant ephemeral changes on a

[2016-05-16 21:25] monkeysecurity commented on #344
Fixed by #345

[2016-05-16 21:25] #344 closed

[2016-05-17 00:01] santoshpatha12 opened #346 "Not able to launch the application"
Hi Team,

I have setup the security monkey in Ubuntu and done all the configuration as per the below link. I am not able to launch the application. Please help me to resolve the same. Thank you.

**Link: http://securitymonkey.readthedocs.io/en/latest/quickstart.html**

Regards,
Santosh

[2016-05-17 00:09] mikegrima commented on #346
Hi @santoshpatha12 :

Can you paste in the errors you are receiving?

Thank You

[2016-05-17 00:17] santoshpatha12 commented on #346
Thank you for assisting. Please find the below error

It is throwing page not found. In web page, it is showing the below.
Webpage Error: 404 not found ( nginx/1.4.6(ubuntu)

**/var/log/security_monkey/security_monkey.access.log:**
10.181.0.45 - - [16/May/2016:07:38:32 +0000] "GET / HTTP/1.1" 200 5228 "-" "Wget/1.15 (linux-gnu)"
10.181.0.45 - - [16/May/2016:07:38:51 +0000] "GET /index.html HTTP/1.

[2016-05-17 02:14] mikegrima commented on #346
Hello:

Can you paste in the output of the command:
```ls -l /usr/local/src/security_monkey/security_monkey/static/index.html```

If the file is there, check to make sure that the file has world readable permissions. If the file is not present, please paste in the output of the Dart compilation in this section: http://securitymonkey.readthedocs.io/en/latest/quickstart.html#clone-the-security-monke

[2016-05-17 09:06] santoshpatha12 commented on #346
ls -l /usr/local/src/security_monkey/security_monkey/static/index.html
ls: cannot access /usr/local/src/security_monkey/security_monkey/static/index.html: No such file or directory

The file not exist.

[2016-05-17 16:17] mikegrima commented on #346
Can you re-perform the Dart installation steps, and paste in the output?

[2016-05-17 16:35] monkeysecurity commented on #346
You can also download the dart output:

https://github.com/Netflix/security_monkey/releases/download/v0.5.0/static.tar.gz

Just extract that to `/usr/local/src/security_monkey/security_monkey/static/`

[2016-05-18 04:18] santoshpatha12 commented on #346
@mikegrima  -- Done the reconfiguration and still we are facing the same issue

@monkeysecurity   -- We have copied and the zip file you have provided, there is no file with index.html file

We still facing same issue. Please assist to resolve the same.

[2016-05-18 05:32] monkeysecurity commented on #346
There is no index.html.

There is, however, a ui.html.

The nginx config sets that as the default:

[code]

[2016-05-18 09:22] santoshpatha12 commented on #346
the specified configuration is available in the nginx config file. Please see the below and assist on the same

    location /static {
        rewrite ^/static/(.*)$ /$1 break;
        root /usr/local/src/security_monkey/security_monkey/static;
        index ui.html;
    }

    location / {
        root /usr/local/src/security_monkey/security_monkey/static;
        index ui.html;
    }

}

root@po

[2016-05-18 10:47] santoshpatha12 commented on #346
could you please provide some contact no so that i will call you and fix my issues.

[2016-05-19 04:26] mikegrima commented on #346
Hello @santoshpatha12 , please send me an email (see my GitHub profile), and we can arrange a time to chat.

Thank you

[2016-05-20 14:49] santoshpatha12 opened #347 "Need step by step process to configure jonitor monkey in RHEL instance"
Hi,

Could you please anybody provide step by step process to install and configure jonitor monkey in Redhat Linux aws instance.

And also provide how to use the same to tool to Retrieve/Manage the AWS Resources.

Regards,
Santosh

[2016-05-20 14:50] santoshpatha12 commented on #347
I have gone through the below link not able to configure
https://github.com/Netflix/SimianArmy/wiki/Janitor-Home

Please help me to complete my setup.

Regards,
Santosh

[2016-05-20 15:58] mikegrima commented on #347
Hello @santoshpatha12 : Janitor Monkey is a separate project.

Please refer to the following GitHub project: https://github.com/Netflix/SimianArmy

Thank You

[2016-05-20 15:58] #347 closed

[2016-05-20 23:29] santoshpatha12 commented on #346
I have mailed you.

[2016-05-21 01:04] kur3us commented on #333
This issue can be easily reproduced, and I think it may be causing the problem with disappearing justifications as well (issue#339).

1. Create an EC2 instance with a Security Group containing ports open to the world (0.0.0.0/0)
2. Verify that you see it in Security Monkey with the issues noted on the open ports
3. Justify one or more of the open ports
4. Add a tag to the EC2 instance
5. Wait for

[2016-05-21 15:15] monkeysecurity commented on #333
Thanks for finding a way to reproduce.  That will help in tracking this down.

[2016-05-21 23:22] mikegrima commented on #346
With regards to the development instructions, there is an issue where it instructs users to run the command:
[code]

The command should be:
[code]
This is present here: https://github.com/Netflix/security_monkey/blob/master/docs/dev_setup_ubuntu.rst and here: https://github.com/Netflix/security_monkey/blob/master/docs/dev_setup_osx.rst

However, the initial instructions that @santoshpatha12 follow

[2016-05-22 00:24] mikegrima commented on #346
Going through the main instructions... Making some small edits to make copying and pasting easier.

[2016-05-22 01:32] mikegrima commented on #346
Made a PR to help address the issues.

@santoshpatha12 : I have gone through the instructions that you initially linked.  I have made some changes and tweaks to them to make it a bit more clear and easier to copy and paste.  To see them right now, please go here: https://github.com/mikegrima/security_monkey/blob/issue346/docs/quickstart.rst

Following those instructions, I was successfully able to

[2016-05-26 16:47] monkeysecurity commented on #74
We investigated AWS Config but think it's way too limited to be useful.  We are instead exploring a new architecture that is triggered by Event Rules.  Lots of internal work going on to explore this.  Closing ticket.

[2016-05-26 16:47] #74 closed

[2016-05-26 16:52] monkeysecurity opened #351 "security_monkey should track lambda resource policies"
Lambda resource policies aren't displayed in the console but are very important.

Track lambda functions and their resource policies.
Alert on cross account access.

Currently, it seems that cross account principals in a lambda resource policy can only be granted to the entire account, and not to a specific IAM role within that account.  Until that is cleared up, it's probably a good idea to avoid

[2016-05-26 22:14] mikegrima commented on #346
The fixes have been merged. 🍌

[2016-05-26 22:14] #346 closed

[2016-05-31 19:17] monkeysecurity opened #352 "Feature Request: Integrate with SSO"
Allow integration with single sign on providers.

[2016-05-31 19:18] monkeysecurity commented on #352
whoops. duplicate of #202

[2016-05-31 19:18] #352 closed

[2016-06-02 14:18] subbu05 opened #353 "Python exceptions - AccessKey"
After installing, configuring Secuirty Monkey I see following errors in security-monkey-deploy.log

2016-06-02 14:12:09,235 INFO: "Problem Connecting to iamrole/Staging/None:\n'AccessKeyId'" [in /usr/local/src/security_monkey/security_monkey/exceptions.py:68]
2016-06-02 14:12:09,235 ERROR: Job "run_change_reporter (trigger: interval[0:15:00], next run at: 2016-06-02 14:27:09.191017)" raised an exc

[2016-06-02 23:50] monkeysecurity commented on #202
Fulfilled by #354. (Using idp/oauth2 instead of saml)

[2016-06-02 23:50] #202 closed

[2016-06-03 13:47] alexandernilsson commented on #353
Looks like your instance fails to assume the SecurityMonkey rule. What does your trust relationship policy document for SecurityMonkeyInstanceProfile look like?

[2016-06-06 13:08] cstewart87 commented on #202
@monkeysecurity - are there still plans to add SAML support in addition to idp/oauth2?