[2018-09-24 17:02] #1112 closed, assigned to nobody

[2018-09-24 17:03] mikegrima commented on #1110
Are you able to reach SM via your bastion? It seems that there might be some networking issues in your VPC.

[2018-09-24 17:04] #1107 closed, assigned to nobody

[2018-09-24 17:54] GopiKannanJP commented on #1110
I was able to fix it through couple of changes in nginx -> /var/nginx/sites-enabled/securitymonkey.conf and ading an alb at front of instance launched in private subnet.
1.But after that fix i was able to hit page but it gets redirected to anonymous user page instead of redirecting to login page / registration page, so how do can i fix this part.
2.As well as please suggest me how could i implemen

[2018-09-24 22:20] jaguilar42 opened #1113 "Not able to use search config box to search for known issues"
## Please make sure that you have checked the boxes:

- [x] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [x] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [x] [Search for both open and closed issues](https://github.c

[2018-09-24 22:38] mikegrima commented on #1110
What changes did you make to your NGINX configuration?

I would also suggest re-reading the quickstart guide https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md, as many of these questions should be answered there.

There is a section about running in Production and setting up the proper components.

[2018-09-24 22:41] mikegrima commented on #1113
Are you running the latest develop branch? I do recall this being fixed.

It is also working for me internally.

[2018-09-24 22:49] jaguilar42 commented on #1113
Yes I'm on version 1.1.3

I've dockerized it so I'm wondering if the security_monkey_api would be the one making this call.

[2018-09-24 22:56] mikegrima commented on #1113
I didn't push that release out yet (this is my bad).

You have to go by the latest git commit in develop, which is much farther ahead of that release.

[2018-09-24 23:04] jaguilar42 commented on #1113
This would be running in prod, so I can't run the latest dev. When will the next release or are you able to send out a small release that fixes this issue?

[2018-09-24 23:38] mikegrima commented on #1113
In general, we've been doing very loose, rolling releases. If you need the fixes in production, for the time being, you will need pull in the latest develop branch.

I would have to dedicate some time to getting a release out. I do intend on dedicating some time this quarter to fixing some Security Monkey bugs and working on the 2.0 version.

The 2.0 version will fix a number of problems that shou

[2018-09-25 04:03] jaguilar42 commented on #1113
Great, thanks. We'll go ahead and close this issue.

[2018-09-25 04:03] #1113 closed, assigned to nobody

[2018-09-26 07:38] jibsonline opened #1115 "Check only for ingress Internet Access"
Right now the Auditor rule "Internet Accessible" shows security groups which has `egress` to 0.0.0.0/0. Which in our case is not a breach. If I disable the rule will it stop showing groups which has `ingress` open to 0.0.0.0/0 as well?

In short `egress` to 0.0.0.0/0 is not a breach but `ingress` open to 0.0.0.0/0 is a breach. How do I configure this?

Will `ingress` open to 0.0.0.0/0  show up in

[2018-09-26 10:18] jibsonline commented on #1094
@ollytheninja

How do I apply this patch?

I updated

[code]
But my dashboard has not been updated with the changes

[2018-09-26 11:12] jibsonline commented on #1094
I am also facing the same issue. I see issues. But cant figure out the breach behind each

![image](https://user-images.githubusercontent.com/1730931/46076427-25a5ee80-c1ab-11e8-8949-94252607931f.png)

[2018-09-26 17:15] mikegrima commented on #1115
I recall that this was fixed.  Which version of SM are you running?

[2018-09-26 17:17] mikegrima commented on #1094
@jibsonline To be clear, these are not "breaches". These are potential issues that may or may not be a problematic configuration in your environment.

[2018-09-26 17:28] mikegrima commented on #1115
Actually, I remember now -- you can disable this check:

1. Go to Settings > Audit Issue Scores.
1. Click on the '+' button
1. Under Technology, select `securitygroup`
1. For Method, select `check_internet_accessible_egress (SecurityGroupAuditor)`
1. Finally, check `Disabled`, and click Save.

[2018-09-26 17:32] jibsonline commented on #1094
@mikegrima sorry about the terminology used.

How do I understand details of each issue mentioned so I can fix it?

The only link in each row above is "jibu.chacko" on click of which nothing happens

[2018-09-26 17:38] jibsonline commented on #1115
@mikegrima That solved it. Thanks

[2018-09-26 17:38] #1115 closed, assigned to nobody

[2018-09-26 17:47] mikegrima commented on #1115
I'm going to add a section to the user guide and troubleshooting doc so that this is more clear.

[2018-09-26 17:56] mikegrima commented on #1115
Addressed in #1116

[2018-09-28 07:28] Mikerr1111 opened #1117 "Snap package support (Feature Request)"
I was thinking the setup and install process for Ubuntu and other Linux distros could be improved by having a [Snap package](https://snapcraft.io/) version.

[Creating a Snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[Building Snaps with Python](https://docs.snapcraft.io/build-snaps/python)

[Linux distros with Snap support](https://docs.snapcraft.io/core/install)
![snap](h

[2018-10-02 17:27] mikegrima commented on #1110
@GopiKannanJP Are you still experiencing issues?

[2018-10-02 17:28] #1084 closed, assigned to nobody

[2018-10-03 09:01] GopiKannanJP commented on #1110
Nope @mikegrima the changes that were made in nginx conf is with port change to 80 from 443. Tweaked the conf little bit and was able to succeed.

[2018-10-03 09:01] #1110 closed, assigned to nobody

[2018-10-03 14:34] abacao commented on #1117
:+1:

[2018-10-04 00:43] mikegrima commented on #1102
Just completed:
- New JWT logic is now implemented and in place for the `account.py` view.
- Bug fixes and proper unit tests for `account.py` and a bunch of other code that it calls.

Next to complete: `account_bulk_update.py`.

[2018-10-05 12:09] ottogroup-com commented on #1102
@mikegrima
First of all let me say that we are very happy about the objective of a Security Monkey 2.0. We are using Security Monkey a lot lately for our Cloud deployment and are quite happy with the overall architecture and the extensibility. We currently use it in a GCP environment with 50+ projects where we also found some issues which we try to address via PR's which works very well. Neverthel

[2018-10-05 20:47] mikegrima commented on #1102
Hello @ottogroup-com :

**A central theme to note is:**

In general, Netflix's use cases around Security Monkey are quite different from the rest of the OSS community, and as such, many features are a low priority/not a priority for us to fix. Generally speaking, we use Security Monkey as a quick and easy way of getting the current and historical configuration of an item in our environment. With r

[2018-10-08 20:41] mikegrima commented on #1102
Completed the `audit_scores` API. Next up is `auditor_settings`.

[2018-10-08 21:04] ottogroup-com commented on #1102
@mikegrima
Thank you for your elaborate answer and for clarifying the central theme around Security Monkey. Just to make thinks clear we are far away from pointing out weak spots from Security Monkey but we rather want to discuss the areas of improvement for Security Monkey where we see potential and also are interested in contributing.

**To your mentioned topics:**
We had also noticed some scala

[2018-10-09 14:17] lvlrt opened #1122 "monkey add_account_aws not working / available"
## Description of issue:

Although mentioned in the documentation, the add_account_aws command is not available.
How can you add AWS account programmaticaly?
[code]

[2018-10-09 16:56] mikegrima commented on #1122
I just did a git pull off of the latest develop, installed to a fresh virtualenv, and it works for me:
[code]

[2018-10-09 16:58] mikegrima commented on #1122
I was only able to replicate this by deleting `security_monkey/account_managers/aws_account.py`.

Can you verify that this file is there, and the permissions set to it?

[2018-10-09 21:41] lvlrt commented on #1122
It exists, I added +x rights, no difference
[code]
I'm using the develop branch.
Are there other files I have to check for permissions / existence?

[2018-10-09 22:16] lvlrt commented on #1122
Should account_registry be {}?
[code]

[2018-10-14 19:42] mikegrima commented on #1122
It should be populated with items.

Unfortunately, I'm not able to replicate your issue.  Have you tried to set this up on other systems with the same result?

Which OS and version are you running?

[2018-10-14 20:57] Mikerr1111 commented on #1117
@mikegrima, sure I'll get started with the setup.

[2018-10-14 20:58] abacao commented on #1117
@Mikerr1111 that would be awesome

[2018-10-14 21:06] lvlrt commented on #1122
I tried it both locally on MacOS Mojave + in a Docker (Ubuntu:latest), same error, same result.
I'll try setting it up again manually in an EC2 instance.

Could it be a permissions issue on the folder containing the registery items?
If you have time, could you send me the output of `tree -pufi | grep -v -E '\./venv/|\./docs/|\./dart/' > output_perms.txt` in the 'security_monkey'-folder?

I'll chec

[2018-10-17 16:49] mikegrima commented on #1122
Your permissions look correct.

Outside of turning on debug logging (Please review: [https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md](url)), I'm not able to provide additional assistance.

I have not been able to replicate your issue.

[2018-10-17 19:21] lvlrt commented on #1122
Ok, thank you anyway.
It seems that the aws_account.py is loaded, but not initialized somewhere, or not used.
Could you give a pointer where the object is created and added to the accounts_registery?

[2018-10-19 07:35] lvlrt commented on #1122
Solved! It was a case of missing dependencies on the local system (Macos) & A subprocess not using the venv environment.
Thanks for the help.

[2018-10-19 07:35] #1122 closed, assigned to nobody

[2018-10-22 11:27] ritwikvaultbank opened #1126 "Security Monkey not loading any data in the UI. However it scans my account on the EC2 console when I run "monkey find_changes"."
I have setup Security Monkey on our AWS infra using the official guide but the data is not being populated on the UI.
When I run "monkey find_changes" on the EC2, I see my account being scanned but there is still no data on the Security Monkey UI.
I double checked the IAM Roles and Policies and couldn't find any issue there.

HELP WOULD BE HIGHLY APPREICIATED.
A massive thanks to the creators of t

[2018-10-22 11:41] ritwikvaultbank opened #1127 "No data on the UI. shows account being scanned when I run "monkey find_changes"!"
I have setup Security Monkey on our AWS infra using the official documentation but the data is not being populated on the UI.
When I run the command "monkey find_changes" on the EC2, I can see my account being scanned. However no data is shown on the UI.

I have added my account and double checked the IAM roles and policies.

Help would be appreciated.
Massive thanks to the creators!!

[2018-10-22 12:18] #1127 closed, assigned to nobody

[2018-10-22 12:18] ritwikvaultbank commented on #1127
duplicate

[2018-10-22 16:55] Xeteskian commented on #1126
I've had this behaviour when the application is unable to write to it's log
files.  I set up proper logfile rotation and that seemed to have fixed it
for me.  Not sure if this is the same issue for you, but I thought I'd share

On Mon, 22 Oct 2018 at 12:32, Ritwik Sinha <notifications@github.com> wrote:

[2018-10-24 21:23] 0xdabbad00 commented on #1122
I've run into the same issue.  Running on Amazon Linux, fresh install of the OS and Security Monkey.    The file `security_monkey/account_managers/aws_account.py` exists.

I'm ashamed of this, but I bypassed it by adding:
[code]
at https://github.com/Netflix/security_monkey/blob/36c2a5c8d41a0561a97326bf2cceb35d8482dda7/security_monkey/manage.py#L794

[2018-10-24 22:03] 0xdabbad00 commented on #1122
I ran into additional issues so I switched over to Ubuntu and no longer am having issues.  One possibility is that Amazon Linux uses Python 3.7.  I had run into another issue where it didn't like that a variable was being named `async` as I guess that might be a keyword now for Python (that was related to the jira code).

[2018-10-24 22:16] mikegrima commented on #1122
Security Monkey won't work on Python 3.

This particular issue was related to the virtualenv not being set up properly or not being set when running the commands.

If it's using python3, then the virtualenv is not set or loaded properly.

[2018-10-24 22:44] 0xdabbad00 commented on #1122
I only happened to notice my virtualenv was running Python 3 when I was trying to debug the issue, but I saw this line: https://github.com/Netflix/security_monkey/blob/b174a705124f12aeee612f9ef93820f2b4227e0e/setup.py#L46

and figured it must be ok.

[2018-10-26 15:10] m5systems commented on #1084
Hey.  I setup Security Monkey.  I added two accounts.  It seems it to never work with my two AWS accounts.  Both AWS accounts work separately and have the right roles setup but when I add them both only one works anybody know what else I should be doing to make it grabs other accounts.  I have shutdown the database and stopped the processes with no luck.   It gives me this error though:

 [SQL: 'S

[2018-10-31 17:20] signus commented on #1126
A few things:
- In **Settings -> Accounts**, is the account you added to scan listed as "Active?"
- Are any errors shown in your browser's console window (i.e. Developer Tools), or do any resources fail to load?
- Do any of the auditors throw any specific errors when run (some of them are hard to catch with DEBUG on)?
   - You can isolate a technology group by using the `-m` flag (e.g. `monkey fin

[2018-11-13 18:54] Leectan commented on #774
@cplvic I seemed to have the same issue, mine says `sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) FATAL:  database "<my DB name>" does not exist
 (Background on this error at: http://sqlalche.me/e/e3q8)`

[2018-11-13 19:01] Leectan commented on #774
I was able to connect to the Postgresql from my GCP instance using `psql "sslmode=disable dbname=postgres user=postgres hostaddr=[INSTANCE_IP]"` but every time I do `monkey db upgrade` it says DB not found.

[2018-11-13 19:05] Leectan commented on #774
@cplvic If you could share some info where I might need to pay attention for the GCP instruction would be greatly appreciated.

[2018-11-15 08:44] Martin-Who opened #1150 "Dashboard 'Technology Issue Scores' and 'High Score Items' not loading"
Does anybody have any ideas why I get this error in the dashboard view?
Everything else is working perfectly.

main.dart.js:40376 GET https://URL/api/1/items?accounts=PD-AWS-Live&accounttypes=&active=true&count=1000000000&names=&page=1&regions=&summary=true&technologies= 500 (INTERNAL SERVER ERROR)
main.dart.js:43764 HTTP 500: {"message": "Internal Server Error"}
STACKTRACE:
null

[2018-11-16 05:40] GopiKannanJP opened #1151 "Enabling Google SSO routes to 404 nginx"
## Please make sure that you have checked the boxes:

- [* ] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [ *] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [* ] [Search for both open and closed issues](https://githu

[2018-11-19 11:16] rjchua opened #1152 "Issue with pub build"
Hello,

I'm trying to install Security Monkey and following the instruction from (https://e64-security-monkey.readthedocs.io/en/latest/quickstart.html#launch-an-ubuntu-instance)
I'm already in compiling web-app from the Dart code

# Build the Web UI
$ cd /usr/local/src/security_monkey/dart
$ sudo /usr/lib/dart/bin/pub build

when i execute the pub build here's the output
[Dart 2 has a new build sy

[2018-11-19 13:41] SecMonkeyStuff commented on #1152
You are using the old installation guide.
Try this one:
https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md

[2018-11-20 11:46] #1151 closed, assigned to nobody

[2018-11-20 17:27] mikegrima commented on #1152
@rjchua @SecMonkeyStuff is correct -- please rely on the Quickstart documentation here.

[2018-11-20 17:27] #1152 closed, assigned to nobody

[2018-11-20 17:28] mikegrima commented on #1150
@Martin-Who You will need to provide the logs from the API server for us to debug.

[2018-11-20 17:32] mikegrima commented on #1126
Also, please try the steps in the [troubleshooting guide](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md) and also review previously filed issues as this is a common issue that users experience.

[2018-11-20 20:46] barkayw commented on #1150
I installed the SM as production, two UI servers under ALB, one scheduler server, and two workers servers.
 I've got the same problem
 "Dashboard 'Technology Issue Scores' and 'High Score Items' not loading."

where I can find the API logs ?

[2018-11-21 13:02] rjchua commented on #1152
Thanks Much for the help guys @SecMonkeyStuff @mikegrima ..will try to follow this one. Will let you know

Cheers!

[2018-11-22 10:07] macedogm commented on #1150
Hi. I am also facing the same problem. Every menu inside the SM UI works great, but the 'Technology Issue Scores' and 'High Score Items' dashboards does not.

When the UI requests the API:

`/api/1/items?accounts=REDACTED&accounttypes=&active=true&count=1000000000&names=&page=1&regions=&summary=true&technologies=`

It receives an HTTP 500 error with the following message:

`
{"message": "Internal

[2018-11-22 15:04] macedogm commented on #1150
@mikegrima

Hi again.
I believe that I might have found the issue. The stack trace complains about an error in:

`
"/usr/local/src/security_monkey/security_monkey/views/item.py", line 270, in get items = query.paginate(page, count) File
`

Looking for the query it is possible to identify that this join is made three times in the query (lines 228, 232 and 251):

`
            query = query.join((Ac

[2018-11-23 19:37] barkayw commented on #1150
Thanks, works
If I find some issue, I'll let you know.

[2018-11-23 20:47] mikegrima commented on #1150
Please submit a PR with the fix, and I will merge it in.

[2018-11-24 00:59] mikegrima commented on #1150
Merged in #1153 . Please test that things are working now.

[2018-11-24 01:14] macedogm commented on #1150
Will test and let you know. Thanks for your time.

[2018-11-27 16:46] Ph4rell commented on #1094
Issue #1094 still here ! got the same problem, i tried the commit of @ollytheninja and it doesn't work ! Insteade of the regular related note, i've got the name of the AWS account like @jibsonline.

[2018-12-02 04:27] MrTsRex commented on #853
I would like to contribute to this. Where do you think will be a good place to start?

[2018-12-03 18:17] mikegrima commented on #853
You would want to look under for the code under watchers and auditors to see what is there.

[2018-12-05 11:09] martwana commented on #1094
Is there a timeline for this to be fixed, or a timeline for 2.0 to be released?

I've spent a decent amount of time getting this up and running, and I cant see the descriptions of the issues it highlights. I'd hate for it to have been a waste of time

[2018-12-13 20:46] abacao opened #1160 "Feature Request: Be able to configure Security Monkey without user intervention - Improve monkey binary"
Hello all,

I'm trying to build a nice POC for using Security Monkey and I have encountered some issues that I think would be great if they were addressed.
I'm using Terraform to provision the infrastructure and Ansible to configure the server.

Issues:
1st - `monkey create_user "{{ ADMIN_EMAIL }}" "Admin"'`
The instruction above doesn't allow me to provision a user because it asks me for a passwo

[2018-12-13 20:50] mikegrima commented on #1160
This should be a relatively simple feature to implement if you would like to take a stab at it. You would need to modify the `manage.py` file's command for user creation.

[2018-12-13 20:54] bugsam opened #1161 "gcsbucket - got an unexpected keyword argument 'http'""
## Please make sure that you have checked the boxes:

- [X] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [X] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [X] [Search for both open and closed issues](https://github.c

[2018-12-13 21:44] kaylacrowder commented on #1094
I agree with @martwana. I'd hate for this implementation to have been a waste of time. Should we be rolling back to a previous version? I can't seem to get a solid understanding of the specific things security monkey is checking for, nor do the items being flagged have details. Is there a timeline for a fix?

[2019-01-07 20:32] hrzbrg commented on #1094
@ollytheninja I verified that your patch https://github.com/ollytheninja/security_monkey/commit/8bdb202221b53892e11967b36bf9d2c5fa656691 works fine on the current develop branch and restores functionality. Do you maybe want to hand it in as a PR?

[2019-01-08 03:13] ollytheninja commented on #1094
Hi everyone, unfortunately I haven't had any time to contribute to this any further. I've just raised PR #1162 which contains my fix.
From previous conversation on gitter.im - v1.1.3 is affected as well as develop, if you go back to v1.1.0 you should be alright @kaylacrowder @martwana

[2019-01-15 19:00] #1094 closed, assigned to nobody

[2019-01-25 21:19] kaylacrowder opened #1165 "Details of issues have limited or no notes."
## Please make sure that you have checked the boxes:

- [x ] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [ x] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [ x] [Search for both open and closed issues](https://githu

[2019-01-29 21:00] #508 closed

[2019-01-31 22:26] macedogm commented on #1150
Hi @mikegrima, just to let you know, it is working for me.

[2019-02-01 17:50] badllama opened #1166 "Odd Openstack Access Behavior"
Hey folks,

I'm working on getting Security Monkey working with Openstack and I'm trying to tune the permissions with the team that supports our Openstack environment.  They would like to use an existing readonly role, rather than create a new one, and it looks like the permissions are equivalent to those specified in the iam_openstack.md doc.  This existing readonly role enables visibility to all

[2019-02-01 17:55] mstair commented on #1166
Hi @badllama. What version of OpenStack are you running? Are you just seeing subset of security groups from the same tenant? Do you have multiple regions in your setup?

[2019-02-01 18:04] badllama commented on #1166
We're on Pike and it's just one region for the purposes of your question.  In a single tenant, if I see 10 security groups in Horizon, SM only sees 4.  It's the same account for both access methods, so by definition, it'd be the same role.

[2019-02-01 18:10] mstair commented on #1166
I'll look around at what might be problem or where to check for debug. Can you try, in your config.py to set `SECURITYGROUP_INSTANCE_DETAIL = NONE`, to isolate some issue capturing instance details, then restart the SM services?

[2019-02-01 19:15] badllama commented on #1166
Looks like that made it worse, now it can't 'see' any security groups.  Lots of 'Problem connecting...' messages.

[2019-02-01 19:23] mstair commented on #1166
Odd, that just limits the code that gets run, nothing additional. I should have mentioned that `SECURITYGROUP_INSTANCE_DETAIL = FULL` is the default, so make sure you are updating that entry vs adding another (look for SECURITYGROUP_INSTANCE_DETAIL).

[2019-02-01 23:02] badllama commented on #1166
Ok, nope, I did something silly.  I flipped that to 'NONE' and now it can pull all of the Security Groups.  What is that actually limiting?

[2019-02-04 12:57] mstair commented on #1166
It will not try to associate security group assignment to instances, https://github.com/Netflix-Skunkworks/cloudaux/blob/master/cloudaux/orchestration/openstack/security_group.py#L16.

Can you try to set `SECURITYGROUP_INSTANCE_DETAIL = SUMMARY`?

[2019-02-04 17:03] badllama commented on #1166
SUMMARY results in the same behavior as FULL, which is to say that I have problems connecting again.  Is there a specific permission that enables that access?  It seems like it may be associated with the nova IAM policy as opposed to the neutron policy, given that it's trying to access information about compute nodes.

[2019-02-04 17:07] mstair commented on #1166
Oh good call, yes, its calling the compute service for instance details. See bottom of https://github.com/Netflix/security_monkey/blob/develop/docs/iam_openstack.md for os_compute_api:servers:show policy note.

[2019-02-04 17:24] badllama commented on #1166
Ok, was sort of hoping that there was more than that.  We already have that permission applied to the nova policy for our role.  Would there be more robust failure messages somewhere in logs that I could go check out?

In the course of troubleshooting, I've successfully run the find_changes process (with instance_detail set to FULL) with a different role assigned to the account we're using.  We do

[2019-02-04 17:40] mstair commented on #1166
I am assuming you already checked the /var/log/security_monkey logs, there is an exception table in the db, I need to go back and remember how you query it.

I use a more permissive account as we do some inline mitigation for issues, so have not used a more restrictive user outside of writing up the instructions. Perhaps with "os_compute_api:servers:show:host_status"?

[2019-02-04 17:50] badllama commented on #1166
Yeah, the security_monkey log just shows "Skipping (SG RULE INFO) due to a region-level exception "Problem Connecting to openstack_securitygroup/PROJECTNAME/None:\n'NoneType' object is not iterable"  Perhaps that's more helpful to you than it is to me?

I can try the host_status perm.

[2019-02-04 18:07] mstair commented on #1166
It is helpful, let me run this down. Go ahead and set back to NONE to get you running, with understanding you won't have instance mappings.

[2019-02-04 18:23] badllama commented on #1166
Thanks for all the help @mstair, it's much appreciated.

[2019-02-05 07:18] oba11 opened #1168 "Suggestion: Helm Chart introduction"
## Description of issue:

Got securitymonkey stack working with kubernetes using helm, not sure if I should open a pull request to add the helm chart here or use [helm hub](https://hub.helm.sh/).

Thanks

[2019-02-05 11:10] uchi-mata opened #1169 "OpenStack Watcher Modules fail to load"
## Please make sure that you have checked the boxes:

- [X] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
  - Debug Logging is enabled
  - Reviewed other issues
- [X] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [X] [S

[2019-02-05 12:55] mstair commented on #1169
To confirm, those are available in the container? This error is typically due to the missing openstacksdk.

You also have your creds/yaml configured/mounted (https://github.com/Netflix/security_monkey/blob/master/docker-compose.yml#L69)?

[2019-02-05 13:48] mstair commented on #1166
You mind adding `os_compute_api:os-security-groups` to your nova policy for your read-only account and trying FULL again? I don't readily have access to a setup where I can modify OS project policies.

https://github.com/openstack/nova/blob/stable/pike/nova/policies/security_groups.py

[2019-02-05 19:59] badllama commented on #1166
That did it, looks like everything is working just fine now.  Thanks again!

[2019-02-05 20:11] mstair commented on #1166
Great, I'll update docs!

[2019-02-05 21:30] #1166 closed, assigned to nobody

[2019-02-07 01:57] SyCode7 opened #1172 "Security Monkey installation using docker-compose fails"
## Please make sure that you have checked the boxes:

- [ *] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [ *] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [ *] [Search for both open and closed issues](https://githu

[2019-02-10 08:04] SyCode7 commented on #1172
UPDATE : I managed to scale through this initial hurdle. After successfully login, I am redirected to the dashboard as an anonymous user and there is always an error displayed `Error loading resource from API. Error:<API Server is not reachable>`. However the `secmonkey-api` container seems to be running fine. I am not sure of what next to do and will really appreciate any guidance !

[2019-02-11 15:06] jasonmcintosh commented on #1168
https://github.com/helm/charts/issues/2085

I know i've been looking for something like this so if you've got it ready to go/use, would be very interested :) Was starting to write one myself and would love to save some effort!

[2019-02-11 18:16] mstair commented on #1172
Does a `docker ps` return the 6 Security Monkey containers running?

[2019-02-12 06:08] oba11 commented on #1168
@jasonmcintosh I will pick it up now and mention you for review. Thanks

[2019-02-12 16:38] uchi-mata commented on #1169
Does that work?

[code]

No, but the clouds.yaml file is mounted which from my understanding is the correct one for the OpenStack connection?
[code]
/clouds.yaml is also configured as path in the account settings.

[2019-02-12 17:02] uchi-mata commented on #1169
Also there does not seem any request from the monkey instance to the openstack instance to take place (based on tcpdump while running monkey find_changes). I however verified that the identity API can be accessed from the monkey instance.

[2019-02-12 17:04] mstair commented on #1169
I actually wonder if this is an issue with the os-client-config library that recently came up. I have a PR to cloudaux (SM helper library) to address. https://github.com/Netflix-Skunkworks/cloudaux/pull/96

Testing a potential workaround pinning the os-client-config in Dockerfile pips

[2019-02-12 17:31] SyCode7 commented on #1172
@mstair I can see the six docker containers running:
`a@b:~/git/security_monkey$ docker ps`
`CONTAINER ID        IMAGE                           COMMAND                  CREATED             STATUS                PORTS                                            NAMES`
`d206a68c3e24        secmonkey:latest                "/usr/local/src/secu…"   2 days ago          Up 2 days             5000/tcp

[2019-02-12 19:00] mstair commented on #1169
@mikegrima Just merged and pushed changes to pypi. Rebuild a clean image (shoud pull in cloudaux 1.6.1).

[2019-02-17 16:58] vietwow commented on #1168
This will be awesome. Thanks. @oba11

VietNC

[2019-02-19 19:08] jasonmcintosh opened #1175 "SSL Redis isn't usable"
IF you setup Redis with SSL, celery (e.g. scheduler/workers) won't be able to connect to it and get failures in the logs.  E.g.

[code]

Should be able to adjust the celeryconfig.py file to be:
[code]
Then for those using SSL, set SECURITY_MONKEY_REDIS_PROTOCOL to "rediss" not "redis" and then things seem to work fine.

[2019-02-19 20:13] mikegrima commented on #1175
Can you submit a PR with these changes?

[2019-02-19 21:16] jasonmcintosh commented on #1175
Will do soon as I can get a chance.  Was working on some updates to the docker sections - e.g. originally was trying to get running in k8s, though leaning back towards ECS so was creating demo terraform for that.

[2019-03-05 05:03] bharathsat opened #1177 "Need pubsec.yaml for dart version 2.2.1 to build web UI for Security monkey"
My Pubspec.yaml

[code]

Getting bellow error when i run pub get
[code]

[2019-03-05 05:07] pbkracker commented on #1177
Looks like we may need remove the dependency on the minimizer/expander code.

Feel free to download the UI from the releases page until we can get around
to this.

On Mon, Mar 4, 2019 at 9:03 PM bharathsat <notifications@github.com> wrote:

--
Patrick Kelley
*(623) 688-3210 <https://www.google.com/voice#phones>*

[2019-03-05 05:13] bharathsat commented on #1177
Can you plz let me know where i need to download for centos 7

[2019-03-05 05:15] pbkracker commented on #1177
https://github.com/Netflix/security_monkey/releases/download/1.1.3/static.tar.gz

On Mon, Mar 4, 2019 at 9:13 PM bharathsat <notifications@github.com> wrote:

--
Patrick Kelley
*(623) 688-3210 <https://www.google.com/voice#phones>*

[2019-03-05 05:24] bharathsat commented on #1177
Can you please let me know if we have any proper steps to get the dart UI for security monkey on centos7?

[2019-03-05 05:25] pbkracker commented on #1177
Download the file I linked to and extract it in the right folder.

On Mon, Mar 4, 2019 at 9:24 PM bharathsat <notifications@github.com> wrote:

--
Patrick Kelley
*(623) 688-3210 <https://www.google.com/voice#phones>*

[2019-03-05 06:55] bharathsat commented on #774
Am getting below error on running "monkey db upgrade" command.

[code]

[2019-03-05 23:21] irivera007 opened #1178 "Update Documentation to reflect GCP python dependencies"
## Description of issue:
This doc: https://github.com/Netflix/security_monkey/blob/develop/docs/update.md
states the required libraries/modules needed in order to pull data from GCP, however after installing the latest version I was unable to receive any data from GCP, while monitoring the workers I noticed some errors (which were marked as INFO for some reason) , these errors stated the lack of c

[2019-03-05 23:22] mikegrima commented on #1178
Hello!

Yes, please submit a PR.

[2019-03-07 10:03] bharathsat opened #1181 "securitymonkeyworkers is not running"
Hello Team,

I have configured security monkey and started supervisor for all UI, scheduler, and worker, Scheduler and UI is started running but worker went to FATAL state and its not starting if i try to start.

[code]
Can you please help out how can i fix this problem.

[2019-03-07 10:43] bharathsat commented on #54
I have configured security monkey and started supervisor for all UI, scheduler, and worker, Scheduler and UI is started running but worker went to FATAL state and its not starting if i try to start.

[code]

Can you please help me to fix this.

[2019-03-07 12:33] bharathsat commented on #1181
i wants to know the supervisor configuration for watcher. Why exactly we are using "startsecs=60", if we reduced it to somewhere around 3 will it be ok?.

Is it worker needs 60sec to stay on running state?
and what it dose in the 60sec?
can you please give me the brief explanation about worker and what it dose.

Thanks in advance, and your answers are highly appreciated.

[2019-03-10 12:33] telesguilherme opened #1182 "monitor another account id"
## Please make sure that you have checked the boxes:

- [ ] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [ ] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [ ] [Search for both open and closed issues](https://github.c

[2019-03-10 12:35] telesguilherme commented on #1182
Hello,

I have security monkey installed on one account id, and i want to monitor another account id.

Since i´ve created the "security monkey" role on the second account id, i keep receiving the error about permission.

I only need to create the security monkey role and give the trust relationship permission on the first account ?

Thanks a lot.

[2019-03-11 16:45] mikegrima commented on #1182
Please review the quickstart guide referenced above in the checkboxes for instructions on how to set this up.

[2019-03-11 16:45] #1182 closed, assigned to nobody

[2019-03-11 16:46] mikegrima commented on #1181
Hello:

You will need to review the logs to know what specifically is failing.

The 60 second wait is to ensure that all the dependent services are running. Please review Quickstart guide and troubleshooting docs for more details.

[2019-03-12 17:35] aaronkjones commented on #1181
For me this was due to the ownership of the logs directory.
Executing the following worked:
[code]

`chown -R www-data:www-data /var/log/security_monkey/`
`supervisorctl restart all`

[code]

[2019-03-20 02:35] bibek303 opened #1187 "Web ui page is not loaded in GCP"
I tried to install securitymonkey in my GCP instances following the installation documents provided."monkey run_api_server" command runs but unable to access the url.
![ms1](https://user-images.githubusercontent.com/35351940/54655132-af65b300-4a8e-11e9-84bd-902f4a6d9763.PNG)
![sm2](https://user-images.githubusercontent.com/35351940/54655182-ed62d700-4a8e-11e9-851a-acbce4e9fe7c.PNG)

[2019-03-20 21:22] #1187 closed, assigned to nobody

[2019-03-20 21:30] bibek303 opened #1188 "securitymonkeyscheduler is not running"
When I type sudo supervisorctl and then status. It returns blank.There should be securitymonkeyscheduler running.
![1](https://user-images.githubusercontent.com/35351940/54720430-64e74380-4b2d-11e9-9ee9-5a6ab504aeea.PNG)

[2019-03-22 17:00] #1188 closed, assigned to nobody

[2019-03-24 14:25] sidewinder31 opened #1191 "Dependency issues with setup.py (redis)"
~$  monkey db upgrade
Traceback (most recent call last):
  File "/usr/local/src/security_monkey/venv/bin/monkey", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/local/src/security_monkey/venv/local/lib/python2.7/site-packages/pkg_resources/__init__.py", line 2927, in <module>
    @_call_aside
  File "/usr/local/src/security_monkey/venv/local/lib/python2.7/site-pack

[2019-03-24 22:10] mikegrima commented on #1191
Are you running off of the latest `develop` branch? I pushed an update last week that should resolve this.

You'll need to re-run `pip install -r requirements.txt` from within the `venv`.

[2019-03-25 08:41] sidewinder31 commented on #1191
Yes, git cloned from the develop branch:

`sudo git clone --branch develop https://github.com/Netflix/security_monkey.git`

Created venv and then ran the following:
`pip install --upgrade setuptools`
`pip install --upgrade pip`
`pip install --upgrade urllib3[secure]`
`pip install -r requirements.txt`

Output from running `python setup.py develop`:

[2019-03-25 16:11] mikegrima commented on #1191
Good news -- I am able to replicate locally! So I will work on a fix.

[2019-03-25 16:25] mikegrima commented on #1191
@sidewinder31 : After I merge in #1192 , please pull down the latest develop, wipe out your `venv`, re--create it re-run the pip commands here: https://github.com/Netflix/security_monkey/blob/develop/docs/installation/03-install-sm.md#clone-security_monkey

This appears to have fixed my issue locally.

[2019-03-25 16:26] #1191 closed, assigned to nobody

[2019-03-25 19:21] sidewinder31 commented on #1191
Yep, now works fine!

[2019-03-25 19:22] mikegrima commented on #1191
Glad to hear it! Thank you for reporting this!

[2019-04-04 12:08] httpnotonly opened #1194 "monkey db upgrade fails"
## Please make sure that you have checked the boxes:

- [ + ] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [ + ] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [ + ] [Search for both open and closed issues](https://gi

[2019-04-04 12:22] mstair commented on #1194
This is an issue due to the celery dependency vine upgrade to vine-5.0.0a1 few days ago, where it removed py2 support (https://github.com/celery/vine/releases). Just submitted PR #1195 to pin vine to 1.3.0 (verified addresses by user on gitter).

[2019-04-04 12:30] httpnotonly commented on #1194
Yep, now it works.
Hope, PR checks will be done :)

[2019-04-04 12:30] httpnotonly commented on #1194
For googlers
pip install vine==1.3.0

[2019-04-04 12:31] #1194 closed, assigned to nobody

[2019-04-05 04:45] srinathganesh opened #1197 "Docker Hangs after selecting 'Geographic area'"
Steps done:

1. git clone
2. changed to branch v1.1.0 (default was develop branch, which I didnt want)
3. docker-compose build

No progress after entering value. Same issue in both local machines and on cloud EC2 VM
![image](https://user-images.githubusercontent.com/43715636/55604087-aca3d700-578b-11e9-98c5-6cf836107bc0.png)

[2019-04-05 05:06] srinathganesh opened #1198 "'DeepDiff' Version Error"
Ref: https://github.com/Netflix/security_monkey/blob/v1.1.0/docs/docker.md

`Create the logging folders:`
sudo mkdir /var/log/security_monkey
sudo mkdir /var/www
sudo chown -R `whoami`:www-data /var/log/security_monkey/
sudo chown www-data /var/www

`Let's install the tools we need for Security Monkey:`
sudo apt-get update
sudo apt-get -y install python-pip python-dev python-psycopg2 postgresql po

[2019-04-05 11:35] mstair commented on #1198
Did you do a git pull prior? PR #1195 merged yesterday pinned a celery requirement that was updated and removed py2 support.

[2019-04-05 12:36] srinathganesh commented on #1198
I'll re-check with the pull

[2019-04-18 08:05] cclauss opened #1200 ".travis.yml: The 'sudo' tag is now deprecated in Travis CI"
[Travis are now recommending removing the __sudo__ tag](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration).

"_If you currently specify __sudo: false__ in your __.travis.yml__, we recommend removing that configuration_"

[2019-04-18 09:08] mentormate-vassil-vassilev opened #1201 "Really high scores for attached IAM managed policy"
Hi, there seems to be a problem with the scoring of the issues found or I am missing something fundamentally. We are using the develop branch. I already did my homework and checked all opened and closed issues. I also looked at the code, but maybe I don't fully understand the scoring logic.
We have a newly added AWS account and we are getting really high scores for an issue in the attached managed

[2019-04-23 06:46] oba11 opened #1202 "Docker failed to build dart"
## Please make sure that you have checked the boxes:

- [x] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [x] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [x] [Search for both open and closed issues](https://github.c

[2019-05-01 19:54] ybulent commented on #1181
UI and worker shouldn't be on the same server.
I had the same problem. it is either UI or worker on each server.

[2019-05-09 16:20] danielkerber commented on #1112
How did u solve the relationship problem?

[2019-05-22 10:30] prateekn opened #1204 "Integration with Azure"
Will there be integration option for Azure anytime soon?

[2019-05-22 20:32] mikegrima commented on #1204
Short answer: No.

Long answer: Security Monkey is currently in maintenance mode. A few users have indicated that they were working on it, but never completed it.

[2019-05-22 20:32] #1204 closed, assigned to nobody

[2019-06-03 19:30] kenXengineering opened #1205 "Security Monkey try's to scan AWS Managed KMS Keys, gets Access Denied"
## Please make sure that you have checked the boxes:

- [x] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [x] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [x] [Search for both open and closed issues](https://github.c

[2019-06-12 04:14] Marethyu1 opened #1206 "Docker nginx container Failed to build dart v1.2.4"
## Please make sure that you have checked the boxes:

- [x] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [x] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [x] [Search for both open and closed issues](https://github.c

[2019-06-12 22:51] mattlorimor commented on #1206
I was experiencing the same issue. You could get around this for now by changing `docker/nginx/Dockerfile` to be:
[code]

This changes it so that Dart 1.24.3 is pulled directly instead of trying to get it from the Debian package list. 🤮

[2019-06-13 19:03] mikegrima commented on #1206
Sorry -- I just noticed this.

Thank you @mattlorimor . Can you do us a big favor a submit a PR to reflect the update?

Thank You

[2019-06-13 19:06] mikegrima commented on #1201
The scoring system in SM is broken. Unfortunately, we will not be fixing it as we have moved Security Monkey into maintenance mode.

[2019-06-13 19:06] #1201 closed, assigned to nobody

[2019-06-13 19:07] #1198 closed, assigned to nobody

[2019-06-13 19:08] mikegrima commented on #1197
Hmm. I have never seen this before and don't know how to replicate. Can you outline the exact steps you took to reproduce the error?

[2019-06-13 19:08] #1181 closed, assigned to nobody

[2019-06-13 19:10] mikegrima commented on #1102
We will not be moving forward with SM 2.0 as it will require a massive effort. Internally, we are undergoing another initiative to replace Security Monkey.

[2019-06-13 19:10] #1102 closed, assigned to mikegrima

[2019-06-13 19:13] mikegrima commented on #1205
Sorry -- just noticed this.

I wonder if this line of code: `if alias.startswith('alias/aws/'):` isn't being hit by the watcher.

[2019-06-13 19:19] mattlorimor commented on #1206
@mikegrima

I certainly can. I was unsure whether pulling Dart in this fashion would be an acceptable solution. I also **have not tested** whether this actually results in the UI working as it should. I hadn't made it that far into standing up Security Monkey. I was simply trying to get past the Docker build failing.

[2019-06-13 19:21] mattlorimor commented on #1206
Long-term, stuff should probably be ported to Dart 2 (not to mention porting to Python 3 given Python 2's end-of-life in six months), but I'm not in a position to undertake either of those efforts.

[2019-06-13 19:33] mikegrima commented on #1206
Long term, we are moving away from Security Monkey and focusing on other efforts centered around AWS Config.

[2019-06-13 19:35] mattlorimor commented on #1206
Makes total sense.

[2019-06-14 17:30] mikegrima commented on #1206
I started seeing this on my internal deployment as well.

Interesting, because it is there still: https://storage.googleapis.com/download.dartlang.org/linux/debian/pool/main/d/dart/dart_1.24.3-1_amd64.deb

[2019-06-14 18:07] mrahbar commented on #1102
@mikegrima this is unfortunate to here. Can you please share some information what the initiative to replace Security Monkey are?

[2019-06-14 18:20] mattlorimor commented on #1206
Pulling that `.deb` directly and installing it would probably work as well. I don't know *why* it seems to be failing when going through the `.list`.

[2019-06-14 18:21] mikegrima commented on #1206
Running `apt list -a dart` returns:
[code]
:/

[2019-06-14 18:23] mikegrima commented on #1102
We're moving to AWS Config and internal tooling to wrap it.

[2019-06-14 18:26] mattlorimor commented on #1206
Looks like they simply removed it from being able to be pulled from the `.list` of `dart/stable`.

[2019-06-21 10:51] pdallegrave opened #1209 "Unable to store ACM certificate that contains UpdatedAt field"
## Please make sure that you have checked the boxes:

- [x] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [x] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [x] [Search for both open and closed issues](https://github.c

[2019-06-21 10:53] pdallegrave commented on #1209
The problem can be solved by adding the following code at line 100 in acm/py file:
[code]

[2019-06-26 09:58] chitender opened #1211 "not getting description of Unknown issue"
Hi,

we have installed the Security Monkey version 1.1.1 on an EC2-instance. we are able to get reports. but for issue category, we are getting "Unknown Access" for multiple services, like RDS-Snapshots, SecurityGroups. attached is the screenshot.

<img width="1028" alt="image" src="https://user-images.githubusercontent.com/10826164/60170782-d1f22f80-9826-11e9-8583-bc2075eb9594.png">

Second Secur

[2019-07-15 05:19] erick2k1995 commented on #1177
Hello good, I also have the same error when creating the Security Monkey user interface the problem I get when I run the get pub, could help me, also when downloading dart with sudo apt-get instal -and dart = 1.24. * , it comes out that the version does not exist, I am following this guide https://github.com/Netflix/security_monkey/blob/develop/docs/installation/03-install-sm.md

[2019-07-15 05:21] erick2k1995 opened #1212 "Problemas al ejecutar pub get"
Hello, I have problems creating the Security Monkey user interface. The problem I get when I run the pub get, could help me, also when I download dart with sudo apt-get instal -and dart = 1.24. *, It does not exist the version, I'm following this guide https://github.com/Netflix/security_monkey/blob/develop/docs/installation/03-install-sm.md

[2019-07-16 00:32] erick2k1995 opened #1213 "Error al ejecutar Pub build"
Good evening when executing usr / local / src / security_monkey / dart $ / usr / lib / dart / bin / pub build, I get the following message Dart 2 has a new build system. Learn how to migrate from pub build and
pub serve: https://webdev.dartlang.org/dart-2 ", does anyone have any idea how to make the migration?
![image](https://user-images.githubusercontent.com/52808488/61257569-47bb2e00-a737-11e9-

[2019-07-16 00:42] #1212 closed, assigned to nobody

[2019-07-16 00:43] mikegrima commented on #1213
This is related to Google removing the Dart 1 code from their repos.

This is being tracked in #1206

[2019-07-16 00:43] mikegrima commented on #1177
@erick2k1995 : please see #1206

[2019-07-16 00:44] #1177 closed, assigned to nobody

[2019-07-16 04:42] erick2k1995 opened #1214 "Ubuntu- Create a Self Signed SSL Certificate"
The link to create the SSL certificate is broken
https://help.ubuntu.com/14.04/serverguide/certificates-and-security.html

[2019-07-16 04:44] erick2k1995 commented on #1213
Thank you very much worked!

[2019-07-18 02:42] erick2k1995 opened #1215 "error when running monkey db upgrade"
error when running monkey db upgrade help please this comes out.
[code]

[2019-07-18 13:01] Tethik opened #1216 "Google SSO Crashes on /api/1/auth/providers"
## Please make sure that you have checked the boxes:

- [*] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [*] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [*] [Search for both open and closed issues](https://github.c

[2019-07-18 13:07] Tethik commented on #1216
I'm working on this right now and will open a PR to fix :)

[2019-07-21 10:43] erick2k1995 commented on #1110
I have exactly the same problem, I have everything configured as the guide does not give me error but when I access with the public DNS I can not, then the solution is to replace port 80 with 443?

[2019-07-22 04:46] erick2k1995 commented on #367
I have the same problem as I can solve it I tried to give back the permission chown www-data, without any success

![image](https://user-images.githubusercontent.com/52808488/61606837-c91c3000-ac11-11e9-9abe-45ddc89a60ab.png)

[2019-07-22 21:33] #1216 closed, assigned to nobody

[2019-07-22 21:38] mikegrima commented on #1215
Confirmed I'm having the issue as well.

[2019-07-22 21:41] mikegrima commented on #1215
I'm going to update the dependency for CloudAux.

[2019-07-22 21:42] erick2k1995 commented on #1215
@mikegrima and I could solve it effectively by updating the dependency

[2019-07-22 21:42] mikegrima commented on #1215
Uninstall the old `cloudaux`, and install `1.6.4`

[2019-07-22 21:44] #1213 closed, assigned to nobody

[2019-07-22 21:45] mikegrima commented on #1211
The issue system in Security Monkey is broken. We're not going to fix, unfortunately, as it is non-trivial to fix and we are mostly keeping SM in light maintenance mode only.

[2019-07-22 21:46] mikegrima commented on #1211
As for S3, are you able to search for S3 buckets in the UI? If not, please verify that you have the correct IAM permissions.

[2019-07-22 21:47] erick2k1995 commented on #1177
@mikegrima thank you very much bro

[2019-07-22 22:07] #1215 closed, assigned to nobody

[2019-08-04 13:36] #1202 closed, assigned to nobody

[2019-08-04 13:36] oba11 commented on #1202
Looks to have been fixed in https://github.com/Netflix/security_monkey/pull/1207

[2019-08-19 09:05] chandu412 opened #1222 "botocore.exceptions.ClientError: An error occurred (AccessDenied) when calling the AssumeRole operation: Access denied"
## Please make sure that you have checked the boxes:

- [ ] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [ ] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [ ] [Search for both open and closed issues](https://github.c

[2019-08-19 10:19] chandu412 commented on #1222
2019-08-19 10:16:46,881 INFO: [-->] Looking for changes in account: monkeytest, technology: alb [in /usr/local/lib/python2.7/dist-packages/security_monkey/task_scheduler/tasks.py:224]
Traceback (most recent call last):
  File "/usr/local/bin/monkey", line 11, in <module>
    load_entry_point('security-monkey==1.1.1', 'console_scripts', 'monkey')()
  File "/usr/local/lib/python2.7/dist-packages/sec

[2019-08-19 17:01] mikegrima commented on #1222
Did you grant `SecurityMonkeyInstanceProfile` the proper `sts:AssumeRole` permissions? Your screenshots don't showcase it.

[2019-08-19 17:17] chandu412 commented on #1222
Hi Mike, Thanks for the response. I have provided is as stated in the doc, please find the below screenshot.
![SMI](https://user-images.githubusercontent.com/48725425/63285406-47342b00-c2d3-11e9-91cd-1823badfaab6.JPG)

[2019-08-19 17:22] chandu412 commented on #1222
security monkey is working fine when I work it though a EC2 instance and able to scan the account with out any issues, but when I setup through docker [ which is business requirement ] and trying to scan I am getting permission issues.

[2019-08-19 17:22] mikegrima commented on #1222
Ohhh! That is expected.

You need to find a way to get the credentials from your instance onto the container.

[2019-08-19 17:26] chandu412 commented on #1222
i didn't get you mike, I have passed the access key and secret key through secmonkey.env . can you help me to fix this issue.. its driving me crazy from days.

[2019-08-19 17:29] mikegrima commented on #1222
You won't be able to use IAM roles for this use case (unless you have some special metadata proxy thing running for your container, but let's not go there)

In your case, you will need to mint an IAM User, and create static keys. From there, you will need to set up your docker container to have the static keys available where boto expects them.

[2019-08-19 17:34] mikegrima commented on #1222
The best docs we have on this are here: https://github.com/Netflix/security_monkey/blob/develop/docs/docker.md

[2019-08-19 17:36] chandu412 commented on #1222
I am trying with the same doc from days Mike.. got this issue which i am unable to fix.
Another question, is it possible to scan multiple accounts with docker case ?

[2019-08-19 17:39] mikegrima commented on #1222
Yes -- you just need the credentials in your container, which for Docker, our recommendation is to make use of IAM static credentials.

While we understand that static credentials are not great, it's the easiest solution for something without direct access to the AWS metadata service.

Alternatively, you might want to investigate the use of Fargate or ECS.

[2019-08-19 17:42] chandu412 commented on #1222
Ok Mike, thanks for your time. I will try it out today and will get back to you

[2019-08-19 17:47] #1222 closed, assigned to nobody

[2019-08-21 05:18] chandu412 commented on #1222
Hi Mike, I was able to fix the issue when i comment out AWS Access ID, Key in securityMonkey.env as stated in this Doc "https://github.com/Netflix/security_monkey/blob/master/docs/docker.md" but I am getting same error while trying to run for second account, I tried to pass the Aws ID and credentials from boto.cfg but still not working

[2019-08-22 18:12] blazingkin opened #1223 "Hardcoded reference to Riot Games"
https://github.com/Netflix/security_monkey/blob/4d198ad29b2f7a828ce130d222c6e76e71b9ce11/scripts/secmonkey_auto_install.sh#L606

Seeing as this is a netflix product, the only hardcoding I would expect would be for Netflix.

Either way. This should probably be configurable

[2019-08-22 18:36] mikegrima commented on #1223
That should be configurable. Please feel free to submit a PR to fix it.

[2019-08-28 11:39] krab-skunk opened #1224 "No way to see what we are about to justify"
## Please make sure that you have checked the boxes:

- [ x] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [x ] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [x ] [Search for both open and closed issues](https://githu

[2019-08-28 12:00] #1224 closed, assigned to nobody

[2019-08-29 13:09] is-gerardo commented on #953
"This will either need to be fixed or removed." Is this still an open issue?
We don't receive daily emails. I know I can send manually by using "monkey shell" and calling send_mail() but we don't receive the daily notifications.

[2019-09-11 03:50] jiangjiane commented on #1197
Solution:[https://techoverflow.net/2019/05/18/how-to-fix-configuring-tzdata-interactive-input-when-building-docker-images/](url)

[2019-09-18 19:29] Niladri24dutta commented on #1223
@mikegrima  Can I create a PR for this? I think we can make it configurable by passing one extra argument like `-o` to mention the company name similarly what is being done for `$website` using positional parameter `-w|--website` . If the value is not set we can set it to some default value during the creation of ssl certificate. Let me know if my understanding is correct.

[2019-09-18 19:34] Niladri24dutta commented on #1223
@mikegrima  here is the code which I am referring to https://github.com/Netflix/security_monkey/blob/4d198ad29b2f7a828ce130d222c6e76e71b9ce11/scripts/secmonkey_auto_install.sh#L167

[2019-09-26 03:03] shadow-maz commented on #1061
Hi,
I am facing the same issue. Were you able to resolve this issue?

[2019-10-07 02:43] OMNARAYANYU commented on #853
I am excited to make some valuable contribution. Where can be a good starting point?

[2019-11-28 17:03] ry-allan commented on #1223
https://github.com/Netflix/security_monkey/pull/1232  👍🏻

[2020-03-29 23:04] #1160 closed, assigned to nobody

[2020-05-29 03:31] siddheshsalunke opened #1236 "monkey db upgrade fails"
## Please make sure that you have checked the boxes:
- [x]  [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)

- [x] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [x] [Search for both open and closed issues](https://github.

[2020-05-31 23:50] mikegrima commented on #1236
Is this from the latest git pull?

[2020-05-31 23:52] mikegrima commented on #1236
Looking at the source code of the file, I don't see any tab characters in there.

[2020-06-30 03:05] tylern91 commented on #1168
Glad to seeing it available soon. Thanks for making it happen @oba11 👍

[2020-08-03 10:35] Deepak1100 opened #1242 "ALB/ELB scans are not working"
Hi,

While all other scans are working fine but for elb and alb i am getting error. And I have verified that role has full read access to ec2, loadbalancer, tag, etc.

[code]

after checking in DB there are 2 exceptions:-
1st  exception:-
[code]
2nd exception:-
[code]

I don't know which is causing which but other services are working so there shouldn't be an access problem at least.

[2020-08-03 11:06] Deepak1100 commented on #1242
I think this is because of the python 3 upgrade.
for 1st exception, I have raised PR to Cloudaux.
https://github.com/Netflix-Skunkworks/cloudaux/pull/118/files

[2020-08-03 15:55] mikegrima commented on #1242
Thank you @Deepak1100 for reporting this and submitting the fix to CloudAux. I'm going to get this fixed for SM right now.

[2020-08-03 16:39] #1242 closed, assigned to mikegrima

[2020-08-03 16:40] mikegrima commented on #1242
@Deepak1100 This should now be fixed. Please let me know if you still see issues.

[2020-08-03 17:59] Deepak1100 commented on #1242
Thanks  @mikegrima
it's working now.

[2020-08-04 20:31] ping4lucifer opened #1244 "monkey db upgrade - issues"
## Please make sure that you have checked the boxes:

- [x] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [x] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [x] [Search for both open and closed issues](https://github.c

[2020-08-04 20:43] mikegrima commented on #1244
Hello:

Did you install the requirements as documented here: https://github.com/Netflix/security_monkey/blob/develop/docs/installation/03-install-sm.md#clone-security_monkey ?

[2020-08-08 11:51] ping4lucifer commented on #1244
@mikegrima it worked like a charm. Thank you.

[2020-08-08 11:51] #1244 closed, assigned to nobody

[2020-08-17 11:24] Deepak1100 opened #1245 "frequent null value in column "item_id" violates not-null constraint exception"
I am frequently seeing these exceptions for securitygroup, elb, and alb.
I have ran `monkey db upgrade` but still getting below exceptions. anyway, my setup is just 2-3 weeks old so it should not be required.
[code]

[2020-08-17 15:35] mikegrima commented on #1245
Are you using the latest version from the develop branch?

[2020-08-17 16:01] Deepak1100 commented on #1245
yes

[2020-08-17 16:03] Deepak1100 commented on #1245
I am using latest commit from develop branch.

[2020-08-31 10:56] priyanka-devops08 opened #1246 "monkey db upgrade is throwing error"
Traceback (most recent call last):
  File "/usr/local/src/security_monkey/venv/bin/monkey", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/local/src/security_monkey/venv/local/lib/python2.7/site-packages/pkg_resources/__init__.py", line 3088, in <module>
    @_call_aside
  File "/usr/local/src/security_monkey/venv/local/lib/python2.7/site-packages/pkg_resources/__i

[2020-08-31 16:22] #1236 closed, assigned to nobody

[2020-08-31 16:23] mikegrima commented on #1246
This issue was resolved in: https://github.com/Netflix/security_monkey/issues/1244

[2020-08-31 16:23] #1246 closed, assigned to nobody

[2020-08-31 16:24] mikegrima commented on #1245
Unfortunately, this one is very difficult to debug. You will need to run this in PyCharm and add a breakpoint to see what the state of the data is and why that's happening.

[2020-09-01 07:53] priyanka-devops08 commented on #1244
I have followed all the mentioned steps but still I can see below error after running  **_monkey db upgrade_**:

/usr/local/src/security_monkey/venv/lib/python3.5/site-packages/flask_sqlalchemy/__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHE

[2020-09-01 08:00] priyanka-devops08 opened #1247 "monkey db upgrade issue is still there"
Hi team,

monkey db upgrade issue:

I have followed all the mentioned steps in https://github.com/Netflix/security_monkey/issues/1244 , but still I can see below error after running monkey db upgrade:

/usr/local/src/security_monkey/venv/lib/python3.5/site-packages/flask_sqlalchemy/init.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by

[2020-09-01 14:37] mikegrima commented on #1247
Please use the other issue.

[2020-09-01 14:37] #1247 closed, assigned to nobody

[2020-09-01 14:37] mikegrima commented on #1244
Please re-run the installation steps from the venv.

[2020-09-01 14:40] mikegrima commented on #1244
I just did a fresh clone and doing the following documented installation instructions worked perfectly for me:
[code]

[2020-09-07 18:18] mikegrima opened #1248 "Python 3 inconsistent list ordering causing frequent change detections"
There is a major issue in the Python 3 upgrade that is resulting in many erroneous changes being detected. The root cause is related to inconsistent ordering in lists being sent back from the AWS API.

Currently investigating a permanent fix.

[2020-09-07 23:21] #1248 closed, assigned to mikegrima

[2020-10-10 20:28] vermavinay982 commented on #1197
Choosing the noninteractive mode worked for me by avoiding all the input during docker image build.

[code]

[2020-12-10 15:35] ConscriptMR opened #1255 "pkg_resources.DistributionNotFound: The 'octodns' distribution was not found and is required by the application"
Traceback (most recent call last):
  File "/usr/local/bin/octodns-sync", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 3251, in <module>
    @_call_aside
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 3235, in _call_aside
    f(*args, **kwargs)
  File "/usr/local/li

[2020-12-10 15:36] #1255 closed, assigned to nobody

[2020-12-10 15:36] ConscriptMR commented on #1255
sorry, wrong repo 😅

[2020-12-11 03:43] mrthankyou opened #1256 "How to Generate a change item email"
## Please make sure that you have checked the boxes:

- [x] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [x] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [x] [Search for both open and closed issues](https://github.c

[2020-12-22 00:30] mikegrima commented on #1256
Hello:

So I will be completely honest with you, I completely forgot how to do this :), but then I remembered:
https://github.com/Netflix/security_monkey/blob/develop/docs/userguide.md#receiving-notification-mails

You need to go into settings, and in the Accounts view, there is a notifications section on the left hand side. Keep "change emails" set to "All", and then in the account list, there is

[2020-12-22 00:33] mrthankyou commented on #1256
@mikegrima,

Thanks for the response! I'll check this out and let you know how it goes as soon as I get a chance. Again, thanks for the help!

[2020-12-22 21:54] mrthankyou commented on #1256
@mikegrima,

I checked your instructions as well as my current settings and see that these email notification settings are already set. I am able to receive emails, just not specifically "change item emails". More specifically, I'm not sure how to initiate a "change item email". I know there is a specific set of circumstances required to initiate this email, I just don't what they are.

[2020-12-22 21:56] mikegrima commented on #1256
To ask the obvious question: did you have any items with configuration changes?

[2020-12-22 23:35] mrthankyou commented on #1256
I think this is where my confusion lies. I'm not sure how to change a configuration of an item. Let me tell you what I've done so far and maybe that can help resolve this issue:

1. I created a public Github repository.
2. Security Monkey through it's scheduler creates an item for that Github repository.
3. The newly created item has two issues, one stating that the repository has no protected bra

[2020-12-23 00:27] mikegrima commented on #1256
Oooh you are using the GitHub plugin!

IIRC, the name of the repo is the unique name for it. So, if you change the name of the repo, then that should make a separate item entirely (I'm pretty sure this is true).

However, you should see that the "old item" is "deleted", as the next time the watcher runs (you can invoke this manually and confirm), it should note that the repository in question is n

[2020-12-23 03:02] mrthankyou commented on #1256
After changing the name of the Github repo and running `monkey find_changes -a all -m all` inside the secmonkey-worker docker image, the only email I get is the "Changes in Repository" email. And just for reference, you're right, a new item is created when the github repo name changes.

I understand that I'm asking such a weird specific question and I appreciate the help. I'll look further into th

[2020-12-23 22:17] mrthankyou commented on #1256
I am open to testing this on a different platform like Amazon in order to get this tested. I've attempted various approaches and just can't get this email generated using Github repositories.

[2020-12-28 21:37] mrthankyou opened #1257 "Where to Submit a Security Vulnerability"
## Please make sure that you have checked the boxes:

- [X] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [X] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [X] [Search for both open and closed issues](https://github.c

[2020-12-29 17:51] #1257 closed, assigned to nobody

[2020-12-29 17:57] mrthankyou commented on #1256
Mike,

If you have any new input on this let me know. I'm going to try and test using an AWS account to hopefully trigger this email. If there is a way I can do this via console that will suffice as well. My ultimate goal is to see how the email is generated. Thanks again for your help thus far.

[2021-01-04 19:37] mikegrima commented on #1256
Unfortunately, without debugging and digging in it's hard to diagnose why the code isn't being called.

[2021-01-04 19:47] mrthankyou commented on #1256
Totally fair, I'll keep plugging away at this and see what I can come up with.

[2021-02-11 10:21] rohammosalli commented on #54
@ollytheninja  any update about the fix, is this issue fixed? I have Redis and celery also security monkey scheduler is in a running state. I use the 1.1.3 version

[2021-02-11 20:09] mikegrima commented on #54
Hello @rohammosalli:

In the full interest of transparency, we are actively working on Security Monkey's replacement, and are only supporting Security Monkey in a very limited fashion at this time.

[2021-02-11 20:09] #54 closed

[2021-09-16 11:28] valencialexi opened #1260 "How to run SecMonkey locally"
## Please make sure that you have checked the boxes:

- [x ] [Pease review the Troubleshooting doc for additional details regarding your issue.](https://github.com/Netflix/security_monkey/blob/develop/docs/troubleshooting.md)
- [x ] Review the [Quickstart guide](https://github.com/Netflix/security_monkey/blob/develop/docs/quickstart.md)
- [x ] [Search for both open and closed issues](https://githu

[2021-09-16 19:09] mikegrima commented on #1260
Hello:

Security Monkey is not really supported anymore. We have developed a new tool to replace it internally that I would love to open source in the next few months (based on AWS Config). In fact, I should just archive this repo. The best info I can provide is to re-review the docs on setting it up, and I would advise relying on AWS Config (for AWS).

[2021-09-16 19:09] #1260 closed, assigned to nobody